[2017-02-14 19:19] jaredmharris commented on #322
Nevermind, was able to do:

const img = require('../path/myimage.jpg');

and then under content: {
     backgroundImage: 'url('+ img +')',
}

[2017-02-14 19:19] #322 closed

[2017-02-15 12:49] diasbruno commented on #315
For some reason, the value of `this.content` gets defined, then `null`(??) and then `this.content` is defined again.

I cannot reproduce this error on none of the browsers. What was the browser that throws this error?

![screen shot 2017-02-15 at 09 30 22](https://cloud.githubusercontent.com/assets/362368/22974693/51a2c832-f362-11e6-9b87-fc857089a6ef.png)

![screen shot 2017-02-15 at 09 30 01](htt

[2017-02-15 20:31] iColpitts commented on #110
Has this issue been fixed?

[2017-02-15 20:58] diasbruno commented on #110
Hi @iColpitts, probably the best way to fix this is using css or override the styles [react-modal styles](https://github.com/reactjs/react-modal#styles).

[2017-02-15 23:46] diasbruno commented on #308
Marked as duplicated. #231
See PR #326.

[2017-02-15 23:46] #308 closed

[2017-02-15 23:52] diasbruno commented on #173
`react-modal` can handle multiple modals now. If there is still an issue just reopen.

[2017-02-15 23:52] #173 closed

[2017-02-15 23:56] diasbruno commented on #30
1.6.5+ should have a fix for this case. I'm closing this issue because it got old.
If any problem happens, just reopen this issue.

[2017-02-15 23:56] #30 closed

[2017-02-16 00:00] diasbruno commented on #99
1.6.5+ should have a fix for this issue. Please, reopen this issue if necessary.

[2017-02-16 00:00] #99 closed

[2017-02-16 01:30] diasbruno commented on #301
A fix has been merged. I'm closing this issue for clean up.
If the fix does not solve this issue, please reopen this issue.

[2017-02-16 01:30] #301 closed

[2017-02-16 01:34] diasbruno commented on #287
Maybe, an optional attribute if someone needs to set a different element for a particular modal.
Default it to `document.body` would be better (common case).

[2017-02-16 01:40] diasbruno commented on #191
I'm closing this issue for clean up. Thank you all for the tricks, hope we can publish this on the docs.

[2017-02-16 01:43] diasbruno commented on #204
I'm closing this issue for clean up. Thanks for sharing those links.
Hope we can publish this on docs.

[2017-02-16 01:43] #204 closed

[2017-02-16 01:45] diasbruno commented on #234
I'm closing this issue for clean up. Please, reopen this issue if necessary.

[2017-02-16 01:45] #234 closed

[2017-02-16 01:46] diasbruno commented on #185
I'm closing this issue for clean up. Please, reopen if it still a problem in 1.6.5+.

[2017-02-16 01:46] #185 closed

[2017-02-16 01:57] diasbruno commented on #184
@vshesh @fritz-c `react-modal` should forward this event, example:

[code]

`mycallback(event)` should actually be fired and if `esc` is pressed, it must request to close the modal and also pass forward the event.

[2017-02-16 04:21] saradacp commented on #315
@diasbruno : I see that  you made a few code changes but don't see the null check though. Did you get chance to publish the changes?
I'm seeing the issue in chrome browser.
Here is my use case:
1. I open a modal on a button click
     ---> this modal has a hyperlink content inside
2. clicking on that hyperlink would  open another modal.
  ---> The second modal has a button inside
3. clicking on th

[2017-02-16 14:49] diasbruno commented on #315
Thanks, @saradacp. I'm still not sure if that it is the case.
The spec you post is kinda odd, but I'll try to reproduce this problem and see what is going on.

[2017-02-16 18:08] mi-lee commented on #256
I'm still having this issue -- did the PR fix above fix it or is the bug still ongoing?

[2017-02-16 18:53] diasbruno commented on #256
@mi-lee That's right. It needs a release.

Can you download the master branch and confirm the fix (just to make sure)?
It should be working and we can release a new tag.

[2017-02-17 02:07] mi-lee commented on #256
Hmm... so the npm module I downloaded just today is `"^1.6.5"` but it seems to be quite out of date as the lib is still in ES5, i.e. before https://github.com/reactjs/react-modal/pull/299, so I wasn't to use it with the latest master.

[2017-02-17 02:36] diasbruno commented on #256
I guess the best way to test is to clone the repository and run the server (sorry).

on master, `npm install && npm start -s`.

for version 1.6+, we have this important fix, it's merged, but no official release yet.

[2017-02-17 02:50] mi-lee commented on #256
OK -- I cloned the repo in my node_modules but getting more transpilation errors:

[code]

etc, etc.

[2017-02-17 03:01] diasbruno commented on #256
it's really missing a transformer `babel-plugin-transform-es2015-spread`. i'll add it.

[2017-02-17 03:12] diasbruno commented on #256
I pushed a new branch `missing-2015-transformer`. It should fix the transpiler.

[2017-02-17 03:41] mi-lee commented on #256
OK - let me try. 🙏 thanks so much for helping me out!

[2017-02-17 03:44] diasbruno commented on #256
Sure. ^^
Cloning `react-modal` standalone would be preferable for testing.

[2017-02-17 04:31] mi-lee commented on #256
Hmm -- same error as above.

Adding `babel-plugin-transform-object-rest-spread` helped, but moved further along to throw the error at `node_modules/react-modal/examples/bootstrap/app.js Unexpected token (35:6)` (i.e., JSX). Running `bash scripts/build` also leads to things like

[code]

😞 sorry to be the bearer of bad news!

[2017-02-17 04:35] claydiffrient commented on #256
So this is actually expected behavior if you've pulled directly from the repository.

The `master` branch is in an unstable state at the moment.  We've recently shifted from using ES5 to ES2015+, but don't transpile that in the repository.  Before the next release we'll have it published to npm with the proper transpilation done.

Until then, the best option would be to setup your webpack config t

[2017-02-17 14:05] diasbruno commented on #256
Tested on iOS and I can verify the fix.

[2017-02-17 15:18] mi-lee commented on #256
Wonderful! Thanks @claydiffrient @diasbruno

[2017-02-17 15:25] felipegarcia92 commented on #256
@mi-lee Same issue right now here, did you end up cloning the repo and making webpack compile it?

I'm getting this error while running webpack doing that:

[code]

[2017-02-17 15:43] diasbruno commented on #256
@felipegarcia92 Cloning `react-modal` on a project will actually fail as @claydiffrient pointed out.
If you clone `react-modal` on its own, you can build and run the examples.

[2017-02-18 18:56] #17 closed

[2017-02-19 00:42] saradacp commented on #315
@diasbruno : Thank you for your continuous support. I tried to add the null check but the tests are failing. Attaching the code diff and failed test cases for reference. We have release in 2 weeks and desperately waiting for the fix :(

[react-modal-test-error.txt](https://github.com/reactjs/react-modal/files/785456/react-modal-test-error.txt)

[react_modal_diff.txt](https://github.com/reactjs/rea

[2017-02-19 04:32] diasbruno commented on #315
The problem seems to be on `contentHasFocus()` which tries to call `this.content.contains(...)`. So, probably is that`this.content` can be `null` or a `DOMElement` that doesn't has the method `.contains()`.

On the images I posted, it's expected that `this.content` has the `<div />` created for the modal.

The best way to find out is writing a `console.log(this.content)` before the return statemen

[2017-02-19 04:41] diasbruno commented on #311
@arvsr1988 Did you find a way to fix this?

[2017-02-19 17:20] arvsr1988 commented on #311
Nope

On Sun 19 Feb, 2017, 10:11 AM Bruno Dias, <notifications@github.com> wrote:

--
- Arvind Sridharan

[2017-02-19 17:25] arvsr1988 commented on #311
What I'm doing now is appending a parameter in the url with the epoch time
so that I dont get a http 304 response.

On Sun 19 Feb, 2017, 10:50 PM Arvind Sridharan, <arvsr2002@gmail.com> wrote:

--
- Arvind Sridharan

[2017-02-19 17:38] diasbruno commented on #311
I've seen something similar and I end up writing interface to cache resources and flush the cache when a request is not `GET`. So it kept in memory the request.

[2017-02-19 21:43] diasbruno commented on #155
`Modal.setAppElement(el);` is necessary and should be called as a set up `react-modal` when using 1.6.5, but it will be deprecated on next releases.

It still open for discussion on issue #287.

I'm closing this issue for clean up. But if it is still relevant, please reopen this issue.

[2017-02-19 21:43] #155 closed

[2017-02-19 22:01] saradacp commented on #315
@diasbruno : I 'm getting the modal content as undefined in contentHasFocus.@173. Could you add a null check and publish the code?

![image](https://cloud.githubusercontent.com/assets/23003505/23107091/7df77a8a-f6ab-11e6-8e1d-2ef59e4bdca8.png)

[2017-02-19 22:11] diasbruno commented on #315
This should help you, but this is not a proper fix since we can't reproduce this behavior.
So, you'll have to publish a patch on your fork.

[code]

[2017-02-20 04:45] arvsr1988 commented on #311
Are you caching on the browser or server?

On Sun 19 Feb, 2017, 11:08 PM Bruno Dias, <notifications@github.com> wrote:

--
- Arvind Sridharan

[2017-02-20 14:35] diasbruno commented on #311
Browser.

[2017-02-20 16:16] edmulraney opened #331 "Demo site down"
### Summary:

### Steps to reproduce:

 1. Go to http://reactcommunity.org/react-modal/

### Expected behavior:
See demos of react-modal.

[2017-02-20 16:40] claydiffrient commented on #331
Looks like the reactcommunity.org domain expired.  I'm not quite sure who was in charge of that.  Presumably this is affecting all the repos under the reactjs organization. @gaearon do you know what's up?

[2017-02-21 01:54] ppicazo commented on #331
Looking at: https://github.com/reactjs/reactjs.github.io/commit/a3518a3ca023b6da4952ec447a9e3180247b8344

Maybe @mjackson might be help with this issue?

[2017-02-21 07:18] ppicazo commented on #331
Related: https://github.com/reactjs/reactjs.github.io/issues/15

[2017-02-23 14:41] olov opened #332 "Reduce build size by swapping out lodash.assign for a minimal Object.assign"
I did a clone of the repo followed by `NODE_ENV=production scripts/build`, which produced a 16826 bytes react-modal.min.js (5358 bytes gzipped).

Replacing the lodash assign import in ModalPortal.js with a minimal Object.assign polyfill (I took the TS one just for example):
[code]

...produced a 14516 bytes react-modal.min.js (4418 bytes gzipped).

That's an 18% (gzipped size) reduction, which add

[2017-02-23 15:09] jdalton commented on #332
In this case since `lodash.assign` is being used you should totally replace it with [babel-plugin-transform-object-assign](https://www.npmjs.com/package/babel-plugin-transform-object-assign). In other cases when using Lodash and size is a concern you should check out [lodash-webpack-plugin](https://github.com/lodash/lodash-webpack-plugin). It disables features sets and edge cases by default to red

[2017-02-23 17:46] serraventura commented on #236
Hi guys,

I'm just wondering if this modal is supposed to be used with more complex content than just text.

I'm using a list `<li>`, buttons etc and the accessibility does not work. After checking different examples in how to implement an accessible modal, it seems that the component is not supporting some of the aria attributes to enable it.

Here is one example:

[code]
from here: http://paulja

[2017-02-23 18:05] diasbruno commented on #236
@serraventura Hi, I think you can check PR #230. I believe we should forward properties (so at least filter data-* and aria-* and apply them) to the real component.

[2017-02-23 20:51] ctrlaltdylan commented on #173
Wow, encountered this issue or so I thought - it just turned out my second modal's `isOpen` state variable had an extra character. Multiple modals work just fine, great jobs folks

[2017-02-24 09:28] serraventura commented on #236
Hi @diasbruno,

Thanks for the quick reply. The PR #230 seems to be merged already. So, should I be able to use it in the latest version ?

Muito obrigado! :p

[2017-02-24 17:48] felipegarcia92 commented on #256
@diasbruno I see,... do you think there's any way I can pull this fix to my project? I currently depend on this library and I was planning to release the website soon, but this error is quite a blocker.

Do you think I should move on to another modal library or something? I'd prefer not to, but you know...

Thanks for the replies! :)

[2017-02-24 17:50] claydiffrient commented on #256
@felipegarcia92 I am working on picking over the fixes to the v1 branch.  I am one commit away from completion.  I'm hoping to finish it up this weekend then cut a 1.7 release.

[2017-02-24 17:54] felipegarcia92 commented on #256
@claydiffrient Thanks for the reply, sounds great, I think I'll just wait since this library has helped a great deal with my app. Thanks for that too haha!

[2017-02-24 19:02] diasbruno commented on #236
@serraventura Not really. Actually #243 was merged. :)

We need to have a look on the properties that can be forwarded to the modal such as key events and click, see #327.

For now, I can't give you when we will get these, but hopefully soon.

[2017-02-26 19:38] mi-lee commented on #256
Thanks so much @claydiffrient @diasbruno, much appreciated! 🙏

[2017-02-27 04:39] hibikiledo opened #333 "iOS Safari Click at overlay doesn't close a modal"
### Summary:
Safari on iOS 10.2, click at overlay doesn't close a modal

### Steps to reproduce:

 1. Go to example, https://reactcommunity.org/react-modal/examples/on_request_close.html
 2. Click at Trigger Modal button in the result tab
 3. Click at the overlay. (outside of modal but within the result tab area)

### Expected behavior:
The modal should be closed.

### Additional notes:
n/a

[2017-02-27 10:55] serraventura commented on #236
@diasbruno do you mind if I help you with that?
If you let me know what's missing to get it merged I could help you with a PR.

Maybe I'm missing something but #327 seems to be done and #230 has conflicts to be resolved.

Just let me know.

[2017-02-27 11:35] gevgeny commented on #181
@craigcosmo If you omit `onRequestClose ` so click-out won't work neither. Here is my solutions:

[code]

[2017-02-27 12:59] diasbruno commented on #333
Hi @hibikiledo, please follow issue #256 for more info about the bug. Thanks.

[2017-02-27 12:59] #333 closed

[2017-02-27 13:02] diasbruno commented on #331
It's back!

[2017-02-27 13:02] #331 closed

[2017-02-28 03:30] craigcosmo commented on #181
@gevgeny yeah I noticed that 👍

[2017-02-28 12:12] boonier commented on #99
@diasbruno Does this mean that > 1.6.5 will have the fix, or that currently 1.6.5 and above has the fix? I updated the package and doesn't seem to have any effect. Perhaps there is a specific implementation required?

[2017-02-28 15:36] diasbruno commented on #99
@boonier 1.6.5 and above.

[2017-02-28 15:47] boonier commented on #99
Thanks @diasbruno. I can't however seem to get it to work how I need it to, so I'm doing a workaround for now. The closing modal needs to consider if there are other modals already in the DOM, and only remove the class if it is the last.

[2017-02-28 17:43] diasbruno commented on #99
@boonier oh yeah, see #326. it will fix the case where many modals were opened.

[2017-03-01 06:24] kopax opened #334 "Is it possible to create css3 animation using this library ?."
### Summary:

Is it possible using `react-modal` to have that kind of result: http://xue2han.github.io/react-dynamic-modal/]

It provides animation, unfortunately, the way it is made doesn't work well with [styled-components](https://github.com/styled-components/styled-components) context.

[2017-03-01 14:52] murugaratham opened #335 "Performance for dynamic and heavy modal content"
### Summary:

### Steps to reproduce:

 1. Created an array of objects to be loaded after openModal is triggered
 2. I did a .Map and return ~100 items
 3. On desktop, the delay is 2-3s

### Expected behavior:

Opening and closing modal should not rerender/update modal content

### Additional notes:

Can add a prop to disable shouldComponentUpdate?

[2017-03-02 03:37] diasbruno commented on #334
@kopax yes, you can. you will need to control with `ReactModal_after-open` and `ReactModal_before-close`.
to get the `before close` animation correctly, the time interval (`closeTimeoutMS`) must match with `duration`. see [example/basic/app.css](https://github.com/reactjs/react-modal/blob/master/examples/bootstrap/app.css)

[2017-03-02 03:51] diasbruno commented on #335
@murugaratham hmm,...maybe you can `extend` the `Modal` and use `shouldComponentUpdate`.

[code]

[2017-03-02 04:07] kopax commented on #334
Thanks for the short explanation, it makes sens.

Regarding the styled-components part :

React doesn't allow you to write css in js while styled-components does. You can pass a theme to the context of all your components if you use as a wrapper a `<ThemeProvider theme={theme}>`

This is how my Virtual DOM looks like :

[code]

Problem I have with [react-dynamic-modal](http://xue2han.github.io/rea

[2017-03-02 05:44] saradacp commented on #315
@diasbruno: Having && in contentHasFocus actually resolves my issue and it does not have any side effects. Not sure why this can't be fixed. Unfortunately we can't fork this using company github and we have a release in 10days. Would greatly appreciate if you could fix this. Thanks

[2017-03-02 05:45] 3LOK opened #336 "Latest release doesn't work on UglifyJs"
### Summary:
You've released a new version of react-modal a couple of hours ago.

As you can see [here](https://github.com/reactjs/react-modal/blob/v1.7.0/lib/components/Modal.js#L103]), you forgot a 'function' keyword for non ES6 class component, and UglifyJs doesn't like this a single bit...

(see definition of removePortal with missing function compared to reset of the functions there).

### St

[2017-03-02 06:03] saradacp commented on #315
@diasbruno :
![image](https://cloud.githubusercontent.com/assets/23003505/23494894/5955daf6-feca-11e6-9a03-f1e895e7c3b3.png)

This is my modal invocation. We use close/open the modal using showFindAClub redux state variable. Once this contains of undefined error happens the modal stops expected behavior.  Please advise!

[2017-03-02 07:43] stevenguh opened #338 "ref is called after componentDidUpdate?"
### Summary:
ref is called after componentDidUpdate

### Steps to reproduce:

 1. Attach a ref in any component in the children of the modal
 2. The componentDidUpdate will get called before ref get attached to any children of the modal.

### Expected behavior:
ref should get attached before componentDidUpdate
### Additional notes:
I created a couple codepens to further explain this issue.

This [

[2017-03-02 08:19] CXJoyce opened #339 "how to show icon beyond the content"
### Summary:
I want to set a close icon beyond my content section, but I find this icon cannot show.

![2 pic](https://cloud.githubusercontent.com/assets/20786910/23498729/ee1d1642-ff63-11e6-98e2-a9dc2dd806b6.jpg)

[2017-03-02 09:06] gengjiawen commented on #336
And [this](https://github.com/reactjs/react-modal/blob/v1.7.0/lib/components/ModalPortal.js#L80)  too.

[2017-03-02 10:21] damtur commented on #336
Can you please fix this ASAP? This is breaking tones of our builds unfortunately. Can you provide ETA and let me know please? Thank you!
CC: @diasbruno @claydiffrient

[2017-03-02 10:33] diasbruno commented on #336
Backporting problems.
It happens sometimes.  :)

[2017-03-02 11:08] elfafa opened #340 "react-scripts build failure during UglifyJs due to functions declaration syntax"
### Summary:

`react-scripts build` failure on projects, due to 2 syntax "errors":
* `SyntaxError: Unexpected token punc «(», expected punc «:» [./~/react-modal/lib/components/Modal.js:103,0]`
* `SyntaxError: Unexpected token punc «(», expected punc «:» [./~/react-modal/lib/components/ModalPortal.js:80,0]`

### Steps to reproduce:

 1. Have a project using `react-modal` dependency
 2. Launch the p

[2017-03-02 11:16] AndrewGrachov commented on #340
confirming

[2017-03-02 11:25] diasbruno commented on #340
Please, follow #336.

[2017-03-02 11:25] #340 closed

[2017-03-02 11:32] elfafa commented on #340
thanks for the other issue link ;)

[2017-03-02 11:44] diasbruno commented on #256
A new version was released `v1.7`. Thank you all for helping! 🎉

[2017-03-02 11:44] #256 closed

[2017-03-02 13:40] glitch100 commented on #336
@diasbruno Do we have a high level ETA on this branch going out?

[2017-03-02 13:50] bencrinkle commented on #336
having the same issue as we use react-bootstrap-table which has react-modal as a dependancy. Have had to manually add react-modal and hardcode the version to 1.6.5 to get the build to work.

[2017-03-02 13:57] carrieomalley opened #342 "Syntax error prevents webpack compile"
### Summary:
There's an error in Modal.js in version 1.7.0 that prevents me from building my project

### Steps to reproduce:
React-modal is a dependancy of a dependancy for me so the steps to reproduce are
 1. Add react-modal as a dependancy of an ES6 project
 2. Build with babel + webpack
 3. Build fails with the following:

[code]

This error appears here:
node_modules/react-modal/lib/component

[2017-03-02 13:58] diasbruno commented on #342
Please, follow #336.

[2017-03-02 13:58] #342 closed

[2017-03-02 13:59] carrieomalley commented on #342
Apols I didn't see that one :)

[2017-03-02 14:00] diasbruno commented on #342
No problem! :)

[2017-03-02 14:29] nancruz opened #343 "Cannot run tests in PhantomJS"
### Summary:
When running tests using PhantomJS, I'm getting a SyntaxError. Please see the attached screenshots.

This started to happen after upgrading to version 1.7.0
### Additional notes:

![image](https://cloud.githubusercontent.com/assets/1250918/23511235/59085aee-ff54-11e6-81fd-f07637d078d6.png)

![image](https://cloud.githubusercontent.com/assets/1250918/23511266/7165892c-ff54-11e6-85f8-a5

[2017-03-02 14:36] diasbruno commented on #343
@nancruz hi, this seems related to #336.

[2017-03-02 14:38] nancruz commented on #343
@diasbruno you are right. I'm going to close this issue

[2017-03-02 14:39] #343 closed

[2017-03-02 14:55] diasbruno commented on #336
`v1.7.1` was released.

[2017-03-02 15:45] uraniun commented on #232
@parlop can you show your solution? I have the same problem.

[2017-03-02 15:55] mreishus opened #344 "getting bind warning from react after 1.7.0"
### Summary:

I'm getting this warning from react in the console:

`Warning: bind(): You are binding a component method to the component. React does this for you automatically in a high-performance way, so you can safely remove this call. See Modal`

Here is the call where's it happening (look for the arrow in comments on right side)

[code]

### Steps to reproduce:

I think it happens when I unmo

[2017-03-03 04:11] oliversong commented on #71
Bump. We're currently struggling this as well. Has anyone figure out a reasonable pattern for testing with enzyme?

[2017-03-03 10:36] nancruz commented on #336
v1.7.1 fixed the problem

[2017-03-04 17:45] ssehacker commented on #9
I met the same issue in react v15.3.2

[2017-03-05 06:06] claydiffrient commented on #339
@CXJoyce You should be able to accomplish this if you set a z-index on the icon higher than what the modal overlay sets.

[2017-03-05 06:12] claydiffrient commented on #336
Going ahead and closing this since 1.7.1 has been reported to have indeed fixed the problem.

[2017-03-05 06:12] #336 closed

[2017-03-05 15:26] feux07 commented on #344
I also got this warning when use with more than one modal on same page.

[2017-03-05 16:00] diasbruno commented on #344
This can be due to some double `bind()`. Can you guys make a PR for this?
If change `this.removePortal.bind(this)` to `this.removePortal` works, than it's a fix.

[2017-03-06 00:45] tomasztomys commented on #339
@claydiffrient not working

[2017-03-06 01:25] tomasztomys commented on #339
Ok, I have an answer. You have to pass overflow attribute to the nested div (not to the div which has ReactModal__Content class).

[2017-03-06 02:51] CXJoyce commented on #339
@tomasztomys ,thanks ! It does work!

[2017-03-06 02:51] #339 closed

[2017-03-06 07:48] kopax commented on #334
I am struggling in order to get the same animation as in Bootstrap.

I can't get any animation at all, does anyone has an example of __react-modal__ that involve transitions ?

[2017-03-06 15:46] mreishus commented on #344
Tested, works fine, made pull request https://github.com/reactjs/react-modal/pull/348

[2017-03-07 09:49] yvele commented on #25
@pstoica @srph @monsieurnebo So basically the whole point of `isOpen` is to allow animations through `ReactTransitionGroup` ?

If I don't have animation, can you confirm that no using `isOpen` and returning `null` (no render atl all) is straightforward and well.. better.

What the point of the portal? Only animation? https://github.com/reactjs/react-modal/pull/205

[2017-03-07 12:35] diasbruno commented on #25
The `Modal.js` is responsible for setting all the environment (specially a11y, toggle the body class...). It also contains the timer for the animation since it doesn't uses css events to control its state.

@yvele Can you elaborate your idea to handle this?

Resources:
[Modal.js#L81](https://github.com/reactjs/react-modal/blob/v1/lib/components/Modal.js#L81)
[Modal.js#L110](https://github.com/reac

[2017-03-07 16:59] jaredmharris opened #349 "Randomly getting error from ModalPortal class"
### Summary:

### Steps to reproduce:

 1. I am using react-mdl Tabs. Two of the tabs have a react-modal defined on the view, however they do not open automatically. There is a button on the page to open the modal on that tab view. I cannot figure out what the steps to reproduce are but it seems when the cache is wiped and I bring up the client for the first time, if I click on a tab without a mod

[2017-03-07 18:46] nckblu commented on #334
Here is a fade in animation for the wrapper in scss:

[code]

And here is a 'fade in up' animation for the modal itself.

[code]

[2017-03-07 19:15] shonin opened #350 "Incorrect documentation"
### Summary:
The documentation says near the bottom of the README:

However that's not exactly true. It appears to not close when clicking on the overlay unless `onRequestClose={this.handleCloseModal}` is passed into `<Modal />`

### Steps to reproduce:

 1. [it works here](https://reactcommunity.org/react-modal/examples/on_request_close.html)
 2. [it doesn't work here](https://reactcommunity.org/

[2017-03-08 05:56] kopax commented on #334
Thanks. That would have been helpful when I was still trying but I've now decided to use a different modal. I think this should be an example in the documentation for the others.

[2017-03-08 06:29] claydiffrient commented on #350
@shonin It is indeed a problem with the documentation.  Because the open/close state of the modal is handled external to the modal itself, it needs the consumer to provide details on how to actually close the modal.  We'd be happy to accept a PR fixing the documentation.

[2017-03-08 09:11] nckblu commented on #334
Good point @kopax I'll make a PR at some point this week.

[2017-03-09 08:59] SLyHuy opened #351 "Can not close Modal when click on overlay (Please update the note in readme)"
### Summary: Can not close Modal when click on overlay
└─┬ react-modal@1.7.2
  ├── element-class@0.2.2
  ├── exenv@1.2.0
  └── lodash.assign@4.2.0

### Steps to reproduce:

 1. Remove **shouldCloseOnOverlayClick** prop --> Click on overlay --> nothing happen.
 2. Add shouldCloseOnOverlayClick={true} --> Click on overlay --> nothing happen.
 3. Add shouldCloseOnOverlayClick={false} --> Click on ove

[2017-03-09 09:15] SLyHuy commented on #351
I read source code, and found:

![screen shot 2017-03-09 at 16 07 58](https://cloud.githubusercontent.com/assets/1643397/23743331/d01d17da-04e2-11e7-95c4-b5483de11d92.png)

Then it checks `ownerHandlesClose` and it needs `onRequestClose` prop. Then I have to pass manual function to change state for open or close modal.

Please put the note to Readme please.

[2017-03-09 12:18] diasbruno commented on #351
@SLyHuy Can you add this note to the readme?
It's required to pass a function to control the state of the modal.

[2017-03-09 17:12] diasbruno commented on #344
#348 is not a fix, unfortunately. @adjohnson916 spotted the bug when referencing `this` inside of the callback of the `setTimeout`'s function. see he's comment on the PR.

[2017-03-09 17:18] mreishus commented on #344
yeah, I don't know how to fix then.

bind -> react gives warning
don't bind -> runs at wrong time, test fails
use es6 -> works w/o warning but uglify fails

[2017-03-09 17:38] diasbruno commented on #344
yeah, this is kinda sad.

[code]

[2017-03-09 17:38] claydiffrient commented on #344
I think that just having `bind` there is probably the best for now.  The warning shouldn't cause problems.  I mean the goal is that 1.7 is a release to appease people as an intermediate to 2.0.  Backporting from a ES2015+ codebase to a ES5 codebase is messy.

[2017-03-09 18:51] pzmudzinski commented on #71
Anyone.. ?

[2017-03-10 03:12] asborisov commented on #71
https://github.com/reactjs/react-modal/issues/291

[2017-03-10 03:44] SLyHuy commented on #351
@diasbruno Here is pull request https://github.com/reactjs/react-modal/pull/352

[2017-03-10 13:56] claydiffrient commented on #351
#352 closed this issue.

[2017-03-10 13:56] #351 closed

[2017-03-10 13:56] claydiffrient commented on #350
#352 closes this issue.

[2017-03-10 13:56] #350 closed

[2017-03-10 15:34] chuanxie commented on #251
`overflow: hidden` doesn't work on Safari

[2017-03-11 01:13] adjohnson916 commented on #344
@claydiffrient @diasbruno @mreishus I just submitted PR #353 which should solve this.

[2017-03-11 03:02] claydiffrient commented on #282
Looking at this again, I think I want to keep the `Before` and `After` just to make it very clear when these things will be fired.  I figure it'll be less typo prone and more understood in the long run.

[2017-03-11 20:31] halt-hammerzeit commented on #214
I found another way: simply componentWillUnmount() in the modal contents component

[2017-03-11 20:31] #214 closed

[2017-03-12 15:20] halt-hammerzeit opened #355 "`this.removePortal` is not a function"
https://unpkg.com/react-modal@1.7.2/lib/components/Modal.js

[code]

Absolutely no binding to `this`

[2017-03-12 17:01] diasbruno commented on #355
This has been fixed in #353.

[2017-03-12 17:05] halt-hammerzeit commented on #355
Not yet released then

[2017-03-12 17:05] #355 closed

[2017-03-15 08:03] tsriram commented on #149
Okay, I did encounter this issue as well and turns out you MUST provide `onRequestClose` prop (a function that actually closes the modal) for `shouldCloseOnOverlayClick` to work. This info is given next to Testing in README and I guess others who've reported this issue (after v1.0.0) didn't notice it.

[2017-03-17 22:42] samateja commented on #173
@craigcosmo - Hey could you lease tell me how did you solve the issue of  when I click an item, a modal will show up, and that modal contains specific detail of that item. Currently i am working on it. Please share your answer.

[2017-03-18 03:00] craigcosmo commented on #173
@samateja sure, this is home.js

[code]

So in your gridcomponent, everytime an item clicked. You call the function props passItemToModal(item). That's all

[2017-03-21 15:56] JonDotsoy opened #357 "How to reset the styles."

[2017-03-21 16:39] diasbruno commented on #349
This seems related to #315.

[2017-03-21 16:50] diasbruno commented on #357
@JonDotsoy Hi, what do you mean by `reset`?

[2017-03-21 17:00] JonDotsoy commented on #357
yes, but only the styles.

I,ve the next script to reset the estyle.

[code]

Exists any `prop` to this same.

[2017-03-21 17:16] diasbruno commented on #357
You can override the styles using:
[code]

[2017-03-21 17:18] diasbruno commented on #357
Look at [react-modal#styles](https://github.com/reactjs/react-modal#styles) for more information.

[2017-03-21 19:30] JonDotsoy commented on #357
In effect, solve it with:

[code]

[2017-03-21 19:30] JonDotsoy commented on #357
## Is possible added a `noStyle` prop to use the style from CSS? This on next feature?

[2017-03-21 20:19] diasbruno commented on #357
This would grow the interface of the component.
We would end up with 2 places to set styles `(styles : object, noStyle : Bool)` which increases complexity.

For now, it's better for the user to provide the `zero style`.

[2017-03-21 20:43] JonDotsoy commented on #357
Something similar to this.

[code]

[2017-03-22 17:49] diasbruno commented on #344
Since this issue have a fix, I'm closing this issue.

Thanks @mreishus and @adjohnson916 for taking care of this one.

[2017-03-22 17:49] #344 closed

[2017-03-22 21:07] pauljadam opened #359 "aria-hidden=true on body breaks Accessibility <body class="ReactModal__Body--open" aria-hidden="true">"
### Summary:
Screen reader users cannot interact with any modal content because aria-hidden=true is incorrectly placed on the body tag.

### Steps to reproduce:

 1. Open a test modal, https://reactcommunity.org/react-modal/examples/minimal.html.
 2. Activate modal dialog.
 3. Check that aria-hidden=true is incorrectly placed on the body tag of the modal's html document.

### Expected behavior:

S

[2017-03-22 21:10] pauljadam commented on #359
There's a new aria-modal=true attribute that should be placed on the modal dialog which could remove the need for aria-hidden.

[2017-03-22 22:46] diasbruno commented on #359
@pauljadam can you do a little research on this topic and/or provide more sources for this?

[2017-03-22 22:58] pauljadam commented on #359
http://w3c.github.io/aria/aria/aria.html#aria-hidden

aria-hidden (state)

Indicates whether the element is exposed to an accessibility API.

If the body is hidden, <body aria-hidden=true> then the whole body tag is no longer exposed to an Accessibility API. You only want to hide the main content container(plus header/footer) of the page not the entire <body> tag.

[2017-03-22 22:59] pauljadam commented on #359
http://w3c.github.io/aria-practices/#dialog_modal

This demo uses aria-modal=true rather than aria-hidden. http://w3c.github.io/aria-practices/examples/dialog-modal/dialog.html

[2017-03-22 23:03] marcysutton commented on #359
I can confirm this behavior. It also looks like focus management isn't happening on the modal, and it's missing the dialog role (though those could be separate issues). Here's how to fix it:

1. When the modal opens, put `aria-hidden="true"` on **sibling element(s)** to the dialog instead of the body, and change it back to false when it closes.
2. Send focus to the dialog close button on open.
3.

[2017-03-22 23:07] diasbruno commented on #359
Thank you so much @pauljadam and @marcysutton.

[2017-03-23 01:05] claydiffrient commented on #359
Just wanna weigh in here for a moment.  There is a lot of confusion around this behavior in the modal.  I've been working to improve documentation and make things more clear in our 2.0 release which is overdue unfortunately.  I can assure you that when used properly the modal is accessible.  We've used it extensively in [Canvas](https://github.com/instructure/canvas-lms).

@pauljadam The example y

[2017-03-23 01:16] pauljadam commented on #359
@claydiffrient what about when you have a header and footer that you need to hide also? Can you do setAppElement on multiple html elements? e.g.  http://codepen.io/anon/pen/jBxwZr

aria-modal=true looks like it would eliminate the need to manage aria-hidden

[2017-03-23 04:43] claydiffrient commented on #359
@pauljadam Currently, it doesn't in all the use cases I've needed it for, there as always been a root-level non-body application container.  What we can do about that though is make it so `getAppElement` in version 2.0 will handle receiving an array of elements to hide.

aria-modal does look really promising, but that also requires that the modal have a role of dialog which has concerns with scree

[2017-03-23 05:07] pauljadam commented on #359
@claydiffrient I would still recommend role=dialog for normal dialogs and role=alertdialog for error type dialogs. This is what the aria spec and practices recommends.

I read the post from 2014 about the worries of role=dialog, that issue has no affect on macOS VoiceOver screen reader or mobile screen readers VoiceOver iOS or Android TalkBack. Only JAWS and NVDA include the automatic switching to

[2017-03-24 03:10] claydiffrient commented on #359
So arguably it's a better experience for SR users to not deal with switching modes.  I worked at one point with a blind engineer who suggested doing it the way we currently have it implemented.

I guess it's all a matter of which is better to default to.  Currently we default to no role and allow consumers to add a role.  We could in theory default to having the role=dialog and then allow override

[2017-03-24 03:24] #332 closed

[2017-03-24 03:55] sinabahram commented on #359
Please note that this example with aria-modal:
http://w3c.github.io/aria-practices/examples/dialog-modal/dialog.html

does not work for users of IE11. While that might be tempting to justify, IE11 is a browser used quite a bit by blind users, especially given that Edge is nowhere near ready for production for these users.

As a result, I would strongly recommend making sure everything that is not

[2017-03-24 04:19] pauljadam commented on #359
I would just say that I think it's very important to use role=dialog and role=alertdialog to convey the accessibility semantics of the element. It's also the only way to give the dialog an accessible name and description via aria-labelledby and aria-describedby. This is something I regularly treat as an accessibility failure for client websites if it's not present. The 2 roles speak different sema

[2017-03-24 04:40] pauljadam commented on #359
@sinabahram I was able to get the example working in IE 11 Win 10 using NVDA latest, it appears to trap the modal dialog with NVDA whereas with Narrator you can still navigate to the grayed out content so maybe NVDA likes aria-modal="true" and Narrator still not supporting it. Narrator also has no issues with forms mode or browse mode.

[2017-03-24 04:55] claydiffrient commented on #359
I can see that, but given the two roles which do we use?  The modal is meant to be general purpose so it could potentially be used with either option.  So do we continue with what we have with role being optional and up to the client to implement?  I think perhaps that might be the best course of action.  Consumers will be able to specify if they want `role=dialog` or `role=alertdialog`.  In absen

[2017-03-24 05:02] pauljadam commented on #359
If they're setting the role they should also set the accessible name either via aria-labelledby pointing to the h1 in the dialog or an aria-label if there is no visible title for the dialog. Accessible description via aria-describedby should also be set if possible. If you're adding the accessible name, role, and description, should also do the ARIA 1.1 aria-modal=true attribute.

The biggest prob

[2017-03-24 05:04] claydiffrient commented on #359
I can totally see that.  I'll see what I can do about the role and other aria attributes.  In version 2.0 of the modal body will not be hidden, that I can for sure promise.

[2017-03-24 16:15] sinabahram commented on #359
Testing was done with Jaws and IE11, a very popular combination. For nvDA, of course one uses Firefox and Chrome instead of IE given the myriad of performance issues and far better support on Firefox and Chrome.

Jaws18+IE11 does not hide the virtual content outside of the modal.

[2017-03-25 01:31] mreishus commented on #344
thanks, sorry about the mess, I was just trying to make things easier~

[2017-03-26 20:52] #287 closed

[2017-03-29 03:41] kimjuny opened #361 "How can I prevent screen movement(rubber effect) when the modal is open?"
platform: safari

problem: How can i prevent screen movement(rubber effect) when the modal is open? I need to make the background staying fixed.

<b>OR</b> can I make overlay move all together with background instead of background pulling down but overlay staying fixed?

screenshot:

![img](https://raw.githubusercontent.com/ronankim/imgbed/master/img2.jpg)

[2017-03-31 07:50] frodehansen2 opened #362 "Error: React DOM tree root should always have a node reference"
### Summary:
"React DOM tree root should always have a node reference"

### Steps to reproduce:
We wrap the dialog component in an DialogLink component which controls the Dialog. We use this DialogLink component in lists which may have up to 1000 items. Because we don't want a lot of ReactModalPortal <divs> in our code for dialogs which may never be openend, the DialogLink does not render the Dial

[2017-03-31 08:31] #362 closed

[2017-03-31 08:32] frodehansen2 commented on #362
My bad - local error

[2017-03-31 16:59] creatyvtype opened #363 "Need ability to keep 'esc' key from closing."
### Summary:
Just need a flag "shouldCloseOnEsc" to prevent the modal from closing in the event of a required action.

[2017-04-04 05:18] andrew-wharton commented on #361
Have you tried using this (it's on the README)?

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
}

[2017-04-04 05:45] andrew-wharton opened #365 "ReactModal__Body--open class not being set correctly"
### Summary:

ReactModal__Body--open class not being set when more than one modal is used in a React component.

### Steps to reproduce:

See example http://codepen.io/anon/pen/yMwved

 1. Open first modal. Note background colour not changing. This is because the .ReactModal__Body--open class is not being set.
 2. Open the second modal. Note that the background color changes. This is because the c

[2017-04-04 13:50] diasbruno commented on #365
Hi @andrew-wharton, you can follow issue #231 and PR #358. :)

[2017-04-04 13:50] #365 closed

[2017-04-04 19:02] andrew-wharton commented on #365
Ah, I thought this was a different problem, but I suppose it's the same underlying cause then. Thanks!

[2017-04-05 04:24] bethcodes commented on #71
With enzyme, shallow supports portal components while mount does not.  If you absolutely must use mount, you can use ref={(ref) => { this.namedRef = ref; } in order to access the element and then wrap it in an enzyme ReactWrapper.

[2017-04-11 09:36] cekk commented on #187
I have the same issue..@flqw did you solved it somehow?

[2017-04-11 11:21] sizeight opened #366 "Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
### Summary:
In react 15.5, instead of accessing PropTypes from the main React object, install the prop-types package and import them from there:

[2017-04-11 11:25] sizeight opened #367 "Warning: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement."
### Summary:
JavaScript classes are now the preferred way to create components in React.

[2017-04-11 11:26] flqw commented on #187
We now reload the whole page on language switch as it isn't something you do very frequently anyhow.

On 11. Apr 2017, 11:36 +0200, Andrea Cecchi <notifications@github.com>, wrote:

[2017-04-11 21:03] miketheanimal commented on #366
Ditto, getting this

[2017-04-11 21:03] miketheanimal commented on #367
Ditto, getting this

[2017-04-11 23:52] chuanxie opened #369 "background element under overlay is draggable when modal is opened in ios safari"
### Summary:
in ios safari, you can drag the background elements under overlay after open modal.
also, if you have a background image on body, even used `position: fixed` or `overflow: hidden`, you still can drag the image

### Steps to reproduce:

 1.  open modal in ios safari
 2. drag around the overlay
 3. background divs is moving and scrolling

### Expected behavior:
should work as desktop an

[2017-04-13 10:56] cekk commented on #187
mmmm..ok..i don't like it very much, but could be an option.

[2017-04-13 13:36] #367 closed

[2017-04-13 13:39] claydiffrient commented on #366
Fixed in v1.7.4

[2017-04-13 13:41] #366 closed

[2017-04-13 14:13] diegohaz opened #375 "SyntaxError: Unexpected token export"
https://travis-ci.org/diegohaz/arc/builds/221734613#L251

[2017-04-13 14:15] nickswope commented on #375
I just installed this package and am getting the same error whenever I try to import the Modal.

I get this error simply by including the line `import Modal from 'react-modal'`

[2017-04-13 14:16] Kyr commented on #375
Same issue :disappointed:

[2017-04-13 14:16] KyleKilbride commented on #375
I also get this error when updating to version 1.7.4. This was not an issue in any version previous to this. I will revert for now.

[2017-04-13 14:17] claydiffrient commented on #375
Shoot looks like I missed some ES2015 in my review of #358.

I'll get a fix up ASAP.  Sorry for your builds breaking.

[2017-04-13 14:22] claydiffrient commented on #375
Okay please give 1.7.5 a shot :)

[2017-04-13 14:22] #375 closed

[2017-04-13 14:23] KyleKilbride commented on #375
Works great, thank you!

[2017-04-13 14:25] diasbruno commented on #375
Hmm, my bad. I've forget to remove the 'export' syntax when I moved the PR from `master` to `v1`. See #358.

[2017-04-13 14:38] royroev opened #376 "Error"
ERROR in vendor.33d6a985.js from UglifyJs
    SyntaxError: Unexpected token punc «(», expected punc «:» [../~/react-modal/lib/helpers/refCount.js:4,0]

[2017-04-13 14:39] royroev commented on #376
and after update 1.7.5 too

[2017-04-13 14:39] claydiffrient commented on #376
This is the gift that keeps on giving.  I'll get a fix up.

[2017-04-13 14:43] claydiffrient commented on #376
Give 1.7.6 a shot

[2017-04-13 14:43] #376 closed

[2017-04-13 15:09] afercia commented on #359
Worth nothing `aria-modal` is part of the ARIA 1.1 spec which is still a Candidate Recommendation:
https://www.w3.org/TR/wai-aria-1.1/#aria-modal
that means support is not guaranteed at all, so maybe it's an option for the future. 🙂  Personally, I don't know anything about browsers/Assistive Technologies support for `aria-modal`, if anyone has data to share that would be super useful.

About the `

[2017-04-13 15:21] pauljadam commented on #359
aria-modal=true works in VoiceOver on iOS and macOS. It worked in NVDA also. Have you tested the ARIA authoring practices demo?

aria-hidden=true on the body is still the major problem here.

[2017-04-13 15:39] afercia commented on #359
Interesting. Yep, also according to what Mr. Bryan Garaventa says here http://www.ssbbartgroup.com/blog/differences-aria-1-0-1-1-deprecations-additions/
it's only supported on iOS using VoiceOver iOS 9.X [data from January 6th, 2017].

I would wait for ARIA 1.1 to become an approved Recommendation. Then, I'd agree modal dialogs that use `role=dialog` should also use `aria-modal=true` to ensure for

[2017-04-13 16:05] Grsmto commented on #334
It seems like `ReactModal__Overlay--after-open` class is added directly on opening. Which makes animation impossible (the styles are added straight away as the element is appended to the DOM already with the class on).
Is it only me having this issue?

[2017-04-14 10:24] sapegin opened #377 "No change log since 1.6.5"

[2017-04-14 21:57] AndersDJohnson opened #378 "Warning: getDefaultProps"
### Summary:

Error in console:
[code]

### Steps to reproduce:

 1. Render any modal with `react-modal@1.7.6` and `react@15.5`.

### Expected behavior:

Should be using `defaultProps` statics - not sure why it compiles down to using `getDefaultProps`.

[2017-04-15 13:01] claydiffrient commented on #377
Sorry about that.  We've been cutting 1.7 releases from the the v1 branch and that branch does have changelog entries.  I'll clean it up and move it over to the master branch.  We've been using the master branch to track development for 2.0 and the v1 branch to backport small important changes to help people get by until 2.0 can be released.

[2017-04-15 13:11] claydiffrient commented on #377
Changelog entries have been updated on the master branch. ea3e536004c5ec720c394ea80cb3adff20ed5afb was the commit that did so.  Thanks!

[2017-04-15 13:11] #377 closed

[2017-04-15 15:07] amangeot commented on #62
Hello guys,
did you find a solution to let the modal resize to fit its content's width, without disabling vertical scrolling of the modal ? The modal should move, the content inside the modal should not scroll.

[2017-04-17 18:12] petertdinh opened #379 "Is there a way to enable scrolling behind the modal?"
### Summary:
I know it goes a lot against the nature of what a modal is suppose to do, but is there a way to make it so that when my mouse is hovering on the overlay, I am able the scroll the content behind it using the mousewheel?

As with most setups, I have two different React root components, one for all non-modal content, and one for contents within the modal itself. They are siblings within

[2017-04-17 23:39] enjoitheburger opened #380 "const declaration in refCount.js is breaking compatibility with non-ES6 browsers (e.g. IE10)"
### Summary:
In v1.7.6, line 10 of refCount.js has a `const` instead of a `var` declared, which single-handedly seems to break compatibility with IE10.

### Steps to reproduce:

 1. Attempt to use a site that bundles one of the latest versions of react-modal in IE10.
2. Observe a syntax error (SCRIPT1002 in IE10) in the console.

### Expected behavior:
No syntax error

[2017-04-18 05:39] Nicktho commented on #380
This issue also pops up when attempting to browserify a module with `react-modal` as a dependency; `The keyword 'const' is reserved `

[2017-04-18 05:54] jesstelford commented on #380
CC @claydiffrient Looks like the patch releases have caused breaking changes. Do you think it worthwhile reverting until a proper fix is found, or is there a known fix available today?

It looks like the root of the issue is https://github.com/reactjs/react-modal/pull/293/files which removed the `es2015` preset from babel.

[2017-04-18 13:38] claydiffrient commented on #380
@jesstelford Sorry about that.  It's actually not the problem.  The problem is on our v1 branch and is caused by backporting code between essentially two different code bases.  I'll get a fix up right away.

[2017-04-18 13:43] claydiffrient commented on #380
Released as v 1.7.7

[2017-04-18 13:43] #380 closed

[2017-04-18 16:51] jacobwgillespie commented on #380
It looks like the `v1.7.7` tag wasn't actually pushed to GitHub or npm - can you take a look?  Thanks!

[2017-04-18 17:15] davidfateh commented on #306
I second this. I'm also experiencing a problem while calling the modal from a link inside a table using React Virtualized. It seems that when virtualizing the window scroll, the active element (when firing a modal from within the table) becomes the whole grid and that also scrolls the page top to match the top of the grid. I will try to set up a working example of what I mean.

I was poking around

[2017-04-18 18:39] davidfateh commented on #306
I was able to get a working example of what I was talking about with react-virtualized scroll.

https://codesandbox.io/s/El6mDVR8g

Now I understand this is might be an edge case but I think it would still be useful to allow the user to disable the focus manager on an individual basis to allow for more custom control in certain scenarios.

[2017-04-18 19:39] claydiffrient commented on #380
@jacobwgillespie I guess the release script failed at those points :( . Pushed now.

[2017-04-20 10:29] SergeyShvager commented on #379
Hello,
By default its enable scrolling, but if you add this css it could block scroll.

.ReactModal__Body--open {
    overflow: hidden;
}

So, just remove this css if you have such one.

[2017-04-21 07:47] eldamir commented on #45
Would be really great to have this functionality.

@parlop was nice enough to tell that he made it work with react-draggable (#232), but didn't have the decency to share any details :frowning_face:

[2017-04-21 07:48] eldamir commented on #232
@parlop Any detail you can share to help the community? How did you make it work? We are having trouble with the Portal -> #45

[2017-04-21 07:58] eldamir commented on #232
@diasbruno Maybe you have some insights? Otherwise, maybe we should reopen the issue?

[2017-04-21 16:50] diasbruno commented on #232
@eldamir I was thinking about it and I don't thing this is what a modal should do. I would recommend some kind of 'window', not a modal.

[2017-04-22 00:43] parlop commented on #232
actually I made it work with a hack, you have to put draggable before a div content:
<Modal><Draggable><div className="whatever">content</div></Draggable></Modal>
It works for me and give it a high z-index
here's the code i used
[code]

[2017-04-23 11:49] iluminus commented on #231
Hi,

When do you expect this bug to be resolved?
I have the same issue and am waiting for the resolution before I upgrade to the latest version.

Thanks!

[2017-04-23 13:24] claydiffrient commented on #231
@iluminus I'm pretty sure this should be solved on the 1.7.x release.  Please give it a try and see if it works for you.  If it does, we'll close this issue.  I think it should be closed already, but I'll hold it open to get verification from you.

[2017-04-24 00:30] marcysutton commented on #359
I really want to record an accessibility demo with react-modal, but `aria-hidden="true"` on the body is preventing me from doing that. It will also prevent screen reader users from accessing webpages with react-modal open. Do you have an ETA on when a fix for this will ship?

[2017-04-24 04:18] claydiffrient commented on #359
@marcysutton Sorry for the delay on getting this out.  I was hoping that v2 would ship sooner, but I haven't been able to get it out the door, but it's much closer.  I'm thinking we may pare down a few things and ship with just the biggest things initially.  I wish I could give you a more concrete idea of when it might happen, but I can't really offer much more than two weeks or so perhaps.

[2017-04-24 04:20] claydiffrient commented on #359
Another alternative you could do is use the `Modal.setAppElement()` method to declare a different appElement to apply `aria-hidden="true"` to.  This will prevent it from being applied to the body.

[2017-04-24 06:31] iluminus commented on #231
@claydiffrient I checked and it works when installing your latest version.
Thank you!

[2017-04-24 07:15] bschlenk opened #383 "Prevent modal from closing when clicking modal, dragging to overlay, and releasing"
### Summary:
I have a draggable image within a modal. If I am dragging the image and I release the cursor outside the modal window, e.g. within the overlay, the modal closes.

### Steps to reproduce:

 1. Create a modal window
 2. Click within the modal window and while keeping the mouse button down, drag over to the darker overlay area
 3. Release the mouse button
 4. Observe the modal closing

#

[2017-04-24 07:35] bschlenk commented on #383
Turns out this is caused by me calling e.preventDefault() within my own mouseDown handler. The issue is that if I don't, the browser has its own behavior for dragging an image. I can work around this by using css background-image instead of an img element.

[2017-04-24 07:54] bschlenk commented on #383
Some more testing reveals that this is not affected by having a preventDefault for my own mouseDown handler. The issue described above still stands.

[2017-04-24 12:27] cekk commented on #187
btw i solved this issue without reloading the whole page, but wrapping the modal with intlProvider like this:

    <IntlProvider locale="myLocale" messages="messages[myLocale]">
       <Modal />
    </IntlProvider>

myLocale is a prop, so when this prop changes (language is changed), the modal is updated with the current locale.

[2017-04-24 15:50] marcysutton commented on #359
Ooh, that should work for now. Thanks!

[2017-04-26 23:47] anthony2025 commented on #62
@amangeot As David pointed out, the layout will break if the children inside the modal exceed the dimensions of the viewport, but defining those maximums in viewport units should take care of that. Building on his code I ended up doing this:

[code]

At least for the image previews I am using it for, it seems to work really well, even on mobile.

[2017-04-27 07:00] eldamir commented on #232
Thanks @parlop , I'll give it a try

[2017-04-27 18:56] rushmata commented on #366
run in your shell "npm update"

[2017-05-02 21:33] austingayler commented on #232
Having trouble getting this working with react-draggable. It just drags the form inside:
http://i.imgur.com/iCRjZL5.png

            <Col sm={3}>
              <Modal>
                <Draggable>
                  <div>
                    <Modal.Body>
                      <ModalContentStuff {...this.props} closeAction={this.close.bind(this)} />
                    </Modal.Body>

[2017-05-03 14:46] micodel opened #384 "onClick calls within modal body not firing"
### Summary:
I have a button within my modal body, identical to the examples in the readme and docs. When I click the button, nothing happens. I cannot even console log.

I am trying to use this button to close the modal. It is calling the same function that is able to successfully close the modal on overlay click.

My modal does close the modal on overlay click if this causes a conflict.

My best

[2017-05-03 16:09] yezongyang commented on #361
'overflow: hidden' is not working for mobile

[2017-05-05 15:40] parlop commented on #232
what framework r u using?, (<col sm={3}>)
instead of this
'  <Col sm={3}>
   <Draggable>
   <div>
   <Modal.Body> ......'
I'd put
'<Draggable>
 <col sm={3}>
  <Modal.Body>.......'

[2017-05-08 06:27] eldamir commented on #232
@parlop @austingayler  for me, this just resulted in the modal becoming an empty div, for some reason. The Draggable seems to ignore its children for some reason...

[2017-05-08 06:53] eldamir commented on #232
For your reference, I ended up abandoning react-draggable and just using good ol' JQuery

[code]

The key takeaway here is using `ref` to grab the DOM element and applying draggable. There was an issue with the width becoming 100% for some reason, but I've just managed it with props and a subsequent call to `JQuery.width()`

[2017-05-09 13:34] constantx commented on #315
Running onto this same isssue

[2017-05-10 00:18] hawyangpeng commented on #291
https://github.com/airbnb/enzyme/issues/252#issuecomment-266125422

[2017-05-12 14:02] figandbones commented on #133
I got this problem too, like ungoldman, when we started building/running with webpack. No one's advice was helping. We have a 'common' project, which had the code that was using react-modal, and was deployed to the main app project. I had to move the modal code to the main app project to git it to work.

[2017-05-14 15:51] kadikraman commented on #334
I could get the opacity animation working with styled-components by [injecting the style globally](https://github.com/styled-components/styled-components/blob/master/docs/api.md#injectglobal) and setting the `closeTimeoutMS` property on the Modal.

However, the scale animation won't work, because I'm already overriding the content with custom styles including `transform: 'translate(-50%, -50%)',`

[2017-05-15 20:44] nckblu commented on #334
@Grsmto have you tried my example above? The issue you describe can be avoided by using a transition on the class if I understand correctly. If you post your code we can have a look.

[2017-05-15 20:45] nckblu commented on #334
@kadikraman, you can apply multiple transforms to include the translation and scale:
http://stackoverflow.com/questions/10765755/how-to-apply-multiple-transforms-in-css

[2017-05-15 20:48] kadikraman commented on #334
@nckblu True, but because of the `transform: 'translate(-50%, -50%)',` instead of looking like the modal is "scaling from below", it ends up looking like it's "scaling from the right" if that makes sense

[2017-05-15 20:50] nckblu commented on #334
@kadikraman ahh I see, that's annoying, perhaps you could center using absolute positioning way instead?

[2017-05-16 12:09] Tydax opened #385 "Problems when using an object for the className"
### Summary:
Hello there. I have been facing some issues when trying to use an object as a prop the `className` in the modal.
Apparently, the object is not properly translated into a string.
### Steps to reproduce:

 1. Use an object for the `className` prop. For example:
[code]

2. When inspecting the element in a browser, the `div` is given that `className`: `ReactModal__Content ReactModal__Cont

[2017-05-16 14:18] vasco-santos commented on #385
I am with the same problem as described by @Tydax

[2017-05-17 05:45] MrRacoon commented on #338
Just got burned by this as well.

[2017-05-17 17:46] AlecRust commented on #117
For those searching on how to achieve these two things in the meantime, [react-aria-modal](https://github.com/davidtheclark/react-aria-modal) behaves like this by default.

[2017-05-17 17:49] AlecRust commented on #191
For this to work on iOS `position`, `width` and `height` are also necessary:

[code]

However this will cause the page to jump to the top on modal open.

[2017-05-18 17:56] Cory-Christensen commented on #71
Here's an example where I used enzyme to test a component with react-modal. The modal is used to confirm a user wants to go forward, and tests to see if `confirmed()` was called.

confirm_modal.jsx
[code]

confirm_modal.spec.jsx
[code]

Hopefully that helps you guys out 👍

[2017-05-19 14:09] #357 closed

[2017-05-22 13:24] jimulle commented on #385
Same issue here too

[2017-05-24 08:42] phun-ky opened #386 "Modal not displayed, this.setState is not a function"
Getting this error in 1.7.7. Modal works fine in 1.6.1. What could be the issue?

[2017-05-25 15:50] aseem2625 commented on #366
Strangely, I'm getting this error
`Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead`

 even after having:
[code]
and

[code]
Note: I'm having only 1 component in my project. So, that's not isssue.

[2017-05-26 09:16] vasco-santos opened #388 "Body ClassName not available"
### Summary:

The **bodyOpenClassName** prop is not being used in the last tag provided by this module. However, this feature is currently implemented on [master branch of the repository](https://github.com/reactjs/react-modal/commit/6442387b4d72b822686a85fb20b4af9893a89687#diff-476e2e918a31cbbf34324b08ddeee24e). It would be important to create a new TAG with this feature.

### Steps to reproduce:

[2017-05-26 14:11] afercia opened #389 "When clicking on a button document.activeElement fails in some browsers"
### Summary:

While this is not a `react-modal` bug, I thought to report it to share the issue. It's more about different implementations of `document.activeElement` across browsers/platforms related to buttons.

Everything works as expected when activating a button using the keyboard. However, when clicking with the mouse/trackpad on a button, some browsers return the `<body>` as `document.active

[2017-05-27 16:30] darylong opened #390 "Element behind is overlapping react-modal"
### Summary: Part of the element from the background is overlapping even if react-modal is present.

I'm using react-dates from Airbnb and part of the component of the calendar such as navigation button and help button (green question mark) is overlapping even when the react-modal is presented. Everything else works fine.

Does anyone have an idea why this is happening?

![screen shot 2017-05-28 a

[2017-05-28 17:44] matthew-matvei commented on #390
There may be a better solution by the package author, but you could set the `z-index` style on the overlay. You can put something in your CSS like:

    .ReactModal__Overlay {
        z-index: 1000;
    }

That worked for me. Let me know how it goes.

[2017-05-29 06:22] darylong commented on #390
Hi @matthew-matvei , thank you so much for the solution. It was really silly of me for not thinking to modify the z-index. Definitely appreciate the quick fix to the problem.

Would also be curious to find out what was the root cause to the problem as I'm relatively new in React development. Thanks again!

[2017-05-29 17:35] matthew-matvei commented on #390
No worries.

Apparently, React decides Z-index based on the component's order in the render tree. Given that it's likely you'll have other components down the line from where the modal is placed, I guess you'll probably have something overlapping by default (unless there's something else we've both neglected ;-) )

[2017-05-30 20:19] teameh commented on #385
Same here, but it works if you just provide a single string instead of an object though!

[2017-05-30 22:18] diasbruno commented on #385
Hi @teameh @vasco-santos @jimbolla @Tydax, can you tell which version?

[2017-05-30 22:43] teameh commented on #385
Latest version, just freshly installed. `1.7.7`

[2017-05-31 00:21] diasbruno commented on #385
[code]

feature is available on the `master` branch. All versions `v1.x.y` are released from the branch `v1` which will be discontinued when the documentation and some 'modernization' of the source code are finished.

The last commit on `master` introduces this feature (which needs a backport to `v1` [commit/6442387b4d7](https://github.com/reactjs/react-modal/commit/6442387b4d72b822686a85fb20b4af9

[2017-05-31 00:26] diasbruno commented on #388
Yeah, this feature needs a backport to`v1`.

[2017-05-31 14:33] plemarquand commented on #385
Can I suggest the default github branch be set to `v1` until the new code on master is released?

My first instinct when pulling the latest release over npm is that the documentation on github matches my release. I got bit by this bug because I was coding against the documentation (and source code) on the `master` branch without realizing I was running code in the `v1` branch.

[2017-05-31 14:48] diasbruno commented on #385
@plemarquand Fair enough. cc @claydiffrient.

[2017-05-31 22:06] dy-dx commented on #71
This blog post has some examples for testing react-modal with enzyme: http://remarkablemark.org/blog/2017/05/17/testing-react-modal/

[2017-06-02 01:27] Miges opened #391 "onRequestClose arguments - Feature Request"
A really nice feature would be to pass to the `onRequestClose` how the close was requested, e.g. by mouse click outside the modal or by escape key, etc.

[2017-06-02 01:35] diasbruno commented on #391
Hi @Miges, there is a PR (#327) to forward the events to the callback. Can you review this PR?

[2017-06-02 01:39] diasbruno commented on #391
Hmm, that is not implemented in this PR. Sorry :). It just forward the `onClick` and `onKeyDown` events to a callback (old PR).
Any specific reason to know how it was requested to close?

[2017-06-05 04:11] mmarinm opened #392 "Scrolling the Modal content"
### Summary:
I included class rule for preventing background scrolling
[code]
but when the modal opens I want to scroll the content inside of it. Can someone help me I am not able to find an appropriate solution in closed issues?

[2017-06-06 10:04] des-des opened #393 "extra border around my border"
### Summary:
Somewhere is react modal it is adding an extra border to the modal. But I cannot find this using the inspector.

This border only appears when the page has focus.

![image](https://cloud.githubusercontent.com/assets/12845233/26824029/af357c64-4aa7-11e7-8224-6e4479bc1814.png)

(see the gray border around my blue border)

I am using className and overlayClassName props.

[2017-06-06 16:19] tiagojsalmeida commented on #388
When is this going to be released?

[2017-06-07 07:31] claydiffrient opened #396 "Farewell"
For all the details check out my [Medium post](https://medium.com/@claydiffrient/farewell-react-modal-e960bfc27bd8).

The tl;dr is basically that I’m overwhelmed and out of time so I’m turning everything over to @diasbruno as I step away from React Modal.

Thanks for everything and goodbye!

[2017-06-07 09:20] zeakd commented on #393
I have same issue. is it natural? I solved this problem ` :focus {outline:0;} ` on my modal class.

[2017-06-07 10:11] des-des commented on #393
Is it natural? Not sure, I think it might be a result of the accessibility stuff going on.. ?

Thanks for the fix!

[2017-06-07 10:11] #393 closed

[2017-06-07 15:55] diasbruno commented on #396
Thank you so much for your time managing `react-modal`.

[2017-06-08 13:16] diasbruno opened #398 "Update repository (warning for new and old users)."
## Update

We have `v2` in development on branch `master`, but this have tricked some of you because the mismatch of the documentation.

I'll rebase `master` to match with `v1` and move `master` into `v2`.

I'll be waiting for **up votes** before doing this change, and also, other ideas are welcome.

Keep track of this issue to know if this change will be done to update your fork, branches, PR, is

[2017-06-08 13:42] diasbruno commented on #388
@tiagojsalmeida do you mind take care of this backport? I'm trying to do some house cleaning on react-modal.

[2017-06-08 20:01] diasbruno commented on #392
Hi @mmarinm, do you mean the content inside de overlay or the real content inside the modal?

[2017-06-08 22:31] diasbruno commented on #389
Thanks, @afercia, great report. Maybe it has something to do with how the `focusManager` works. It's tries to stack all previous focused/active elements (in case one modal is opened from inside other modal), and focus them back when a modal is closed.

So, if a click does not set the element as `document.activeElement`, there is the problem.

One way to fix this (if it's the correct behavior) woul

[2017-06-08 22:34] diasbruno commented on #386
Hey @phun-ky. Can you provide more information for this issue?

[2017-06-08 22:36] diasbruno commented on #390
@darylong is this a fix for your issue? If so, you can close this.
@matthew-matvei Thank you!

[2017-06-08 22:38] diasbruno commented on #384
@micodel can you provide more information about this issue? (like version, browser...)

[2017-06-08 22:39] diasbruno commented on #383
@bschlenk can you provide more information about this issue? (like version, browser...)

[2017-06-08 22:41] diasbruno commented on #379
@petertdinh Is @SergeyShvager suggestion solves you problem? If so, you can close this issue.
@SergeyShvager Thank you!

[2017-06-08 22:43] diasbruno commented on #378
@AndersDJohnson It seems to be fixed on `v1.7.7`. Can you validate?

[2017-06-08 22:50] diasbruno commented on #363
Hi @creatyvtype, I'm not sure if this goes against the nature of modals and accessibility. I'll have a look on it.

[2017-06-08 22:51] diasbruno commented on #361
@kimjuny did you found a way to fix this? If yes, you can close this issue.

[2017-06-08 22:55] diasbruno commented on #315
@constantx did you found a way to fix this issue? I still don't have a clue about this one. Maybe it's the way it does the unmount (?).

[2017-06-08 23:00] diasbruno commented on #335
@murugaratham is the patch above solves your issue or did you found out another way?

[2017-06-08 23:01] #231 closed

[2017-06-08 23:03] diasbruno commented on #262
@artf @aray12 I'm closing this issue for clean up. This should be fixed on the latest versions.
Thanks for reporting.

[2017-06-08 23:03] #262 closed

[2017-06-08 23:09] diasbruno commented on #254
@dbertella @albertolive did you find a way to solve this?

[2017-06-09 06:24] albertolive commented on #254
I ended up using Jest with enzyme.

[2017-06-09 06:53] afercia commented on #389
@diasbruno thanks

I think it's the best default. In some, rare, cases maybe it would be great to have a built-in way to override the default though and pass a reference to another element to move focus back to. I guess this is a separate issue :)

[2017-06-09 16:42] PonderingGrower commented on #89
I'm having this issue when trying to run unit tests using mocha and enzyme. This issue makes it impossible to test components that use Modal.

[2017-06-09 16:57] diasbruno commented on #89
Hi all, which versions of `react-modal` are you using? Later today I can have a look on this.

[2017-06-09 16:59] PonderingGrower commented on #89
I'm running `15.4.0` of `react` and `1.7.0` or `react-modal`.

[2017-06-09 17:00] diasbruno commented on #89
@PonderingGrower can you try with an updated version of `react-modal`?

[2017-06-09 17:02] PonderingGrower commented on #89
I can, but it will take a while because I would need to pull it into our internal packaging system to be able to use it first, and I'm pretty much done for today as it's Friday evening.

I can get back to you with an attempt with a newest version on Monday. Thanks for taking a look at this, cheers!

[2017-06-09 18:12] mmarinm commented on #392
The  content inside that modal

[2017-06-09 18:26] diasbruno commented on #392
Hmm, ok. You can make a frame for the scrollable region.

[code]

Something like this would work, probably you will need to make some tweaks own this example.

[2017-06-09 18:30] jamesjjk commented on #396
@claydiffrient Awesome work!

[2017-06-09 18:31] mmarinm commented on #392
Ok, Thank you, It might be also related to the library I use for smooth scrolling.  I decided to use router instead of the modal

[2017-06-09 18:31] #392 closed

[2017-06-09 18:45] matthew-matvei commented on #390
@diasbruno no worries!

[2017-06-10 03:43] darylong commented on #390
Yes the issue is now fixed thanks to @matthew-matvei. Will be closing now, thanks!

[2017-06-10 03:44] #390 closed

[2017-06-10 10:55] Aaaaaashu commented on #369
@diasbruno I also encountered this problem.

My configuration:
[code]

[2017-06-10 12:42] #361 closed

[2017-06-10 14:26] diasbruno commented on #361
@kimjuny Thanks!

[2017-06-10 22:06] brandondurham commented on #254
@albertolive — Any details on what worked for you? Having trouble even finding the modal after triggering it.

[2017-06-11 21:18] diasbruno commented on #388
@tiagojsalmeida @vasco-santos can you review PR #404?

[2017-06-11 23:06] diasbruno commented on #386
This seems related to #325.

[2017-06-12 10:01] vasco-santos commented on #388
Thanks for the backport.

I reviewed the code, and it seems ready for being launched. 😄

[2017-06-12 11:24] dbertella commented on #254
I'm not sure what worked for me I think I just moked the library `jest.mock('react-modal', () => 'Modal');`. If you use shallow render from enzyme you don't need to mock the library manually so I guess it's a better choice.

I'm sorry it was an old project that I don't have access anymore but if I can help you in some other way just let me know

[2017-06-12 15:39] diasbruno commented on #388
Released `v1.8.1`.

[2017-06-13 12:39] diasbruno commented on #398
I decided to port all commits from `master` to `v1` instead of rebasing it.

[2017-06-13 13:26] diasbruno commented on #388
Since, `bodyOpenClassName` is now available on `v1.8+`, I'll close this issue.
Thank you, @vasco-santos.

[2017-06-13 13:26] #388 closed

[2017-06-14 15:37] andrewjmead opened #411 "React.DOM.noscript Warning"
First up, thanks for helping push this library forward!

Just wanted to make you aware of this new warning as I didn't see an open issue about it. Hopefully this will be of some help.

### Summary:

As of [React 15.6](https://github.com/facebook/react/releases/tag/v15.6.0), there is a deprecation warning when accessing React.DOM factory helpers. Here's the warning in full:

[code]

The usage can b

[2017-06-14 16:03] diasbruno commented on #411
Hi @andrewjmead, there is PR #410 (what you are looking for) and #395. Do mind review both PRs?

[2017-06-14 16:07] andrewjmead commented on #411
Yes. This is my fault. I looked though the issue list, but I failed to look though the PR list.

[2017-06-14 16:14] diasbruno commented on #411
Awesome. I'll release a new version with #410.

[2017-06-14 22:51] vinceprofeta opened #413 "Cannot read property 'base' of null"
### Summary:

### Steps to reproduce:

 1.
 2.
 3.

### Expected behavior:

### Additional notes:

[2017-06-14 23:46] diasbruno commented on #413
Hi @vinceprofeta, can you provide more info on this?

[2017-06-15 04:40] diasbruno commented on #411
Thank you so much @andrewjmead! Released `v1.9.6`.

[2017-06-15 04:40] #411 closed

[2017-06-15 12:34] andrewjmead commented on #411
Very cool. Thanks for your work. I've been using react-modal for years and would love to get a little more involved. See you around!

[2017-06-15 14:12] diasbruno commented on #411
Awesome. Appreciate your help. We are close to get `v2.0.0` merged, I'm trying to get the last PRs reviewed and merged to finally merge #412.

[2017-06-15 21:53] diasbruno commented on #398
`v2.0.0` was released. Now, `v1` and `master` are the same.

[2017-06-15 23:05] #398 closed

[2017-06-16 05:51] mrscobbler opened #418 "Error importing react-modal"
### Summary:
I tried to add react-modal to my project and I'm getting this error:

[code]

### Steps to reproduce:

 1. `yarn add react-modal`
 2. Add this statement at the top of my code: `import Modal from 'react-modal'`

### Expected behavior:
Modal should not cause an error when importing

### Additional notes:
I tried deleting my node_modules folder and running `yarn` but that didn't seem to

[2017-06-16 07:45] ingro commented on #418
Yeah it seems like the code is not compiled correctly.

[2017-06-16 08:23] theWaR13 commented on #418
Same for me.

[2017-06-16 10:57] diasbruno commented on #418
hmm, I thought `babel-preset-stage-2` was enough for this.
A PR to fix this would change from `stage-2` to `latest`.
I'll be back in a few minutes.

[2017-06-16 11:01] danhayden commented on #418
Is this not because `main` in package.json is `"./lib/index.js"` and should be `"./dist/index.js"`?

As importing the module is currently returning the source code and not the transpiled code.

[2017-06-16 12:02] diasbruno commented on #418
Sorry for the inconvenience. I just had to push forward to get `v2.0.0` and fix our repository, but I probably forgot to push an important commit from the old master (not branch `v2`).
@danhayden you are right.

See PR #417, @ajfuller is already working on this.

Please, use `v1.9.7` until we fix this issue.

Thank you all!

[2017-06-16 13:20] LeG3nDz commented on #418
Same issue, but work with `v1.9.7` in Meteor project.

[2017-06-16 13:30] diasbruno commented on #413
Thank you, @vinceprofeta. If the problem persists, please reopen this PR.

[2017-06-16 13:30] #413 closed

[2017-06-16 14:31] diasbruno commented on #418
Released `v2.0.1`.

[2017-06-16 14:34] LeG3nDz commented on #418
Fix for me, but with warning after update to **2.0.1** :

`Warning: Invalid argument supplid to oneOfType. Expected an array of check functions, but received undefined at index 0.`

[2017-06-16 14:59] LeG3nDz commented on #418
Fix for me. Thank you @diasbruno  !

[2017-06-16 15:03] patik opened #420 "Console errors about `oneOfType`"
### Summary:

Using v2.0.1, I get this error in the console, printed four times in a row:

[code]

It seems to trace back to `function createUnionTypeChecker()`, specifically the `if (typeof checker !== 'function')` conditional.  When I log `checker` at that point it's undefined. Here's what `arrayOfTypeCheckers` looks like:

![image](https://user-images.githubusercontent.com/262137/27232269-6d074

[2017-06-16 15:34] diasbruno commented on #420
Hi, PR #419 should fix it. Thanks.

[2017-06-16 16:11] diasbruno commented on #420
Released `v2.0.2`.

[2017-06-16 16:12] diasbruno commented on #418
@LeG3nDz Thank you. Also, a fix to removed all `prop-types` warnings was released in `v2.0.2`.

[2017-06-16 16:59] #420 closed

[2017-06-16 17:07] #418 closed

[2017-06-17 00:35] diasbruno commented on #385
@plemarquand @teameh @jimulle @Tydax @vasco-santos `v2.0.0` has been released, so this is now available. `master` branch is now up-to-date. Thank you.

[2017-06-17 00:35] #385 closed

[2017-06-17 00:36] #386 closed

[2017-06-17 00:40] diasbruno commented on #378
@AndersDJohnson This should be fixed on our new version `v2.0+`.
If the problem persist, please, feel free to open this issue again. Thank you.

[2017-06-17 00:41] #311 closed

[2017-06-17 00:42] diasbruno commented on #311
@arvsr1988 Hope you found a way to fix this. Please, open this issue again if you have any ideas. Thanks.

[2017-06-17 00:47] diasbruno commented on #261
`onClick` is not on the list o properties of `Modal`. Maybe we can forward the click event, but I don't know if it would be helpful.

One way, I guess, is to wrap your content into a `div` and place your mouse events on this div.

[code]

[2017-06-17 00:49] diasbruno commented on #255
Hi @MarkMurphy, did you find what was going on?

[2017-06-17 00:55] diasbruno commented on #260
Hi @DimaRGB, have you tried with `v1.6.5+`? Not sure if we have a fix for this.

[2017-06-17 01:43] claydiffrient opened #422 "Changelog is out of date"
### Summary:

The CHANGELOG.md file hasn't been updated for a few releases

### Steps to reproduce:

 1. Look at changelog :)

### Expected behavior:

I would expect it to show release notes for what has occurred in each version

### Additional notes:

If memory serves correctly, you can generate the CHANGELOG.md by using `./scripts/release` when running a release or using `node_modules/rf-changel

[2017-06-17 02:47] diasbruno commented on #422
Yes :), i think I've added in milestone `2.1.0`. It still needs some work to do to get everything in this version.
I tried to find the tool you're using to generate the changelog, so I've decided to update later.

[2017-06-17 08:54] DimaRGB commented on #260
Hello @diasbruno, actually i can't, it's very old issue. I think it's more related to version 1.5. So, since released 1.6 and i can't test again, we can close issue, i believe.

[2017-06-17 09:30] lindskogen commented on #315
@diasbruno:

This is actually expected behaviour for `refs` (if defined with an inline function), see: https://facebook.github.io/react/docs/refs-and-the-dom.html#caveats

[2017-06-17 11:42] diasbruno commented on #315
That's weird. I was suspecting that we could have something like a reference to something that can no longer be reached.

[2017-06-17 11:45] diasbruno commented on #315
And it's really hard bug to reproduce this bug.

[2017-06-17 11:48] diasbruno commented on #315
I also think that it can be related to `componentWillUnmount` before `componentDidMount` and it mess up everything (but this is a guess).

[2017-06-17 15:50] diasbruno commented on #260
Ok, @DimaRGB. Thank you.

[2017-06-17 15:50] #260 closed

[2017-06-18 21:32] andrewjmead opened #425 "CodePen examples are out of date"
Temporarily closing. Will follow up.

[2017-06-18 21:35] #425 closed

[2017-06-19 00:11] diasbruno opened #426 "Docs about the new pipeline."
The new pipeline uses `make` (`npm scripts` are still available).

`make` is half way from `npm scripts` and a `gruntfile`.
It'll act as a checklist to run before publish the next releases.

## List of `npm script` commands:

    $ npm start -s or yarn start  # to run examples
    $ npm run tests
    $ npm run lint

## List of `make` commands:

    $ make serve  # to run examples
    $ make tests

[2017-06-19 01:56] diasbruno commented on #422
Finally! I've updated the changelog. I added a small python script to regenerate all the changelog, but it will be gone soon and use your previous script.

[2017-06-19 01:56] #422 closed

[2017-06-19 02:50] diasbruno commented on #426
PR #430.

[2017-06-19 03:18] #426 closed

[2017-06-19 06:41] micdah commented on #338
Yes this doesn't seem like the behavior one would expect, +1

[2017-06-19 18:46] tstirrat15 commented on #315
I've been seeing this issue as well through Sentry.

Browser: Chrome Mobile 44.0.2403
OS: Android 6.0.1

[2017-06-19 19:29] diasbruno commented on #315
@tstirrat15 can you provide more info about this? ...or steps to reproduce.

[2017-06-19 19:32] tstirrat15 commented on #315
No idea on steps to reproduce... it just came in on our error tracker. Here's a stack trace, though, if that would help:

[code]

[2017-06-19 19:41] diasbruno commented on #315
The problem with this issue is that it's hard to reproduce. ¬¬

[2017-06-19 19:43] tstirrat15 commented on #315
Yeah.. I feel you. It's not a stop-and-fix for us, because it's isolated to a very small number of users/cases. I just wanted to provide what information I could.

[2017-06-19 19:45] diasbruno commented on #315
Can you describe the behaviour/activity of your component?

[2017-06-19 19:49] tstirrat15 commented on #315
This is the way we're wrapping it:
[code]
Where:

* `modalOpen` is redux state that indicates whether the modal is open
* `closeModal` is the redux action creator to close the modal

We're using it for a review process, where the user can suggest changes to a transaction before it's approved. You click a button to open the modal and make changes, and then the modal is either closed by submitting t

[2017-06-19 19:55] diasbruno commented on #315
hmm, ok, I'll use this  info to make a test project later.
Thank you, @tstirrat15!

[2017-06-19 22:38] diasbruno commented on #315
@tstirrat15 which version are you using? `react-modal`.

[2017-06-20 01:14] diasbruno commented on #315
Finally, got it!!!! It seems that [this.focusAfterRender on ModalPortal.js#L80](https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L80) can be in a wrong state.

## Steps to reproduce

- Replace ModalPortal.js#L80 if ìf (true) {`.
- Mount a closed `Modal`.
- Trigger something that will ask the `ModalPortal` to fire `componentDidUpdate`.

## Obs

- Error is triggered.

[2017-06-20 08:58] LeG3nDz commented on #418
@diasbruno Yep, `prop-types` warning are removed in `v2.0.2`.

Thank you ;)

[2017-06-20 14:14] #315 closed

[2017-06-20 14:22] tstirrat15 commented on #315
Nice! Thank you, @diasbruno! Is this available in the most recent release?

[2017-06-20 14:30] diasbruno commented on #315
@tstirrat15 yes, available on `v2.0.6`. There are some extra info on PR #424.

[2017-06-20 14:56] diasbruno commented on #315
@tstirrat15 if sentry still receives errors, please feel free to reopen this issue.

[2017-06-20 18:54] merlinpatt opened #432 "Best Practices"
Do you have best practices on how write modal code? Not just how to use the modal, but how to use it well.

We have a couple dozen modals and currently I have them each tied to their own button. But I'm considering using URL query params to manage the modals appearance instead.

There's also the consideration of having each modal be its own separate modal or have one modal that loads the body dyna

[2017-06-21 07:12] bcuicn commented on #378
It is still happening for me.

[2017-06-21 08:45] sergei-zelinsky opened #433 "Unexpected behavior when scroll modal overlay"
Hi there.

I have a modal with some content which is too long for one screen. I set up modal overlay css property `overflow-y` to `auto` to provide scroll when modal content overflows. And when I click on scrollbar (on the right in the screenshot below) or drag it and release mouse key the modal window unexpectedly closes (like if I'd click on overlay, not scrollbar).

Example pen: https://codepen

[2017-06-21 12:31] diasbruno commented on #378
@bcuicn Hi, which version are you using? `react-modal` and `react`

[2017-06-21 13:46] sergei-zelinsky commented on #433
I was using version `1.6.5` of `react-modal`. Updating to the last version solved this issue.

[2017-06-21 13:46] #433 closed

[2017-06-21 14:47] enheit opened #434 "Question: Unmount component"
I have a problem with states inside react-modal. I have couple of components inside react-modal. After I close this modal and reopen again, states of internal components still the same (for instance, input values do not reset after modal toggling). Is there such a possibility to reset all state inside react-modal after close? I know it should be done inside `componentWillUnmount` but as far as I u

[2017-06-21 15:04] diasbruno commented on #434
It is possible that maybe [Modal.js#L113](https://github.com/reactjs/react-modal/blob/master/src/components/Modal.js#L113) and/or [Modal.js#L129](https://github.com/reactjs/react-modal/blob/master/src/components/Modal.js#L129) are skipping some updates.

[2017-06-21 15:41] diasbruno commented on #434
@ajfuller any thoughts on this one?

[2017-06-21 16:50] ajfuller commented on #434
@enheit is this with the latest `2.0.6` release? Just to make sure we're reproducing the issue correctly, could you create a minimal reproduction in a repo or on https://codesandbox.io/? Thanks!

@diasbruno it should only be preventing render if the state is different, so closing and reopening should trigger the `renderPortal` method.

We do have a blindspot in our tests for state changes of modal

[2017-06-21 17:53] ajfuller commented on #434
@enheit I've created the following codesandbox: https://codesandbox.io/s/X4KQq22A

I'm not seeing the behavior as described with the latest published version. Are you rendering anything differently from my demo?

[2017-06-21 18:10] enheit commented on #434
@ajfuller I use `1.7.1` version of react-modal. So, I need to update lib and review it again.
Does `2.0.6` release has incompatible changes with `1.7.1`?

[2017-06-21 18:13] diasbruno commented on #434
@enheit It should be backward-compatible. The major version is just the modernization of the js syntax used.

[2017-06-21 18:37] enheit commented on #434
@diasbruno thanks for reply. Here is my codesandbox example: https://codesandbox.io/s/oQjMMQjMX
It looks weird. I select `1.7.1` version of react-modal and 'ControlledInput' invokes `componentWillUnmoun`.

[2017-06-21 18:49] diasbruno commented on #432
Hi @merlinpatt, some ideas after working with modals:

In case of multiple modals, an example is to define a state like

[code]

and set `currentModal` with the modal identifier or `null` to close all.

[code]

State that can handle many modals:

[code]

One thing to note is that both states can be used on the same application (imagine a page/route `/todos` with first state and a page/route `/proj

[2017-06-21 18:53] diasbruno commented on #434
This behavior can happen when `removePortal` is called or when the ModalPortal is ready to close which will return `null` or `div` (this can also trigger unmount).

[2017-06-21 19:19] enheit commented on #434
Anyway, I will check it tomorrow ( will update to latest release) and provide you response.

[2017-06-21 20:15] musicalshore commented on #369
I, too, am encountering this problem.

[2017-06-22 08:52] enheit commented on #434
@diasbruno, @ajfuller I have updated `react-modal` to `2.0.6` but state inside modal still the same. Is it depends on my libs? For example, I use `redux` state manager and `redux-form`. And this (redux-form) doesn't change after toggling window. Any idea?

[2017-06-22 09:29] html-krit opened #435 "Didn't update `portalClassName` after receiving of new props"
### Summary:
Didn't update `portalClassName` after receiving of new props because className added only in `componentDidMount`
### Steps to reproduce:

 1. add custom `portalClassName`
 2. change somehow this props by click on button
 3. className for portal not changed

### Expected behavior:
className for portal must be updated

### Additional notes:

[2017-06-22 12:23] diasbruno commented on #435
Hi @html-krit, which version of `react-modal` and `react` are you using?

[2017-06-22 12:28] diasbruno commented on #434
You can check if `redux-form` don't clear the state after unmount. Since it store the information on the redux state, it can recover the previous information. Probably, you will need to dispatch and action to clean the state.

[2017-06-23 20:50] nwlieb commented on #334
@Grsmto I am also having this issue... 'Fixed' for now by setting the overlay to transparent.

[2017-06-24 17:24] diasbruno commented on #435
@html-krit this behavior does not seems to happen on `v2.0.2+`.
[codesandbox.io/KvKnrK5G](https://codesandbox.io/s/KvKnrK5G)

If you have more information about this issue, please reopen this PR.
Thanks.

[2017-06-24 17:24] #435 closed

[2017-06-24 17:35] diasbruno commented on #384
@netto89 @wschaeferiii @micodel `react-modal` is current on version `v2+`. (preferable version `v2.0.6` - latest). If you can, please update to this version.

If you can provide more information, please reopen this PR.

Thanks.

[2017-06-24 17:35] #384 closed

[2017-06-24 17:36] #378 closed

[2017-06-24 17:41] diasbruno commented on #118
This issue must be fixed on current version `v2+`.

I'm closing this issue for clean up. Please, feel free to reopen this issue if needed.
Thank you!

[2017-06-24 17:41] #118 closed

[2017-06-24 17:41] diasbruno commented on #89
This issue must be fixed on current version `v2+`.

I'm closing this issue for clean up. Please, feel free to reopen this issue if needed.
Thank you!

[2017-06-24 17:41] #89 closed

[2017-06-24 18:06] diasbruno commented on #133
Depending on when it evaluates [react-modal@1.6.5:/lib/helpers/ariaAppHider.js#L1](https://github.com/reactjs/react-modal/blob/v1.6.5/lib/helpers/ariaAppHider.js#L1), `document.body` can not exist yet and it will resolve to `undefined || null` and when call `validateElement(appElement)` the error is thrown. This can happen if `Modal.setAppElement()` is called with null or not called at all (probab

[2017-06-24 18:34] diasbruno commented on #218
This should be fixed since `v1.7.7`.

Please, feel free to reopen this issue if needed.
Thanks.

[2017-06-24 18:34] #218 closed

[2017-06-24 18:37] diasbruno commented on #112
Closing this for clean up. Thank you all.

[2017-06-24 18:37] #112 closed

[2017-06-24 18:45] diasbruno commented on #261
I'm closing this for clean up. Please, feel free to reopen this issue. Thanks.

[2017-06-24 18:45] #261 closed

[2017-06-24 18:48] #363 closed

[2017-06-24 21:31] diasbruno commented on #184
@fritz-c solution is the best way to handle this.

I'm closing this issue for clean up. Thank you!

[2017-06-24 21:31] #184 closed

[2017-06-24 21:34] diasbruno commented on #187
@cekk Thank you for help with this one.

I'm closing this issue for clean up.

[2017-06-24 21:34] #187 closed

[2017-06-24 21:36] #288 closed

[2017-06-24 21:42] diasbruno commented on #349
Closing this since #315 was fixed.

[2017-06-24 21:42] #349 closed

[2017-06-24 21:42] diasbruno commented on #349
@jaredmharris just to make sure I've found the bug...is your application using `redux`?

[2017-06-25 01:40] jaredmharris commented on #349
Yes it is.

[2017-06-25 01:41] diasbruno commented on #349
@jaredmharris Thank you.
So, it must be an async update.

[2017-06-25 20:27] #133 closed

[2017-06-27 01:29] diasbruno commented on #383
@bschlenk I can not reproduce this bug.
Please, feel free to reopen this issue if needed. Thanks.

[2017-06-27 01:29] #383 closed

[2017-06-27 01:30] diasbruno commented on #369
@Aaaaaashu @musicalshore Did you find a css trick to prevent this from happening?

[2017-06-27 02:02] diasbruno commented on #338
@stevenguh @griffinmichl @MrRacoon @micdah and everyone.

This is the "expected" behavior when you create a closed `Modal` (note that at this point the ModalPortal is not rendered, so no refs yet).

The lifecycle is actually correct. On the class `Example`, the refs will be built after the update, since the `ModalPortal` will be mounted after this update. Your `ModalContent` wrapper works as expec

[2017-06-28 06:55] manishjohar opened #445 "Need help to make modal accessible by screen readers..."
### Summary:

### Steps to reproduce:

 1.
 2.
 3.

### Expected behavior:

### Link to example of issue:

### Additional notes:

[2017-06-28 13:30] musicalshore commented on #369
Yes, add `position: fixed` to the body element when the modal is open

[2017-06-28 20:40] Neurostep commented on #434
@enheit I'm stuck with the same problem (using `redux-form` too). Did you find a solution finally?

[2017-06-29 10:25] enheit commented on #434
@Neurostep unfortunately no :( If I will find solution it will be explained in this post ASAP.

[2017-06-29 10:39] enheit commented on #434
@diasbruno & @ajfuller I've reproduced the same behavior as in my project. The input value still the same after open -> editing -> close. On other hand, this state still the same because (I suppose) the modal doesn't know anything about child element state and don't know how to clean it. So, any idea? Should I look for workaround or there is a better solution?

[2017-06-29 11:04] diasbruno commented on #434
It only knows when to build the `ModalPortal` which contains the children, therefore the element is constructed and destructed when toggle the modal `isOpen` state.

In your example, you are accumulating state using `handleInputChange` and this is state is not internal to the modal. You'll need to use `onRequestClose` to flush it.

[code]

Examples:

[code]

[code]

[2017-06-29 12:55] enheit commented on #434
I finally found a solution how to fix this.
So, if you try to use your any elements right inside modal, this will not clear your values at all. But if you move your elements in separate component and just pass this component (which contains your elements) to the react-modal it will clear everything. If you didn't understand, take a look at example below:

[code]

[code]

...or you can get more rea

[2017-06-29 12:56] #434 closed

[2017-06-29 14:52] diasbruno commented on #434
Ah, got it. Sorry for the bad answer.

In `redux-form`, the default behavior is to destroy when unmount. [redux-form@master:/src/createReduxForm.js#L89](https://github.com/erikras/redux-form/blob/master/src/createReduxForm.js#L89).

One probable reason is because when toggle `isOpen` attribute on `Modal`, it's never calls to `unmount` on `ModalPortal`, therefore `unmount` on the form is not called

[2017-06-29 16:07] diasbruno commented on #434
I'm going to open a new discussion about this issue.

Thank you, @enheit.

[2017-06-29 23:23] #445 closed

[2017-06-29 23:24] diasbruno commented on #445
@manishjohar Please, reopen this issue if you have any question or want to start a discussion. Thanks.

[2017-06-30 18:52] indiesquidge commented on #288
@claydiffrient, I've been having the same issue described here and I think the problem may be more related to setting an overflow to achieve something of a [modal scroll](https://github.com/reactjs/react-modal/issues/283) when the window is too small.

I forked your CodePen and added a single line, `overflowY: 'auto'`, to the overlay style object, which seems to resurface the scroll issue: https:/

[2017-07-02 08:37] MZShahbaz opened #450 "Couldn't find preset "stage-2" relative to directory "..\\react-modal""
After running the command:
npm install react-modal

It prompt me with:
+ react-modal @2.2.1

When i imported it in one of my file by:
import ReactModal from 'react-modal';

I got errors:
ERROR in ./~/react-modal/lib/index.js
Module build failed: Error: Couldn't find preset "stage-2" relative to directory "***\\react-modal"
    at ***\node_modules\babel-core\lib\transformation\file\options\option-m

[2017-07-02 13:48] diasbruno commented on #450
Hi @MZShahbaz, sometimes I got this, because I'm forget if I'm using `yarn` or `npm`. :)
It should not be required `stage-2`, because `react-modal@2.2.1` is compiled to `es2015` before send to `npm`.

[2017-07-02 16:36] MZShahbaz commented on #450
Thanks @diasbruno but my problem persists...
In my package.json file, I have;
"babel": {
    "presets": [
      "es2015",
      "react"
    ]
  }
as es2015 is available for babel, why am i getting this error?
how may i fix it?

[2017-07-02 16:48] diasbruno commented on #450
Probably adding "stage-2" to your list of presets and `npm install --save-dev babe-preset-stage-2` or `yarn add --dev babe-preset-stage-2`.

[2017-07-02 17:01] MZShahbaz commented on #450
Thanks a lot @diasbruno , this has fixed my error...
No words to thank you (Y)

[2017-07-02 17:05] diasbruno commented on #450
Great! This a little bit weird. Maybe later I'll try to reproduce this issue (since react-modal should not require `stage-2`).
Thank you!

[2017-07-04 00:19] indiesquidge opened #451 "Ever-growing classList when `bodyOpenClassName` prop contains multiple classes"
### Summary:

Adding multiple classes to `bodyOpenClassName` will create an ever-growing list of the classes specified.

### Steps to reproduce:

 1. set `bodyOpenClassName` to a string of multiple, space-delineated classes
 2. open and close the modal multiple times
 3. log `document.body.classList` in the console and see that it has continually added the classes but never removed them

### Expec

[2017-07-04 00:33] indiesquidge commented on #369
I'd like to point out that this is a [known issue](https://bugs.webkit.org/show_bug.cgi?id=153852) with Webkit itself, and not something this library has a lot of control over. This also means it will affect any browser using the Webkit engine, including Chrome, Safari, and [others](http://trac.webkit.org/wiki/Applications%20using%20WebKit).

Strangely (at least for me), the issue is only apparent

[2017-07-04 20:07] bsdo64 commented on #261
My components have menus, tooltips, popovers and so on.. but when user close modal, I want to restore preserved states by preventing the click event from bubbling up from the modal.

https://github.com/Fauntleroy/react-simple-dropdown/issues/24

Here is my issue about case.

[2017-07-04 21:41] diasbruno commented on #261
Relates to [Fauntleroy/react-simple-dropdown#24](https://github.com/Fauntleroy/react-simple-dropdown/issues/24).

[2017-07-05 13:54] MZShahbaz opened #453 "How To Load URL in React Modal?"
- I am interested in displaying a remote URL in my **react modal**

- I may get data of that URL using AJAX call but how may I render that exact URL in my modal?

- Any help would be appreciated...

[2017-07-05 15:07] diasbruno commented on #453
There are a few options:

#### 1. Make an request and save the data on some state. Render in the Modal afterwards.

You can execute when opening the modal or use `onAfterOpen`.

#### 2. Add an `iframe` on the modal.

[2017-07-05 18:24] MZShahbaz commented on #453
Thanks @diasbruno ...
Your option 2 was easy to pursue.
I used iframe ion the modal and
window.open(link,'NewWindow','resizable=yes'); without modal

[2017-07-05 21:48] #453 closed

[2017-07-05 23:42] indiesquidge commented on #254
@brandondurham, if you are using Enzyme, you should be able to get access to the modal with the following

[code]

**Note**: the `isOpen` prop must be passed in for the modal to be opened on the page. (The `contentLabel` prop is a required prop.)

If you are attempting to access the Modal's contents or test something that happens in a lifecycle method, trying using the `mount` render function inst

[2017-07-06 00:18] indiesquidge commented on #254
@diasbruno, the issue of the `<ReactModal>` component rendering null is still an issue when attempting to create a snapshot test.

### Tl;dr

_How does one create a Jest snapshot test for ReactModal?_
_The rendered output always seems to be null._

### More Info

Unfortunately, I can't create a simple JSBin or Codepen since I can't seem to figure out how to include/access Jest or `react-test-rende

[2017-07-06 00:38] indiesquidge commented on #291
I'm having trouble creating a basic Jest snapshot for this component. [See here](https://github.com/reactjs/react-modal/issues/254#issuecomment-313261086) for details.

[2017-07-06 00:54] indiesquidge commented on #254
The more I think about it, the more I'm realizing that a snapshot test on my end may sound like a strange thing to do.

If I was using the ReactModal component as-is, I wouldn't bother with a snapshot test. However, my use case for ReactModal may be a bit different than others in that I it is acting as somewhat of a "private component" in my codebase; I wrap a separate component

[2017-07-06 01:00] diasbruno commented on #254
@indiesquidge Thanks for the info.

The `Modal` render method returns `null`. Maybe the component is not mounted correctly.

[2017-07-06 01:03] indiesquidge commented on #254
@diasbruno, I'm not sure I understand. Isn't null the [expected return value](https://github.com/reactjs/react-modal/blob/master/src/components/Modal.js#L162)?

[2017-07-06 01:26] diasbruno commented on #254
This one is tricky...if we are talking about the class, it's correct. If we are talking about the actual modal  tree, it is not.

Since the modal is mounted where `parentSelector={...}` returns, so you can't get a snapshot of it.
Checkout PR #440. It should make it easy to test.

[2017-07-06 06:39] albert-olive commented on #254
This is what I did:

    jest.mock('react-modal', () => {
      return ({ children }) => {
        return (
          <div className="modal">{children}</div>
        );
      };
    });

Also I could include one onClick and trigger it with enzyme like this:

    wrapper.find('modal').simulate('click');

[2017-07-06 06:40] albertolive commented on #254
This is what I did:

    jest.mock('react-modal', () => {
      return ({ children }) => {
        return (
          <div className="modal">{children}</div>
        );
      };
    });

Also I could include one onClick and trigger it with enzyme like this:

    wrapper.find('modal').simulate('click');

[2017-07-07 01:52] #451 closed

[2017-07-07 02:07] diasbruno opened #454 "Move documentation from README.md to gitbook."
Currently, `react-modal` has 2 documentations: [README.md](https://github.com/reactjs/react-modal/blob/master/README.md) and [gitbook](https://reactjs.github.io/react-modal).

Perhaps we can shrink the `README.md` and redirect to `gitbook` when someone needs to read the full api of react-modal. This way, we just need to update the documentation in one place.

The new readme can have this sections:

[2017-07-07 15:13] victorsabino opened #455 "Can't scroll modal if body is setted to fixed"
Hello guys, I was having problems with the famous background scrolling instead of the modal issue. After some research I found that the fix is to set the body position to fixed, thanks to that the background doesn't scroll anymore but neither does the modal on Chrome and iOS (for some reason it works as intended on firefox)

Remove the position: fixed attribute fixed the issue on desktop but of co

[2017-07-07 17:35] diasbruno commented on #455
Hi @victorsabino this seems duplicated, can you search for the issue?

[2017-07-09 16:08] uhef commented on #450
I had the same problem as well.

This should probably be fixed within react-modal as it seems awkward to have to pollute the babel preset list of the consuming project to fix this...

[2017-07-09 16:16] uhef commented on #450
Actually, downgrading to 1.9.7 seems to solve the problem as this is introduced in 2.0.0:

https://github.com/reactjs/react-modal/blob/v2.0.0/.babelrc#L2

[2017-07-09 16:41] diasbruno commented on #450
@uhef please check if `babel-preset-stage-2` is on package.json. It should not be a problem unless you have an old fork of react-modal and missed to `npm install` (or yarn).

[2017-07-10 06:34] uhef commented on #450
Adding `babel-preset-stage-2` as a dev dependency in the host project package.json fixes the issue. If this is how it should be fixed I suppose `react-modal` should list `babel-preset-stage-2` as a peer dependency.

[2017-07-10 12:23] diasbruno commented on #450
I don't know, probably there is something wrong on the build process to publish to npm.

[2017-07-10 12:31] diasbruno commented on #450
@uhef Did you tried to update `react-modal` or started a new project?

[2017-07-14 09:40] sachin32 opened #456 "Latest Master not loading react-modal css class"
### Summary:
After installation i used react model but it shows at bottom position.
### Steps to reproduce:

 1. Open application
 2. Open any react-model component in browser
 3. Do inspect
 4. ReactModal__Overlay ReactModal__Overlay--after-open class not loading
 5. ReactModal__Content ReactModal__Content--after-open class notloading

### Expected behavior:
React model should come into middle of

[2017-07-14 12:30] diasbruno commented on #456
Hi @sachin32, `react-modal` has a default inline style, but If you have declared a `className` or a `overlayClassName`, those styles are nullified. Can you have a look on this?

Here is where the declaration is [src/components/Modal.js#L72](https://github.com/reactjs/react-modal/blob/master/src/components/Modal.js#L72) and here it gets nullified if a `className` is defined. [src/components/ModalPo

[2017-07-15 07:05] Tredis opened #457 "Unknown option error after stage-2 request (using react-native-web)"
Using v2 and v1.9.7 I'm getting same "Unknown option error" below. First it asks for es2015, then for stage-2, so I gave them with:

in .babelrc:
..."presets": ["es2015", "stage-2", "env", "react-native"],...

in webpack.config.js:
...module: {loaders: [{query: {
                    presets: ['es2015', 'stage-2', 'env', 'react-native'],
...

and installed both with yarn.

I am using react-native-w

[2017-07-15 19:34] diasbruno commented on #457
Maybe it is related to #450.

[2017-07-15 19:34] diasbruno commented on #457
@Tredis did you solve this problem and/or want to have a look on this issue?

[2017-07-15 20:17] Tredis commented on #457
I did not solve it, and I would appreciate some help. I did see that issue, but it didn't help me. I don't know how to proceed. Let me know what you guys have any ideas, Thanks

[2017-07-16 22:19] diasbruno commented on #457
@Tredis can you reproduce this issue on a toy project (you can host on GitHub), then I'll have a look on this issue. Thank you.

[2017-07-18 10:34] sachin32 commented on #456
@diasbruno Thanks for reply

The issue is that same code same master is giving output perfectly for my team members but when we do npm install after cloning the project from scratch level then only issue is coming.

[2017-07-18 14:53] diasbruno commented on #456
Hm, I got it. I'll check it.

[2017-07-19 08:59] declanelcocks opened #459 "Question: Unmounting the parent & the beforeClose call"
### Summary:

I have a page, with some components that are conditionally rendered as below and some of these components will contain a modal. The modals themselves have no internal state or anything like that.

If you check below, this is the `onClose` which eventually gets applied to the modal. So the `hideModal` function is getting called, hiding the modal and even removing any `aria` attributes

[2017-07-19 12:23] diasbruno commented on #459
@declanelcocks Hi, can write a small app for reproducing this issue? You can use the  react-modal bootstrap on [https://codesandbox.io/s/mgwy6V6E](https://codesandbox.io/s/mgwy6V6E).

[2017-07-19 15:52] declanelcocks commented on #459
@diasbruno https://codesandbox.io/s/npjoXq1W I'm not sure that this is 100% replicating my situation, but you can see the class is never removed from `body`. Basically the call to close the modal is also destroying its parent, which causes the modal to be destroyed.

[2017-07-19 17:38] diasbruno commented on #459
Perhaps, when `closeTimeoutMS` is defined and the modal is destroyed, it doesn't call properly the close functions. Any extra logs from `react`?

[2017-07-20 02:24] declanelcocks commented on #459
@diasbruno No, nothing else from `react`. You're also right that if I remove the `closeTimeoutMS` then the body class is successfully removed even after the modal is destroyed.

[2017-07-20 12:30] diasbruno commented on #459
Another way to solve this is to move the `modal` component out of the `tab` and notify when to open an close with callbacks or events, something like:

[code]

I seems better to construction this way, because it creates a proper controller to manage a `Route` for example and use the same modal for rendering.

[2017-07-20 13:36] declanelcocks commented on #459
@diasbruno Yeah that was one "fix" I mentioned in my OP that I considered. The modal will always be called by this tab, so it makes sense to have the `<Modal />` component inside that tab. Using a `setTimeout` is better for me, as it means I don't have a random `<Modal />` rendered somewhere that doesn't make any sense.

[2017-07-20 15:41] diasbruno commented on #459
@declanelcocks that's fine.

I'll check if there is something `react-modal` can do. If we get `Modal::componentWillUnmount()` to be fired on this conditional render, we can move back [beforeOpen()](https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L120) and [beforeClose()](https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L130) from [Mo

[2017-07-21 01:49] declanelcocks commented on #459
There are workarounds, but the great thing about React is that components can be completely isolated. This bug it makes it difficult to do that without some workarounds, so thanks for looking into it @diasbruno 👍

[2017-07-21 08:19] sachin32 commented on #456
Fixed npm-cache was the problem

[2017-07-21 08:19] #456 closed

[2017-07-21 17:59] sayayinR opened #460 "Modal does not close in between showing items from an array of objects"
I have posted this on on stackoverflow:
https://stackoverflow.com/questions/45228757/react-modal-does-not-close-in-between-loading-content?noredirect=1#comment77424831_45228757

Not sure if this has to do something with the way I'm calling the Modal or it is an expected behavior of the Modal, either way looking for a solution if someone can help.

Thank you!

[2017-07-25 02:09] EbrahimMajdey opened #461 "npm install not working"
### Summary:
npm install produces not met dependencies
### Steps to reproduce:

npm install react-modal
### Expected behavior:

+-- UNMET PEER DEPENDENCY react@^0.14.0 || ^15.0.0
+-- UNMET PEER DEPENDENCY react-dom@^0.14.0 || ^15.0.0
`-- react-modal@2.2.2
  +-- exenv@1.2.0
  +-- prop-types@15.5.10
  | +-- fbjs@0.8.12
  | | +-- core-js@1.2.7
  | | +-- isomorphic-fetch@2.2.1
  | | | +-- node-fetch@1

[2017-07-25 16:44] leaspark commented on #149
Seems like this problem has returned. Providing `onRequestClose` prop as well as setting `shouldCloseOnOverlayClick` to `false`. Clicking the overlay will not close the modal.

[2017-07-25 16:48] leaspark opened #462 "shouldCloseOnOverlayClick not working"
### Summary:
The modal will not close when the overlay is clicked. Setting `shouldCloseOnOverlayClick ` to either `true` or `false` does not change this behavior.

### Expected behavior:
Modal closes when overlay is clicked.

### Link to example of issue:
https://github.com/reactjs/react-modal/issues/149

[2017-07-25 19:29] whitecrownclown commented on #149
Tested this with

Code sample

[code]

[2017-07-25 20:52] donpinkus commented on #149
Tested this with reac-modal v2.2.2.

It's broken.

Code sample below:

[code]

[2017-07-25 21:46] diasbruno commented on #149
@whitecrownclown That is correct. `shouldCloseOnOverlayClick` depends on `onRequestClose` because `react-modal` does not store the `isOpen` on its internal state.

[2017-07-25 21:51] diasbruno commented on #149
@donpinkus @whitecrownclown If this detail is missing on the doc, can you please submit a PR?

[2017-07-25 21:55] diasbruno commented on #462
`shouldCloseOnOverlayClick` depends on `onRequestClose` because `react-modal` does not store the `isOpen` on its internal state. It's required so you can decide if the modal should be closed or display an alert to the user.

[2017-07-25 21:58] diasbruno commented on #461
@EbrahimMajdey yeah, that's right. we need to update it.
@leonascimento can you have a look on this?

[2017-07-25 22:00] diasbruno commented on #149
Here is the link for our gitbook.

[Using shouldCloseOnOverlayClick](https://reactcommunity.org/react-modal/examples/should_close_on_overlay_click.html)

[2017-07-26 01:48] leonascimento commented on #462
Hi @leaspark this a simple suggestion for you.
You can create a component, for example `SomeComponent` with a simple `state`  and a toggle function, that can manager `SomeComponent` state and  to inject a flag `displayModal` like value on isOpen something like this `<Modal isOpen={this.state.displayModal}`.

[code]

[2017-07-26 02:42] segulino commented on #125
Hi! Sorry for reopen this old issue, it's possible to use something similar to @megapctr solution but using Radium for modal styling?

[2017-07-26 07:17] Bloomca commented on #125
@segulino you can define [global classes](https://github.com/FormidableLabs/radium/tree/master/docs/api#style-component) in radium as well.

So, I personally would separate animation and radium styles here (if they overlap, there is an ugly solution to add `!important` in css rules).

[2017-07-26 14:18] clementino36 commented on #125
Hi. Thanks for the animation snippet. The `after-open` animation works fine for me but the `before-close` doesn't. No animation is triggered by it, any idea why ?

[2017-07-26 14:34] Bloomca commented on #125
@clementino36 Have you provided `closeTimeoutMS` prop to the `Modal`? It might an issue.

[2017-07-26 14:46] clementino36 commented on #125
My bad for not reading the docs enough. Thank you!

[2017-07-26 15:25] segulino commented on #125
@Bloomca thanks for your answer, but I don't understand how use this for use in my component, my modal component looks same this:

[code]

And my Styles.js

[code]

Could you help me with the way that I can include afterOpen / beforeClose selectors on this?

[2017-07-26 17:06] Bloomca commented on #125
Hi @segulino, yeah, sure -- here is a rough example how it can look like:

[code]

Something like this should work. But I can recommend to put `Style` component to the top level, so you don't render it again.

[2017-07-26 17:44] segulino commented on #125
I think I understood the behavior of the Radium Style component with this, and your example works great. Thanks for your time and help @Bloomca !

[2017-07-26 23:13] tcrosen commented on #460
It seems to me this is an issue with your managing of the `isOpen` prop.

Can probably close this as you are getting help from SO folks, right @sayayinR?

[2017-07-27 04:13] sayayinR commented on #460
Yes, I have solved the issue in a different way. You can close it

[2017-07-27 08:14] neptunian commented on #25
@yvele @diasbruno  i modified the library a bit and not using isOpen works fine but then you lose out on animation.  The reason I did it is because if i use isOpen i can't get react-router to work properly where i render a component based on a route.  In my app the modals have urls and it seems this modal is designed to be mounted when the page loads and show or hides its children based on the isO

[2017-07-27 08:23] yvele commented on #25
@monsieurnebo CC

[2017-07-27 09:27] neptunian commented on #25
I believe i've been able to get it working without having to remove isOpen with react-router by using the children function:
https://reacttraining.com/react-router/web/api/Route/children-func

That way the component mounts no matter what and the modal can continue using isOpen with animation.

[2017-07-27 23:25] markalfred commented on #462
Just a heads up in case it applies to anyone else, I ran into a similar issue because I had a setup like this:

[code]
[code]

The library interpreted .modal-container as being a part of the modal's contents, so it registered a click on the container as a "do not close" event prior to firing the "close on overlay click" one.

The lib is correct in its interpretation here, so the fault is mine, but

[2017-07-28 13:02] diasbruno commented on #460
@sayayinR how did you solve this? This can help other people if they face the same problem. :)

[2017-07-31 00:53] Hypnosphi opened #464 "Allow opting out of returning focus on close"
### Summary:

I use react-modal to display a search box with autocompletion. When I find a suitable option and hits enter key, I'm navigated to corresponding view, and the modal should be closed. Unfortunately, button that opens the modal gets re-focused, and a click event is fired on it (because that's how enter key works with buttons), so the modal gets open again.

It helps if I add some closeT

[2017-07-31 12:31] diasbruno commented on #462
Hi @leaspark, did you find a way to fix your issue?

[2017-07-31 12:33] diasbruno commented on #460
@sayayinR I'm closing this issue since the problem was fixed.

[2017-07-31 12:33] #460 closed

[2017-07-31 12:35] diasbruno commented on #460
@tcrosen Thanks for looking on this one.

[2017-07-31 14:12] relense opened #465 "Internet Explorer problem"
Im using the modal and everything is okay in every browser except for IE.

Im' using Internet Explorer 11 to test and when I try and use it does nothing.

Anyone had this issue or know what it might be?

[2017-07-31 14:55] jameskraus opened #466 "Dragging inside modal and release outside of modal closes the modal"
### Summary:

Dragging inside modal and release outside of modal closes the modal

### Steps to reproduce:

 1. Drag something inside of a modal
 2. Release the mouse outside the modal
 3. Modal closes due to detecting a "click" outside the modal

### Expected behavior:

Modal should not respond to mouse up that didn't start inside of the overlay

### Link to example of issue:

https://codesandbox

[2017-07-31 15:18] FezVrasta opened #467 "Allow to define a custom tag for the modal container?"
It would be super handy to be able to define a custom tag for the modal container element. So that I can set it as:

[code]

This would make easy to manage modals used as forms.

[2017-07-31 18:09] diasbruno commented on #465
Hi @relense, any information on the console? Which version of `react-modal` are using?

[2017-07-31 18:18] diasbruno commented on #467
Hi @FezVrasta, yeah, it's convenient, but maybe it's not a good idea give to `react-modal` this responsibility. A snippet like this (below) should be "the best" approach:

[code]

This way you can use `MyForm` on other places.

[2017-07-31 18:20] FezVrasta commented on #467
But then you get the focus on the modal that's different from the form element 🤔 wouldn't this be a problem?

[2017-07-31 18:25] diasbruno commented on #467
@FezVrasta hmm, this is something we need to find a solution. There is `onAfterOpen`, you can use this callback to move the focus to you component.

Of course, ideas/suggestions are welcome.

[2017-08-01 10:00] relense commented on #465
Hey, Im using the 1.9.7 version of react modal.
There are no console log everything looks fine.
This happens after I use react-file-reader-input. After the user chooses a foto it should trigger the onChange function. But for some reason in ie 11 doesn't do anything.

[2017-08-02 10:11] denisftw commented on #466
Hi @jameskraus

Yeah, that's pretty annoying.

I stumbled upon the same issue recently after replacing a regular `textarea` with a Draft.JS component in my modal dialogs. I wonder if you know how to solve it. I was thinking of catching overlay clicks, but apparently `react-modal` doesn't currently provide this callback.

[2017-08-02 10:37] denisftw commented on #466
This is probably related #383

[2017-08-03 15:06] shapiromatron commented on #314
Hi @claydiffrient, the example you point to is incomplete, right? Don't you need to add a keyboard event listener to the ExampleApp component to trigger the ``handleCloseModal`` event?

[code]

[2017-08-03 15:35] rplotkin opened #468 "parentSelector does not cause DOM update"
Really, the issue is that the parentSelector will not cause a DOM update if the modal is not open when the parentSelector is changed. In componentWillReceiveProps,
[code]
which means that, if the component is closed, newParent becomes currentParent in this cycle, and then the equality check is always true, even though the component did not get moved.

[2017-08-03 16:58] eriksson-daniel opened #469 "onClick won't fire when enter is pressed in IE10/11"
### Summary:
Probably a duplicate of #384 and #261.

In IE10 and IE11 the onClick event won't fire when a button is pressed with the enter key. This works fine outside a modal.

### Steps to reproduce:
[code]

### Link to example of issue:
https://codesandbox.io/s/DRxPjN2Mk

[2017-08-03 17:21] diasbruno commented on #468
@rplotkin can you make a small example of for issue?

[2017-08-03 22:07] claydiffrient commented on #314
Shouldn't need to because keyboard listeners are already in place for the
modal. They just call onRequestClose when ESC is pressed.

On Thu, Aug 3, 2017, 9:06 AM Andy Shapiro <notifications@github.com> wrote:

[2017-08-04 00:58] kaiomagalhaes commented on #251
I'm having this issue on IOS, even with the `overflow: hidden` it  scrolls. Any ideas?

[2017-08-06 14:48] kaiomagalhaes commented on #191
I'm facing exactly this same issue but only for IOS. The overflow hidden on the body works just fine for the others platforms though. Does anyone found a good solution that doesn't have backfires like the position going to the top after the modal being opened?

[2017-08-06 15:47] AlecRust commented on #191
@kaiomagalhaes only to use [react-aria-modal](https://github.com/davidtheclark/react-aria-modal) instead.

[2017-08-07 17:52] tansongyang commented on #465
I might be having the same issue. In IE11, I get a syntax error. After some investigation, I found this in `lib/components/Modal.js`:

[code]

You can see that `parentSelector` is an arrow function, which is unsupported in IE11.

I've seen this on versions 2.0.1, 1.9.7, and 1.6.0.

[2017-08-07 18:46] diasbruno commented on #465
@tansongyang Probably a missing transform :(. Can you validate if this happens on versions `2.0.1+`?

[2017-08-07 19:21] tansongyang commented on #465
The issue appears to go away in 2.2.2. Would you like me to check other versions as well?

[2017-08-07 20:55] jrock17 opened #470 "React.createElement: type is invalid"
### Summary:
When upgrading to 2.x, any page with a modal reference throws this error:
`warning.js:36 Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.`

I am using ES5.

### Steps to reproduce:

 1. Upgrade to 2.2.0
 2. Load page with modal

### Expected behavior:
Pages loaded previously wit

[2017-08-07 21:01] diasbruno commented on #465
@relense @tansongyang Awesome. If you have sometime to have a look on this, you can check if versions `2.2.1` is ok, if so, update to the latest version of `react-modal` is the best fix. Versions `1.x.y` should upgrade to version `2.x.y` as well.

@tansongyang Thank you.

[2017-08-08 00:26] diasbruno commented on #470
Hi @jrock17, can you get more info on this errors? Hope you can find more info on the stacktrace...

[2017-08-08 02:51] vidries opened #471 "if i want it move from bottom to top, how can i set this setting ?"
### Summary:

### Steps to reproduce:

 1.
 2.
 3.

### Expected behavior:

### Link to example of issue:

### Additional notes:

[2017-08-08 09:28] relense commented on #465
Thanks all for the help, even with the update it didnt work. Ill try something else. If I solve it, ill comment here

[2017-08-08 12:15] diasbruno commented on #465
@relense You can check if there is any cache on npm or something (after the update) or if you can get a small example showing the issue it would help.

[2017-08-08 12:18] lbelinsk opened #472 "Refs Must Have Owner Warning"
### Summary:
I upgraded from version 1.6.5 to 2.2.0 and started to see get this error described here:
https://facebook.github.io/react/warnings/refs-must-have-owner.html

### Steps to reproduce:

 1. Use version 2.2.0 of react-modal.
 2. Create an app with modal and another component to be rendered to the dom.
 3. add ref prop on the additional component

### Expected behavior:
App should work the

[2017-08-08 15:38] tansongyang commented on #465
@diasbruno 2.2.1 works for me as well.

[2017-08-08 17:29] gbishop opened #473 "How to prevent key events from propagating?"
### Summary:

When I use the keyboard to control components inside the modal the keyevents are propagating to the underlying page. How can I prevent that? The modal nicely inhibits mouse events, I want to also inhibit keyboard events as well.

Can you suggest a way?

[2017-08-08 18:31] gbishop commented on #473
On further reflection I see this is really hard if not impossible because the event listeners are bound on the document. Instead, I've made a tiny change to my page controls to have them ignore key events when the modal is open.

I'm closing the issue.

[2017-08-08 18:31] #473 closed

[2017-08-08 20:01] diasbruno commented on #465
@tansongyang Thank you!

[2017-08-10 08:51] tsmirnov commented on #466
It seems, it worked well before. [Example from official documentation](https://reactcommunity.org/react-modal/examples/on_request_close.html) uses version 1.6.2.
Here is the same example, but with version 2.2.2:
https://codesandbox.io/s/9rkADGWz
As you can see, if you select text in the window and mouseUp out, the window will be closed

[2017-08-10 09:13] tsmirnov commented on #466
Guys, if someone is annoyed by this issue, you can rollback to v1.6.2. That was a solution for me

[2017-08-10 10:24] denisftw commented on #466
Hi @tsmirnov

Indeed, 1.6.5 works!

What's interesting is that #217 says this:

Sounds like the original idea was not to close the modal, but this is exactly what's happening.

[2017-08-10 11:55] diasbruno commented on #466
@tsmirnov Thank you for tracking down the issue.

@tsmirnov @denisftw There is a test for this behavior, kinda weird we have a regression on this? Any extra information about this (browser version...)?

[2017-08-10 11:59] tsmirnov commented on #466
@diasbruno I am on Mac.
Chrome Version 60.0.3112.78
Safari Version 10.0.3 (12602.4.8)

But I don't think this is related to browser version. All people in my office experience that issue.

[2017-08-10 12:19] diasbruno commented on #466
@tsmirnov ok.

[2017-08-10 14:13] tsmirnov commented on #466
@diasbruno I created pull request with the fix. When it can be added to release package?

[2017-08-10 17:32] diasbruno commented on #466
@tsmirnov Awesome. It looks good. We have some PRs to merge too, so later I'll release a new version.

[2017-08-10 20:02] jakepeyser opened #476 "React v16-beta upgrade - componentWillUnmount error"
### Summary:
The `Modal` component is throwing an error in `componentWillUnmount` after upgrading React to v16-beta.

### Steps to reproduce:

 1. Upgrade React to `@next`
 2. Use the `Modal` component as before.
 3. Remove the containing component from the DOM and the error will occur

![image](https://user-images.githubusercontent.com/1534503/29189496-c8c1a5fc-7de4-11e7-9fe8-71afaa820d71.png)

#

[2017-08-10 20:13] diasbruno commented on #476
Hi @jakepeyser #474 is available. A new version will be available today.

[2017-08-10 20:16] jakepeyser commented on #476
Brilliant. Thanks @diasbruno

[2017-08-10 21:35] luccasmaso commented on #472
I have the same problem with a custom modal using the "portal" approach. How should I deal with components rendered inside modal that contains `refs`?

[2017-08-10 22:14] #476 closed

[2017-08-10 22:30] diasbruno commented on #476
Released `v2.2.3`.

[2017-08-10 22:35] diasbruno commented on #472
@luccasmaso You can use the refs callback style:

[code]

[2017-08-10 22:51] lbelinsk commented on #472
@diasbruno in my case I am using a third party (react-datepikcer) which doesn't use refs callback style.

I can do a pr there, but I think this problem would just continue to hunt us in the future.
Can you think of a solution in react-modal that will allow us to use the refs in other components (not with callback style) alongside react-modal?

[2017-08-10 22:56] diasbruno commented on #472
Hi @lbelinsk, PRs are always welcome.
Can you write a simple application showing what is happening?

[2017-08-10 22:57] diasbruno commented on #471
@vidries You mean the animation of the modal? You can control it with some css.

[2017-08-11 07:38] priyankaihealthlabs commented on #106
Hi Guys, recently I encountered similar issue when I wanted to clear form fields when a modal closes.
Before(Problem) : pass visible true/false in the modal component to show/hide the modal
After(Solved the problem): mount and unmount the modal based on true/false state value

eg: instead of
`<Modal visible={this.state.visible}> blah blah</Modal>`

do this
`{
(this.state.visible) ? <Modal visible=

[2017-08-14 12:39] #466 closed

[2017-08-14 13:01] diasbruno commented on #466
@jameskraus A fix is available on `v2.2.4`.

[2017-08-14 14:07] denisftw commented on #466
@diasbruno Awesome! I've just updated the package and can testify that it works perfectly :+1:

Thanks @tsmirnov and @diasbruno !

[2017-08-14 14:56] diasbruno opened #477 "Improve releases and changelog."
I would be nice to have the changelog on each version to better track was has changed between releases.

[2017-08-15 15:26] OliverJAsh opened #478 "How to get reference to overlay element"
I need to get a reference to the overlay element, as I have enabled scrolling and this needs to be reset when navigating between routes (`scrollTop = 0`).

I am currently accessing this via `reactModalRef.portal.overlay`. Is this the recommended solution?

[2017-08-16 12:25] yakirsobelman commented on #334
@Grsmto  and @nckblu I also gave it a try, this worked for me:

`.ReactModal__Overlay {
    background-color: rebeccapurple;
  opacity: 0;
}

 .ReactModal__Overlay--after-open {
    opacity: 1;
   transition: opacity 200ms ease-in-out;
  }

.ReactModal__Overlay--before-close {
    opacity: 0;
  }`

Notice that the difference from @nckblu code is that the transition property is set on the `--after-

[2017-08-16 20:31] bluSCALE4 opened #479 "Make contentLabel optional"
According to the ARIA spec, "If the label text is visible on screen, authors SHOULD use aria-labelledby and SHOULD NOT use aria-label." With that said, since the contentLabel uses aria-label, it shouldn't be required since ideally, if the label is visible on the page, then an id to that element should be provided to aria-labelledby.

https://www.w3.org/TR/wai-aria/states_and_properties#aria-label

[2017-08-17 08:46] Nileff opened #481 "Add props for disable close on ESC key"

[2017-08-18 16:12] eduardobc commented on #470
You need put .default for use it.
`Modal = (require 'react-modal').default`

[2017-08-18 19:33] tjones0808 opened #482 "Has anyone been able to implement modal with a drag and drop library?"
I'm trying to open a modal after i've started dragging my object. as soon i do, the drag disappears and modal kills  it seems.

Anyone have any luck with this?

looking for something like this (https://tympanus.net/Development/DragDropInteractions/modal.html)

[2017-08-18 22:33] wgottschalk commented on #369
I'm having the same problem `position: fixed` doesn't solve the problem when:
a user scrolls halfway down a long page
opens then modal
closes the modal

applying `position: fixed` in this case will cause the user to scroll to the top of the page.
Our resolution is to track the scroll position on each modal that we use with

`window.scrollY` and `window.scrollTo(0, y)`
perhaps there's a way to dry

[2017-08-19 17:06] #482 closed

[2017-08-19 18:38] dzek69 commented on #482
If you managed to find a solution - maybe share it?

[2017-08-20 23:17] tjones0808 commented on #482
solution for me was to call a setTimeout with 0 ms before opening react modal. This allowed ReactDND to do its thing and catchup.

[2017-08-22 15:16] spen commented on #481
I'd be happy to dig in and submit a PR if this would be a welcomed change :)

[2017-08-22 16:27] sontek opened #483 "How do I find out what changed?"
I'm currently on 2.2.2  and I see 2.2.4 is released, but in the changelog it shows that there was nothing new between the versions.   Should I be looking somewhere other than here:

https://raw.githubusercontent.com/reactjs/react-modal/master/CHANGELOG.md

For information on the changes?

[2017-08-22 18:53] diasbruno commented on #483
@sontek Actually, the changelog generator is broken. You can see what changed in [react-modal/commits](https://github.com/reactjs/react-modal/commits/master).
But thanks for remind me that I need to fix this. :)

[2017-08-22 18:57] diasbruno commented on #483
Related to #477.

[2017-08-23 08:56] maschwenk opened #484 "React Fiber support"
It appears that this library is not compatible with React Fiber. It is using some deprecated/removed React API's. Are there any plans in place to get start this work? Curious how much work is involved.

https://github.com/facebook/react/issues/10294#issuecomment-318210497

[2017-08-23 12:27] diasbruno commented on #484
@maschwenk Yeah, that's for sure. Thanks for the link and PRs are always welcome.

[2017-08-23 13:36] clobo-nativapps opened #485 "Internet Explorer Support"
I'm currently working on a project that requires us to support IE. I want to use this library for the modals but I didn't find anything about the browser support.

Does this library support IE9+?

[2017-08-23 13:42] diasbruno commented on #485
@clobo-nativapps There is an issue with some releases of `react-modal` due to some missing transforms (babel).

You can follow #465 for more information.

[2017-08-23 13:43] diasbruno commented on #485
I'm tagging this as duplicated so we can discuss this on #465.
Thank you.

[2017-08-23 13:43] #485 closed

[2017-08-23 17:08] maschwenk commented on #484
Initial investigation shows that we need to replace `unstable_renderSubtreeIntoContainer` with `unstable_createPortal`. React maintainer details it here: https://github.com/facebook/react/issues/9808#issuecomment-308085984 and provided this fiddle https://jsfiddle.net/r442t0mk/

[2017-08-24 08:33] jseminck commented on #334
Would there be any interesting building this into the API? A new prop named `easeTransitionTimeMs` (or something) which sets this CSS?

[2017-08-25 13:32] OliverJAsh opened #486 "Focus escapes to body when focussed element is removed from DOM"
### Summary:

### Steps to reproduce:

 1. Focus an element inside the modal (e.g. a link)
 2. Remove it from the DOM (e.g. when the link is clicked, the modal contents re-render to the new route)
 3. Press escape

### Expected behavior:

The modal should call `onRequestClose`, but it doesn't. The active element is the body.

### Link to example of issue:
https://jsfiddle.net/ufgse6np/5/embedded/r

[2017-08-25 13:38] OliverJAsh commented on #486
My workaround:

[code]

[2017-08-28 03:04] asdcdow opened #489 "onRequestClose doesn't appear to work correctly"
Based on the the documentation, it sounds like `onRequestClose` is supposed to be called anytime the modal is closed.  However, it appears to be called any time the overlay is clicked and it is never called when the `isOpen` prop changes from `true` to `false`.

[Here](https://codepen.io/anon/pen/VzEYOO) is code example.  If you click on the overlay, you will end up `Close handled` in the console,

[2017-08-28 13:09] diasbruno commented on #489
@asdcdow `onRequestClose` is also intended to be called from the `overlay` (so you can decide if the modal should close or not)...and this function is responsible to change the state for the modal.

[code]

[2017-08-28 14:42] sandys commented on #484
we are also getting impacted by this issue.

[2017-08-28 17:53] nathanziarek commented on #471
I would love to see an example of this. I've been trying to use `<ReactCSSTransitionGroup>` (or whatever it's being called this week) to no-effect. Based on the props available, I don't see how it's possible to fade in the overlay while moving the modal into position.

[2017-08-28 18:11] asdcdow commented on #489
In that case, you may want to change the documentation [here](https://reactcommunity.org/react-modal/#general-usage).  The description makes it sound like whatever is passed to on `onRequestClose` will be called right before the modal closes (no matter what triggers the closing).  However, really it is called whenever the overlay is clicked (whether that will trigger a close or not).  I would argu

[2017-08-28 22:15] diasbruno commented on #489
@asdcdow Oh that's right. We probably broke something.

[2017-08-29 01:40] cycomachead commented on #479
While a more complex validation, I would support something that's either aria-labelledby OR contentLabel is required. I'm migration some existing modals to use the-modal, and this what I'll be implementing on our wrapper component.

[2017-08-31 14:04] ttbarnes commented on #359
Really great insights everyone, thank you so much.

For anyone else like me stumbling across the issue....

RE allowing the modal to be read out by screenreaders/voiceover, whilst the body has `aria-hidden="true"`, with the currently latest version (2.2.4):

Nothing suggested was working for me, I was probably doing something wrong. I tried `Modal.setAppElement()`, `role="dialog"`, `aria-modal`,

[2017-09-01 17:24] ramusus commented on #462
I'm also interested how to solve it.

[2017-09-01 18:02] imadha commented on #306
Hi there, I'm an FE infra engineer at @SlackHQ, and we've definitely run into this problem! We use `react-modal` to render popovers and tooltips, and unfortunately, it takes focus away from our main text input.

I submitted a PR #490 for this and it seems like an easy solution, just adds a prop `shouldFocusAfterRender` that defaults to `true`.

Appreciate the hard work, and any feedback.  🙏

[2017-09-05 17:48] mmiller42 commented on #362
@frodehansen2 Could you elaborate on how to solve this? We're getting this issue when using react-modal on a React universal (server-side rendering) setup, I'm guessing it's because the component needs access to the DOM and it doesn't exist.

[2017-09-05 18:10] frodehansen2 commented on #362
I don't remember exactly what we had been doing wrong, but after an update and some changes, the error went away.

[2017-09-05 19:14] #306 closed

[2017-09-06 08:33] nickcampbell18 opened #491 "Changelog error"
### Summary:

I think the script which generates your changelog is broken, as the newest version has two entries for v2.2.4 without any detail inside: https://github.com/reactjs/react-modal/blob/57e9316ff343281967b395255b8e478ac98a0b37/CHANGELOG.md.

I was going to submit a pull request, but I suspect you have a mechanism to do this automatically!

[2017-09-06 11:53] diasbruno commented on #491
You can follow #477 and #483. Yeah, I just didn't have the time to fix it.
Hope I can fix this week.

[2017-09-06 11:53] #491 closed

[2017-09-06 11:56] diasbruno commented on #491
@nickcampbell18 If you want to have a look on this, it's a simple python script in `scripts/changelog.py`.

[2017-09-06 12:21] #477 closed

[2017-09-06 12:24] diasbruno commented on #483
@sontek I've regenerated the changelog. Thanks.

[2017-09-06 12:24] #483 closed

[2017-09-06 12:28] diasbruno commented on #491
I've regenerated the changelog. I think the problem is when the `publish` task fails, it will leave some artifacts behind. So it needs a proper way to `clean` after it fails.

[2017-09-06 14:50] httpete-ire opened #494 "file input ref triggering multiple times"
### Summary:

When a ref is set on a file input within a modal, triggering the click on the ref from another handler causes the original handler to get called several times (3 in most cases).

### Steps to reproduce:

In example below:

 1. Open modal
 2. Click on `Open file dialog` button
 3. Inspect console to see result
 4. Clicking  on `Open file dialog` button on the page will only trigger th

[2017-09-06 18:04] #470 closed

[2017-09-07 01:52] cycomachead commented on #359
Sigh....I just wasted a couple days before finding this. I was totally confused about how to use the app element - and now I get this a bit more, but Marcy Sutton is right that there should just be a way to apply it to all sibling elements.

If react-modal didn't assume there should only be 1 "app element", you could probably get the correct behavior by using querySelectorAll and `body > :not(.mod

[2017-09-07 15:01] gustavopch commented on #489
`onRequestClose` is also called when ESC is pressed, so it's not only a callback for the overlay.

@asdcdow I think `onRequestClose` is pretty appropriate. The modal only speaks for itself. If you change `isOpen` from the outside, then it's not the modal itself requesting to close, therefore the modal shouldn't request anything.

[2017-09-08 02:03] cycomachead opened #496 "ARIA Attributes Not Appearing?"
### Summary:
When I have a Modal Component, I can't seem to pass aria props that work properly.

[code]

### Steps to reproduce:

 1. Use the `aria` prop
 2. That's it. :)

### Expected behavior:
You should see aria-* attributes when you inspect an open modal element, but I don't see any.

### Link to example of issue:
https://codesandbox.io/s/lxm760yoj9

### Additional notes:
I've tried all combo

[2017-09-08 02:22] diasbruno commented on #496
Hi @cycomachead, `aria` attribute is available on version `v2.2+`.

[2017-09-08 03:59] cycomachead commented on #496
Ah, sorry, I should have added, I'm using the latest version. (I didn't realize code sandbox wasn't updated, but it should be now.) Even after updating I cannot see the right attributes.

[2017-09-08 04:31] diasbruno commented on #496
Hm, probably we need a reminder to update the sandbox. I forked your sandbox and just updated to the latest version (v2.3.2) and it seems to be working. https://codesandbox.io/s/lxm760yoj9
Is it not adding all the attributes or just a specific one?

[2017-09-08 12:23] diasbruno commented on #496
@cycomachead I'll close this issue and If there is something more specific about this, you can open a new issue. Thanks!

[2017-09-08 12:23] #496 closed

[2017-09-09 04:06] testerez opened #497 "Default export is not working with typescript"
### Summary:

With typescript, if I import with `import ReactModal from 'react-modal';` then `ReactModal` in undefined. It usually means that the module has no default export.
`import * as ReactModal from 'react-modal';` works but does not satisfy the definitions from  `@types/react-modal@2.2.1`

### Steps to reproduce:

 1.
test.ts
[code]
 2.
`ts-node test.ts`

### Expected behavior:
Should log a

[2017-09-09 13:05] diasbruno commented on #497
@testerez we have recently release a patch for fix the imports. Can you check if this happens on latest version?

[2017-09-09 14:08] testerez commented on #497
Tested with version 2.3.2 which seems to be the latests.

[2017-09-09 14:20] diasbruno commented on #497
Is it still failing?

[2017-09-09 14:26] diasbruno commented on #497
[.babelrc#L4](https://github.com/reactjs/react-modal/blob/master/.babelrc#L4) This was recently added. It shouldn't cause any conflict, but you can try to remove it and see if it helps...

[2017-09-15 07:11] MikeMolIS commented on #497
I have the same problem. I tried:

It dit not help.
I am using typescript with the versions:
"react": "15.4.2",
"types/react": "15.0.38",
"react-modal": "2.3.2",
"types/react-modal": "2.2.1",

my code looks like this:
`import ReactModal from 'react-modal';`

`<ReactModal isOpen={true} contentLabel='Hello world'>
     <p>Hello World</p>
</ReactModal>`

The error I get is:

When I use: `import * as

[2017-09-15 12:11] diasbruno commented on #497
@MikeMolIS Perhaps, the `types/react-modal` to keep sync with new releases (?). I understand how the type provider works, but I'm not familiar with this repo. Can you post the links to this repo?

[2017-09-15 12:50] testerez commented on #497
Here it is: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-modal/index.d.ts
But the definitions does not change anything to the output. They just help giving warnings if the typing is incorrect. Be aware that babel does some magic with the imports:
`import foo from 'foo'` means that you import the default export of 'foo'. If foo has no default export `foo` should be und

[2017-09-16 14:20] httpete-ire commented on #494
bump

[2017-09-16 14:36] diasbruno commented on #494
Hi @httpete-ire, this is really weird. You can try to `E.stopPropagation()` or `E.preventDefault()` on `openFileDialog(E)`.

[2017-09-16 14:46] httpete-ire commented on #494
@diasbruno Thanks for getting back to me. I have tried these and the issue is still present. Have updated the example to include `stopPropagation` call.

I'd be happy to try debug the issue if you wouldnt mind pointing me in the right direction

[2017-09-16 14:50] diasbruno commented on #494
Sure. You can follow the paths triggered when `open` and `close` the modal. Perhaps, a `click` event is been propagating from the modal to the file input.

[2017-09-18 08:36] amannn opened #498 "React 16 compatibility"
### Summary:

I looked around in the issue tracker but couldn't find an existing issue. As React 16 is right around the corner, maybe it's time to prepare a PR that adds support for it?

It looks like at least the [call to `unstable_renderSubtreeIntoContainer`](https://github.com/reactjs/react-modal/blob/f007aeb7336bc8a47bb6b8c7919ed3a077fbd87d/src/components/Modal.js#L11) should be updated as the

[2017-09-18 11:31] vadimshvetsov commented on #369
I've tested a lightweight workaround, while it's not inside react-modal package, may be it could help someone.

[code]

I like to move this logic inside static methods, but you could place it as described before. Tested with almost all accessible iOS devices within SimulatorApp.

[2017-09-18 12:12] diasbruno commented on #498
Hey @amannn. I think I'll join this issue and #484, since both refers  `unstable_renderSubtreeIntoContainer` as a main problem.

Right now, I'm mostly moderating the repo (currently, I don't have much time to get some real work here) and trying to answer as many questions as I can.

If you have time, you can start a PR and I can provide some assistance.

[2017-09-18 12:18] diasbruno commented on #484
@maschwenk @sandys I'll merge this issue with @amannn's issue #498 to tackle this. Perhaps, we can open a project and make a roadmap for the next version.

[2017-09-18 12:26] amannn commented on #498
Hey @diasbruno. Oh, I was searching with an issue with "16" in the name, therefore I didn't find the other issue – sorry.

Sure, I can make an initial PR.

Feel free to close this issue, as apparently it's redundant.

[2017-09-18 12:43] diasbruno commented on #498
I think they are related. I guess we can merge both issues and go for a "major" improvement in `react-modal`. I think it's time to open a new roadmap.

[2017-09-18 14:01] amannn commented on #498
I just had a look at the code base and it seems like there are quite a few linting errors. I think those should probably be cleaned up first (e.g. expecting `ReactDOM.render` to return a reference to the top level component instance). Maybe somebody more familiar with the code base wants to do that?

From there it should be pretty easy to add React 16 support I guess.

[2017-09-18 21:43] diasbruno commented on #498
We don't need to worry with linting the tests scripts unless this can be something that can compromise the test suite.

[2017-09-18 21:48] diasbruno commented on #489
@shivashp has updated the documentation (thanks). Requesting your approvals, @asdcdow and @gustavopch, to close this issue.

[2017-09-18 23:57] diasbruno commented on #486
@OliverJAsh This is an interesting case. Probably the best way to deal with this is to provide a method so the user can call to give focus back to the modal (inspired by you solution and probably better then expose the focusable api [helpers/focusManager.js](https://github.com/reactjs/react-modal/blob/master/src/helpers/focusManager.js)).

[code]

Any thoughts?

[2017-09-19 00:02] diasbruno commented on #455
Closing this for now. Please, feel free to reopen if needed.

[2017-09-19 00:02] #455 closed

[2017-09-19 00:30] gustavopch commented on #489
@diasbruno I think the docs are pretty clear now.

[2017-09-19 01:22] asdcdow commented on #489
Thanks for making the usage clearer

[2017-09-19 01:22] #489 closed

[2017-09-19 02:48] KyleJSummers opened #499 "Modal content failing to update properly with React Router"
### Summary:
I'm trying to do routing within a react-modal modal using React Router. I noticed an issue where route-based content requires two clicks of a link to display when rendered in a react-modal modal. To clarify what I mean by this, please check out the following example where I've isolated the pieces to a minimal to reproduce it.

https://codesandbox.io/s/yvnkj1zvzj

### Steps to reproduc

[2017-09-19 06:26] amannn commented on #498
Well there are for example linting errors warning about deprecated APIs
like `ReactDOM.render` returning a reference. These will throw with an
upgrade to React 16. I thought maybe its a good idea to split this in 2
PRs: resolving those errors and the upgrade itself so it might be easier to
review.

On Mon, Sep 18, 2017, 11:43 PM Bruno Dias <notifications@github.com> wrote:

--
Wiesenrainstraße 15

[2017-09-19 08:11] OliverJAsh commented on #486
Ideally this would be handled by the component so consumers don't have to manually manage the focus. Is there any way in your mind to do this? I know the removed element will fire a `blur` event—is that something we could use?

[2017-09-19 12:27] diasbruno commented on #486
I don't think there is something we can on the modal side. If we try to refocus on blur, we may fall into some problems like "jump back to the first element" (if removed a `nth` element). Perhaps, it would be better to let the user decide about this and when. We can provide some tools tough.

[2017-09-19 12:29] diasbruno commented on #498
@amannn Fair enough. I'll clear those lint problems.

[2017-09-19 12:32] diasbruno commented on #499
Hi @KyleJSummers, we need to investigate this. An workaround for this is to wrapper the modal in a stateful way, this should guarantee that the modal will rendered.

[2017-09-19 12:35] diasbruno commented on #499
An curious behavior is:

- click on `link 1` (no update)
- click on `link 2` (I does get updated, but with the content of `link 1`)

Doing this will, always require 2 clicks.

[2017-09-19 12:47] OliverJAsh commented on #486
Aha, that makes sense, because focus causes the browser to scroll. In that case, I agree 👍

[2017-09-19 16:36] KyleJSummers commented on #499
@diasbruno thanks. it seems to be one render pass behind, essentially.

[2017-09-19 16:48] diasbruno commented on #499
@KyleJSummers You can check if there is something in `componentWillUpdate()` blocking it.

[2017-09-20 12:23] #479 closed

[2017-09-21 06:41] madeinspace opened #501 "Modal inherits overlay's opacity"
### Summary:

If you set the opacity of the overlay to say .8, all its children will inherit that too including the modal itself

### Expected behavior:

Should be able to set overlay's opacity without affecting the modal window

### Additional notes:

Need to take the modal out of the overlay container

[2017-09-21 10:05] shizpi commented on #499
I have the same issue!
Here's the description in stackoverflow:
https://stackoverflow.com/questions/46338169/react-router-only-updating-after-second-click/46338565

At first I though it was something with my components and containers, then due to react-router, but finally I tracked it down to react-modal.

[2017-09-21 21:51] madeinspace commented on #501
Ignore you can use rgba without affecting the descendant, sorry! closing

[2017-09-21 21:51] #501 closed

[2017-09-23 06:29] diasbruno commented on #499
@shizpi @KyleJSummers If using `react-router@4.2.0`, you can use `Switch`.

[code]

[Example](https://codesandbox.io/s/2xo5yj07mp)

[2017-09-23 15:03] diasbruno commented on #471
@nathanziarek You can try to write an example using our [codesandbox](https://codesandbox.io/s/mgwy6V6E). NOTE: make sure to update the react-modal version. :)

[2017-09-23 15:08] #391 closed

[2017-09-23 15:08] #432 closed

[2017-09-23 16:20] diasbruno commented on #499
The long story...nesting `Route` can get old values from the [react/context](https://facebook.github.io/react/docs/context.html). The reason for this is that `getChildContext()` (actually a provider for the children elements) will be updated after the lifecycle, so it's possible that when `Route` tries to call `computeMatch()`, the context is the old one...but in the render of Route it will be the

[2017-09-23 22:16] timdorr commented on #499
This is a common problem, so we've documented it: https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/guides/blocked-updates.md

Here's a fix for that codesandbox: https://codesandbox.io/s/rjw8o8p4v4

[2017-09-23 22:20] diasbruno commented on #478
Hi @OliverJAsh, that's one way to do it. Maybe it would be helpful if we allow the user to get the refs if needed...something like `overlayRef={fn}` and `contentRef={fn}`. Any thoughts?

[2017-09-23 22:33] diasbruno commented on #499
@timdorr Thank you for the answer.

[2017-09-23 22:55] KyleJSummers commented on #499
Thanks guys. I'm familiar with the blocked updates issue when using react-router, and the workaround shared of explicitly setting the location via the use of `withRouter`, but I thought maybe this was something other than the typical blocked updates issue.

I understand when using a pure component or `connect` that they can block updates because they optimize around changing props, but this felt l

[2017-09-24 00:08] diasbruno commented on #499
@KyleJSummers react-modal will block one update (when the modal is closed and will remain closed).

[2017-09-24 01:32] Miges commented on #391
@diasbruno - sorry, missed your previous comment!  I think the problem was that we had a case where we wanted to distinguish between a dismissal on purpose (e.g. the escape key was hit) vs an accidental dismissal (the user clicked outside the modal)

[2017-09-24 02:01] diasbruno commented on #391
No problem. It makes sense. This seems already implemented, so `onRequestClose` will receive the event. Now, it's just a matter of inspect the `event` object. Feel free to open a new issue if something is still missing.

Thank you, @Miges.

[2017-09-25 19:18] diasbruno commented on #499
Forget my previous comment. I was look at the modal side, which is where the bug is...this really seems to be an issue with `ReactDOM.unstable_renderSubtreeIntoContainer` as you pointed out, @KyleJSummers. I have tried to debug this, but this is a tough one.

For now, this issue will remain open and to fix this, @timdorr example will be the best solution.

For future, we can see if changing `React

[2017-09-25 19:21] timdorr commented on #499
It's just `createPortal` now. They made it official in the last prerelease.

[2017-09-25 23:21] Monte9 commented on #392
@diasbruno your solution works like a charm. 🌟 Thanks a lot for your help!

[2017-09-26 00:34] diasbruno commented on #392
@Monte9 I've updated the example, because it was really bad code. :)

[2017-09-26 03:25] zixuemeng opened #507 "I add react-modal into package.json, but it still cannot find Modal. I don't know that's why"
### Summary:
React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in.
### Steps to reproduce:

 1.
 2.
 3.

### Expected behavior:

### Link to example of issue:

### Additional notes:

[2017-09-26 04:57] #507 closed

[2017-09-26 22:01] rstone770 opened #508 "Remove body class after modal closes."
### Summary:
I think that the body className removal should be moved to afterClose.  The reasoning being, if you are closing via closeTimeoutMS you probably don't want dom clean up to happen before the modal is actually removed from the dom. For example, i use a 'dialog-open' bodyOpenClassName to remove vertical overflow on the body. When i close the modal it transitions out over 250ms. Since body

[2017-09-27 21:12] pleunv commented on #498
I had a quick look because I want to upgrade internally to React 16 and noticed closing of the modal is broken in combination with react-router (can be reproduced in the examples).

The changes necessary to make everything work with portals in r16 are pretty trivial, as you can see in the commit here: https://github.com/CogniStreamer/react-modal/commit/4434c4aac57d91a24d8f1b89e85a41fe2bd2023d

Som

[2017-09-27 23:49] diasbruno commented on #498
@pleunv Thank you so much for this info! I've created a branch called `next`, where we can direct all the necessary stuff for react 16. I've spend sometime doing some refactoring on the tests and examples, and I think we are ready to work. Any other problems we find, we can work on this branch.

It should be a simple "sprint" and people can start using/testing from this branch (`react-modal@next`)

[2017-09-28 05:35] bjbrewster opened #509 "Please remove unused dependency react-dom-factories"
### Summary:

`react-dom-factories` was used in `lib/components/Modal.js` but removed in conversion to ES2015 `src/components/Modal.js`.

### Steps to reproduce:

 1. Search repo for `react-dom-factories`
 2. See it is not used by any source files.

### Expected behavior:

Should not be installed.

### Additional notes:

I realise this dependency is not imported and so is not in dist build or my a

[2017-09-28 08:41] tomasztomys commented on #498
@pleunv which version of react-router are you using? I have 3.2.0 and no problem now.

[2017-09-28 09:19] pleunv commented on #498
You mean 4.2.0?

If you upgrade this repo to `react@16.0.0` and `react-dom@16.0.0`, then run the examples and open the react-router example you'll notice that you can't close the modal anymore after opening it. At least that's what I'm getting both here and in my project, would be weird if you could not reproduce it.

[2017-09-28 12:45] diasbruno commented on #509
Hi @bjbrewster, just give a thumbs up and I'll merge (I couldn't assign you on the PR).

[2017-09-28 13:28] nickhudkins commented on #498
Hey @diasbruno, would love to pitch in here to get React 16 support across the line. looks like `react-modal@next` has done a bunch of the cleanup work in preparation, but didn't want to get in the way of in progress work.

[2017-09-28 15:50] bathos opened #511 "Tabbing with radio fieldsets"
### Summary:

### Steps to reproduce:

 1. Create a modal with a fieldset inside, where the fieldset contains at least two radio inputs and there are no focusable elements after the fieldset in the modal.
 2. Open the modal and attempt using tab to navigate
 3. When focus is within the fieldset, tab will move focus outside the modal. If the modal contained the final focusable element in the DOM, t

[2017-09-28 17:32] diasbruno commented on #498
@pleunv @nickhudkins @amannn @tomasztomys I've started the PR. Appreciate if you can reviews it.

[2017-09-28 19:38] catamphetamine commented on #498
I modified @diasbruno PR to make it compatible with any version of React:
https://github.com/reactjs/react-modal/pull/513
Didn't test it, so if anyone thinks he/she wants to do that then he/she can do that.

[2017-09-28 19:56] diasbruno commented on #498
You can PR you changes to my branch. So we can keep all in one place.

[2017-09-28 20:13] tomasztomys commented on #498
@pleunv no, I mean 3.2.0 :)

[2017-09-29 04:07] bjbrewster commented on #509
Thanks!

[2017-09-29 16:58] wiggitamoo commented on #191
I am also looking for a solution to the position of the parent page scrolling to the top when the modal is opened.

[2017-09-29 17:05] kaiomagalhaes commented on #191
@wiggitamoo I've gone with @AlecRust solution, the other react modal does't have this issue.

[2017-10-01 15:00] #396 closed

[2017-10-01 21:42] folz commented on #117
I experienced this issue just now, but it turned out to be my own fault 😂 I opened the modal with `<a href='#' onClick={this.openModal}>` and I forgot to call `event.preventDefault()` in my onClick handler. The jump-to-top was just the default browser behavior, nothing to do with react-modal at all!

[2017-10-02 11:08] Psvensso commented on #497
The confusing babel output.
[code]
Not using defaults just makes the world a happier place,
without a default people can still just rename the var if needed using:
`import {ReactModal as RModal} from "react-modal"` so the default syntax doesn't add anything.
(Well you can skip two { } i guess).

So the most comfy fix would be to skip the default.
Then it would work for everyone.

Background:
[expo

[2017-10-02 17:05] Jayflux commented on #498
Just saw https://github.com/reactjs/react-modal/pull/513 and it looks like the react 16 fix is being rolled into version 3.0.0
Do you know what the ETA on 3.0.0 is? As this is the only module holding us up from migrating to React 16 (and i'm guessing many others to 😃 )

[2017-10-03 13:18] tino-junge commented on #509
Thanks for fixing this @diasbruno ! Any plans when the next npm release for `react-modal` is planned?

[2017-10-03 20:11] haydencarlson opened #514 "[BUG] WebkitFilter"
### Summary:
[code]
This definitely is coming from this package.
### Steps to reproduce:

 1. Check console.

### Expected behavior:
No error use `WebkitFilter`
### Link to example of issue:
Don't think this is needed.

### Additional notes:
Using react 15.6.1
Is this happening to anyone else?

[2017-10-03 22:01] phiresky commented on #498
I'm too impatient so I made https://github.com/phiresky/react-modal which is just v2.3.2 with #513 applied and built. If you're lazy and use react 16 too you can change your dependency to `"react-modal": "phiresky/react-modal"` until this is fixed here.

[2017-10-04 05:01] diasbruno commented on #509
Released `v2.3.3`. Sorry for taking so long.

[2017-10-04 06:48] uwolfer commented on #476
In my case, `ReactModalPortal` DOM elements are leaked due to this. When `this.portal` is undefined, things do not get cleaned up. This can be reproduced in my case with React 16 only - it works fine with React 15.x. Can you please check your DOM and see if things get cleaned up?

[2017-10-04 07:04] tobiloeb opened #515 "Drag stop (mouseup) on Overlay closes Modal"
### Summary:
I'v seen some other issues that was marked as resolved, but I can reproduce this Issue in current version 2.3.3. In case I stop dragging on the overlay, the modal is closing. I have added an example: https://codesandbox.io/s/1r60668vm7

### Steps to reproduce:

 1. Open the modal in the example.
 2. Drag the slider around and move it outside of the modal.
 3. Stop dragging (mouseup) o

[2017-10-04 07:13] diasbruno commented on #498
`react-modal@3.0.0-alpha` is available.

Version `2.3.3` is the stable version and can be installed with `react-modal@latest`.

To use the compatible version with React 16, you can install by running `npm install react-modal@next`.

[2017-10-04 07:18] diasbruno commented on #476
@uwolfer `react-modal@3.0.0-alpha` is available now. Let me know if this still happens.

To install, use `npm install react-modal@next`.

[2017-10-04 07:39] diasbruno commented on #484
`react-modal@3.0.0-alpha` is available.

Version `2.3.3` is the stable version and can be installed with `react-modal@latest`.

To use the compatible version with React 16, you can install by running `npm install react-modal@next`.

[2017-10-04 08:32] uwolfer commented on #476
@diasbruno: Thank you, this fixes my issue.

[2017-10-04 13:53] diasbruno commented on #498
Released `v3.0.0-rc1` to fix a conditional `canUseDOM` to work on server-side.

[2017-10-04 14:21] plemarquand commented on #498
@diasbruno Does `3.0.0` currently support React 16 or just the `next` branch?

[2017-10-04 14:50] diasbruno commented on #498
The branch `next` is our "master" for react 16 support and all `rc` tags will be created from it. Once it become stable, it will be merged into `master`.

[2017-10-04 14:52] diasbruno commented on #498
If installed with `react-modal@next`, npm/yarn will download the latest tag of `v3.0.0-rcN`. See `npm help dist-tags`.

[2017-10-04 16:39] diasbruno commented on #515
@tobiloeb This issue is valid. Tested on safari and chrome, only on chrome this bug shows up.

[2017-10-04 16:58] haydencarlson opened #517 "CSS warning - Unable to locate source of warning"
### Summary:
Ok so I've removed react-modal component from rendering and this warning goes away but anytime it's included in my project it throws it.

It's just a nuisance. I've tried finding where it comes from but can't locate it in the package.
### Steps to reproduce:
Installed -> render react-modal ->
[code]
### Expected behavior:
No warning.

[2017-10-04 17:03] diasbruno commented on #517
@haydencarlson Can you provide more information about this, like are you using style attribute or a class with pith property?

[2017-10-04 17:09] haydencarlson commented on #517
@diasbruno
`Version 2.3.2`
[code]

[code]

I'm using the style attribute and this is how i'm rendering it with those exact styles.

[2017-10-04 17:19] haydencarlson commented on #517
I just updated to 2.3.3 with no change.

[2017-10-04 17:21] diasbruno commented on #517
This should be ok. Are you doing some image processing or do you have any scripts to apply filters or a css class with 'filter' property?

[2017-10-04 17:25] haydencarlson commented on #517
No I'm not.
I guess I should have mentioned this is a react on rails project, this could have something to do with the asset pipeline maybe?

[2017-10-04 20:05] diasbruno commented on #517
@haydencarlson Maybe...Perhaps, you can check if any other dependency has something to do with filters.

Since it doesn't seems to be related to react-modal, I'll mark as `wontfix`, for now. Please, feel free to reopen if you find something.

Thank you.

[2017-10-04 20:05] #517 closed

[2017-10-04 21:29] merlinpatt commented on #484
Why use `unstable_createPortal`? Why not use `ReactDOM.createPortal`?

https://egghead.io/lessons/react-render-elements-outside-the-current-react-tree-using-portals-in-react-16

[2017-10-04 21:59] #514 closed

[2017-10-04 22:33] diasbruno commented on #484
@merlinpatt I think this was before `createPortal` got in the API.

[2017-10-05 14:27] diasbruno commented on #515
@mrsilver256 opened a PR to fix it and it's on review.

[2017-10-06 01:53] diasbruno commented on #511
@bathos Check it out #521. It is a very sketch implementation and I'll refactor it before merge. Can you help me validate if this is the correct TAB behavior?

[2017-10-06 02:35] fabiancook commented on #462
Hi,

It appears that there is internal state on the component that prevents onRequestClose to be invoked.

As soon as any content is click on within the modal it prevents it.

If your content is full screen, then your modal would never close as it is being prevented on mouse down.

I have a feeling that it shouldn't be part of the `react-modal` component, and it should just have the `onClick` on t

[2017-10-06 14:17] #515 closed

[2017-10-06 14:20] diasbruno commented on #515
@tobiloeb The fix will be release as `2.4.1`, so if you have updated to `v3` RC, you will have to wait a little more, but I'll make a forward port to `v3`.

[2017-10-06 16:41] diasbruno commented on #498
Released official v3.0.

[2017-10-06 16:45] diasbruno commented on #484
Released official v3.0.0.

You can follow #498 for more information.

Thank you all.

[2017-10-06 16:45] #484 closed

[2017-10-06 17:39] dlong500 opened #522 "Changelog generation may be broken again?"
It looks like there is something up with the changelog again, as it was "updated" in the 3.0 release but only shows a duplicate `v2.4.1` instead of having a proper `v3.0.0` section.  Did the fix back in September somehow not make it into the `next` branch?

[2017-10-06 17:48] quachsimon commented on #522
Jumping on the topic as well. Can we easily update to this new version? Are there breaking changes? I could not find any change logs from migrating to v3.0.0?

[2017-10-06 17:53] diasbruno commented on #522
@quachsimon No, there are no breaking changes. The major version bump was just to make where the support for React 16 is available.

@dlong500 I'll fix the changelog, I don't know yet if it's a bug or regression.

[2017-10-06 23:56] catamphetamine opened #523 "DOM elements not cleaning up upon <Modal/> close"
I can see with 3.0.0 that DOM nodes are leaking.

Each time I open and close the same modal (using the same button) it creates a new DOM node with is not being recollected after the modal closes.

![image](https://user-images.githubusercontent.com/477167/31302514-fc4efac0-ab0a-11e7-80eb-6c97383661cf.png)

[2017-10-06 23:59] catamphetamine commented on #523
Wow, this is really a bug in my code.
Nvm.
Closing.

[2017-10-06 23:59] #523 closed

[2017-10-07 00:33] diasbruno commented on #523
Thanks, god. Is everything good so far?

[2017-10-07 00:34] catamphetamine commented on #523
Ha ha. Yeah)

[2017-10-07 22:24] kennykaye opened #526 "Production build throws ReferenceError."
### Summary:
When running react modal in production, `ModalPortal` throws a `ReferenceError` due to incorrect `PropTypes` import. `PropTypes` should be imported as a default import and not a named import.

### Steps to reproduce:

 1. Create a sample project that depends on react-modal.
 2. Set `process.env.NODE_ENV` to "production".
 3. Load application.

### Expected behavior:
react-modal should

[2017-10-08 14:26] VitaliyInshakov opened #528 "Problem with modal window in IE9"
Hi! I have error when i want open modal window in my react project in IE9

inside function:
function add(bodyClass) {
  // Increment class(es) on refCount tracker and add class(es) to body
  bodyClass.split(' ').map(refCount.add).forEach(function (className) {
    return document.body.classList.add(className);
  });
}

[2017-10-08 15:34] diasbruno commented on #528
Hi @VitaliyInshakov, which version of `react-modal` you found this bug?

[2017-10-08 15:41] VitaliyInshakov commented on #528
v.2.3.2

[2017-10-08 15:53] diasbruno commented on #528
Hm, `classList` is not available on `IE10-`. You can use a polyfill for it like [github:yola/classlist-polyfill](https://github.com/yola/classlist-polyfill).

[2017-10-08 15:58] #526 closed

[2017-10-09 15:59] Kerumen opened #530 "v3 don't respect `closeTimeoutMS` on unmount anymore"
### Summary:

Before the React 16 compatibility, we were able to unmount the modal with an animation. It's not possible anymore with the `v3`.

### Steps to reproduce:

 1. Add a `<Modal />` with `closeTimeoutMS={200}`
 2. Tweak the CSS to display an open and a close animation
 3. Mount/unmount the modal

### Expected behavior:

The Modal should unmount with an animation.

### Link to example of i

[2017-10-09 16:23] diasbruno commented on #530
Hi @Kerumen, prefer to using `isOpen` instead of conditional render for modal for now. Need to check when modal is forcible unmounted case.

[2017-10-09 16:25] Kerumen commented on #530
Yes I know. In my case I can't really use `isOpen`.
And as it used to work, I report this as a regression. :)

[2017-10-09 16:37] diasbruno commented on #530
On `src/components/Modal.js` there is a `setTimeout`. Can you dig in a little bit (if you have time)?

[2017-10-09 16:54] Kerumen commented on #530
I tried but no luck. Event with the line commented out the modal seems to unmount instantly.
Maybe this is a change on how React handle `willUnmount`?

[2017-10-09 16:59] diasbruno commented on #530
Possibly. I'll try something this evening.

[2017-10-11 00:15] B-Reif opened #531 "ModalPortal not being cleaned up after componentWillReceiveProps"
### Summary:
In my codebase, react-modal leaves behind its current `ModalPortal` element after receiving new props. It creates a new portal with the new data as expected, but it does not clean up the old ModalPortal element.

### Steps to reproduce:
I've tried to reproduce the behavior in a Codepen and in a separate demo app, but I couldn't reproduce the issue. I only encounter the issue in an (un

[2017-10-11 21:34] diasbruno commented on #522
The issue is sometimes I release a version on the machine (home or at office) and the repository has some missing tags. This confuses the changelog generator.

I'll be more careful on the next releases.

[2017-10-11 21:34] #522 closed

[2017-10-11 21:38] diasbruno commented on #522
CHANGELOG was updated. Thanks!

[2017-10-11 22:49] #481 closed

[2017-10-12 15:06] vorpus commented on #379
@diasbruno @SergeyShvager Is there a way to allow scrolling only when certain modals are open, but keep `overflow:hidden` for others?

[2017-10-12 15:14] diasbruno commented on #379
@vorpus One option is to use a custom class for your specific modal. See [reactjs/react-modal#using-css-classes](https://github.com/reactjs/react-modal#using-css-classes).

[2017-10-12 15:33] diasbruno commented on #528
Hi @VitaliyInshakov, have you tried the polyfill?

[2017-10-12 15:38] diasbruno commented on #531
@B-Reif Can you give a little bit more info about how your modal is setup, defined and/or used?

[2017-10-12 15:43] mohandere commented on #62
I get this fixed by writing [HOC](https://gist.github.com/mohandere/b563d19f5f1c7bf027fd7129592e9ab8)  where i am using `refs` to get content/modal height.

[2017-10-12 16:24] VitaliyInshakov commented on #528
Hi, I tried this polyfill, but it didn't help me, so I searched again and found https://github.com/jwilsson/domtokenlist  and it really helped in IE9. Thanks for help

[2017-10-12 16:35] diasbruno commented on #528
Great, thanks for sharing your solution. It is good for us to keep the code base clean and modern as possible, so a polyfill is the way to go in this situations.

One thing we need is to show which browsers versions we support by default though.

[2017-10-12 17:01] diasbruno commented on #528
I'm closing this for clean up. Thanks!

[2017-10-12 17:01] #528 closed

[2017-10-13 06:33] benknight opened #533 "Omitting afterOpen in the className prop causes "undefined" string in class"
### Summary:

Minor, but the string "undefined" is added to the modal element's class attribute when `afterOpen` is omited from the className object, e.g.

[code]

### Expected behavior:

"undefined" should never be cast to a string and added to a className.

[2017-10-13 14:04] jonathanphz opened #534 "Append modal to another element besides Body"
Is there a way to append the modal to another element besides `Body`?

I would like to have a modal open and just cover the main section of an app without covering the header and sidebar.

Is this possible? Maybe with AppElement?

[2017-10-13 14:30] diasbruno commented on #534
Hi @jonathanphz, you can use `parentSelector()`.

[2017-10-13 15:16] jonathanphz commented on #534
Thanks that worked!

[2017-10-13 15:16] #534 closed

[2017-10-14 14:59] diasbruno commented on #533
Hi @benknight, in this case, prefer passing just a string `className={"modal"}`.

[2017-10-14 15:00] diasbruno commented on #533
I'm tagging as `not a bug`, but perhaps we need to improve the documentation for this case.

[2017-10-14 19:50] kennykaye commented on #526
It looks like this was reverted 47d0d878c1cdff1ad024c28acb78fba9afadb1a1. This problem persists in `3.0.2`

[2017-10-14 20:32] diasbruno commented on #526
Hmm, probably rebase...I'll push a fix. Thanks!

[2017-10-14 20:38] diasbruno commented on #526
Reapplied your commit. Releasing version `v3.0.3`.

[2017-10-17 12:08] diasbruno commented on #533
@benknight Thanks. Hope my answer helped. I'm closing this for clean up. Please, feel free to reopen this issue.

[2017-10-17 14:21] benknight commented on #533
Ah I didn't realize jut a string could be passed.  I would suggest using PropTypes to validate.  Something like

[code]

[2017-10-17 14:39] diasbruno commented on #533
Correct! Can you PR this?

[2017-10-17 14:46] diasbruno commented on #533
The shape must contain `base`, `afterOpen` and `beforeClose` as `string`.

[2017-10-18 22:19] #533 closed

[2017-10-18 22:20] diasbruno commented on #533
@benknight Thanks for the suggestion. It'll be available on the next release.

[2017-10-18 22:49] #508 closed

[2017-10-19 00:08] benknight commented on #533
Great.  I'm happy to PR but it looks like you're all set now.  Thanks for
this improvement!

On Thu, Oct 19, 2017, 7:20 AM Bruno Dias <notifications@github.com> wrote:

[2017-10-19 11:21] ttbarnes commented on #459
I've had a similar issue with multiple tooltips that utilise `react-modal` along with a `parentSelector`. Adding a small timeout to each open/close/toggle method fixes it.

[2017-10-19 23:30] diasbruno commented on #498
I guess we can finally close this issue.

Thank you all for the ideas, contributions and everything else.
Sorry that it took sometime to get `react-modal` available on react 16.

[2017-10-19 23:30] #498 closed

[2017-10-22 06:52] salzhrani opened #538 "Fails to render using renderToStaticMarkup"
### Summary:
Fails when rendering using `renderToStaticMarkup`
### Steps to reproduce:
call `renderToStaticMarkup` with `react-modal` anywhere in the tree

### Expected behavior:

### Link to example of issue:
https://codesandbox.io/s/rwnvq00p8p

### Additional notes:
I have made a failing test [here](https://github.com/salzhrani/react-modal/tree/static-markup)

[2017-10-23 14:26] ndelangen commented on #464
Is this resolved? @Hypnosphi @diasbruno

https://github.com/storybooks/storybook/blob/7b996460cab90d1af953e20f10fe1236baf850ba/lib/ui/src/modules/ui/components/search_box.js#L73

[2017-10-23 14:43] diasbruno commented on #464
@ndelangen Not yet. Perhaps we are giving back the focus to earlier and some event is firing. Also, I can reproduce this issue on Chrome - Safari and Firefox are working ok.

Maybe It's related to #494.

[2017-10-24 05:41] quachsimon opened #541 "Upgrading to v3 from v2.4.1 causes modal to close inside component click"
### Summary:
I have a modal that opens up when selecting a link.

The modal contains an input field that can be clicked to be focused on.

On v.2.4.1 I am able to select the input field just fine. However, on v3 when selecting the input field or anything inside the modal wrapper the `onRequestClose` prop is triggered.

### Example
I have the modal component defined here wrapped around a link tag.

[2017-10-24 08:43] Erunestaron opened #542 "Videos in iOS Safari don't work"
### Summary:
Hello there,

Video's on a mobile Safari are not loaded properly and are not played correctly. The issue may be related to the problem, that iOS/Apple has certain restrictions on "what format do videos have to have".
### Steps to reproduce:
Reproducing is simple. Just try to start a kha.video in iOS (or load) and you'll get either 404 or 206 with a filename that is "undefined" instead

[2017-10-24 08:48] #542 closed

[2017-10-24 14:55] diasbruno commented on #541
Hi @quachsimon can you provide an example of the issue?

[2017-10-24 16:31] quachsimon commented on #541
@diasbruno I have updated my OP

[2017-10-24 18:43] diasbruno commented on #541
`<a href="" {...props} onClick={this.handleClick}>` will also be triggered, because the modal is inside the `<a/>`.

Better move the modal outside of the link.

[2017-10-24 18:48] quachsimon commented on #541
Is there a reason why it works on v2.4.1 though?

[2017-10-24 18:53] diasbruno commented on #541
One way to check is inspecting the `event` that the `handleClick` receives. In one version it can be the `a`. (`event.target`)

[2017-10-24 18:54] diasbruno commented on #541
Sorry, I think I marked to soon as 'not a bug'. I'll let this open till we figure this out.

[2017-10-24 21:29] diasbruno commented on #494
@httpete-ire This is a very weird case. If you add a listener on `document` you'll see that the native event is correct, one for the `button` and one for the `file input`. Both synthetic events created by react are related to the `button`.

[code]

Since both generated events are related to the `button` it will call `openDialog` twice.

[2017-10-24 21:39] diasbruno commented on #494
This is the log with this patch [https://codesandbox.io/s/819q2j37j0](https://codesandbox.io/s/819q2j37j0).

![Log](https://user-images.githubusercontent.com/362368/31969308-8a5edb0e-b8ea-11e7-9809-ec1df9497b21.png)

[2017-10-25 16:56] diasbruno commented on #541
@quachsimon Did you find a solution for this issue?

[2017-10-25 17:01] quachsimon commented on #541
@diasbruno I played around with it and have not found a solution for this issue. I can not figure out why it closes

[2017-10-25 17:20] #464 closed

[2017-10-25 17:28] diasbruno commented on #464
Released `v3.1.0` with an option to avoid the 'return focus on close'.

[2017-10-25 17:59] diasbruno commented on #541
I wrote 2 sandbox with those versions  of react-modal. I couldn't reproduce your issue. The reason is that the modal is mounted on `document.body` and my previous answer will be correct if the modal was mounted inside of the `<a/>`.

https://codesandbox.io/s/r5r58lvxkq - react-modal 2.4.1
https://codesandbox.io/s/k9z5owy3q7 - react-modal 3.1.0

Is there anything missing?

[2017-10-26 15:19] quachsimon commented on #541
I pass the toggle up to a parent component (which I guess is bad practice?).

I edited one of the sandboxes to show you what I mean:

https://codesandbox.io/s/13v5p7y6pj

I wasn't able to put everything in though...

The parent component toggles the states each time the `onClick` props is set and is passed to the `showModal` prop.

I wrap the modal component (the `to` prop) around a form with two

[2017-10-26 15:49] diasbruno commented on #541
It's not a bad practice.

[https://codesandbox.io/s/lx4pwn1437](https://codesandbox.io/s/lx4pwn1437)

Now it will show up whom actually is triggering.

On the log inside the modal, it will keep track of the current target of the event.

[2017-10-26 16:50] quachsimon commented on #541
I've edited it with the `to` prop going to the node component that I have which is an input.

When clicking on the input it toggles the modal. However, it seems to work fine on the older version.

https://codesandbox.io/s/zxk7nor8x3 - react-modal 2.4.1
https://codesandbox.io/s/40jr09kl49 - react-modal 3.1.0

[2017-10-26 17:05] diasbruno commented on #541
I suspect that with react 16, the portal is connected properly on the tree, so it will follow the correct path: `a -> modal -> input`. Therefore, the event will pass through the `a` node and the handler is fired.

A suggestion for creating your component would be:

[code]

[2017-10-27 00:23] facuch19 opened #543 "beforeClose Class is not working"
### Summary:
When i close the modal, it isn't changing the _afterOpen_ class instead of the _beforeOpen_  class. In react dev tools i can change the beforeOpen state, and so it finally works, but when i'm closing the modal either clicking escape or clicking in the close button or on the overlay area it isn't work.

[2017-10-27 01:07] sw-yx commented on #543
thanks for the report. are you able to reproduce this bug in codepen so we can investigate?

[2017-10-27 02:08] facuch19 commented on #543
@sw-yx  Yeah, sure!

[2017-10-27 10:35] luis-alves opened #544 "Multiple modal appear when clicked."
### Summary:
When the Modal component is inserted in a component that will be looped, say some money transactions sent from a server. When one of those components is clicked it creates the same number of Modal elements as the number of transactions.

### Expected behavior:
It should only appear one Modal element in the DOM.

### Link to example of issue:

[https://codesandbox.io/s/7k9kolkmv0](http

[2017-10-27 12:44] diasbruno commented on #544
Hi @luis-alves The state `isActive`, a boolean, will be shared for all the modals, so if one is toggled, all will be.

One option is to move the modal outside of the loop and the other one would be to change `isActive` to be a string or a number.

If you change the type to be a string, you can open each modal like this:

[code]

If moved outside of the loop:

[code]

[2017-10-27 12:45] diasbruno commented on #544
The second option is preferable because it won't create a modal per row.

[2017-10-27 13:28] luis-alves commented on #544
Got it @diasbruno! Thanks, you can close this one.

[2017-10-27 13:54] diasbruno commented on #544
Oh sorry, it should be `this.setRow.bind(null, row)`.

I prefer using `setRow = row => event => { ... }` and `this.setRow(row)` because it is a bit more clear.

[2017-10-27 14:05] diasbruno commented on #544
Just as an example of how `bind` works (to remind myself).

[code]

[2017-10-27 14:31] facuch19 commented on #543
hi @sw-yx, here is an example: https://codesandbox.io/s/k3jpyn9x5o.

If you look the modal when it is opening, you can see the css effects, but when you close it, the css classes are not working.

[2017-10-27 15:24] luis-alves commented on #544
And for me to know ;)

[2017-10-27 15:24] #544 closed

[2017-10-27 17:04] diasbruno commented on #543
@facuch19 when using animations to close the modal use `closeTimeoutMS={n}`. If it is not defined the modal closes immediately.

[2017-10-27 19:06] facuch19 commented on #543
@diasbruno OMG bro, i was using `closeTimeoutMS={n}`. But i was using it with seconds....  `closeTimeoutMS={2}`, and it works with ms  `closeTimeoutMS={2000}`. Now itś working perfectly.Anyway is good know it. Thanks you very much for the time.

[2017-10-27 19:18] diasbruno commented on #543
Awesome.

...and thanks @sw-yx for taking the lead and start reviewing the issue.

[2017-10-27 19:19] #543 closed

[2017-10-27 20:26] kliu4 opened #545 "Can you add examples having a button in each row and a modal will be created if the button is clicked?"
I can not find such example:

There is a button column in table, each row has a button. When user click one of the button, a simple modal will be created.

[2017-10-27 20:27] #545 closed

[2017-10-27 20:38] diasbruno commented on #545
Hi @kliu4 did you find a solution for this. You can see issue #544.

[2017-10-28 20:51] vanderhoop commented on #279
hey @diasbruno and @claydiffrient, I see this was removed from the 2.0 milestone, and we're now at 3.1. Any chance you plan on implementing this in a future version?

[2017-10-28 22:10] diasbruno commented on #279
@vanderhoop the focus manager should give back the focus to the previous element by default. We added the ability to prevent this behavior. If that is not happening then we need to check if it's a bug.

[2017-10-29 23:04] vanile opened #546 "How to use scripts in the Modal box?"
### Summary:
I'm pretty new to React btw, but I can't figure this out.
Scripts work on the React component when it's not used in a Modal box but when I create the Modal box with the component inside, the scripts no longer work. The styling still works but no scripts. All of my CSS and scripts are sourced in my index.html file.

### Steps to reproduce:

So for my codesandbox project, click 'Add an

[2017-10-29 23:31] sw-yx commented on #546
thanks for linking the example. what is this `externals` thing here?
![image](https://user-images.githubusercontent.com/6764957/32149737-71149154-bcdf-11e7-9b79-eb978464a2f7.png)

in general its not a great idea to mix scripts and react like this. have you tried `material-ui`? <http://www.material-ui.com/#/>

[2017-10-29 23:41] vanile commented on #546
I am not seeing that in my console for some reason.

I haven't looked at material-ui yet. What I want is to be able to pull up a form box inside the page and not link to another page for the form. I assume I would be able to do that with the Dialog component?

[2017-10-30 00:02] sw-yx commented on #546
depends on your needs (im more of a react-bootstrap guy myself). more importantly you can use their inbuilt form components to achieve the move-up effect you are trying to do here

[2017-10-30 00:19] diasbruno commented on #546
@vanile Prefer following the material-ui guide and install it on your project (as @sw-yx already explained) to avoid the complexity of loading scripts.

With material-ui installed, you can choose to use react-modal or the dialog that the library provides.

This will give you a better result.

[2017-10-30 00:29] diasbruno commented on #546
The thing is when using "non-react" libraries, they may not initialize properly because some elements are not yet available to be queried by the script.

[2017-10-30 04:08] vanile commented on #546
Alright, thanks friends. I've taken your advice on using material-ui and it seems to be working out much better.

[2017-10-30 17:21] luis-alves opened #547 "Insert pseudo-elements in inline style"
### Summary:
Been trying to draw a dialog box as the overlay. But don't know how to do it. It as to be inline because I want to assign the on-click pointer location to the top style element. SO the className is out of the question.

### Steps to reproduce:
https://codesandbox.io/s/xom5w2r1zp

### Expected behavior:
Should mold the form of the overlay to an dialog bubble, like the one in [https://c

[2017-10-31 22:16] rodryquintero opened #550 "Close on Escape key does not work`"
### Summary:
From what I am seeing in the documentation the "close on Escape" feature does not work as advertised.

### Steps to reproduce:
Just setup a minimal modal component.

### Expected behavior:
Close on Escape key press

### Link to example of issue:
[code]
### Additional notes:
I included a callback for `onRequestClose` but it is not triggering when pressing `esc`. I thought it was weird.

[2017-11-01 08:54] bogas04 commented on #497
Any update on the same ?

Due to usage of `babel-plugin-add-module-exports`, code spit out is [incompatible](https://github.com/webpack/webpack/issues/3917#issuecomment-273883740) with webpack 2.2. One way to fix this is defined in [this](https://gist.github.com/iamakulov/966b91c0fc6363a16ff0650b51fb991b) gist.

[2017-11-01 11:33] diasbruno commented on #497
@bogas04 Sounds great. This is still open, they have changed on their side (DefinitelyTyped), but if we can provide the correct way, it would be nicer. Can you PR this?

[2017-11-01 11:37] diasbruno commented on #550
Hi @rodryquintero, can you make an example on 'codesandbox.io'? It's better for debugging because you can define something closer to what you are using (like version of the libraries you are using...).

[2017-11-01 11:41] diasbruno commented on #547
Perhaps you can make some custom classes that only defines the shape:

[code]

If you need to create on-the-fly, you can try to generate a class and append to a `<style />`, and then use the class on the modal like `.tmpclass1`. (?)

[2017-11-01 11:42] diasbruno commented on #546
Glad to help. Closing this issue.

[2017-11-01 11:42] #546 closed

[2017-11-01 12:22] luis-alves commented on #547
Thanks @diasbruno, but I managed to make a html+js modal and go from there.

[2017-11-01 12:22] #547 closed

[2017-11-02 17:33] hundsim opened #551 "What's the functionality of react-modal?"
### Summary:

### Steps to reproduce:

 1. Go to https://reactcommunity.org/react-modal/examples/minimal.html and run any of the examples.

### Expected behavior:
Take from W3: "A modal is a dialog box/popup window that is displayed on top of the current page."

### Link to example of issue:
When trying out the examples there's no layover effect at all. A box with borders and rounded courners appe

[2017-11-03 12:12] diasbruno commented on #551
@hundsim Modal is a blocking view that prioritize its scope/context. If you can see in the example, there is a white overlay and the button 'toggle modal' gets 'disabled' until you provide an action (close the modal). The accessible part means that It follows some guidelines to make it accessible like pressing ESC to close and be able to read on screen readers.

Although, `react-modal` has been im

[2017-11-03 12:47] #551 closed

[2017-11-03 18:36] vietnogi opened #553 "TypeError: parentInstance.children.indexOf is not a function"
### Summary:
Getting `TypeError: parentInstance.children.indexOf is not a function` error when using react-test-renderer to write tests.

### Steps to reproduce:

 1. Use react-test-renderer to create a react-modal
 2. Use jest to run test
 3. Get error

### Expected behavior:
No error

### Link to example of issue:

https://github.com/airbnb/enzyme/issues/1150
### Additional notes:

[2017-11-03 20:35] brmenchl opened #554 "Using React 16 portals"
React 16 now officially supports portals. Is there any plan to move from a custom implementation?

Portal documentation:
https://reactjs.org/docs/portals.html

[2017-11-03 20:47] comfroels commented on #554
Do they use a custom implementation? From what the code says(https://github.com/reactjs/react-modal/blob/master/src/components/Modal.js#L11-L14), they look for react 16 and use the portals already. However, I am having an issue testing with that and enzyme; issue here (https://github.com/airbnb/enzyme/issues/1150). I'm wondering if there's a way for us to say we don't want to use portals if we don

[2017-11-04 14:51] diasbruno commented on #554
@brmenchl `react-modal` already has support for react 16 on version `v3+`.

@comfroels I think the best way (or at least for now) is to define an alias on your compiler config to use a dummy proxy component (which just returns the `children` or a `<div>{children}</div>`). This way you will "remove" the Modal from your tests.

Ref: [Webpack resolve config](https://webpack.js.org/configuration/resol

[2017-11-05 13:13] eranshabi opened #555 "Printing modal is cut after one page"
### Summary:
There is a cut in the content of the modal you print (`window.print()`) after one page.
### Steps to reproduce:

 1. Try to print content of modal which height is more than one page.

### Expected behavior:
modal content will not be cut after one page
### Link to example of issue:
https://codesandbox.io/s/zl6ro436ql
Open the modal, then click 'PRINT'

### Additional notes:
I think the

[2017-11-05 13:35] diasbruno commented on #555
Hi @eranshabi, probably the best way is the user provide the print style, but we could provide a style example so people can at least have some idea of what to do though. Maybe add this to the documentation?

[2017-11-05 13:40] diasbruno commented on #550
is `this.handleKeyPress` has a prevent default or something? Maybe this handle is preventing the 'esc' key from triggering the modal close.

[2017-11-05 13:54] eranshabi commented on #555
Do you mean the users should provide new style using the style prop?

[2017-11-05 13:56] diasbruno commented on #555
Via `<link media="print" />`.

[2017-11-06 02:45] Hypnosphi commented on #464
Still not completely fixed, see https://github.com/reactjs/react-modal/pull/540/files#r148984350

[2017-11-06 09:45] Ghorthalon commented on #359
Hello,

forgive my possible ignorance, however this seems more than just an enhancement to me. A lot of pages, e. g. twitch, some local service pages, are completely inaccessible because of inaccessible pop overs resulting from aria-hidden being set to true. This includes login forms, etc. No screen reader can read the pages and frustrating workarounds have to be used to guesstimate what you're su

[2017-11-06 12:51] diasbruno commented on #359
Hi @Ghorthalon, maybe it was missing to **do** something about it.

So, what next to improve react-modal accessibility:

- [x] allow define `role` attribute.
- [x] allow to pass custom `aria-*` attributes.
- [ ] improve `aria-hide-app` mechanism.