[2017-11-06 12:53] diasbruno commented on #550
cc @rodryquintero

[2017-11-06 12:54] diasbruno commented on #541
@quachsimon Please feel free to reopen the issue if necessary. I'll close this for clean up.

Thank you.

[2017-11-06 12:54] #541 closed

[2017-11-06 16:26] #511 closed

[2017-11-06 16:29] diasbruno commented on #554
I'm close this for clean up. @comfroels Feel free to open a new issue or follow any other previously opened about testing. Thank you!

[2017-11-06 16:29] #554 closed

[2017-11-06 16:31] diasbruno commented on #555
@eranshabi Did you find a way to solve your problem?

[2017-11-06 16:32] diasbruno commented on #550
@rodryquintero Please, feel free to reopen this issue if there is a bug on react-modal. Thank you.

[2017-11-06 16:32] #550 closed

[2017-11-06 16:33] diasbruno commented on #553
@vietnogi I'm marking this as duplicated since we already have some issues related to testing...Thank you!

[2017-11-07 10:03] eranshabi commented on #555
Yes, I just override the ReactModal__Overlay class.

[2017-11-07 12:25] diasbruno commented on #555
Great! I'll close this issue, but I'll try to update the docs later. Thank you.

[2017-11-07 12:25] #555 closed

[2017-11-07 15:09] rodryquintero commented on #550
Will do

[2017-11-09 01:05] lcnogueira commented on #117
Thanks a lot, folz. I'd tried everything already, but couldn't fix the jump-to-top problem.

[2017-11-09 14:34] sapegin commented on #457
Just had this issue with another project. Babel tries to load React as a preset and failing:

Which means one of your `.babelrc` mentions `react` preset but you don’t have it installed. This has fixed the issue for me:

[code]

[2017-11-09 22:13] firaskrichi opened #557 "Getting this error in production with React 16"
<img width="424" alt="screen shot 2017-11-09 at 12 12 42 pm" src="https://user-images.githubusercontent.com/9126737/32632334-57da8afc-c547-11e7-9fd5-ffa374d7c5de.png">

[2017-11-09 22:15] firaskrichi commented on #557
Any ideas what might have cause this?

[2017-11-10 18:44] #557 closed

[2017-11-10 19:57] diasbruno commented on #557
Hi @firaskrichi, sorry for the later reply. Which version of `react-modal` are you using?

[2017-11-10 21:31] firaskrichi commented on #557
Hi @diasbruno my bad it's another package causing the pb :)

[2017-11-14 19:40] ramusus commented on #71
@dy-dx thanks for great solution, but it doesn't work with the last enzyme
    "enzyme": "3.1.1",
    "enzyme-adapter-react-15": "1.0.5",

Do you have any workaround?

[2017-11-15 01:58] CodyReichert commented on #538
I think I hit this, and it is a react 16 issue. I originally filed this on enzyme, because I wasn't sure where the error was: https://github.com/airbnb/enzyme/issues/1351.

I also created a bin: https://www.webpackbin.com/bins/-KyxN3opuJwDmH4y-LBv

With react-dom 16, calling `renderToStaticMarkup` on the `Modal` component causes a crash. I'm not sure what the error is, but if you click  that bin a

[2017-11-15 05:55] Olliebaba opened #558 "Allow ModalPortal to mount at top level of application root."
### Summary:
Feature Request: To allow ModalPortal to mount at top level of application root as it previously did in `react-modal@1.5.2`.

I am converting an application over to React 16 and I have run into an issue where there's a form that has a modal which has another form. Since the modal's form is now nested within the context of the parent form, the submit event bubbles to the outer form.
Cu

[2017-11-16 17:52] diasbruno commented on #558
@Olliebaba Hi, sorry for the delay. It seems more like a bug introduced in the change to react 16. Probably we are not using the `getParentElement()` to set where it should mount the modal.

[Modal.js#L190](https://github.com/reactjs/react-modal/blob/master/src/components/Modal.js#L190) perhaps we need to check if `getParentElement` is defined and use it instead of creating a new node.

[2017-11-17 20:07] ryanhomer commented on #71
@ramusus  I too am unable to get this to work with enzyme 3 and enzyme-adapter-react-15. If you've come up with a workaround, please share.

I've tried `ReactDOM.findDOMNode` and `react-dom/test-utils` `scryRenderedDOMComponentsWithClass` as [recommended](https://reactcommunity.org/react-modal/testing/#) by react-modal.

I've tried `findDOMNode` with no success.

I've also tried the examples from

[2017-11-17 21:02] romanlex opened #561 "React-motion support"
Hello. How I can get react-motion support for modal windows?
I think for this needed additional wrapper for modal content

[2017-11-20 13:26] RWOverdijk commented on #553
@diasbruno Awesome to see you managing issues! But ehm... could you perhaps include the duplicates in this ticket? 😅

[2017-11-20 13:34] diasbruno commented on #553
@RWOverdijk gee, sorry. I'm trying to keep everything organized, respond issue and stuff, but, you know, time is the problem. Thanks for the heads up and everyone is welcome to contribute to this repo either fixing bugs or helping with management. 👍

[2017-11-20 13:38] diasbruno commented on #553
...also, this is not an duplicated issue. Perhaps I've overlooked. I'll reopen this.

[2017-11-20 13:41] RWOverdijk commented on #553
@diasbruno No problem. I know how time consuming it is. Thanks for reopening!

[2017-11-20 17:40] im1dermike commented on #470
I'm getting the same error and I'm unclear how this or related threads can resolve what I'm seeing.  I currently have version 3.1.2 installed.  Here is my (simplified) code:

	import * as React from "react";
	import Modal from "react-modal";

	export interface DeleteModalProps {
	  isModalOpen: boolean;
	  onCloseModal: () => any;
	  onDeleteClick: () => any;
	}

	export const DeleteModal: React.S

[2017-11-20 20:49] marcysutton commented on #359
This issue is still open, was there ever a resolution? It's a pretty big show-stopper, so it would be good to get the docs updated or whatever else needs to happen.

[2017-11-21 15:53] im1dermike commented on #470
It appears switching to `import * as Modal from "react-modal";` worked for me.

[2017-11-21 17:21] im1dermike commented on #501
@madeinspace I'm running into this same problem and can't figure out how to resolve it even after your closing comment.  My overlay div has a class which applies the following styles: `opacity: 0.8; background-color: #131313;`.  The child modal div undesirably inherits this same opacity.  I tried adding `opacity: 1 !important;`, but it did nothing.  Little help?

[2017-11-22 07:11] RT-TL opened #562 "React modal not content not rendered on single instance (Version 3.1.2)"
I use react modal in my app and it usually works fine. The app is a widget that is placed on various different sites. Now I face an issue where the <Modal>-Component is not rendered anymore. While toggling it still works as intended no matter what content I put into the <Modal> it does not appear. When checking variables I can see that the toggle actually works and there are some installations whe

[2017-11-22 11:04] OliverJAsh commented on #117
Apparently there's a new `preventScroll` option to the `focus` method: https://mobile.twitter.com/rob_dodson/status/933111752547430402

[2017-11-22 12:20] diasbruno commented on #562
Hi @RT-TL, did you check if the component actually appears in the Dom tree?

[2017-11-22 12:29] diasbruno commented on #359
This week, I'm going to start a new branch to address this accessibility issues. Testing and review would be really appreciated.

[2017-11-22 12:43] RT-TL commented on #562
hi diasbruno the <Modal> and all it contains does not appear but the ModalPortal is there.

[2017-11-22 12:47] diasbruno commented on #562
Ok, I'll still look for errors on this example, but the best way to validate this issue is to make a reproducible example. We have a simple boilerplate on the issue template.

[2017-11-22 12:48] diasbruno commented on #562
Here is the link [https://codesandbox.io/s/mgwy6V6E](https://codesandbox.io/s/mgwy6V6E). It's a bit old now, but it's simple to update.

[2017-11-22 16:55] mandazi commented on #211
I am also having the same issue with this.

[2017-11-22 17:04] diasbruno commented on #211
@mandazi which version are you using? I've update the `tabbable` function recently.

See [0f2bf9e9](https://github.com/reactjs/react-modal/commit/0f2bf9e92e09fe79e0b28c9f02c1ef4b4c4a19b9).

[2017-11-22 17:12] mandazi commented on #211
@diasbruno 2.4.1

[2017-11-22 17:20] conlanpatrek commented on #211
@diasbruno it looks like that update is for `scopeTab`, not `tabbable`. It's been a minute since I've looked at this, but if I recall correctly we're incorrectly identifying which elements are `hidden` with this check here: https://github.com/reactjs/react-modal/blob/master/src/helpers/tabbable.js#L17

The problem is that offsetWidth and offsetHeight aren't enough to determine if the contents of a

[2017-11-22 17:27] mandazi commented on #211
@diasbruno I just tried the latest version of react-modal (3.1.2) and it doesn't work.

@conlanpatrek thanks! It sounds like that might be the fix.

[2017-11-22 17:36] diasbruno commented on #211
@mandazi @conlanpatrek Sounds like a plan. Once it is rebased, we can merge it. (#271)

[2017-11-22 17:37] mandazi commented on #211
@conlanpatrek the PR #271 fixes the tab issue. Just verified!

[2017-11-22 19:15] conlanpatrek commented on #211
#271 has been rebased and updated to meet style standards.

[2017-11-22 19:34] #211 closed

[2017-11-22 19:39] diasbruno commented on #211
Released `v3.1.3`.

[2017-11-22 21:50] ramusus opened #563 "Test Modals with enzyme 3"
Continue discussion started here https://github.com/reactjs/react-modal/issues/71#issuecomment-344373836

After upgrading enzyme from version 2 to latest 3.2.0 my related to retrieving subtree of Modal component tests gets broken.

I'm using solution from here http://remarkablemark.org/blog/2017/05/17/testing-react-modal/

[code]

After upgrade `portalWrapper` is empty even with `is_open={true}` (

[2017-11-23 12:44] diasbruno commented on #461
@EbrahimMajdey Probably, by now, you might have found a solution for this. Please reopen this issue if the problem persists. Thank you.

[2017-11-23 12:44] #461 closed

[2017-11-23 12:45] #379 closed

[2017-11-23 14:38] diasbruno commented on #338
@outdooricon Oh my...That was the worst explanation 🤦‍♂️ .

Ref: [Adding a Ref to a DOM Element](https://reactjs.org/docs/refs-and-the-dom.html#adding-a-ref-to-a-dom-element)

[ModalPortal.js#L301](https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L301)

This line will prevent any children from been mounted on the react tree, so if the modal is closed the `ref` callb

[2017-11-23 18:47] #186 closed

[2017-11-24 12:14] RT-TL commented on #562
Thanks a lot. I will try to reproduce and update as soon as I managed to do so. So far I have been unsuccessful. I currently suspect some interference with other scripts but the issue is strange for this context. Any hint where this might be coming from would be very helpful.

[2017-11-24 12:24] diasbruno commented on #562
My only guess right now is that probably you have a condition like `this.state.loading` that is make it not render.

[2017-11-24 20:28] ramusus commented on #563
Found solution - do not use `ReactWrapper` or any other hacks - content of modals get rendered into the main wrapper, properly in place where it should be logically (but not in the real DOM).

So everything becomes more simple and easy to test, just not forget to do `wrapper.update()` ...

[2017-11-24 20:28] #563 closed

[2017-11-24 20:28] ramusus commented on #71
@ryanhomer, found solution - do not use ReactWrapper or any other hacks - content of modals get rendered into the main wrapper, properly in place where it should be logically (but not in the real DOM).

So everything becomes more simple and easy to test, just not forget to do wrapper.update() ...

[2017-11-25 13:43] coder77 commented on #233
Any news please...

[2017-11-26 10:10] RT-TL commented on #562
I still work on reproducing it in the sandbox but by now I know that the issue seems to appear in Chrome and Firefox, not in IE or Safari.

[2017-11-27 15:53] bob-gallagher opened #566 "cannot set focus to text field with mouse"
I believe the fix for #564 has introduced this problem as things were working fine up to and including release 3.1.3 but fail with 3.1.4.

I have a modal component that has `input` components. Clicking with the mouse on one of these `input` fields does not bring focus to the field. Clicking on buttons does function as expected.

shouldCloseOnOverlayClick={false}

[2017-11-27 16:28] diasbruno commented on #566
Hi @bob-gallagher, that make sense.
Probably we can check if the click is in fact on the overlay (?)

[2017-11-27 16:29] diasbruno commented on #566
I'll revert this change if this option don't work.

[2017-11-27 16:40] diasbruno commented on #566
@bob-gallagher can you please confirm if #567 provides the correct behavior?

[2017-11-27 20:51] TeamChad commented on #530
Hey @diasbruno. Is there any movement on this bug? We are really keen to upgrade our project to React 16 and this is the only issue holding us up :-) We are keen to keep using this great library!

[2017-11-27 20:56] diasbruno commented on #530
@TeamChad Can you do some debugging this issue? I didn't have time yet to have look at this one (sorry), but I can give some help...One place to look at is the documentation of `createPortal`.

[2017-11-27 22:48] maxwerr commented on #233
I don't know how to solve this in a react idiomatic way but I did in ember in what appears to be a related project, hope it helps @coder77 [ember-modal-dialog/issues/154](https://github.com/yapplabs/ember-modal-dialog/issues/154)

[2017-11-27 22:54] #566 closed

[2017-11-27 23:01] diasbruno commented on #566
Released `v3.1.5`.

@bob-gallagher Please, reopen this issue if it doesn't fix the issue. Thank you.

[2017-11-28 03:01] diasbruno commented on #530
Still didn't find a solution for this issue. We can open a discussion about "why using conditional render for a modal?". Just to get some information/use case for this. cc @TeamChad @Kerumen.

[2017-11-28 03:04] diasbruno commented on #561
Hi @romanlex, sorry for the late response. Can you make a example of the implementation using `react-motion`. You can use this sandbox [https://codesandbox.io/s/mgwy6V6E](https://codesandbox.io/s/mgwy6V6E)...then we can think on something.

[2017-11-28 07:26] romanlex commented on #561
@diasbruno
Hello, I make this functional with this code:
https://gist.github.com/romanlex/7123db9e893a9d21565fb454317322c8
In this case I must add custom child for work this.

[2017-11-28 19:02] bob-gallagher commented on #566
Worked like a charm, thanks.

[2017-11-28 19:29] diasbruno commented on #566
Great! Thank you for report this issue!

[2017-11-29 00:41] zda opened #568 "Remove quotation mark from agent name in DocuSign"
Wrong repo, please delete.

[2017-11-29 00:42] #568 closed

[2017-11-29 00:47] montanaflynn opened #569 "Module build failed: ReferenceError: Unknown plugin "add-module-exports""
### Summary:

After installing with `npm install react-modal --save` running my app with webpack fails.

### Steps to reproduce:

 1. `npm install react-modal --save`
 2. add `import Modal from 'react-modal';`
 3. run `npm run dev`

Get this error:

[code]

[2017-11-29 01:54] diasbruno commented on #569
Hi @montanaflynn, I've tried to reproduce this issue on a new project, but the error didn't show up.
Using `react@16+`, `react-dom@16+` and `react-modal@3.1.5`.

[2017-11-29 01:56] montanaflynn commented on #569
@diasbruno what info could I give to help? I don't have a `.babelrc` file at the root of my project.

[2017-11-29 01:57] diasbruno commented on #569
What is the command for `npm run dev`?

[2017-11-29 01:58] montanaflynn commented on #569
`webpack-dev-server --progress`

[2017-11-29 02:04] diasbruno commented on #569
How is the loader configured?

[2017-11-29 02:17] diasbruno commented on #569
Maybe we need to include `.babelrc` on `.npmignore` since the module is already built.

[2017-11-29 02:26] diasbruno commented on #569
Can you try installing using `react-modal@ignoring-dot-babelrc`? Hope this will also fix #450.

[2017-11-29 18:09] sheerun commented on #359
@diasbruno aria-hidden is not removed at all, because you check for reference count in beforeClose:

https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L133

but you decrement this counter is afterClose:

https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L140

[2017-11-29 18:24] diasbruno commented on #359
@sheerun It make sense. So we need to move the logic on `beforeClose` to `afterClose`. Can you open a PR?

[2017-11-29 19:33] sheerun commented on #359
@diasbruno I've sent one. Could you finish it? I don't have any more time today

It adds aria-modal to modal portal and removes adding aria-hidden to body by default. Also fixes issue I mentioned.

[2017-11-29 19:34] diasbruno commented on #359
Sure. Thank you!

[2017-11-29 19:57] sheerun commented on #359
@pauljadam @marcysutton @afercia If you'd like to test it before @diasbruno releases it, I've published it under following package name on npm: `@sheerun/react-modal`

[2017-11-30 13:36] diasbruno commented on #359
Release `v3.1.6`.

[2017-12-01 10:33] OliverJAsh opened #573 "Focus is not returned on modal unmount in versions prior to 3.1.6"
I just noticed a bug that existed in versions prior to the 3.1.6 that appears to have been fixed incidentally by https://github.com/reactjs/react-modal/commit/38dc8f9, specifically https://github.com/reactjs/react-modal/commit/38dc8f9#diff-14851ac17110ae8daabed39063cc885eR102.

Although this is no longer an open issue, I wanted to file it so it is documented and discoverable for other users on old

[2017-12-01 10:33] OliverJAsh commented on #573
Closing as this is fixed, but the issue is now discoverable to other users.

[2017-12-01 10:34] #573 closed

[2017-12-02 15:50] diasbruno commented on #573
Thanks for the awesome report.

[2017-12-04 15:44] HipsterZipster commented on #569
.babelrc shouldn't be included in the distribution since babel runtime will pick it up in some scenarios and try to load it

[2017-12-04 15:47] HipsterZipster commented on #569
@diasbruno Can you merge in the ignoring-dot-babelrc branch? Let's push it

[2017-12-04 16:23] diasbruno commented on #569
@HipsterZipster Sure!

[2017-12-04 16:48] #450 closed

[2017-12-04 16:48] #457 closed

[2017-12-04 16:48] #569 closed

[2017-12-04 17:24] diasbruno commented on #450
Released `v3.1.7`.

[2017-12-04 17:24] diasbruno commented on #457
Released `v3.1.7`.

[2017-12-04 17:24] diasbruno commented on #569
Released `v3.1.7`.

[2017-12-04 19:26] StokeMasterJack opened #576 "Warning: react-modal: App element is not defined."
I upgraded my yarn version and re-ran yarn install. And now I am getting this warning.

It's strange, because nothing in my code has changed. Something in node_modules is obviously different but who knows what. I can't do a diff on node_modules because that was never check in to git.

[2017-12-04 19:30] diasbruno commented on #576
@StokeMasterJack we made some changes recently to api to define the `app element`. Can you get the log message you got?

[2017-12-04 19:31] diasbruno commented on #576
Can you check if setting `Modal.setAppElement` the error goes away? Ref: [https://github.com/reactjs/react-modal#app-element](https://github.com/reactjs/react-modal#app-element)

[2017-12-04 19:34] StokeMasterJack commented on #576
Here is the exact log message:

Warning: react-modal: App element is not defined. Please use `Modal.setAppElement(el)` or set `appElement={el}`. This is needed so screen readers don't see main content when modal is opened. It is not recommended, but you can opt-out by setting `ariaHideApp={false}`.

[2017-12-04 19:36] diasbruno commented on #576
Oh sorry, though it was an error. This is related to this change #570. This is a reminder that not setting the app element will/can cause accessibility issue.

[2017-12-04 19:40] diasbruno commented on #576
So, you need to explicit tell the modal that you don't want to use the app element with `ariaHideApp={false}` (if that's your case).

[2017-12-04 23:09] Jacob-Allen opened #577 "'You tried to return focus to but it is not in the DOM anymore' warning."
I have recently upgraded react-modal from 1.7.1 to 3.1.6. I am now getting a warning in the console whenever react-modal unmounts.

### Steps to reproduce:
 1. Mount a component that is using React Modal as a child.
 2. Dismount the component has has React Modal as a child.  (this happens for me when I navigate between routes)

### Expected behavior:
 1. I'm not sure if this warning is due to inco

[2017-12-04 23:50] diasbruno commented on #577
Hi @Jacob-Allen, before the modal is open, it will put in a queue the `document.activeElement`, so it can try to return the focus after the modal is closed. So, if this element doesn't exist in the next route this warn will be presented.

[2017-12-05 01:35] Jacob-Allen commented on #577
Hey @diasbruno,
It is often that the modal is never opened on certain pages. Is there anything I can do to drop it from the queue before I dismount the component so that I can circumvent this warning?

[2017-12-05 02:13] diasbruno commented on #577
There is an option we added recently - `shouldReturnFocusAfterClose={bool}`.

[2017-12-05 02:17] diasbruno commented on #577
It should work fine in case where you can jump to other pages from the modal, but if it's not the case, it may cause some accessibility issues.

[2017-12-05 05:56] aaronvanston commented on #71
@ramusus Are you able to post an example? I'm still have issues rendering modal content without ReactWrapper.

[2017-12-05 13:55] diasbruno commented on #577
I'll keep this open, because this feature is not documented.

[2017-12-05 13:57] diasbruno commented on #576
I'll keep this open. Documentation is missing for this behavior.

[2017-12-05 16:57] ramusus commented on #71
[code]

[2017-12-05 22:16] indiesquidge opened #578 "Why do all object keys for className overlayClassName object prop need to be required?"
### Summary:

#536 introduced a specification for the `className` and `overlayClassName` props when passed as objects. I am interested in knowing whether or not all keys on the prop object need to be required. I would prefer it _not_ be required to implement all three keys all the time (unless there is some a11y gain or the removal of some subtle bug that I'm missing).

### Steps to reproduce:

 1

[2017-12-05 22:55] indiesquidge commented on #577
@diasbruno, I am also getting this warning more than a dozen times. It does not happen when I run my app in the browser, but when I run my tests. I see that the logic for displaying this warning has existed for some time now, but I only started seeing it when I upgrade to v3.1.7.

I don't fully understand why this warning is being shown to me. It occurs on components that have modals in them, but

[2017-12-05 23:07] indiesquidge commented on #577
Doh, I just saw this! So the modals are adding to the queue _before_ they are open, i.e. when they are rendered.

I can remove the error by not manually unmounting my component (removing `ReactDOM.unmountComponentAtNode(node)` from my smoke test), which come to think of it seems fine.

I suppose I hadn't considered this when I first started writing my tests, but there is usually no reason to manua

[2017-12-05 23:27] diasbruno commented on #578
Yeah, there is room to improve this particular function [ModalPortal.js#L268](https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L268). The way it's implemented requires the same shape as in line [ModalPortal.js#L272](https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L272).

[2017-12-06 08:22] dlong500 commented on #576
Can this feature be explained a bit more?  When I try to use it I'm also getting an error like so:
`ReferenceError: document is not defined` coming from `ariaAppHider.js`

Also, is there a reason this configuration can't be encapsulated into the Modal props and must use `Modal.setAppElement`?  How are you supposed to handle the feature given multiple Modals throughout a large app in various compon

[2017-12-06 08:36] dlong500 commented on #576
Ah, I think the issue was my server rendering of the app.  Once I wrapped the `setAppElement` call in a check to make sure it was in a client/browser environment then it appears to run OK.

I'm a still a bit unsure if things are working properly though especially because the docs state "If you are doing server-side rendering, you should use this property".  That doesn't seem to make sense to me be

[2017-12-06 12:11] diasbruno commented on #576
@dlong500 The documentation related to this is outdated. Also, we need to tests how the modal will work on a SSR environment. I did some tests to get it working, but very superficial - just to make it work.

For the multiple modal case, you can use `appElement` attribute.

[2017-12-06 12:24] diasbruno commented on #578
Looking at the code now, currently it works like this:

[code]

This will render to `className="mymodal mymodal_after-open"`.

Not sure if `afterOpen` and `beforeClose` should be only the suffix part of the class, like:

[code]

This will give the same result as the first example, `${base}${afterOpen}` and `${base}+${beforeClose}`.

[2017-12-06 14:39] royrwood commented on #577
I'm getting this warning, too.  Tracing into it, the following code in `focusManager.js` is the issue:

<pre>
function returnFocus() {
  var toFocus = null;
  try {
    toFocus = focusLaterElements.pop();
    toFocus.focus();
    return;
  } catch (e) {
    console.warn(["You tried to return focus to", toFocus, "but it is not in the DOM anymore"].join(" "));
  }
}
</pre>

For whatever reason, `toF

[2017-12-06 14:47] Jacob-Allen commented on #577
Hi @royrwood ,

@diasbruno mentioned that there is an undocumented prop to bypass the focusmanager. By adding `shouldReturnFocusAfterClose={false}` to the Modal it will opt out of the focus handler. I have the parent component set this value to false in the componentWillUnmount and it has caused the warning to go away.

[2017-12-06 14:48] royrwood commented on #133
I started getting this error/warning yesterday after upgrading my react-modal and react libs to the latest versions.  To make the error/warning go away, I modified my main `.jsx` file to include an explicit call to `Modal.setAppElement( )` like this:

<pre>
// Weird-- we get warnings in the console if we don't explicitly set the Modal appElement...
Modal.setAppElement('body');

ReactDOM.render(myA

[2017-12-06 16:13] thedrew12 opened #579 "Issue with Modal and redux"
### Summary:
I have a simple component that opens a modal on click and renders a button inside the modal. When the button inside is clicked it sends off a redux action which logs the user in. The issue is as soon as a successful request comes back the modal closes automatically and gets removed from the DOM even though the state prop `isOpen` is still true. If I don't go through redux and call the

[2017-12-06 16:18] diasbruno commented on #577
This is actually documented on the [https://reactcommunity.org/react-modal/][https://reactcommunity.org/react-modal/].

[2017-12-06 16:20] diasbruno commented on #579
It can close if you set `this.state.isOpen` to `false`, or, you change the route (if using react-router) or render other component instead of your login component.

[2017-12-06 16:26] thedrew12 commented on #579
`render other component instead of your login component` Yeah, thats what is happening. The login component gets removed after you are authenticated and thats why the modal closes. I was trying everything and missing that one part. Thanks!

[2017-12-06 16:26] #579 closed

[2017-12-06 16:45] diasbruno commented on #579
Awesome! I'm glad it helped.

[2017-12-07 00:50] indiesquidge commented on #577
The problem with this is that I don't want to opt out of the focus manager. I just want to be able to render components in my test without every component that has a modal attached to it throwing this warning.

This check in `returnFocus` is making a huge assumption in that it expects every component to **never** be manually unmounted, which means this will warn on any test that unmounts, includin

[2017-12-07 01:09] Jacob-Allen commented on #577
@indiesquidge
I definitely agree that this should not be the default behavior. I agree that this opt out should not be required.

I opened this issue because I think the part of

is in fact an undesirable feature in the current implementation of this package.

I have only referenced this workaround as a way to silence the warning, as not as an intended fix.

I know the warning could simply be remo

[2017-12-07 02:07] indiesquidge commented on #577
I would love to help improve the sophistication of the focus manager to better work with unmounted components.

Without a deep dive into this codebase, the simplest solution I can think of is simply to use a flag that tracks whether or not the component is mounted, could be as simple as

[code]

I tested this out in a small CRA build and it works as expected (i.e. warnings are gone, all tests stil

[2017-12-07 02:40] diasbruno commented on #577
@indiesquidge Checking for the length of `focusLaterElements` looks nice, but this may hide a bug if the focus manager has a real bug (failed/miss to queue the element, for example). We can temporarily apply this patch though. :+1:

Using the mounted flag on `afterClose` looks a bit weird because the only way it can/should be called is if the `ModalPortal` is actually mounted. This is something we

[2017-12-07 02:47] Jacob-Allen commented on #577
@diasbruno

My implementation of react-modal is only rarely opened. It mounts closed and dismounts closed 99% of the time and I always get this warning without the opt out.

[2017-12-07 12:31] diasbruno commented on #577
@Jacob-Allen  I miss this part. :)

[2017-12-07 13:08] diasbruno commented on #577
@Jacob-Allen @indiesquidge @royrwood

Here is a place to dig in [Modal.js#L144](https://github.com/reactjs/react-modal/blob/master/src/components/Modal.js#L144). It's possible that on `componentWillUnmount` of the modal is scheduling the close action.

[2017-12-11 09:13] mrkvngrkn commented on #11
I'm getting this warning since I've upgraded to React v16

[2017-12-11 12:48] diasbruno commented on #11
@jccode @mrkvngrkn Please follow issue #577. We are discussing how we are going to handle this properly.

[2017-12-11 16:37] alex-shamshurin commented on #156
react-modal is extremely slow

[2017-12-11 16:39] alex-shamshurin commented on #335
The same is here - with react-datepicker it's very slow. Especially on mobiles.

[2017-12-11 16:43] diasbruno commented on #335
Hi @alex-shamshurin, can you provide more info about this?

[2017-12-11 16:46] diasbruno commented on #335
Can you provide a reproducible example of your problem?

[2017-12-12 19:38] OliverJAsh opened #580 "Server-side rendering (SSR)"
Hi,

I have searched the issues and docs to try and understand what the current status of support for server-side rendering is, however it is not clear.

Underneath the `App Element` heading, the docs mention:

Can you elaborate?

Related issues: https://github.com/reactjs/react-modal/issues/112 https://github.com/reactjs/react-modal/issues/362 https://github.com/reactjs/react-modal/issues/49 http

[2017-12-12 20:21] indiesquidge commented on #577
@diasbruno, I think I may need a bit more context to understand the scope of this issue if I am to help find an adequate solution.

Could you explain why you think `afterClose` is being called when it shouldn't be? From what I understand (and from what other people are reporting here), `ModalPortal` is mounted when _the component using the modal is mounted_, not when the modal itself is opened.

O

[2017-12-12 20:28] indiesquidge commented on #577
@diasbruno, I think I am confused by your recommendation here. `<Modal>` does not seem to make any reference to the `focusManager`—don't we want to be looking for a fix in `<ModalPortal>`, or am I misunderstanding something?

[2017-12-12 20:48] diasbruno commented on #577
I'm referring to a possible path that can trigger `afterClose`.

[2017-12-12 21:32] indiesquidge commented on #577
So the way I am understanding it, the way that elements are added to the queue is via the `focusManager.markForFocusLater()` function, which is currently only ever used once in the `open` instance method of the `<ModalPortal>`. That `open` instance method is only ever called twice (in `componentDidMount` and `componentWillReceiveProps`), and both times it is called it is behind a predicate of `thi

[2017-12-12 22:45] diasbruno commented on #577
@indiesquidge looks good!

[2017-12-12 23:32] #577 closed

[2017-12-13 08:57] alex-shamshurin commented on #335
Sorry, I discovered a problem in react-datepicker itself (in my configuration).

[2017-12-13 11:30] diasbruno commented on #335
Ok. Thanks @alex-shamshurin.

[2017-12-14 20:36] ptchiangchloe opened #582 "Modal doesn't open in Header Component"
### Summary:

Hi guys, I bump into an issue when I try to connect redux store into my Modal component in my Header Component, when I dispatched the handleOpenModal function, it produced an uncaught error:

After that, the showModal state turns out to be true, however, the modal component didn't render.

Header.jsx

[code]

actions.js:
[code]
reducers.js
[code]

[2017-12-14 20:52] diasbruno commented on #582
Hi @ptchiangchloe, can you move this example to [codesandbox.io](https://codesandbox.io) or [codepen.io](https://codepen.io)?

[2017-12-16 17:09] Ne3l opened #583 "onRequestClose closes all modals when using them recursively."
### Summary:
When using nested react-modals, closing with escape key closes all modals instead of the last one open.
### Steps to reproduce:
 1. click open modal button
 2. inside Modal1, click open modal 2 button
 3. When modal 2 is open click escape key for close it.

### Expected behavior:
Only modal 2 is closed and modal 1 stays open.
### Link to example of issue:
https://codesandbox.io/s/w70x

[2017-12-16 17:33] Ne3l commented on #583
Cloned the codesandbox with old react 15 and react-modal 2.X and it works as expected. Same as escape button the rest of events doesn't bubble to the parent component.

https://codesandbox.io/s/9j5ky7zxr

[2017-12-18 04:09] 1pete opened #584 "unnecessary files got published to npm"
Every files in the project got published to npm,
but all you need are files in `/dist` and `/lib` (and `LICENSE`?)

### Expected behavior:
when install, npm should save only necessary files

[2017-12-18 18:10] mandazi commented on #576
I am also getting this in the console log. No code changes in terms of my use of react-modal either. Not sure why I am getting it.
`Warning: react-modal: App element is not defined. Please use `Modal.setAppElement(el)` or set `appElement={el}`. This is needed so screen readers don't see main content when modal is opened. It is not recommended, but you can opt-out by setting `ariaHideApp={false}`.`

[2017-12-18 18:19] mandazi commented on #576
Nevermind I just read the thread again. Looks like I need the warning is correct. We need just need to specify it.

[2017-12-18 22:30] prztrz opened #585 "Opening modal causes body scroll top or bottom"
I have an issue that wehever I open the modal the body is immediatelly scrolled  to top or to bottom of the website. When the modal is closed the user is not in the place he/she opened the modal but either on the top or on the bottom of website.

I used following CSS to prevent parent element from scrolling (it allways causes the body scrolling top when modal is opened):

[code]

When I try to use

[2017-12-19 12:15] diasbruno commented on #583
@Ne3l I think this is the correct behavior on `react@16` and a issue on `react-modal`. Since your second modal is a children of the first, the events are flowing correctly. There are two options to fix this, we could stop propagating the event if the event is from the `overlay` or you can move the second modal to be a sibling of the first.

[2017-12-19 12:20] diasbruno commented on #583
It should cause no warm to include a check like `event.target == this.overlay` on `handleOverlayOnClick` though.

[2017-12-19 12:20] diasbruno commented on #582
@ptchiangchloe did you find a solution for your issue?

[2017-12-19 12:21] diasbruno commented on #578
@indiesquidge any thoughts?

[2017-12-19 14:10] Ne3l commented on #583
The option of moving the modal to be sibling is not plausible on real world usage. In my case inside the modal i render something like this.

[code]

About the other solutions you mean the user of the library handles the stopPropagation or the library stops the propagation on [requestClose ](https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L257)?

Also i'm not sure

[2017-12-19 14:30] diasbruno commented on #583
gee, sorry. I probably read on a rush. :)

[2017-12-19 14:48] diasbruno commented on #583
Just in case, here is an example of how you can archive the same result using siblings [https://github.com/reactjs/react-modal/blob/master/examples/basic/multiple_modals/index.js](https://github.com/reactjs/react-modal/blob/master/examples/basic/multiple_modals/index.js).

[2017-12-19 18:59] diasbruno commented on #583
@Ne3l can you please review and validate PR #586?

[2017-12-19 19:30] Ne3l commented on #583
@diasbruno

About the siblings, my example was a simplification there are more components in the app hierarchy.
Moving many modals to the root and (pass callbacks or connect with redux) i don't think it would scale well.

About #586, the stopPropagation fixes #583. I'm not sure if removing preventDefault will break something. Why it was there before?

[2017-12-19 19:40] diasbruno commented on #583
[1] That's fine. I wrote a test for your case, than I realize what was the issue (we had something similar about the click on the overlay).

[2] Since this event must be processed on the topmost modal, it should be safe to stop the propagation.

[2017-12-19 20:35] #583 closed

[2017-12-19 20:37] diasbruno commented on #583
Released v3.1.9.

[2017-12-19 20:43] diasbruno commented on #583
Rereleased as `v3.1.10`.
Published `3.1.9` was not released from `master` branch.

[2017-12-21 18:03] Xurma2 opened #587 "Is it possible to add animation like bounce?"
Is it possible to add animation like bounce?
I try to add some code:
`      & .ReactModal__Content {

        &--after-open {
          animation-name: bounceIn;
          animation-duration: 450ms;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
          opacity: 1;
        }

  @keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) trans

[2017-12-21 18:47] diasbruno commented on #587
@Xurma2 Check out the example css [https://github.com/reactjs/react-modal/blob/master/examples/basic/app.css](https://github.com/reactjs/react-modal/blob/master/examples/basic/app.css). Maybe you can find something missing.

[2017-12-21 19:57] diasbruno commented on #587
Also, remove to set the `closeTimeoutMS` to the time of the animation (when closing).

[2017-12-22 12:21] diasbruno commented on #587
Any progress on this issue?

[2017-12-22 12:36] Xurma2 commented on #587
Still no have time to try. I'll write when I do this

2017-12-22 15:21 GMT+03:00 Bruno Dias <notifications@github.com>:

--
*Frontend|React|UI*: victor-js.com
*SkypeID*: victor.developer

[2017-12-29 19:00] ryansukale commented on #585
Until now I was only seeing the issue in firefox.
But as of today, this is happening in on both firefox and chrome.

[2018-01-03 12:01] lydell commented on #585
Wild guess: Could it be that you have something like:

[code]

and forgot `event.preventDefault()`? (You could also use a `<button>`.)

[code]

[2018-01-03 12:35] prztrz commented on #585
@lydell unfortunatelly this is not the problem in my case. Clickable elements are ```<div aria-role="button">``` those should not cause automatically reload page by default, however I tried ```event.preventDefault()``` anyway and it did not work.

For now I worked the problem around engaging state and additional scrollBack() function like here:
[code]

Well it works but does not look very efficien

[2018-01-03 12:45] diasbruno commented on #585
@prztrz @lydell @ryansukale Can you check if #588 can help with this issue?

[2018-01-03 13:02] prztrz commented on #585
@diasbruno thank you, this solution solved my problem.

[2018-01-03 13:23] diasbruno commented on #585
Please, if you have some time available, go ahead and review the PR. :)

[2018-01-08 08:08] indiesquidge commented on #578
Hey, @diasbruno. I have been away on holiday vacation the last few weeks. Let me familiarize myself with this this week and get back to you soon! :)

[2018-01-09 00:33] mvf4z7 opened #589 "Focus escapes the modal when the last element is focused and has tabIndex="-1""
### Summary:

### Steps to reproduce:

 1. Create a modal with more than one tabbable elements
 2. Set tabIndex="-1" to the last tabbable element, and focus it programatically
 3. Hit tab one more time, and focus will go to an element outside of the modal

### Expected behavior:
The focus should return back to the first tabbable element in the modal

### Link to example of issue:
https://stackblit

[2018-01-09 07:36] Jongkeun opened #590 "Modal opened by using mouse right click was not closed even if I clicked ModalPortal."
React-modal is not closed at first click on Linux.
If Modal is opened by mouse right click like a contextmenu, the modal is closed by twice clicking.
A modal that I opened as mouse left click is normal.
And the strange situation is broken only on  **_Linux_**.

### Steps to reproduce:
 1. click the button using mouse right click.
 2. click a background using mouse left click. The modal is not clos

[2018-01-09 12:20] diasbruno commented on #590
This is a very curious scenario. It is also reproducible on Safari (OS X).

[2018-01-09 12:27] Jongkeun commented on #590
It is normal until version 2.3.3.

[2018-01-09 12:29] diasbruno commented on #590
Thanks. I'll check if something has changed on the handlers from `2.3.3..latest`.

[2018-01-09 12:34] Jongkeun commented on #590
Check the pull request.
I added some code.
I don’t know if that is right.
Anyway I hope to fixed soon.
Cheer!

[2018-01-09 19:41] ekohanyi opened #592 "Failed propType Warning"
### Summary:
I'm receiving a failed propType warning whenever I open a bare modal (without any of my work on top). I'm using React 15.1.0

"react.js:19500 Warning: Failed propType: Calling PropTypes validators directly is not supported by the `prop-types` package. Use `PropTypes.checkPropTypes()` to call them. Read more at http://fb.me/use-check-prop-types Check the render method of `WidgetSetting

[2018-01-10 03:14] ryami333 opened #593 "Huge memory leak with Jest/Enzyme after upgrading to react-modal 3.X"
### Summary:
For a while now, I've been unable to upgrade to `react-modal` 3.X in my React 16 project with Jest/Enzyme because when I run tests Node itself actually crashes and I usually have to take some fairly nuclear steps such as force-quitting the process in my activity monitor app in order to use it again. The latest 2.X release of `react-modal` is totally fine.

### Steps to reproduce:

 1.

[2018-01-10 05:51] diasbruno commented on #593
Hi @ryami333, can you give more information about this tests?...or is there anything unusual about how are you using `react-modal` like keep reference of the modal children?

[2018-01-10 19:48] fozenite commented on #501
The fix @madeinspace mentioned works. Refer https://stackoverflow.com/questions/5662178/opacity-of-divs-background-without-affecting-contained-element-in-ie-8/5662662. Change your overlay background to a rgba color.

[2018-01-10 23:03] mvolkmann commented on #314
It looks like you also have to set the prop `shouldCloseOnEsc` according to the code at https://github.com/reactjs/react-modal/blob/79688e85bb851b15343b2f2376ad01076a4e08d9/src/components/ModalPortal.js#L204. However, even after setting that prop the modal doesn't close for me when I press ESC. I do have onRequestClose set also and the function that is set to does not get called when the ESC key i

[2018-01-10 23:05] mvolkmann commented on #314
Ah! I had shouldFocusAfterRender set to false. That breaks it because then it doesn't get the keyDown events. The reason I didn't want it to get focus is that I don't want the browser to put a blue border around it. I wonder if there is a way for it to get focus and not give me the blue border.

[2018-01-10 23:08] mvolkmann commented on #314
Got it! I just needed this in my CSS:
[code]

[2018-01-11 11:18] Joel-Mercier commented on #462
I feel like the default content styles kind of confuse you because they cover much of the screen and I adapted them to act as kind of an overlay and put the actual modal inside so the actual overlay never closed the modal. Not sure how to improve that because it's just a misunderstanding. Fixed it thanks to this thread though.

[2018-01-11 19:04] shantsimonian opened #594 "<li> element through which modal is generated not going into background until mouse off"
### Summary:

I'm using React 16, and I have an unordered list, and each li element in the list contains a button that is supposed to trigger a react-modal to appear. Whenever the button is clicked, the modal appears, but the whole li element that generated the modal remains in the foreground (in front of the modal) until the mouse leaves the borders of the li element. The modal covers everything

[2018-01-11 19:29] enapupe commented on #593
This seems to be an issue with `createPortal`.. not sure if enzyme has proper support for it?

[2018-01-11 20:51] diasbruno commented on #594
Hi @shantsimonian, did you set up `react-modal` to use the bootstrap modal classes?

[2018-01-11 20:51] diasbruno commented on #594
[https://github.com/reactjs/react-modal/blob/master/examples/bootstrap/app.js](https://github.com/reactjs/react-modal/blob/master/examples/bootstrap/app.js) Here is an example to use react-modal with bootstrap.

[2018-01-11 21:39] shantsimonian commented on #594
Hi @diasbruno, thanks for your response -- I'll give this a shot today!

[2018-01-11 22:16] ryami333 commented on #593
@diasbruno I'm not doing anything like that, no. I'm using `enzyme` and `enzyme-to-json`. Most of my tests follow this kind of pattern:
[code]

The tests all actually appear to pass, but they just get slower and slower, and eventually the test runner hangs and those node heap errors start spewing.

@enapupe yeah portals seem the most likely candidate don't they?

[2018-01-11 22:34] diasbruno commented on #593
@ryami333 That's a place to look at. Thanks, @enapupe.

[2018-01-11 22:37] amangeot commented on #576
Hello, I got the same warning, how do you guys make use of appElement?

Is it `appElement={document.getElementById('root')}` where 'root' would be where the app is mounted?

[2018-01-12 03:24] shantsimonian commented on #594
@diasbruno Tried it out - the same issue still persists. The styles look good now, though (they are bootstrap styles). Does the app element have to be the direct parent of the modal? Because I've currently set the app element to be the root div of my application (the one that I've manually created and given an id to in index.html).

[2018-01-12 05:50] shantsimonian commented on #594
Hey @diasbruno - so I was able to finally solve the problem by adding a high z-index value to the class `.ReactModal_Overlay`. I just set the z-index to 10000 and that fixed the issue. I'm not sure if this is a general problem or not, but I think it might be worth looking into or at least documenting! Thanks again for providing me with that link.

-Shant

[2018-01-12 19:05] #594 closed

[2018-01-14 03:34] diasbruno commented on #592
Hi @ekohanyi, this error is related to your component `WidgetSettingsModal`. If your component use prop types, please, can you check everything is ok with that component.

[2018-01-16 03:47] AshotN opened #595 "ESQ close"
Is it possible to add the functionality of pressing the ESQ key to close the model?

Thanks

[2018-01-16 14:01] diasbruno commented on #595
Hi @AshotN, This feature is already present in react-modal and enabled by default. Here is an example of how to use it:

[code]

where `handleRequestClose` is a function that toggle the state of `isOpen` on your component.

[2018-01-16 14:06] #590 closed

[2018-01-19 09:11] lejahmie commented on #99
This is still an issue when having multiple modals. Using version 3.1.11.
I guess issue is that when having more than one modal is that the opened modal adds class but closed modals removes body class.

[2018-01-19 16:55] diasbruno commented on #595
I'll close this since this feature is already available. Thanks!

[2018-01-19 16:55] #595 closed

[2018-01-19 16:56] diasbruno commented on #592
@ekohanyi did you find a solution for this?

[2018-01-19 17:00] diasbruno commented on #589
Hi @mvf4z7, probably we need to override the browser behavior for any case for the last element.

[2018-01-19 17:31] cgalbiati commented on #563
This seems to be the most common solution, but it appears the node prop has been deprecated.  Using React 16.2 and enzyme 3.1, I am seeing this error:
[code]

[2018-01-22 03:15] slassen commented on #62
Here's how I do it with my modals.

[code]

[2018-01-23 17:55] ekohanyi commented on #592
Hi @diasbruno that is actually why I originally reached out, we don't explicitly use prop types or validate against them in our components. I'm looking into any ways we could be implicitly using them, but thought I'd reach out in case this was a known warning that was getting thrown

[2018-01-23 18:07] pdecrat opened #596 "Reference Error: cannot read "bool" of undefined"
Hi,

We are using your package in an app currently in production, and your last update seems to have introduced a breaking change for us. Forcing it back to 3.1.10 did the trick, and commenting out react-modal entirely also allowed the app to launch.

With 3.1.11, the browser window stays white, and the message I used as a title appears in the console.

I realize this is nowhere near enough inform

[2018-01-23 18:30] diasbruno commented on #596
Hi @pdecrat, If you have a change, can you try to get the stack trace or some details about it?

[2018-01-23 18:44] diasbruno commented on #596
The only thing that could be related to `bool` seems to be accessing `PropTypes`.

[code]

Logging just so we have some information.

[2018-01-23 18:46] diasbruno commented on #592
If possible, can you make a reproducible example with this?

[2018-01-23 18:51] diasbruno commented on #582
I'm closing this issue, because it got stale. If you can provide more information about this issue, please feel free to reopen this.

[2018-01-23 18:51] #582 closed

[2018-01-23 19:24] ptchiangchloe commented on #582
Hi @diasbruno ,
I think I figured out. It's been a while, I think it's fine now.

Thanks,

Han

[2018-01-23 20:58] pdecrat commented on #596
The stack trace doesn't show more than you already have. It references Modal and ModalPortal, everything else is minified (this only happens on live servers, remember).

![capture d ecran 2018-01-23 a 21 56 31](https://user-images.githubusercontent.com/9849093/35300345-6c235670-0088-11e8-987a-e95f4f93487d.png)

Let me know if there is anything else that I can easily do, I am still new to web devel

[2018-01-23 21:24] diasbruno commented on #596
If you follow the first link (`at ModalPortal.js {link}`), where does it points you?

You can try to make a build with `prop-types` installed.

[2018-01-23 23:07] javidjamae commented on #170
FYI - There is an `appElement` prop you can use:

[code]

[2018-01-24 13:40] NateRadebaugh opened #597 "Bootstrap example is using outdated bootstrap beta release"
### Summary:
The Bootstrap example is using outdated bootstrap beta release

### Steps to reproduce:

 1. npm start

### Expected behavior:
Bootstrap CSS should point to `https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css`

### Link to example of issue:
https://getbootstrap.com/

### Additional notes:

[2018-01-24 14:58] ollwenjones commented on #291
"jest" involves snapshot example with `react-test-renderer` ?

[2018-01-24 15:11] ollwenjones commented on #291
if this helps anyone, I had to add a dummy app element to get around the `App element is not defined` error in Jest:
[code]

[2018-01-25 02:51] kuroshio commented on #553
I had the exact same issue, got it working by using enzyme-to-json instead of react-test-renderer

[code]

[2018-01-26 20:40] mockdeep commented on #576
I was seeing this when the modal is unmounted without having been triggered. Adding this fixed the issue:

[code]

[2018-01-28 10:50] romanlex commented on #561
@diasbruno I make example
https://codesandbox.io/s/xz09v559o
In example when your trying close the modal you see delay(((

[2018-01-28 19:19] lvl99 commented on #569
I have the same issue, however the package.json for my framework has a "babel.env.development..." object which is getting loaded when I run env as development on another project which includes the framework files. Anyway to get the project-level settings ignored? Or is there a better way around this?

[2018-01-29 21:27] #597 closed

[2018-01-30 13:04] karunkamal opened #600 "NVDA: Arrow Keys (Read mode) not working:"
### Summary:
Focus goes on modal and Arrow key triggers default action (scrolling page).

### Steps to reproduce:

 1. Open NVDA , Firefox. Open Modal
 2. the focus goes on and read the heading (aria-label/contentLabel) of modal defined
 3. Pressing DOWN ↓ Arrow key should read next content, instead it does not.

### Expected behavior:
Screen reader should read next content avalable inside modal

[2018-01-30 21:49] diasbruno commented on #600
@karunkamal can you check if there are any element receiving the focus instead of the one with the scroll.

[2018-01-31 08:34] sialvsic commented on #62
[code]

[2018-01-31 11:41] karunkamal commented on #600
@diasbruno I threw focus on the input inside the modal, and still i couldn't use the arrow key to go to next content after/before input. Pressing ESC key here would close the modal, making rest of the content non-accessible except the one which are tabbable.

[2018-01-31 20:00] diasbruno commented on #600
Can you write an example, please?

[2018-02-01 14:46] karunkamal commented on #600
https://codesandbox.io/s/1rwvyykjvq

Doesnt seem to be issue, will cancel this

[2018-02-01 18:09] kloots opened #601 "aria-hidden not removed if another instance with ariaHideApp=false is open"
### Summary:

If you have two modals, one with `ariaHideApp` set to `false`, the other with `ariaHideApp` set to `true` and you then close the modal with `ariaHideApp` set to `true` the `aria-hidden` attribute will remain set to `true` on the app element when it should be false.

### Steps to reproduce:

 1. Create two instances of `<Modal>` one with `ariaHideApp` set to `false`, the other with `a

[2018-02-02 12:31] diasbruno commented on #600
Ok, @karunkamal. I'll try to find some time to review this.

I'll close this, for now, but please, feel free to reopen if you confirm it is an issue on react-modal.

[2018-02-02 12:31] #600 closed

[2018-02-02 20:35] #601 closed

[2018-02-06 05:31] danderson00 commented on #62
It would seem there are enough people asking for this feature. It's not sufficient to declare static CSS classes as this doesn't meet the needs of the OP - i.e. *dynamic* modal sizes.

It would be relatively trivial to implement additional props on the `Modal` component that affect the size.

[2018-02-06 05:31] NathanielHill opened #603 "overlayClassName and styled-components not playing nicely"
I'm running into a problem trying to encapsulate my Modal styles with styled-components. The following approach fails to work and the defaultProps() route is a no go as well. After looking at how react-modal generates the modal elements outside of the `<App/>` root in the DOM, it's not surprising this is causing problems. It looks like [buildClassName()](https://github.com/reactjs/react-modal/blob

[2018-02-06 11:51] diasbruno opened #604 "Calling for volunteers."
It has been awesome to manage such a project, a real challenge and great experience, but It's time to move on and take care of other things.

I'll continue helping this project, but It would be great if more people have the "keys" to make this library even better and respond to issues and pull requests.

Thanks to everyone whom helped with ideas, pull request, found bugs...
Dias

[2018-02-06 11:56] leonascimento commented on #604
You have made an excellent work on this repository Mr. @diasbruno, I have a interest to contribute and help this project.

[2018-02-06 20:08] NathanielHill commented on #603
For anyone searching, I solved this using a wrapper function, assuggested by @exogen

[code]

[2018-02-06 20:08] #603 closed

[2018-02-08 12:07] WickyNilliams opened #605 "Allow arbitrary/custom props to be passed to modal (and rendered)"
It would be useful if arbitrary props could be supplied to the Modal component, and be rendered to the DOM. A use case is adding data-* attributes for test hooks.

This was previously possible, but has since been removed. The original PR and some discussion can be found here: https://github.com/reactjs/react-modal/pull/230

[2018-02-08 12:17] NithishReddy opened #606 "How to retain background scroll position after closing modal ?"
Hi,
 I am implemented Modal in React.
But after closing modal, document is going to top of the page, it is not retaining its scrolled position (i.e scroll position of page before opening modal).

Any solution??

[2018-02-08 12:27] diasbruno commented on #606
Hi@NithishReddy, check out PR #588. It may have some ideas to help with this issue.

[2018-02-08 13:51] diasbruno commented on #605
That PR was not fully merged, but part of the code was integrated to make `aria-` attributes possible.

You can follow #442, if you want go give it a try and I'll be happy to merge this feature.

[2018-02-08 22:35] jasonblanchard opened #607 "Tab focus escapes modal on shift + tab after opening"
### Summary:

### Steps to reproduce:

 1. Open modal
 2. Hit `shift` + `tab` (before doing anything else)
 3. You'll see that the tab focus will move outside the modal.

### Expected behavior:
Tab focus is _always_ trapped inside the modal when it is open.

### Link to example of issue:
This can be reproduced in all the examples in this repo.

### Additional notes:

[2018-02-08 22:36] jasonblanchard commented on #607
I'm working on a fix now, I _think_ it's small.

[2018-02-09 00:12] diasbruno commented on #607
Hi @jasonblanchard, here is a place to look [src/helpers/scopeTab.js#17](https://github.com/reactjs/react-modal/blob/master/src/helpers/scopeTab.js#L17).

Probably we should move the focus to the last element like this case [src/helpers/scopeTab.js#L26](https://github.com/reactjs/react-modal/blob/master/src/helpers/scopeTab.js#L26).

Hope this info can help.

[2018-02-09 00:35] jasonblanchard commented on #607
@diasbruno Yup, that's exactly it. Pushing up a PR momentarily.

[2018-02-09 13:25] #607 closed

[2018-02-10 13:21] sksundram commented on #576
@mockdeep Where did you add `Modal.setAppElement('#app-base');`

[2018-02-10 16:33] andfinally commented on #486
This was useful for me, thanks! I was having a possibly related problem with a button in the modal content which was disabled but still had the focus.

[2018-02-10 16:39] mockdeep commented on #576
@sksundram right now I've got it in each of the files that I'm importing `Modal` for rendering. I suspect you could put it just about anywhere, though, like in your top-level `app.js` file, as long as it is called before the modal is rendered.

[code]

[2018-02-14 13:03] MaksimKniazeu opened #611 "VoiceOver fails on aria-modal="true""
### Summary:
In current moment dialogs that wrap up with aria-modal perfectly lock NVDA user from navigate outside a dialog but for VoiceOver users it is make unreachable some static content.

### Steps to reproduce:
 1. Apply react-modal approach
 2. Fill mentioned dialog with static text in 3 <p> tag
 3. Try to reach it in VO

### Expected behavior:
Content is reachable

### Additional notes:
ht

[2018-02-14 16:22] ophite commented on #89
This error with:
15.6.2 -react,
3.1.13 - react- modal

[2018-02-15 12:03] #478 closed

[2018-02-15 12:13] diasbruno commented on #611
Hi @MaksimKniazeu, the version specified that `webkit nightly build` is affected (don't know if this gets to the end-user). So I don't know if we need to take action now. Can you please post more information about this.

If we need to do something we can make a hack to check for iPad and iPhone and disable only for this devices.

[2018-02-15 22:37] christinechou commented on #603
@NathanielHill Were you getting this to work without using injectGlobal?

[2018-02-15 22:39] exogen commented on #603
@christinechou I use this method, and yes, it works without any `injectGlobal` necessary.

The only thing you should need `injectGlobal` for is if you want the optional body styling like:

[code]

[2018-02-15 22:46] christinechou commented on #603
Got it - so the reason this works is that it's overwriting the React Modal's portalClassName with the `className` being generated by styled components and attached to the component. I had it reversed (I was passing down the same className from the adapter wrapper into the ReactModal className).  Thanks!

[2018-02-15 22:47] exogen commented on #603
Exactly! :)

[2018-02-16 09:23] sandrija commented on #106
Hi guys,
@priyanka-jalan I'm already using solution like you mentioned above, but animation on all modals (dialog - react material.ui) is not working. Any advice how to solve this?

[2018-02-19 08:30] MaksimKniazeu commented on #611
Hi @diasbruno, initially I faced with this issue on macOS about 6 month ago, hopefully, react-modal allows me to set aria attributes that I find necessary. In current moment we switch to 2.4.1 version.

I act as a accessibility developer for 3 years and realize that best approach for dialogs that works everywhere and make it really modal for screen reader is set aria-hidden="true" for all content

[2018-02-19 17:27] enapupe commented on #462
Hey! I'm having a similar issue: I can close (dismiss) it by pressing [ESC] through `onRequestClose` function but not when clicking on the overlay..

`└─ react-modal@3.2.1`

[2018-02-19 17:31] enapupe commented on #462
Never mind.. The implementation I was working on had an additional class via `className` prop and that class extended some div content to 100% top/right/bottom/left in a way it was impossible to click the outer div.

[2018-02-19 21:20] ryami333 commented on #593
@diasbruno have you had any success replicating this bug? I'm still unable to upgrade at all. Using latest versions of `enzyme`, `enzyme-adapter-react-16`, `react-test-renderer` and of course `react-modal`.

[2018-02-19 22:00] diasbruno commented on #593
This can be related to the environment the modal is been rendered [src/components/Modal.js#L187](https://github.com/reactjs/react-modal/blob/master/src/components/Modal.js#L187).

It will just return `null` if it can not use the `DOM`.

[2018-02-19 22:03] ryami333 commented on #593
But why would returning null result in a big memory exception? Returning null is a perfectly valid render return value.

[2018-02-19 22:05] diasbruno commented on #593
It's possible that it is not clean up resources properly. Can you write a small app with test? It would be better to debug.

[2018-02-19 22:56] ryami333 commented on #593
Here you go @diasbruno: https://github.com/ryami333/react-modal-memory-exception

This is a 'Create React App' web-app, where I've done the following:
- Installed `enzyme`, `react-modal` and `enzyme-adapter-react-16`.
- Added a <Modal> to `App.js`.
- Tried to `render` the 'App' component in `App.test.js`.

Simply run `yarn install && yarn test` (or `npm install && npm test` I suppose) to replicate

[2018-02-20 00:05] diasbruno commented on #593
The modal seems to be rendered. I'll try to see what is going on.

`./node_modules/.bin/react-scripts --inspect-brk test --env=jsdom --runInBand`

[2018-02-20 02:03] #454 closed

[2018-02-20 03:10] leonascimento commented on #611
@MaksimKniazeu can you confirm if this bug happens just on iPad and iPhone?

[2018-02-20 07:36] MaksimKniazeu commented on #611
@leonascimento false, bug is true for macOS too. So devices such as macBook, macMini, iMac etc included. Therefore you need to extend your code for "Mac OS" condition (see comment for your commit).

[2018-02-20 16:29] diasbruno commented on #606
I'm closing this for clean up. Please, follow #614 for more information about this since it seems related.

Thank you.

[2018-02-20 16:29] #606 closed

[2018-02-20 16:35] diasbruno commented on #611
We had some problems using `aria-hidden` (not sure if it was confusing or just a wrong a implementation).

I'll need to have a look on the specs for those attributes, but if you can elaborate/advise/plan a better implementation, I could help writing a patch to improve our a11y.

[2018-02-20 18:07] rharriso commented on #593
This could be an issue with `jsdom` I was seeing a similar bug when running integration tests (no enzyme render). This problem went away when I removed `jsdom` from the configuration.

[2018-02-20 18:16] diasbruno commented on #593
@rharriso Thanks for the info. I'll try to dig in.

[2018-02-20 18:42] diasbruno commented on #593
Some resources to help tracking this issue:

[https://github.com/felixge/node-memory-leak-tutorial](https://github.com/felixge/node-memory-leak-tutorial)
[https://github.com/jsdom/jsdom/issues/1705](https://github.com/jsdom/jsdom/issues/1705)

[2018-02-21 00:55] diasbruno commented on #593
It seems to be stuck in an infinity loop on:

[code]

[2018-02-21 01:24] diasbruno commented on #593
Well...you're test has passed. :)

[code]

[2018-02-21 01:48] diasbruno commented on #593
Try to apply this patch on your project and tell me your results.

[code]

[code]

node_modules/react-dom/cjs/react-dom-server.node.development.js

[2018-02-21 01:49] diasbruno commented on #593
It's not a proper fix, I still need to investigate more, it's just to have an idea of what is going on...

[2018-02-21 14:51] woniesong92 commented on #585
@diasbruno is there any other reason why setting both `.ReactModal__Body--open` and `.ReactModal__Html--open` to hide overflow not prevent the scrolling? I confirmed that the classes and styles are added but it still scrolls to top when the modal is open.

[2018-02-21 14:58] diasbruno commented on #585
@woniesong92 Can you make a simple example for this case?

[2018-02-21 17:25] diasbruno commented on #584
@1pete finally got some time to fix this. can you review the PR, please?

[2018-02-21 17:26] diasbruno commented on #584
BTW, thanks for raising this issue.

[2018-02-22 04:29] Jongkeun opened #619 "Modal was not closed if I clicked ModalPortal by mouse right button."
### Summary:
It may be intentional or not, but there is case like a title.
It was normal until version 1.6.5.
I think [it](https://github.com/reactjs/react-modal/commit/4232477489162511943be62dd20b2b72f28cd6d5) was start point of this issue.
Before, onMouseup and onMouseDown were separated.
However, as it merges into one, the left mouse and right mouse functions are disconnected.

### Steps to rep

[2018-02-22 12:37] diasbruno commented on #619
#609 (`v3.2.1+`) introduced the feature to get the references for the overlay and content. So it is possible to manage this cases.

It would be convenient to have this feature, something like `onOverlayContextMenu`, but I'm trying to not introduce application-specific behaviour.

I'll leave this open for discussion and it fits a more general case, we can get this on `react-modal`.

[2018-02-22 12:39] diasbruno commented on #593
cc @ryami333 Please let me know when you get a chance to try this patch.

[2018-02-22 12:42] diasbruno commented on #619
cc @MaksimKniazeu If you have any comment/advice regarding accessibility about the "right click to close" and "context menu".

[2018-02-22 15:41] rharriso commented on #593
@diasbruno I tried this out on my test suite. And it works!

[2018-02-22 15:44] diasbruno commented on #593
@rharriso sorry, forgot to mention you. Thanks for trying it.

[2018-02-22 16:21] diasbruno commented on #593
After some investigation, I reached the same state as [facebook/react/issues/11565](https://github.com/facebook/react/issues/11565).

[2018-02-22 18:41] sgriffey opened #620 "Misleading Codepen Demo"
### Summary:
The codepen demo for "Using shouldCloseOnOverlayClick" is misleading because that attribute is set to false. When trying to experience the close behavior on overlay click, the demo therefore doesn't work. Once I edited the JS to be shouldCloseOnOverlayClick={true}, all works as planned.

### Steps to reproduce:

 1. Visit NPM package[https://www.npmjs.com/package/react-modal]
 2. Clic

[2018-02-22 18:45] diasbruno commented on #620
@sgriffey Yeah, you are right. I think we demonstrate both cases. Can you create the example?

[2018-02-22 19:03] sgriffey commented on #620
@diasbruno example of modal closing on overlay click here:
https://codepen.io/sbgriffi/pen/WMyBaR

[2018-02-22 23:34] ryami333 commented on #593
@diasbruno that patch works for me too! Does this mean you will create a PR for react itself?

[2018-02-22 23:44] diasbruno commented on #593
Actually, it's not a fix. The things I wrote here are just for logging. That is really incorrect since it will skip the `frame.children[0]`. So, I'll still debugging this issue.

WARNING: it is not known the side-effects of this patch. :)

[2018-02-22 23:51] diasbruno commented on #593
@ryami333 @rharriso Did you applied the patch on a real project?

[2018-02-22 23:54] ryami333 commented on #593
Yes I did, one with over 200 render tests.

[2018-02-23 00:05] diasbruno commented on #593
Interesting. I'll continue investigating to find the problem (if possible).

[2018-02-23 00:15] ryami333 commented on #593
Sorry, I should qualify my response a little bit - the tests don't all pass, but they no longer crash.

[2018-02-23 01:10] Jongkeun commented on #619
@IlyaPomaskin, @MaksimKniazeu
Could you help me please?

I read your commit and tried to using `overlayRef` but I can't what I need.
I don't know if I'm a beginner. I started javascript on last November. Sorry.
Could you give me [example](https://codepen.io/jongkeun/pen/LQjBxq?editors=0010) for user?
I want to close `Modal` when I clicked `ModalPortal` by mouse right button.

[2018-02-23 02:09] diasbruno commented on #619
@Jongkeun, I'm so sorry, I was doing a lot of stuff today and I forgot to give some hints.

Here is one approach...

[code]

Hope this helps!

[2018-02-23 02:25] leonascimento commented on #611
@diasbruno @markerikson I did a update on this pull request. Can you make the code review?

[2018-02-23 14:17] diasbruno commented on #620
@sgriffey Can you, please, review PR #621?

[2018-02-23 17:43] rharriso commented on #593
@diasbruno, yes. It's a private company project with 600 tests

[2018-02-23 17:44] rharriso commented on #593
However, the error was see in our integration test suite, which renders with ReactDOM, not enzyme

[2018-02-23 17:50] diasbruno commented on #593
@rharriso so you are using some kind of browser?

[2018-02-23 18:22] rharriso commented on #593
No, these tests just make sure the page responds with 200.
we injecting a request into the Hapi server, and looking at the response code.

[2018-02-23 18:47] diasbruno commented on #593
There is a second patch I made, it should work with `react-test-render` (I still need to test it).

I'll publish on a fork of `react`.

[2018-02-23 18:59] rharriso commented on #593
@diasbruno  Let me know what you want me to test out.

[2018-02-23 20:12] #620 closed

[2018-02-24 00:31] diasbruno commented on #593
The potential bug is:

[while (React.isValidElement(child)) {](https://github.com/diasbruno/react/blob/master/packages/react-dom/src/server/ReactPartialRenderer.js#L399). If the `child` has type `react.portal`,  [React.isValidElement(child)](https://github.com/diasbruno/react/blob/master/packages/react/src/ReactElement.js#L364) will return `false`. Then it will [return {child, context};](https://g

[2018-02-24 02:32] rharriso commented on #593
@diasbruno I probably can't this week. But probably soon after, I'll get back to you next week though!

[2018-02-24 02:35] ryami333 commented on #593
@diasbruno - what do you mean by upgrading React? I've been experiencing this on the latesr version of React (16.2.0)

[2018-02-24 02:43] diasbruno commented on #593
You are right. Totally forgot I was on the `master` branch.

I'm trying to finish the patch to submit to `react`.

The patch is available [here](https://github.com/diasbruno/react/tree/fix/skip-rendering-portals-on-ssr).

[2018-02-25 23:29] cmrigney commented on #563
For anybody else coming across this, I had to `setTimeout(() => { wrapper.update();  .... });`

[2018-02-26 01:20] Jongkeun commented on #619
Thanks.
It was very helpful to me.

[2018-02-26 01:20] #619 closed

[2018-02-26 13:29] leonascimento commented on #611
Hi guys, @diasbruno @MaksimKniazeu.
I figure that we need to remove this `aria-modal` just to this specific version that happens it.
I'm thinking that we apply this patch to all `webkit` it is not right.

[2018-02-28 09:45] MaksimKniazeu commented on #611
Hi @leonascimento as my testing show, all current versions of webkit and version below deal bad with aria-modal. So it is OK to remove aria-modal for all webkit.

[2018-02-28 11:52] gusliedke commented on #604
Thank you Bruno, You did a fantastic job as maintainer of React Modal. I would be happy to help out as well as much as I can. And good luck on your new projects!

[2018-02-28 12:24] diasbruno commented on #604
@leonascimento @gusliedke Thanks for your interest in helping this project. I'll be around providing any help needed and then provide the access to manage this project.

[2018-02-28 18:20] damorton commented on #133
[code]
FYI This also works.

[2018-02-28 18:22] catamphetamine commented on #133
@damorton Not, it doesn't.
There's no `document` on the server.

[2018-03-01 23:15] AllanCodes opened #622 "Wondering how to call openModal from outside class"
So I have a class `class FeaturesList extends Component`

Above this class I have a function that returns:
[code]
The bolded text is where I'm trying to call open modal.  I have the example code placed inside the classes render function and instead of clicking the button I would like it to be connected here.  Can anyone give some advice for this?

[2018-03-02 12:27] diasbruno commented on #622
Hi @AllanCodes, you would have to know which object will hold the `isOpen` state for the modal.

In this example, `B` will ask `A` to open the modal.

[code]

In this second example, we can pass the function `openModal` to `B`, so it can be used in the right place.

[code]

Hope it helps.

[2018-03-02 16:16] #622 closed

[2018-03-02 16:23] diasbruno commented on #622
@AllanCodes those examples what you were looking for?

[2018-03-02 16:24] AllanCodes commented on #622
These helped and I was able to figure out the rest, thanks @diasbruno!

[2018-03-02 22:35] MidnightJava commented on #232
What do you set dragHandle to? I guess I don't understand the parent context here, and I get a runtime error because that variable is undefined.

[2018-03-04 17:45] Ralf8686 commented on #369
`position: fixed` nice solution. In https://github.com/robinparisi/tingle it is work - https://github.com/robinparisi/tingle/commit/cf389d32ecaaccfa1452db2e08c73f8d2602739b,
https://github.com/robinparisi/tingle/commit/0bc1b5d748775eb10aa40ea87d1e5dd52d1c5c9d

[2018-03-06 22:04] terraswat opened #625 "request: user may interact with the rest of UI while modal is displayed"
### Summary:
Is there a way to allow interaction with the rest of the UI while a modal is displayed? This is different than just changing the overlay background to transparent.  The use case is an informational modal that will fade away in a few seconds without interrupting whatever the user is currently doing.

### Steps to reproduce:

 1. user requests a statistics job that will run on the serve

[2018-03-06 22:35] diasbruno commented on #625
Hi @terraswat, I think you will be better with a more specialized component. There are many package/component for this purpose ('toast' or 'notification').

With `react-modal`, you can always try to change the `style` or by passing the `overlay` and `class` name. The idea is to define the overlay with position absolute and set the position and size accordingly.

The full documentation about those

[2018-03-06 22:54] terraswat commented on #625
Thank you for the quick response. You gave me an idea on how to do what I want:

	- make the overlay very small
	- set the property 'shouldCloseOnOverlayClick' to false

So the message either fades away while the user is on another task, or the user may click the close button in the upper right.

I really want to use your component because I've standardized style and am reusing a react-modal compo

[2018-03-06 23:00] diasbruno commented on #625
That's fine. Glad it helped. :)

I'll close this issue for now, but feel free to reopen if you have questions.

[2018-03-06 23:00] #625 closed

[2018-03-07 18:59] reyronald commented on #553
Something else that works is mocking the Portal in the top of the test file like this:

[code]

Obviosuly you'll need to install the `rc-util` package

[2018-03-08 10:21] icristal opened #626 "unable to change the parent of modal using parentSelector props"
I am unable to change the parent node of the modal even though parentSelector accepts a function.

Take for example this code:

[code]

so if my initial `anchorSelector` has a value of `div.initial-container` the modal opens with no problem. however if I close the modal and change the anchorSelector to `div.second-container` it does not use the second-container at all and still uses the initial on

[2018-03-09 09:08] asborisov commented on #593
@diasbruno Can you advice the best way to avoid this problem for now (until fix merged into next version of react)?

[2018-03-09 12:43] eldamir commented on #232
My `dragHandle` varialbe is just the classname of the `<ModalHeader />`, so that I can drag the dialog by clicking down on the header bar

[2018-03-09 16:05] rharriso commented on #593
@asborisov I avoided this by removing `jsdom` from our integration tests. That may not be an option for unit tests though.

[2018-03-09 16:20] diasbruno commented on #593
@asborisov @rharriso Follow the react issue I've mention here. Many ideas/workaround have been publish there.

[2018-03-10 03:24] asborisov commented on #593
I downgrade to 2.4.2 and looks it work now. Will wait until correct fix is merged

[2018-03-13 01:12] #584 closed

[2018-03-14 20:54] joetidee opened #627 "Can you use this package with styled components?"
Can you use this package with styled components?

[2018-03-15 14:40] afercia commented on #611
Hi guess part of the issue here is that `aria-modal` [shouldn't be set on the modal overlay](https://github.com/reactjs/react-modal/blob/fa870464786d40835be7901f8ed6ca11be621e62/src/components/ModalPortal.js#L345). Instead, this attribute is meant to be applied on the same element that has a `role="dialog"`. See:

ARIA 1.1
https://www.w3.org/TR/wai-aria-1.1/#aria-modal
Inherits **into** Roles: ale

[2018-03-15 23:46] alabeduarte commented on #563
Hi there,

On top of what @ramusus suggested, here's the code that worked for me, it might be helpful:

Assuming I have the following `Modal`:

[code]

My tests were like this:

[code]

Now my tests looks like this:

[code]

Thanks a lot @ramusus and @cgalbiati

[2018-03-16 17:34] WickyNilliams commented on #603
I needed to go a little above and beyond the above to get full control of styles:

[code]

Hope this helps someone :)

[2018-03-17 10:59] SimoNonnis commented on #627
Yes, you can (I don't know if this solution is the idiomatic way), check it out:

**Component**
[code]

**Style (where I am importing react-modal)**
[code]

[2018-03-17 20:08] #627 closed

[2018-03-17 23:27] indiesquidge commented on #578
@diasbruno, after digging back into the necessity of having every key be required on the `className` and `overlayClassName` props as objects, it seems like there are a number of ways in which we can allow the keys to be optional. Looking back through this library's history, it seems the reason the keys were made required was because a missing key resulted in a class name of `undefined` being added

[2018-03-18 00:16] diasbruno commented on #578
You are right about the 'missing the default'. This problem could be fixed by merging with some default object like:

[code]

Maybe this function need to be refactored since it can do unnecessary work depending on the type of `additional`.

[2018-03-19 13:12] SeanMcP opened #628 "shouldFocusAfterRender doesn't function with custom modal CSS classes"
### Summary:
When using custom CSS classes for the modal, the `shouldFocusAfterRender` property boolean has no discernible effect on the modal: it is always focused on render.

### Steps to reproduce:
 1. Open custom CSS example: [https://codepen.io/claydiffrient/pen/KNjVrG](https://codepen.io/claydiffrient/pen/KNjVrG)
 2. Add property to ReactModal component: `shouldFocusAfterRender={false}`
 3.

[2018-03-23 11:17] ahmedHanie93 opened #629 "Alternative for react-title-component in React version 16"
### Summary:
I used to use react-title-component, but since migrating to React 16 I can't find an alternative.

### Expected behavior:
Having a dynamic page title depending on which page you route to.

[2018-03-23 11:53] diasbruno commented on #629
Hi @ahmedHanie93, can you make an reproducible example on `codepen` or `codesandbox`?

[2018-03-24 19:49] indiesquidge commented on #628
Hey, @SeanMcP. Looks like you're examples are using a fairly old version of ReactModal (`v1.6.2`). The `shouldFocusAfterRender` prop was not added to this library until `v2.3.1`. Is it possible for you to upgrade your app's version of this library?

[2018-03-25 03:05] bjb118 commented on #279
Right now whenever my modal closes, it scrolls all the way left and does not return to the original div that called it. Ive tried every api callback and every  react lifecycle method, and nothing works. However, if i use scrollIntoView in the terminal, it works just fine.

Steps to Reproduce:
1. Go to http://www.arabisraeliconflictmadesimple.com/timeline
2. press options, UN
3. scroll right to 196

[2018-03-25 03:25] bjb118 opened #631 "React Modal resets x axis scroll bar once opened"
Right now whenever my modal closes, it scrolls all the way left and does not return to the original div that called it. Ive tried every api callback and every  react lifecycle method, and nothing works. However, if i use scrollIntoView in the terminal, it works just fine.

Steps to Reproduce:
1. Go to http://www.arabisraeliconflictmadesimple.com/timeline
2. press options, UN
3. scroll right to 196

[2018-03-26 18:21] nickaversano opened #632 "setAppElement throws error in tests"
### Summary:
When running in `test`, the `lib/helpers/ariaAppHider.js:24` throws:

`Error: react-modal: No elements were found for selector #app.`

### Expected behavior:

Should not throw errors in test.

[2018-03-27 10:13] WemkoDijkhuis opened #633 "Overlay mouse up event closes modal"
### Summary:
The modal closes unexpectedly. I want the modal to close only on an mouse click on the overlay. But when I do a mouse down event on the content, drag it to the overlay and release the mouse button the overlay is closed. This is a problem for me because we have a slider on the modal page and customers often drag the mouse outside the boundaries of the modal-content.

### Steps to repro

[2018-03-27 12:47] diasbruno commented on #633
@WemkoDijkhuis To contribute, you can fork `react-modal` project and push the branch with the fix to your clone. Then you will be able to create a pull request.

[2018-03-27 12:51] diasbruno commented on #632
Have you tried to set `Modal.setAppElement` on you tests?

[2018-03-28 01:49] im-danwu commented on #582
Just ran into this as well... The declaration file has `export = ReactModal` instead of `export default ReactModal`... Haven't seen this syntax before. Seems strange? Either way, `import * as ReactModal from 'react-modal';` worked

[2018-03-28 15:19] vsanthanam commented on #125
I'm having the opposite issues -- open animation isn't showing, but close animation is. closeTimeOutMS prop is set.

[2018-03-29 07:35] GunaSekhar1 commented on #254
How to solve this

TypeError: Cannot read property 'create' of undefined

      at Object.<anonymous> (node_modules/react-native-vector-icons/lib/icon-button.js:29:1596)
      at Object.<anonymous> (node_modules/react-native-vector-icons/lib/create-icon-set.js:21:233)
      at Object.<anonymous> (node_modules/react-native-vector-icons/MaterialIcons.js:6:20)

[2018-03-29 10:36] WickyNilliams opened #636 "Focus escapes modal when radio buttons in modal"
### Summary:

When there are radio buttons in a modal, you can escape focus with shift-tab.

### Steps to reproduce:

Steps are included in the test case below

### Expected behavior:

You should not be able to escape the modal's focus

### Link to example of issue:

https://codesandbox.io/s/my9vm34m68

### Additional notes:

Not sure if it's related specifically to radio buttons, but that is what

[2018-03-29 11:42] WickyNilliams commented on #636
I think the issue here is that radio buttons are considered individually focusable by `findTabbable()`, but the browser treats a group of radio as a single focusable item when tabbing, if their `name` attribute matches.

[2018-03-29 23:59] Hypnosphi opened #637 "Remove usages of unsafe lifecycle methods"
React team recently published a blogpost: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

TL;DR: `cWM`, `cWRP`, and `cWU` methods are considered unsafe for future async rendering and will be deprecated soon. The recommended way for open source maintainers to deal with it is to use [`react-lifecycles-compat`](https://github.com/reactjs/react-lifecycles-compat) package and migrat

[2018-03-31 13:07] anzgar opened #638 "A valid ReactComponent must be returned"
Hello!
Sorry for a, maybe, silly issue.
I'm doing exactly as in your example, but having a error: _Uncaught Error: Invariant Violation: t.render(): A valid ReactComponent must be returned. You may have returned undefined, an array or some other invalid object._
The final idea is to open modal while handling form submit.

`
import React from 'react';
import Modal from 'react-modal';

const formCont

[2018-03-31 18:51] kaushik94 commented on #637
@Hypnosphi @diasbruno can I take this up? I am guessing this involves polyfilling the components so that they can be used with the current react version?

[2018-03-31 19:51] diasbruno commented on #637
Sure, @kaushik94. Follow the [react-lifecycles-compat](https://github.com/reactjs/react-lifecycles-compat) guide and everything should be fine.

[2018-03-31 22:58] leoyli commented on #125
It seems I have to use `!important` to overwrite the background somehow...

[2018-04-01 14:27] watch-janick commented on #191
Thanks @AlecRust, I'll use this modal as well.

[2018-04-02 02:55] diasbruno commented on #638
Hi, @anzgar. You will need to track any variable that might be not contain a `ReactComponent`.

[2018-04-02 02:58] diasbruno commented on #638
I'm marking as `not a bug`, since it seems not related to `react-modal`, but I'll leave this open so people can help you.

[2018-04-02 23:55] #633 closed

[2018-04-03 13:36] catamphetamine opened #640 "React 17 support"
I'm creating this issue as a source of info for people searching for a status of React 17 lifecycle hook changes support in this library.

In React 17 `componentWillReceiveProps` and `componentWillUpdate` are replaced with `getDerivedStateFromProps` and `getSnapshotBeforeUpdate`.
The migration can be performed in a non-breaking fashion using this decorator: https://github.com/reactjs/react-lifecyc

[2018-04-03 13:37] catamphetamine commented on #640
Oh, didn't see this one: https://github.com/reactjs/react-modal/issues/637

[2018-04-03 13:37] #640 closed

[2018-04-03 23:58] kaushik94 commented on #605
@diasbruno any specific reason to only fix this for `aria-*` attributes and not for `data-*` attributes? Because I would like to give a try at this if that's ok.

[2018-04-04 01:34] diasbruno commented on #605
If I remember correctly, we had a PR that implemented both, but I had to slice it to get just the `aria-*` (which was important at the time).

@kaushik94 improvements are always welcome. :+1:

[2018-04-04 02:08] kaushik94 commented on #605
@diasbruno oh ok just wanted to know the reason before writing the code for this. Sure, I will start working on it now and get back to you soon.

[2018-04-04 02:26] kaushik94 commented on #561
@diasbruno I would really love to see this. I run the site [moneysave.io](https://moneysave.io) which uses react-modal, most of the practical use cases involve dropping down modal or something similar. It would be awesome to see animation provided out of the box by the library itself(In most cases web developers like me are not so good with css and animation internals). I can try a sample implemen

[2018-04-04 19:13] shaun-sweet opened #641 "ESC key doesn't close modal"
### Summary:

### Steps to reproduce:

 1. go to this codepen https://codepen.io/anon/pen/PRdWdB (its in your example docs)
 2. Try to close the modal with the esc key
 3.  Won't close

### Expected behavior:
Should close

### Additional notes:
Any ideas?  I have looked thru the source code a bit, but will dig some more after lunch.  This breaks accessibility.

[2018-04-04 21:44] nickaversano commented on #632
In order to fix this issue, I did the following in all my components that use react-modal:

[code]

[2018-04-04 21:49] nickaversano commented on #231
I'm still experiencing this issue with multiple `ReactModal`s on the page. The `ReactModal__Body--open` gets added and then immediately removed on page reload. Inspecting the dom then shows one `ReactModalPortal` with children that `isOpen=true` for.

[2018-04-05 01:33] diasbruno commented on #632
Great. That's one way.

Another way would be to move the `setAppElement()` to a file that doesn't go into the tests.

In case your tests really need to set the element, here is an example (but this will depend on the test environment):

[code]

[2018-04-05 01:38] diasbruno commented on #641
Hi @shaun-sweet, `shouldCloseOnEsc` depends on `onRequestClose={Function}` to handles the close action.

Here is an example of [onRequestClose](https://codepen.io/claydiffrient/pen/KNjVBx).

[2018-04-05 04:57] shaun-sweet commented on #641
Awesome!    I must have missed that in the docs because I was looking at the source code thinking it shouldn’t work haha.

I’ll check the docs again and perhaps open a PR for a change if it was obvious

 Regards,
Shaun Sweet

[2018-04-05 07:41] smagch commented on #603
I solved the problem without using `.attrs()`.

[code]

[2018-04-06 01:34] diasbruno commented on #641
Ok, @shaun-sweet. I'm going to close this issue and if you can find this reference, you can reopen o open a new issue to fix it. Thanks.

[2018-04-06 01:34] #641 closed

[2018-04-07 18:53] #637 closed

[2018-04-07 18:55] diasbruno commented on #638
@anzgar Have you found a way to fix this issue?

[2018-04-07 19:42] Hypnosphi commented on #637
https://github.com/reactjs/react-modal/pull/639#discussion_r179925995

[2018-04-08 22:08] sarink commented on #251
This doesn't seem to be working at all?

[2018-04-08 23:15] Hypnosphi commented on #637
Plus `ModalPortal` still uses cWRP: https://github.com/reactjs/react-modal/blob/master/src/components/ModalPortal.js#L79

[2018-04-09 01:25] replaysMike opened #643 "Passing arguments to openModel causes infinite loop"
### Summary:

Passing a value to openModel causes the function to be called infinitely.

### Steps to reproduce:

[code]

[2018-04-09 01:36] replaysMike commented on #643
I found the bug. I should be defining the event handler as such instead:

`<button className="btn" onClick={() => this.openModal(someValue)}>Open Modal</button>`

[2018-04-09 01:36] #643 closed

[2018-04-13 10:29] daru23 commented on #632
I had the same issue,

Work around of it like this

[code]

[2018-04-13 17:41] Elecweb commented on #471
@vidries @nathanziarek
https://codepen.io/elecweb/pen/WdmYEO
it's not exactly as you want but may be you can get the idea how to implement it

[2018-04-13 20:05] sergesemashko commented on #563
Actually, I have multiple tests with react-modal and `document.querySelector('.ReactModalPortal')` always returns the reference to the mounted modal from the first test.

So, I ended up with the following code:
[code]

[2018-04-16 13:14] SeanMcP commented on #628
That was indeed the case. Our project is using `"^3.3.2"` and `shouldFocusAfterRender` worked as expected.

Might I suggest updating the packages in your CodePen examples to reflect latest features?

[2018-04-16 13:14] #628 closed

[2018-04-18 08:46] SteveALee opened #648 "ReactModal or Modal?"
The code, readme and examples import and use `Modal` but the examples use `ReactModal` and that is what I need to import in my code.

What gives?

[2018-04-18 12:33] diasbruno commented on #648
Hi @SteveALee, the name of the variable can be anything, but need to be careful about the rules to import (see the first import rule).

[code]

[2018-04-18 13:14] SteveALee commented on #648
Thanks @diasbruno

Ah, of course you are using default export . D'oh! I forgot those as I always usually use { Name } format myself.

Oh, the typings that vs code picks up from @types seem to be quit old - 3.1. probably doesn;t matter.
in vscode or I get

[2018-04-18 13:14] #648 closed

[2018-04-18 13:40] diasbruno commented on #648
I'm just trying to get as much information as possible, so if other people looks for this issue, they have something to read.

We had some issues about this - I believe related to the definition for react-modal on @types. I'm not sure if that was fixed on react-modal side or theirs.

[2018-04-18 17:29] DrakeW commented on #106
Hi @priyanka-jalan , wouldn't your solution makes the modal disappear abruptly without showing the fade-in animation?

[2018-04-18 17:52] ziondev commented on #604
Thank you Bruno, I`m so late, but I`m interested and I want to contribute in this project.

[2018-04-19 11:28] arcifius opened #649 "Warning about the component"
### Steps to reproduce:
Just include the lib and add it to render method... You should see:
Warning: Unsafe legacy lifecycles will not be called for components using new component APIs.

Modal uses getSnapshotBeforeUpdate() but also contains the following legacy lifecycles:
  componentWillReceiveProps
  componentWillUpdate

The above lifecycles should be removed.

[2018-04-19 12:11] diasbruno commented on #649
Hi @arcifius, don't know if this warning should be present. We are in a process of adapting the library for react `16.3+` and `17`.

cc @Hypnosphi, if you can comment on this.

[2018-04-19 12:28] Hypnosphi commented on #649
@arcifius Which react-modal version is it?

[2018-04-19 15:37] LeonardoGentile commented on #649
I'm experiencing the same issue:
react@16.3.2
react-modal@3.4.2

[2018-04-19 15:45] Hypnosphi commented on #649
Weird, I can't reproduce it (console is empty):
https://codesandbox.io/s/m5xo3xz96j

[2018-04-19 17:30] yantakus commented on #133
[code]

[2018-04-19 20:25] akonyer commented on #649
I am able to reproduce this warning as well.

React 16.3.2 and react-modal 3.4.2

[2018-04-19 20:32] diasbruno commented on #649
Can you try to downgrade react to `16.3.0` or `16.3.1`?

[2018-04-20 11:40] karaschee commented on #558
Any update here? I have the same issue with 3.4.2.

[2018-04-20 14:08] slava-osipov-qs commented on #531
I've faced similar issue when `ModalPortal` was not removed. In my case the problem was in lifecycle of root element for my React app. In my scenario root element was vanished, but React did not get notification about it, so child `Modal` component was not unmounted and as result `ModalPortal` was not unmounted too. I've solved my issue by direct call of [ReactDOM.unmountComponentAtNode()](https:/

[2018-04-20 14:29] diasbruno commented on #531
@slava-osipov-qs can you make a reproducible example with this?

[2018-04-20 15:03] Olliebaba commented on #558
@karaschee - I ended up placing the submit handler on the submit button as a `onClick` instead of on the form as a `onSubmit`. This resolved the issue for me.

[2018-04-20 18:13] im-danwu commented on #582
Yeah I was. It has something to do with TypeScript's syntax.

[2018-04-20 20:29] pietrofxq commented on #106
Yes, the above method works but then you lose the fade-out transition effect on close.

[2018-04-21 13:29] slava-osipov-qs commented on #531
I guess such example will not be usefull. The problem was not in `react-modal` component, problem was in environment. I injected React app into Angular app, so it was my responsibility to manage React app initialization and destroying. I.e. it is not a responsibility of `react-modal`.
But this issue caused me to think about single instance of `ModalPortal` associated with AppElement, that is assig

[2018-04-22 19:45] NathanielHill commented on #580
For reference, since it was a pain for me, if you are doing SSR, use the following code to prevent errors server-side:

    if (typeof(window) !== 'undefined') {
        ReactModal.setAppElement('body')
    }

You could put this in `componentDidMount()` anywhere you use a modal or I put it in a custom modal component so it's nice and DRY.

[2018-04-22 19:46] NathanielHill commented on #260
For reference, since it was a pain for me, if you are doing SSR, use the following code to prevent errors server-side:

    if (typeof(window) !== 'undefined') {
        ReactModal.setAppElement('body')
    }

You could put this in `componentDidMount()` anywhere you use a modal or I put it in a custom modal component so it's nice and DRY.

  #580

[2018-04-22 20:56] diasbruno commented on #580
@NathanielHill That could be a nice solution. We have `canUseDOM` variable, probably we can use it on [https://github.com/reactjs/react-modal/blob/master/src/helpers/ariaAppHider.js](https://github.com/reactjs/react-modal/blob/master/src/helpers/ariaAppHider.js). Would you like to PR this idea?

[2018-04-22 21:05] diasbruno commented on #604
@ziondev Awesome. When you got free time, just jump in and help answering issues...if you can submit PRs that would be great too.

[2018-04-23 06:41] ignatiusreza commented on #649
I'm having this issue when using `react-modal` together with `react-hot-loader`.. need to dig deeper, but, I think the issue is caused by `react-hot-loader` depending on v2 of `react-lifecycles-compat`, while `react-modal` depends on v3..

The issue went away if I provide custom yarn resolutions like

[code]

[2018-04-24 00:49] rocketspacer opened #650 "package.json "module" field is pointing to a non existent file"
Build tools will likely prefer "module" if it exists, fallback to "main" if it doesn't. See [here](https://rollupjs.org/guide/en#publishing-es6-modules)

Current "module" field in [package.json](https://github.com/reactjs/react-modal/blob/master/package.json#L6) is pointing to **"./src/index.js"**, which doesn't get published. Causing confusions for build tools, in my case, parcel-bundler.

[2018-04-24 01:55] #650 closed

[2018-04-24 02:11] diasbruno commented on #650
@rocketspacer Released `3.4.4`. Can you validate the fix?

[2018-04-24 15:19] rimunroe commented on #522
Is it possible this may have happened again? d6931d13 added a section for 3.4.4, but the section contains a single empty bullet point.

[2018-04-24 20:43] wanderingcoder2 commented on #320
Can this be re-opened, when used with react form  this button causes issues because you did NOT put type='button' and thus it defaults to being a submit, can you please edit the close button to be type button since it is NEVER intended to be a submit.

[2018-04-28 01:00] renatoi commented on #605
Arbitrary props should be possible. Using an aria object is ok, but ideally I want the implementation to be as close to React as possible (I can pass `aria-*` and `data-*` attrs directly).

https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html

[2018-04-29 22:47] afercia opened #653 "Improvements for role-dialog"
Follow up to #237

NVDA 2017.4 changed the way it handles role=dialog and now it doesn’t switch to focus mode any longer. This is mentioned in the releases notes, see https://www.nvaccess.org/files/nvda/releases/2017.4/nvda_2017.4_changes.html where it’s stated: “Web dialogs in Firefox and Chrome web browsers now automatically use browse Mode, unless inside of a web application.”. See also the rel

[2018-04-29 23:04] afercia opened #654 "Improvements for aria-modal"
Based on the specification, the ARIA property [aria-modal](https://www.w3.org/TR/wai-aria-1.1/#aria-modal) must be used on the element that has the `role="dialog"` (or `alertdialog`). Instead, `react-modal` uses it on the element that contains the modal, see #359 / #570.

https://www.w3.org/TR/wai-aria-1.1/#aria-modal

See also the example in the ARIA Authoring Practices 1.1:
https://www.w3.org/TR

[2018-04-30 15:48] diasbruno commented on #638
@anzgar I'll close this for clean up. Hope you could find a fix for this issue. Thanks.

[2018-04-30 15:48] #638 closed

[2018-05-05 00:09] reem opened #655 "No way to set multiple app elements"
The current API requires there to always be only one global app element that is shared amongst all modals. This makes it impossible to set a locally scoped app element in a library component that uses a modal internally.

The `appElement` prop should *only* apply to *that* modal and *not* override over app elements set for other modals or any global app element.

[2018-05-08 12:35] joetidee opened #656 "How to send in data-* attributes to ReactModal component?"
I am wanting to send in a `data-*` to the underlying element of the `ReactModal` component - how do I do this? For example,

`<ReactModal data-synthetics="something" >...</ReactModal>`

[2018-05-08 15:27] aamin21 commented on #562
Any more information on this?

[2018-05-08 19:37] RT-TL commented on #562
Sorry, not from my side. I could neither solve nor reproduce the issue.

[2018-05-08 23:42] max-favilli commented on #188
Since the chrome bug is still there after years I think react-modal should address it.
Until then: `transform: translate(-50.1%, -50.1%);`

[2018-05-14 10:53] LeoIannacone opened #658 "Please close on mousedown"
### Summary:

Please call onRequestClose on mousedown event rather than on click

### Steps to reproduce:

 1. Create a modal with a content
 2. Mousedown on the content, move the mouse out on the overlay
 3. Relase the mouse

### Expected behavior:
The modal should not close because the user started the click on the content

[2018-05-16 05:42] deporter opened #659 "Page jumps on open of modal, when inside of iframe"
### Summary:
When opening a React Modal on iOS using Safari and Chrome within an Iframe, and the iframe is surrounded by other content above and below, the page jumps way below the iframe. This means the user looses context.

### Expected behavior:
Page should stay in the same position on open of Modal

### Example of issue:
https://www.foxsports.com.au/nrl/state-of-origin/teams/queensland/after-1

[2018-05-16 21:53] hoangmngo commented on #71
@ramusus The example above no longer works for me. I got this error

I'm using react-modal 3.4.4 and enzyme 3.3.0. Is there anything that I miss?

[2018-05-17 15:27] REEMERGEMEDIA commented on #530
@Kerumen If you change your rendering of the modal to what's below this will solve the issue in your "not working" codesandbox.io link. I had used conditional rendering and needed to make this change after updating React.

[code]

[2018-05-18 18:58] Generalbrus commented on #649
I get similar errors as well by wrapping the Modal@3.4.4 with `React.StrictMode` component (From React@13.6.2):

[code]

[2018-05-18 19:12] ajthinking opened #660 "Readme example shouldCloseOnOverlayClick does not work"
### Steps to reproduce:

 1. Go to https://codepen.io/claydiffrient/pen/woLzwo
 2.  Press Trigger modal
 3. Press outside the box, on the overlay - it does not close the modal!

[2018-05-19 06:37] codeniko commented on #660
You need to define `onRequestClose` since it appears `shouldCloseOnOverlayClick` and `shouldCloseOnEsc` depend on it. Check out https://github.com/reactjs/react-modal/issues/462

[2018-05-19 10:30] ajthinking commented on #660
Thanks, though onRequestClose is already defined in the example and I cant find any other solution in #462

[2018-05-20 04:23] bvv218 opened #661 "How to make the whole modal scroll"
I set up example from the example folder, but I can't seem to find a way to be able to scroll the whole modal (not the content of the modal). Is there a way to do it?

[2018-05-20 04:57] diasbruno commented on #661
Hi @bvv218, do you want to scroll on the overlay or inside the content?

[2018-05-20 05:00] bvv218 commented on #661
Hi @diasbruno, to be able to scroll modal on the overlay.

[2018-05-21 04:22] #661 closed, assigned to nobody

[2018-05-21 12:41] diasbruno commented on #661
@bvv218 Did you find a solution? I guess you can use some css or edit some of the modal style properties...

[2018-05-21 15:27] bvv218 commented on #661
@diasbruno Yes, I did. Had to override some default css styles.

[2018-05-22 11:09] soorajvnair commented on #660
hey @ajthinking in your codepen, shouldCloseOnOverlayClick is set to false. If you want to close when clicking on the overlay, that needs to be set to true.

[2018-05-22 19:09] andrevvalle opened #662 "We should update the lifecycle"
REF: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

react-modal uses getSnapshotBeforeUpdate() but also contains the following legacy lifecycles:
  componentWillReceiveProps
  componentWillUpdate

The above lifecycles should be removed.

[2018-05-22 19:37] diasbruno commented on #662
Hi @andrevvalle, it is for backward compatibility with react `16.3-`. Future releases, probably when react-modal gets ready for `4.0+`, we can deprecate those lifecycle methods.

[2018-05-23 15:32] djibarian opened #664 "Unable to pass an empty class name"
### Summary:

I don’t want React Modal to set any class on html, body, the portal, the overlay or the modal.

### Steps to reproduce:

 1. Setting any of those parameters to null or ‘’ causes an error.

### Expected behavior:

The class shouldn’t be set on the element if you set the corresponding parameter to null. Also there is no reason to add your class to the default one if you define one (i.e

[2018-05-23 17:22] igghera commented on #283
I solved the problem by giving the modal `max-height: 100vh` (that is the height of the viewport) and an `overflow-y: auto`. This way, if the height of the modal is more than the height of the viewport (for example when you bring up the keyboard to fill a text input) the modal adjusts its height to the height of the viewport, allowing you to scroll.

[2018-05-24 17:30] mlobunko opened #666 "Problem with testing"
### Summary:
Hi everyone!
I have an issue with testing a modal render. I expect that by using mount() can check if inner div exist. But I can't, test fails and div doesn't exist.
My dependencies: "enzyme": "^3.3.0", "react-modal": "^3.4.4".
I understand that those expamples https://remarkablemark.org/blog/2017/05/17/testing-react-modal/ are outdated. I read two threads about latest ones https://gi

[2018-05-24 23:48] ryami333 commented on #662
I highly recommend this approach @diasbruno: https://github.com/reactjs/react-lifecycles-compat

[2018-05-25 00:03] diasbruno commented on #662
@ryami333 Yeah, we are already using this package. It was used as explained on the documentation, but perhaps we need to update to the latest version.

[2018-05-25 18:35] dragonball9816 opened #667 "react-modal: "Warning: React.createElement: type is invalid""
### Summary:
I am going to popup a modal.
I am using Visual Studio 2017, typescript 2.8.1 and Google Chrome.
But I have got some errors.
### Errors
Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have

[2018-05-25 18:47] diasbruno commented on #667
Hi @dragonball9816, you can check if all the imported names are valid (none should be `undefined`).

If you get a undefined value, you can check if the names exported by a library are exported as `default` or not. Example:

[code]

[2018-05-25 19:27] dragonball9816 commented on #667
My file extension is tsx, not jsx.
These solution is not working.

import { Item }...
import Item...

But I found other solution.

import ModalCom from 'react-modal/lib/components/Modal.js';
const Modal: any = ModalCom;

Please let me know whether this code is correct.

[2018-05-25 19:42] diasbruno commented on #667
That was just an example of how you could debug it. :)

On your snippet,  `Modal` was probably undefined.

`import { Modal } from 'react-modal';`

This is a sign that something is wrong when it tries to get the entry point of the module (`react-modal/lib/index.js`).

On react-modal's package.json, we have the following definitions:

[code]

This solution is ok and you can make a file to avoid dupl

[2018-05-30 10:57] darrylsepeda commented on #117
I experienced the same issue, cannot be solved by @folz solution because my modal is controlled by react state.

Is there any way to make the body not scrollable without making the body jump to the top of the page?

[2018-05-31 17:00] lbelinsk commented on #580
Hey, I added a pr that might be also relevant for this issue: https://github.com/reactjs/react-modal/pull/668

[2018-05-31 20:30] kevinzhangftw commented on #191
hey tried
` parent {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}`

Unfortunately it also stops the parent from scrolling completely. @diasbruno This is ios only issue. onAfterOpen will still scroll the background if i do it like this:

`<Modal
          isOpen={open}
          onRequestClose={this.handleCloseModal}
          style={styles.modal}
          contentLabel="

[2018-06-01 13:47] NathanielHill commented on #580
Awesome @lbelinsk , was going to do this anyday now... :rofl: Thanks for taking care of it! :tada:

[2018-06-01 13:48] lbelinsk commented on #580
My pleasure @NathanielHill :)

[2018-06-01 13:49] #580 closed

[2018-06-01 14:13] diasbruno commented on #580
Release v3.4.5.

Thanks, @lbelinsk!

[2018-06-01 14:26] OliverJAsh commented on #580
Does this mean the modal now gets rendered for SSR? Can we improve the docs to mention what the support is?

[2018-06-02 01:40] NathanielHill commented on #580
@OliverJAsh whether it gets rendered on the server would have to do with your own code. By the nature of what a "modal" is, I doubt it would normally be rendered server-side since modals are triggered by client interaction. This is just a guard against getting errors from code that tries to reference the `window` object server side.

[2018-06-02 02:00] diasbruno opened #669 "Sprint for react-modal v4."
It's time for react-modal to get ready for `react 16.3+`, this includes:

## Checklist

1. Deprecate old lifecycle methods and remove polyfills.
2. Decide how long we can maintain react-modal versions below `v4` (backports or another approach).
3. Improve documentation where missing.
4. Add more examples.

If you want to give it a try on any item on the list, create a new issue and assign to you.

[2018-06-02 02:02] diasbruno commented on #662
I'll close this in favor of #669

[2018-06-02 02:02] #662 closed

[2018-06-02 02:06] diasbruno commented on #632
@daru23 @nickaversano #668 should fix this on testing environments.

I'll close this for clean up. Reopen this issue if that didn't solve this case.

Thanks!

[2018-06-02 02:06] #632 closed

[2018-06-02 02:08] diasbruno commented on #669
#653, #654 and #656 are good issues to be included in this sprint.

[2018-06-02 02:10] diasbruno commented on #658
I'll close this for clean up. Reopen this issue if you can provide more information regarding this issue.

Thanks.

[2018-06-02 02:10] #658 closed

[2018-06-02 21:01] lbelinsk commented on #576
@diasbruno I wouldn't mind preparing the documentation for the ssr and appElement subjects.
If that sounds ok, If there is any specific info you want me to elaborate on while I am at it, please let me know.

For the meantime, just for reference, for the projects which use react-modal, there is no need anymore to add the safety check that @NathanielHill suggested.

Instead of doing:
[code]

It is s

[2018-06-02 21:05] lbelinsk commented on #580
@OliverJAsh I think it will be better to follow the conversation in this issue instead:
https://github.com/reactjs/react-modal/issues/576

It is still open just in order to remember to add docs for ssr support.

[2018-06-02 21:10] diasbruno commented on #576
@lbelinsk Sure, it would be really great.

[2018-06-04 21:07] ianflorentino commented on #587
this is achievable by adding the animation to the styles content object on the styles prop of the Modal component:
[code]

[2018-06-04 21:40] mbrowne commented on #191
@ wiggitamoo

This thread is quite old, but in case it's helpful to others, I found that the way to prevent this issue is to set top, right, bottom, and left to zero:

```overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0;```

[2018-06-05 21:35] mbrowne commented on #191
As long as the container holding your modal content has `overflow: auto` or `overflow-y: auto` then yes.

[2018-06-07 02:28] kaushik94 commented on #669
@diasbruno I am fixing #656 currently. I can help out with the other too also.

[2018-06-08 21:10] Xurma2 commented on #587
@diasbruno don't have any idea why it doesn't work
For any element, animation works fine but for content, it doesn't

@ianflorentino
It doesn't work for me

[2018-06-11 18:22] wwwebman opened #670 "question"
I am wonder why do you  use 'clicking prevention' technique like below:
https://github.com/reactjs/react-modal/blob/f715a69e31b00eaf7912595a9bd2d22ab5cecdb3/src/components/ModalPortal.js#L269

Why just not use e.stopPropagation() is that case?

[2018-06-21 19:49] seanmadsen commented on #320
I like the idea of a separate project that consumes `react-modal`. Does such a project exist yet? If so, it would be great to drop a link here for otherr who happen to stumble upon this thread looking for a higher-level, slightly-more-polished modal component, like me.

[2018-06-26 01:51] devhyunjae opened #671 "How to make responsive overlay"
### Summary: How to make responsive overlay

### Steps to reproduce:

 1. I want to make the overlay responsive like this. Code

[code]

### Expected behavior:
Support media query or other responsive tools

[2018-06-26 03:53] #671 closed

[2018-06-26 12:43] davidsonsns commented on #177
I had a similar problem with [ant.design](http://ant.design), `overflow: visible` working tks @maxmatthews

[2018-06-26 12:48] diasbruno commented on #670
Hi @wwwebman, you can check if you can get this in the logic of clicking and dragging from `content > overlay` and `overlay > content`. It would be great to find a cleaner way to do it.

[2018-07-04 09:02] chemitaxis commented on #659
Hi, I have exactly the same issue... any updates?

[2018-07-04 09:05] chemitaxis commented on #659
@deporter Hi! I have check that in your example, the issue is fixed. Can you please provided how did you solved? Thank you so much!

[2018-07-04 10:15] chemitaxis commented on #659
Hi @deporter after looking the code, if you use this props just on ios, the problem is solved:

`shouldFocusAfterRender={false}`

Have a nice day!

[2018-07-04 12:53] diasbruno commented on #626
Merged MR #630, so now it should reparent the modal unconditionally.

[2018-07-04 12:55] diasbruno commented on #626
I'll close this issue as it's resolved now. Please feel free to reopen if it's still an issue.

Thanks, @icristal.

[2018-07-04 12:55] #626 closed

[2018-07-04 13:06] diasbruno commented on #656
@joetidee Sorry for the delay. I've merged #657 and now we have data attributes available on react-modal.

[2018-07-04 13:07] diasbruno commented on #656
I'll close this for now. Please feel free to reopen if it still an issue. Thanks.

[2018-07-04 13:07] #656 closed

[2018-07-05 13:13] diasbruno commented on #670
I'll close this issue for clean up. Please reopen if you can discuss further on how we can archive this.

Thanks, @wwwebman.

[2018-07-05 13:13] #670 closed

[2018-07-05 13:17] wwwebman commented on #670
ok, @diasbruno, thanks

[2018-07-09 11:19] webmastervishal commented on #585
@prztrz what changes you made to resolve your issue, can you mention it here, I am also having the same issue when modal is open the page is scrolled automatically to the bottom of the page. I read about the solution given above but got nothing from it which can work fine for me.

[2018-07-11 08:23] bau123 opened #673 "Modal does not display correctly, cuts off top part"
### Summary:
When I create a modal with too much text or images, the modal does not give the correct scroll features and will cut the top part of the modal
### Steps to reproduce:

 1. create a modal
 2. a too many lines of text
 3.modal cannot display all text correctly and cuts off top part

[2018-07-11 18:53] LuminescentMoon commented on #660
I have a similar issue. I've verified that `Modal` has `shouldCloseOnOverlayClick: true` via devtools. I've verified that the function passed as `onRequestClose` fires on both pressing Esc and clicking the overlay using a `console.log` statement. I've verified that `this` in the `onRequestClose` handler is pointing to at least a component with the correct name using `console.log`.

But somehow, cl

[2018-07-11 19:03] LuminescentMoon commented on #660
Interesting... Pressing Esc to close the modal also does not work if I click the overlay first before pressing Esc.

[2018-07-12 10:21] #673 closed

[2018-07-14 01:02] indiesquidge commented on #359
Just to be clear, is it not acceptable in any situation to have `ReactModal.setAppElement('body')`?

I am asking because I'm building a component library for my company, and since many teams will be using it I cannot guess (or constrict) what their React root element is going to be. Even though this component library will mostly be used internally for the foreseeable future, I don't want to make t

[2018-07-16 16:04] triathlet23 commented on #191
Hello. Does anyone know the solution to this issue? I tried all proposed ones and have again the scroll of the background enabled.

[2018-07-16 16:59] kaiomagalhaes commented on #191
@triathlet23 I've gone with @AlecRust solution, the other react modal doesn't have this issue.

[2018-07-16 20:08] Kelby2 commented on #585
+1, I'm still having this issue with v3.5.1. Upon opening the window, the background scrolls all the way to the bottom. Really breaks the UX flow when you close the modal and find yourself at the bottom of the page. I've added the

```htmlOpenClassName='ReactModal__Html--open```

prop and have set the ```overflow: hidden```'s, but this is still occurring.

[2018-07-16 21:45] prztrz commented on #585
@webmastervishal in general adding `overflow: hidden` to `html` tag solved the problem.

[2018-07-17 12:16] triathlet23 commented on #191
Thanks for a suggestion, but we've built a complete app with the react modal. If smb is interested, I used the solution that was partly proposed in the thread :
`OnAfterClose={() => document.body.style.overflow = 'hidden' }`
`OnRequestClose={() => document.body.removeAttribute('style') }`
It woks fine for me and hasn't any side effects.

[2018-07-17 12:31] diasbruno commented on #191
I'll reopen this issue, so it's visible for people looking for help.

[2018-07-18 22:10] shlomitc commented on #666
The reason you can't find the modal content is that `react-modal` is using a `portal` to port the content to `document.body`.
The enzyme wrapper search only in the rendered tree, meaning you will not see content that is ported outside your mounting node

Here are two tests showing what happens when you render the content with `react-modal` and without it, and how you should query it in the last ca

[2018-07-19 04:37] Kelby2 commented on #585
@webmastervishal I was able to stop the scrolling by adding `position: fixed` to `.ReactModalPortal`

CSS:
[code]

Also remember to pass `htmlOpenClassName='ReactModal__Html--open'` prop to the Modal.

[2018-07-22 16:43] mlobunko commented on #666
Thank you for sharing your knowledge. Your explanation is really great.
We sure can find an element with querySelector.  Although I found that with just a mount() it works well too. But because I have inner components (with redux) I have to connect them to the store. So I'm using CustomProvider to pass in the redux store.
So this is what I ended up with.

**CustomProvider.js**
[code]

**Settings.t

[2018-07-22 16:46] #666 closed

[2018-07-24 16:04] krean93 commented on #673
I am using bootstrap grid on the app and I am experiencing the same problem.
My current styles:
![image](https://user-images.githubusercontent.com/26706301/43151272-02a1751a-8f6c-11e8-9b53-2344a38f3ab5.png)

[2018-07-30 16:48] #654 closed

[2018-08-01 08:27] denich opened #675 "React modal incorrectly restores input focus on unmount (React 16)"
### Summary:
When conditional render is used - react modal restores focus on unmount without triggering `onFocus` event handler on target input.
### Steps to reproduce:

 1. Add `<Modal />`
 2. Focus some input
 3. Mount/unmount the modal
 4. Focus restored w/o triggering `onFocus` event handler on the input

### Expected behavior:
Input's `onFocus` event handler is triggered on focus restore.

##

[2018-08-01 17:44] onionhammer opened #676 "Add switch to remove inline styling"
I don't currently see a way to simply turn off inline styles so I can drive the styles from a stylesheet; it wants to bake in a bunch of hardcoded styles unless I explicitly override each and every one

[2018-08-04 22:40] Donutttt commented on #676
Would providing the props `className` and `overlayClassName` remove inline styles?

[2018-08-07 04:50] charlimxm opened #677 "Can't navigate through form elements using tab when multiple modals are open (Chrome)"
### Summary:
Hi all, I am unable to navigate through form elements using tab or enter when multiple modals are opened at the same time. Noticed that this only happens in Chrome & IE but works fine in safari

### Steps to reproduce:

 1. Open modal 1
 2. Open modal 2 onClick a button in modal 1
 3. Hit tab button
 4. Nothing happens

### Expected behavior:
1. On tab, modal 2 will autofocus on next

[2018-08-08 10:33] sibylledL opened #678 "install failed : "package.json must be actual JSON, not just JavaScript""
### Summary:
Hello,

I would really like to use your package put the installation fails at the command npm i react-modal.
the error is :

"  Failed to parse json
npm ERR! Unexpected token } in JSON at position 457 while parsing near '...scripts eject"

Did you have any trouble with this file before,

thank you for your help

sibylle

[2018-08-08 11:19] #678 closed

[2018-08-09 17:40] hoodwink73 commented on #530
Hello folks

I did some debugging. Finally!

Here's what I found. React 16 does not provide any control over unmounting the portal. The portal unmounts whenever the parent unmounts.

https://github.com/facebook/react/issues/10143#issuecomment-331873885 – this issue clarifies that

The issue further points out that the ability to control the unmounting of portal with `unstable_renderIntoContainer`

[2018-08-10 09:03] AntonioAsr opened #679 "Cant get distance between top of the modal and child element"
### Summary: Offset Top always return 0.

### Steps to reproduce:

 1. Create a modal.
 2. Create two child elements inside the modal. Give some height to both elements.
 3. Calculate offset top of the second child with next code:

[code]

### Expected behavior: Distance from current element to the top of the modal.

[2018-08-13 15:31] akshay2604 commented on #469
Hi were you able to solve this @eriksson-daniel . It is specific to reactJs I guess

[2018-08-16 03:09] trevlar opened #680 "Modal causes CSS transform to get into a bad state"
### Summary:
When the modal is triggered from a button hidden by a CSS transform when the modal closes it cause that button to get displayed in a bad state.

### Steps to reproduce:

1. Code for react modal component is used by a stateful component that will open model.
2. In same stateful component have another component that uses a CSS transition on hover to show a button to open the modal.
3. O

[2018-08-16 03:14] trevlar commented on #680
This is caused by https://github.com/reactjs/react-modal/issues/675

[2018-08-16 04:28] trevlar commented on #680
I found a work around to this issue. In the function that gets called onClick I blur off of the input field/button before opening the modal and it appears to have solved the issue.
[code]

[2018-08-19 05:30] davvidbaker commented on #232
[Here's a working example of how you do this](https://codesandbox.io/s/30j8xpy181), using `react-modal` and `react-draggable`.

The gist of what's going on is, you create your own "content" div and basically ignore/hide the one provided by `react-modal`.

[2018-08-20 09:46] mattlub commented on #680
would the `shouldReturnFocusAfterClose` prop fix the issue?

http://reactcommunity.org/react-modal/#usage

[2018-08-20 09:58] mattlub commented on #680
would the `shouldReturnFocusAfterClose ` prop fix your problem?

http://reactcommunity.org/react-modal/#usage

[2018-08-20 17:49] parwat08 opened #681 "Option to change the blur of the modal background"
It would be great if there was a option to override the blur effect of the modal background.

[2018-08-20 22:56] ChristosChristofidis commented on #627
Cannot do with styled components. For some reason the above does not work

[2018-08-21 00:03] trevlar commented on #680
@mattlub yeah that would work great.

[2018-08-22 00:01] erin-doyle commented on #338
I'm still really unclear how to solve this.  I want the close button to be focused as soon as the modal opens.  Can someone provide an example as to how to accomplish this?  I've tried calling`handleOpenModal()` and that still seems to happen before my `ref` has been set.

[2018-08-22 11:51] 0xc0d3r commented on #256
I'm still facing the same issue in `3.5.1` version

[2018-08-25 16:04] shaileshmahajan opened #682 "js atificail delay"
### Summary:

### Steps to reproduce:

 1.
 2.
 3.

### Expected behavior:

### Link to example of issue:

### Additional notes:

[2018-08-28 07:39] wszgxa commented on #669
PR to fix #653 : https://github.com/reactjs/react-modal/pull/683

[2018-08-28 12:18] diasbruno commented on #669
Thanks, @wszgxa. I'll have a look on the PR.

[2018-08-28 12:26] shaileshmahajan commented on #682
Apologies, Looks like I mistakenly created issue while researching react-Modal

[2018-08-28 12:27] shaileshmahajan commented on #682
Apologies, looks like I mistakenly created issue while researching react-Modal. I closed the issue.
Thanks.

From: Bruno Dias <notifications@github.com>
Reply-To: reactjs/react-modal <reply@reply.github.com>
Date: Tuesday, August 28, 2018 at 8:23 AM
To: reactjs/react-modal <react-modal@noreply.github.com>
Cc: "Mahajan, Shailesh" <Shailesh.Mahajan@childrens.harvard.edu>, Mention <mention@noreply.gi

[2018-08-28 12:29] diasbruno commented on #682
No problem. Thanks.

[2018-08-29 13:14] #653 closed

[2018-09-01 16:55] diasbruno commented on #681
Hi @parwat08, if you mean css blur effect, you can either change the `style` property of the modal or use a custom css class (see `overlayClassName`).

Reference: [react-modal documetation on Styles](http://reactcommunity.org/react-modal/styles/)

[2018-09-03 02:03] kylemh commented on #553
Wanted to reference some sweet news I saw in another similar issue:
https://github.com/Semantic-Org/Semantic-UI-React/issues/3100#issuecomment-415000769

Sounds like the next React release will have a fix for this 🎉

[2018-09-03 02:26] ChenGuanglin0924 opened #684 "当父容器上存在mouseover等事件时，modal显示后也会触发mouseover事件，有没有办法阻止呢？"
当父容器上存在mouseover等事件时，modal显示后也会触发mouseover事件，有没有办法阻止呢？

[2018-09-03 09:40] bxt commented on #553
This is caused by facebook/react#11565. There is a workaround, which is mocking/overwriting `ReactDOM.createPortal`.

[2018-09-03 16:26] sirAlif commented on #106
@priyanka-jalan doesn't work for me

[2018-09-03 17:11] pietrofxq commented on #106
For those who are having a similar issue, there's a simple solution:

Instead of setting the state with a object, create a function that returns the initial state. Then you check the modal props, if the the previous prop was closed and the new is open, you know that the modal was opened. Then you can just call the initial state function and use the value to set the state, basically "reseting" the

[2018-09-03 20:02] StefanYohansson commented on #684
what do you mean by mouseover on parent? are you trying to prevent close the modal when clicked outside or something like this?

Describe your scenario and we can help you.

[2018-09-05 01:39] ChenGuanglin0924 commented on #684
<div id="aa" onMouseOver={alert("a")}>
    <div></div>
     ......
    <Modal parentSelector={() => document.querySelector('.app-root')}></Modal>
</div>
The alert event is also triggered when the mouse is moved into Modal

[2018-09-05 02:19] diasbruno commented on #684
Thanks, @StefanYohansson, for jump in.

@ChenGuanglin0924 can you make a codepen or codesandbox with a reproducible example?

[2018-09-05 06:28] ChenGuanglin0924 commented on #684
[https://codesandbox.io/s/wy1pp713k5](url) @diasbruno

[2018-09-05 06:31] ChenGuanglin0924 commented on #684
[https://codesandbox.io/s/wy1pp713k5](url) @diasbruno

[2018-09-05 10:12] #681 closed

[2018-09-05 13:05] diasbruno commented on #684
@ChenGuanglin0924 in this case, since the modal is inside the `<div>` with the event listeners, you need to stop the propagation on those handlers, so they don't go through the modal.

[2018-09-05 13:18] ChenGuanglin0924 commented on #684
React-Modal doesn't provide the way to stop the propagation, but there is one way, for example, add a `div` outside the `Modal`, and stop the propagation inside the `div`, but I don't think this method is very good, it will leave a empty `div` in the dom. @diasbruno
`<div id="aa" onMouseOver={alert("a")}>`
`<div></div>`
`......`
`<div onMouseOver={(e)=>{e.stopPropagation()}}>`
`<Modal parentSelect

[2018-09-05 13:52] diasbruno commented on #684
Perhaps, for a cleaner solution, there are 2 options in this case:

1. Make the div and the modal siblings:

2. Control using `isOpen` property:

[code]

[2018-09-12 07:18] Teranjit commented on #585
If you use an element that doesn't have a tabindex attribute by default, adding one to the element solved the issue for me.
i.e <img onClick={() => this.openModal() tabindex='0'/>

[2018-09-13 11:52] enessoylu commented on #659
Try adding **sandox** attribute to your iframe.

[2018-09-13 13:33] diasbruno commented on #684
@ChenGuanglin0924 Is the comment above helped or have you solved this issue?

[2018-09-13 18:56] brandondurham commented on #632
I just ended up dropping this on the modal:

[code]

[2018-09-17 03:40] AtlasMaxima opened #685 "How to put the customSstyles content for modal styling in SCSS or CSS file?"
Currently, I have placed the following `customStyles` within the component's `file.js` but I want to put the customStyles into my scss or css file.

1. I have put `className` for `<Modal className="modal-alert"... </Modal>` and put the exact style that for `.modal-alert` but it's not responding as if I were to just use the following way.

[code]
Basically, I just want to be able to put the followi

[2018-09-17 15:19] diasbruno commented on #684
@ChenGuanglin0924 I'll close this issue for now. Please feel free to reopen if this issue still persist. Thanks.

[2018-09-17 15:19] #684 closed

[2018-09-17 15:27] diasbruno commented on #680
@trevlar Thanks for reporting this issue and the example. I'll try to find sometime to debug this.

@mattlub Thanks for the help.

[2018-09-17 16:41] diasbruno commented on #680
`react-modal` relies on the last `document.activeElement` to know which element it should give back focus. Ideally, the expected behaviour should be "Open React Modal" button to be the last active element.

Firefox and Safari have the same behaviour - they don't set the button as the active element after click on it.
Chrome will actually focus the button when clicked.
IE and Edge - needs testing.

[2018-09-21 10:10] itaditya opened #686 "How to disable overlay"
I'd like to show a modal on top of other content but don't want that the overlay because then the other content won't remain interactable. Can we do this?

[2018-09-21 12:11] diasbruno commented on #686
Hi @itaditya, You can do with some css. Basically you can set the size of the overlay to be the same as the content.

[2018-09-21 17:02] vmasto commented on #558
On your `onFormSubmit` handler of the inner (modal) form add `event.stopPropagation()`.

[2018-09-22 03:55] itaditya commented on #686
Oh ok got it. Thanks

[2018-09-24 16:28] DarudeGarystorm opened #687 "Desktop Safari - Error in scopeTab.js"
If focus is set to an element that isn't focusable, when the user tabs the variable x in scopeTab.js will be set to -1, then when tabbable[x].focus() is called an error will occur.

[2018-09-24 16:54] diasbruno commented on #687
Hi @DarudeGarystorm, that's true. Is this cause by a manual focus or a 'non-tabbable' element is getting the focus?

[2018-09-24 17:41] DarudeGarystorm commented on #687
In my specific case the focus is being set programmatically in the onAfterOpen function to a non-tabbable element, then the user is trying to tab.

Do you think we should go with the browser default when tabbable.indexOf(document.activeElement) is undefined? Or do you have another solution that would work?

[2018-09-24 18:04] diasbruno commented on #687
Not sure if this is a bug. Can you write a small reproducible example?

It's always nice to let the browser handle to focus, but sometimes we can see some different behaviour like #680. But if you need to control the focus, than it's always nice to write how it will give back the focus.

[2018-09-24 19:00] DarudeGarystorm commented on #687
Small example: https://codesandbox.io/s/jzwwrzy3y3
You might need to refresh the react-modal dependency it kept loading an older version for me

[2018-09-24 19:11] diasbruno commented on #687
What is the goal to focus this particular element?

[2018-09-24 19:51] diasbruno commented on #687
If you are trying to make the heading readable by voice over, you can try this:

[code]

[2018-09-25 14:02] DarudeGarystorm commented on #687
The reason for setting the focus was that I had/have a bug where voiceover (iOS Safari) doesn't focus the modal when it opens. I'll try to make a small example of that

[2018-09-25 14:09] DarudeGarystorm opened #688 "Voiceover iOS Safari - Not focusing modal"
The screen reader is not focusing the modal when there is a <select> in it.
Example: https://codesandbox.io/s/pkzl2v2mkj

[2018-09-25 18:02] DarudeGarystorm commented on #687
If I can get access I'll happily make a PR that checks if the tabbable element exists in scopeTab.js

[code]

[2018-09-27 01:53] Olliebaba commented on #558
@vmasto - I am using redux-form and the submit handling does not expose the submit Event to me. Assigning the submit button an `onClick` in place of giving the form an `onSubmit` works without needing to `e.stopPropagation()`

[2018-09-27 03:16] vgoklani opened #690 "Close Modal when clicking outside the modal"
Hello - thanks for creating this!

Quick question - how do I configure the modal to close when the user clicks outside the modal? The current implementation requires the user to close the modal by pressing the "ESC" button while the mouse is over the modal.

Thanks!

[2018-09-27 05:36] konekoya commented on #690
Do you use `onRequestClose` prop? It works correctly in this [example](https://codepen.io/claydiffrient/pen/KNjVBx)

[2018-09-27 13:44] diasbruno commented on #688
Hey @DarudeGarystorm, there are some updates released on `3.6.1`. Can you please check if it helps?

[2018-09-27 13:45] #687 closed

[2018-09-30 00:16] PalsRoy opened #691 "onClick() not working for the nested links on ReactModal Window"
### Summary:
I need to create a pop-up Modal Window which has multiple side-tabbed panes and on clicking of these tabs each of them renders a new component inside the Modal Window. I am using a Redux approach to create reusable Modal Windows across my application. I try clicking on the various links but no action or console.log are `shown.`

### Steps to reproduce:

1. REUSBALE WRAPPER FOR REDUX M

[2018-09-30 00:31] diasbruno commented on #690
@vgoklani Have you find a solution for this issue?

[2018-09-30 00:34] PalsRoy commented on #691
Sure @diasbruno ! Thank you for the quick response

[2018-09-30 01:39] diasbruno commented on #691
The only thing missing in your example is to add your variable `componentSet` to the rendered result. Hope this is what is missing on the project too.

[code]

[2018-09-30 15:57] PalsRoy commented on #691
Thank you @diasbruno ! Works like a charm.
Thats exactly was the problem with the codePen, though in my actual class the actions also got messed up with some sass styling. I think its more of stack overflow kind of problem. I am really glad I stuck with ReactModal for this complex Modal.

[2018-09-30 16:33] PalsRoy commented on #691
Thank you @diasbruno ! Works like a charm.
Thats exactly was the problem with the codePen, though in my actual class the actions also got messed up with some sass styling. The moment I add this to the parent <div> tag the onClick() stops initiating any actions.

        <div className="modal-dialog modal-lg ts-modal modal-dialog-centered">

Updated CodePen link : https://codepen.io/pallavr/pen/ZqY

[2018-09-30 17:11] diasbruno commented on #691
The `modal-dialog` class has the property `pointer-events: none;` which will prevent the mouse events to get to those elements on the list.

[2018-09-30 17:16] PalsRoy commented on #691
I though so, as a workaround I will create my own css classes to control the properties of the modal window because event propagation is more important from the application point of view.
Thank you again!

[2018-09-30 17:16] #691 closed

[2018-10-01 13:45] DarudeGarystorm commented on #688
@diasbruno bug is still present on 3.6.1

[2018-10-02 16:41] saifabushamma opened #692 "unmount"

[2018-10-02 20:51] friedjohnnycake opened #693 "grft78uytrtyuijkol;'"
### Summary:

### Steps to reproduce:

 1.
 2.
 3.

### Expected behavior:

### Link to example of issue:

### Additional notes:

[2018-10-04 13:51] mecapetr commented on #110
Yes, this fix this, but there is another problem after this. If the content height of modal is bigger then screen height, scrolling with mouse wheel does not work.

[2018-10-05 08:14] mxstbr commented on #693
Reported as spam.

[2018-10-05 08:14] #693 closed

[2018-10-05 12:20] adammahmood opened #694 "'data-testid' attribute no longer renders in DOM"
### Summary:

A `testId` prop was introduced by https://github.com/reactjs/react-modal/pull/646 and released in https://github.com/reactjs/react-modal/releases/tag/v3.4.1.

This rendered a `data-testid` attribute which is useful to use as a selector during tests.

During a minor release, the `data-testid` attribute was later removed in https://github.com/reactjs/react-modal/commit/c3e06ab38cb5cca8

[2018-10-05 22:14] vgoklani commented on #690
@diasbruno I have not found a solution.

@konekoya I used the onRequestClose as below:

	<Modal
		style={customStylesDarkTheme}
		closeTimeoutMS={10}
		isOpen={this.state.modalIsOpen}
		onRequestClose={this.handleModalCloseRequest}>
		<div>
			<p key={this.props.message.id + "bodyContent"} dangerouslySetInnerHTML={{ __html:this.props.message.body}}/>
		</div>
	</Modal>

[2018-10-05 22:36] diasbruno commented on #690
Ah! This is what you are looking for...

 [Using shouldCloseOnOverlayClick](http://reactcommunity.org/react-modal/examples/should_close_on_overlay_click.html)

[2018-10-05 23:15] vgoklani commented on #690
I tried this, but it didn't work:

	<Modal
		style={customStylesDarkTheme}
		closeTimeoutMS={10}
		isOpen={this.state.modalIsOpen}
		shouldCloseOnOverlayClick={true}
		onRequestClose={this.handleModalCloseRequest}>
		<div>
			<p key={this.props.message.id + "bodyContent"} dangerouslySetInnerHTML={{ __html:this.props.message.body}}/>
		</div>
	</Modal>

[2018-10-06 00:27] konekoya commented on #690
I think it would be better If you can put your code on [codesanbox ](https://codesandbox.io/)(or something similar) to reproduce the bug. That way, it will be a lot easier for people to help out.

[2018-10-09 15:47] benjiwheeler opened #697 "when bodyOpenClassName is null, ModalPortal:componentWillUnmount fails"
### Summary:

ReactModal does not correctly handle case when `bodyOpenClassName` is null

### Steps to reproduce:

 1. render a <ReactModal> with prop bodyOpenClassName={null}
 2. cause it to no longer render, forcing it to unmount
 3. see console error, in `ModalPortal:afterClose()` -> `classList.js:remove()`: `Uncaught TypeError: Cannot read property 'split' of null`

### Expected behavior:

Rea

[2018-10-11 21:22] reverie opened #699 "Either document or rethink Portal usage"
### Summary:
The usage of React's Portal feature causes surprising behavior. A modal is visually and conceptually a separate interface element from the element that opens the portal.

Example 1: If you click on a button to open a modal, should clicking on that modal bubble up to the button? No.

Example 2: If you open a modal from a form, for example to autocomplete an input to that form, should s

[2018-10-12 00:14] diasbruno commented on #699
Hi @reverie, those are good points.

It's always possible that the documentation doesn't answer all the questions. Users always find different ways to use a libraries and/or sometimes features need clarification that is not there...

Look interesting this idea of change how the modal is mounted on the DOM. If you can elaborate some ideas.

[2018-10-12 02:05] reverie commented on #699
Yes, I wonder whether it’s possible to avoid using Portal at all—it might not be. Some of my issues might be with Portal itself, like if it propagates events in ways that are surprising relative to the browser’s natural propagation rules.

[2018-10-15 03:31] devrelm commented on #553
Mocking/overwriting `ReactDOM.createportal` won't always work -- it ends up being dependent on the ordering of the imports. This is because the `Modal.js` module [selects the `createPortal` method and saves it to a separate variable when the module inits](https://github.com/reactjs/react-modal/blob/1b561fc54f107df583281667eb92e7975ec33ba8/src/components/Modal.js#L14-L16). Once the method is put in

[2018-10-16 17:32] anthonybrown opened #702 "Unable to close modal"
### Summary:

### Steps to reproduce:

 1. Click on OK button
 2. Close the modal by clicking on the overlay, pressing esc or the close button
 3. Click on the grey div
 4. Close the modal by clicking on the overlay, pressing esc or the close button

### Expected behavior:
The expected behavior is that both modals close.
I'm basically using the code from one of the examples on the site
but for som

[2018-10-17 06:29] nahidbinazad opened #703 "How to enable background page scrolling when modal is open"
### Summary:

### Steps to reproduce:

 1.Please help me out to enable scrolling background when the modal is open
 2. when user load a page he can see the modal but i want that he can scroll the background whole page when the modal popup is open no need to minimize modal.
 3.Thanks in advance

[2018-10-17 18:41] anthonybrown commented on #702
I fixed this by putting `e.stopPropagation();` on the handleCloseModal(e) methods, which stops the bubbling up.

[code]

[2018-10-17 18:41] #702 closed

[2018-10-18 18:00] patrik-piskay opened #704 "Breaking change - isOpen behaviour changed after going from cWRP to cDU"
Hi all!

I believe changes made between v3.3.2 and v3.4.1 (probably https://github.com/reactjs/react-modal/commit/f748406) should be considered as breaking.

Here is an CodeSanbox example using v3.3.2: https://codesandbox.io/s/rjkkkv62lq
And here is the same example, using the latest version of `react-modal` (but the same thing happens on v3.4.1): https://codesandbox.io/s/7wnoow74r0

The issue in

[2018-10-19 15:37] daformat opened #705 "Clicking the overlay or pressing the escape key won't close the modal"
### Summary:
Click the overlay or pressing the escape key doesn't close the modal

### Steps to reproduce:

 1. Open modal
 2. Try clicking the overlay
 3. Try pressing the escape key

### Expected behavior:
The defaults state that clicking the overlay or pressing the escape key should close the modal.

### Link to example of issue:
https://codepen.io/claydiffrient/pen/KNxgav

[2018-10-19 22:06] diasbruno commented on #704
Hi @patrik-piskay, those are good points.
I can have a look at this tomorrow then I'll write a proper response.

[2018-10-19 23:49] diasbruno commented on #705
Hi @daformat, if possible, can you please review those examples and see if we have missed any update with the current implementation?

[2018-10-19 23:52] diasbruno commented on #703
Hi @nahidbinazad, sorry for the delay.

 I believe this is a one CSS property. You can check if the `<body />` of your page contains `overflow: hidden`. If so, you can remove this line and your page will be able to scroll again.

[2018-10-19 23:58] diasbruno commented on #699
@reverie yes, I agree it can be confuse. This should be the way how synthetic events propagates (if I'm remembering correctly). If you can make a small example, I'll try to have a look and we can discuss what can be clarified in the docs and/or if there are better ways to handle this case.

[2018-10-20 07:07] nahidbinazad opened #706 "Guys in wordpress i use max mega menu when i enable mega menu it shows the mega menu into two places one is top header & nav bar, i want only display on nav area not in top header, i cannot find any option to delete it from top header please help me out."
### Summary:

### Steps to reproduce:

Guys in WordPress i use max mega menu when i enable mega menu it shows the mega menu into two places one is top header & nav bar, i want only display on nav area not in top header, i cannot find any option to delete it from top header please help me out.

### Expected behavior:

### Link to example of issue:

### Additional notes:

[2018-10-20 10:30] daformat commented on #705
Hello, I thought that by default clicking on the overlay or pressing the escape key would close the modal, but didn't get that I needed to add the `onRequestClose` prop for this to work.

Sorry about that

[2018-10-20 10:30] #705 closed

[2018-10-21 03:39] raditha commented on #544
Thank you!!

[2018-10-22 14:54] iagowp commented on #632
@diasbruno I still have the issue, running on 3.6.1.

When you said that it should fix the issue, you meant with no aditional code, right?

[2018-10-23 14:47] GuyPaddock commented on #706
@nahidbinazad This doesn't seem to have anything to do with `react-modal`.

[2018-10-25 12:44] ibrahimovfuad opened #708 "onAfterClose prop passing"
### Summary:
Hi!
ReactModal component can accept onAfterOpen prop, but I need to use something like onAfterClose but i don't see it in docs.

### Expected behavior:

Need to pass onAfterClose as prop.

[2018-10-25 12:57] diasbruno commented on #708
Hi @ibrahimovfuad. You can achieve this using `onRequestClose` function.

[2018-10-25 14:18] Khushboopandit commented on #102
hey!
I tried overflow for scrolling my popup but it doesn't work for me.
can you suggest me something else?

[2018-10-25 16:05] AndrewMerke opened #709 "Modal pops up in wrong position, how to fix it?"
I have a problem with modal popup. I just made my web application responsive to mobile and in one mobile view there is like two different screens, which represents like one in desktop version.  In desktop version everything works fine, but in mobile modal pops up in wrong screen.

Maybe it will be more clear, so I will put some sc:

![image](https://user-images.githubusercontent.com/34712585/47514

[2018-10-25 21:23] erichochhalter commented on #603
I elaborated on @smagch's code for TypeScript. There is probably still some room for improvement for handling the transition classes:
[code]

[2018-10-26 00:38] pmonty opened #710 "Mobx state not causing re-render in modal"
### Summary:
So I have an observable that changes in my mobx store after the modal is opened. Once the observable has changed it is not rendering accordingly in the modal.

### Steps to reproduce:

 1. Have a mobx action that opens the modal and calls an api
 2. Modal will appear without plans loaded
 3. Api will retrun plans and they will be pushed to an observable in the store
 4. Modal does not

[2018-10-26 01:05] diasbruno commented on #710
Hi @pmonty, can you please make a small example of this issue?

[2018-10-26 02:52] pmonty commented on #710
Bit hard unfortunately as I can't seem to get the decorators working in sandbox. But basically I have been trying to change state and when that changes the modal should re-render but it isn't.

So i tried using local state inside the modal and that worked. If I updated the state it would re-render the change. But with mobx as state management it isn't working. The modal is definitely an `@observer

[2018-10-26 09:37] AndrewMerke commented on #709
The problem is with z-index of overlay in modal-portal is it possible to change it?

[2018-10-26 09:57] AndrewMerke commented on #709
Solved problem.

[2018-10-26 09:57] #709 closed

[2018-10-27 00:28] diasbruno commented on #692
I'm closing this issue for clean up. Reopen if needed. Thanks.

[2018-10-27 00:28] #692 closed

[2018-10-27 00:29] diasbruno commented on #703
@nahidbinazad Let me know if you have solved this issue. Thank.

[2018-10-27 00:30] diasbruno commented on #686
@itaditya Let me know if that idea worked. Thank.

[2018-10-27 01:47] #694 closed

[2018-10-27 02:03] #553 closed

[2018-10-27 04:43] itaditya commented on #686
Yes it worked @diasbruno

[2018-10-27 04:46] diasbruno commented on #686
Good to hear that. :+1:

[2018-10-27 04:46] #686 closed

[2018-10-28 21:45] pmonty commented on #710
Ok so it definitely isn't observing the state despite being tagged with the `@observer` decorator. Not sure why this is the case. Not sure if its a mobx issue or react-modal limitation.

[2018-10-28 21:52] diasbruno commented on #710
@pmonty I'll be working on the next version of `react-modal`. Hope it doesn't take too much time to finish.

If you can, please create a repository, move the example to it and we can share our finding in this issue. It would be great to have `mobx` support. :+1:

[2018-10-29 01:12] pmonty commented on #710
Ok so it looks like this was a code-cutting issue. Realised i was not using `.map` so replaced the `.forEach` and it worked. No issue with mobx or react-modal. Though it was strange.

[2018-10-29 01:12] #710 closed

[2018-10-29 01:15] diasbruno commented on #710
Good to hear you solve this mystery. :)

[2018-10-31 09:12] joe-oli commented on #133
Is the following possible with react-modal, if the modal is used within a component only, can it be mounted such that the overlay covers only that component - and not parent / grandparents of that component ? I tried it, it didn't seem to work, it went back to covering the whole screen.

[2018-11-01 17:49] fredcorn commented on #102
What if I don't want to make the content scrollable, instead I would like to scroll the body to see the overflow content?

[2018-11-02 22:11] maevadevs commented on #133
`componentWillMount()` is flagged UNSAFE in v16.3+ and will be deprecated in v17. `componentDidMount()` does the trick for me.

[2018-11-04 13:44] Elecweb opened #713 "unable to focus trap in ios safari"
### Summary:
focus trap is works fine in desktop browser but it doens't work on ios safari.
In ios safari, when you focus, for example, input on modal, you can click up/down arrow to focus another input which is outside of modal.

### Steps to reproduce:
 1. go to this link [https://codesandbox.io/s/n5ny70m2qp](https://codesandbox.io/s/n5ny70m2qp) on ios safari
 1. click "open Modal" button
 2. fo

[2018-11-04 14:52] Elecweb commented on #713
after investigation, it look likes clicking up/down arrow for tabbing doesn't fire event at all
so `handleKeyDown` doesn't get called (so it doesn't call  `scopeTab` helper)

[2018-11-04 21:14] alyrik opened #714 "returnFocus doesn't work in Safari and Firefox"
### Summary:
Focus returns as expected in Chrome. But it fails in Firefox and Safari.

### Steps to reproduce:

 1. Click the button.
 2. Close modal.
 3. The button is not focused (its text should be red).

### Expected behavior:
The button is focused (its text is red).

### Link to example of issue:
https://codesandbox.io/s/mjy915nqp9

### Additional notes:
As I see in `returnFocus` function, `f

[2018-11-05 16:18] nealoke opened #715 "Animation on close not properly triggered with delay"
### Summary:

### Steps to reproduce:

 1. [Open the codesandbox](https://codesandbox.io/embed/kxr4811yk3)
 2. Close the modal by clicking the background
 3. See no animation when closing

(Also when I do this in my app and record it, you see that it adds the class but not for the delay specified)
![before close](https://user-images.githubusercontent.com/17417414/48010837-ac40da80-e11e-11e8-8499-d

[2018-11-06 23:01] ryansukale commented on #636
We ran into a similar issue. Here are some details.

Our modal contains a bunch of fieldsets. Each fieldset has several radio buttons.
In the footer of the modal is submit button that is disabled.

When you press tab on chrome, it only cycles through just the first radio button within each fieldset. Whereas on Safari, it goes to each radio button for each fieldset.

As a result, when we press tab

[2018-11-08 21:10] jcrben commented on #530
Odd. I'm able to fade out without any issue. Running:
* "react-modal": "^3.6.1"
* "react-dom": "^16.4.2"
* "react": "^16.4.2"

and basically just using http://reactcommunity.org/react-modal/styles/transitions.html

[2018-11-16 00:17] jcrben commented on #708
According to the docs http://reactcommunity.org/react-modal/#usage:

It does not seem like there's a hook in the `onAfterClose()`? https://github.com/reactjs/react-modal/blob/fc5340027a2ed98309872063d7c8af2e98eb7cca/src/components/ModalPortal.js#L152

[2018-11-16 15:16] WemkoDijkhuis commented on #191
`react-aria-modal` from davidtheclark uses https://github.com/davidtheclark/no-scroll. So you can also implement that into your modal to fix the scroll issue. It basically disables the document scroll behavoir.

[2018-11-19 07:22] mbochynski opened #717 "Why appElement prop is undocumented?"
### Summary:
`appElement` prop is in the code and is used in ModalPortal to show/hide content via `ariaAppHider` but the prop is undocumented. Why `appElement` is not in the documentation? Is it safe to be used or is it deprecated?

[2018-11-19 11:48] befront commented on #530
Somebody find the solution for closing animation?

[2018-11-20 23:31] vincerubinetti opened #718 "Question: will setAppElement(document.body) work as expected?"
As I understand it, `setAppElement()` is needed so everything in the background, behind the modal, will be set to "hidden" for screen readers. The documentation specifies that `setAppElement()` should be applied to a React app (top-level) element.

However, what if we are developing a smaller React app that gets injected to a larger existing (third-party) page that does not use React. How do we ma

[2018-11-22 14:34] bluSCALE4 commented on #589
I have a similar example where I have a form and on submit, it focuses on on the top of the form before the input. I wouldn't want it to focus back to `tabbable[0]` though, I'd want it to tab to the next tabbable element.

[2018-11-23 11:49] pascalgn opened #719 "Question: Use as controlled or uncontrolled component?"
The terminology might not be the correct one, but what I mean is this: **Should we let the modal just display the data it gets as properties or should we keep the state in the modal itself?**

I have created an example to demonstrate the two possible ways: https://codesandbox.io/s/xl6o05qr4q

In the first example, `<Controlled />` component, the modal has no state itself but instead just displays

[2018-11-26 12:39] diasbruno commented on #718
Hi @vincerubinetti, `ReactModal.setAppElement(document.body)` is not a good idea because the modal will be a children of the element that has the `aria-hidden`.

[2018-11-26 14:34] michaelrodov commented on #149
I have a few comments regarding this behavior:
1. If i need to handle the closing myself, then why theres a conditional prop shouldCloseOnOverlayClick, it implies that its being handled by the modal itself, if its redundant it need to be removed.
2. I didn't find any documentation regarding this behavior (had to debug it and to then read this post)
3. I think it does make sense to give default beh

[2018-11-26 20:58] DarudeGarystorm commented on #687
Hi @diasbruno, when are you planning your next release? I'm waiting for this issue to be fixed...

[2018-12-05 16:02] jitinmaher opened #721 "event-stream-3.3.6 not found while building on master"
**Description**
See Diagnostics: below for more details.
Possibly related on the [recent security incident](https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident)

**Reproduction Steps**
Build master branch.

**OS and version:**
Independent

### Expected behaviour:
Build should succeed.

### Link to example of issue:

[Travis ci build faliure](https://travis-ci.org/react

[2018-12-05 16:34] glentakahashi commented on #632
I too am having the same issue, #668 didn't fix this for me.

[2018-12-06 08:34] Dobby89 commented on #605
Any plans to make this possible? It's certainly needed.

[2018-12-10 16:05] #664 closed

[2018-12-10 16:30] diasbruno commented on #589
Sorry for the delay. Version `3.7.1` has been released with a fix for this issue.

@bluSCALE4 The build is managed by a make script. Perhaps, the `build` step can be moved to `package.json`.

[2018-12-13 03:36] Clarencef opened #723 "Question: react-modal will render modal content when server-side rendering?"
### Summary:
I use react-modal as our modal component, modal render expected content at client side.
but when server-side rendering, I can't get content of modal to display.
Do react-modal support modal content rendering at server-side? or just skip rendering until client side to render it?

### Expected behavior:
Render Modal and display content correctly can see 'content of react-modal' at scree

[2018-12-15 13:53] FullMoon04 opened #725 "Can't close modal B on examples"
### Summary:
When I ran in a local development server and saw examples, modal B couldn't close.

### Steps to reproduce:
 1.git clone https://github.com/reactjs/react-modal.git
 2.yarn install
 3.yarn start

[2018-12-15 21:41] hrafnkellbaldurs commented on #723
I'm currently using react-modal in a Gatsby site (Gatsby sites are server side rendered) and it seems to work fine for me. I don't know what tool you use to render server side, so maybe this answer will not be useful to you.

Possible issues I see in the example
* Are you importing React?
* Are you returning from the `render()` method?
* Where does `showResumeModal` come from?
* Conditional render

[2018-12-17 12:32] hrafnkellbaldurs commented on #723
@Clarencef hmmm that's strange. Try passing 'isOpen' as true into ReactModal just to see if it can render at all, to confirm that the problem is coming from ReactModal.

[2018-12-17 13:04] #708 closed

[2018-12-18 14:57] hrafnkellbaldurs commented on #723
@Clarencef Can you create a small repository that reproduces this issue?

[2018-12-18 15:09] lflpowell commented on #717
Would be great if someone from the team could comment on this. Is it safe to use `appElement`?

[2018-12-20 15:35] Clarencef commented on #723
@hrafnkellbaldurs sorry for late reply, here is a repo for reproduces this issue.
https://github.com/Clarencef/react-modal-debug-example
Install dependency and run the server at `http://localhost:8080` you will see the modal.
Disable javascript at browser setting then the modal will be gone,
I thought if server-side rendering success, the modal shouldn't disappear.
It also should appear at `view-s

[2018-12-29 05:48] Adonais0 opened #727 "How to style the contents (button, text, etc) inside the modal?"
### Summary:
I can only style the modal with inline styling, if I use `overlayClass` after the modal close it will jump to the start of the page. How can I style the button in the modal with the inline-styling?
[code]
### Steps to reproduce:

 1.Use inline styling

### Expected behavior:
The button is custom styled
### Link to example of issue:

### Additional notes:

[2019-01-02 09:04] kvnsnchz commented on #106
Hello,
Based on the answer given by priyanka-jalan ha, the solution for the fading effect to continue working is as follows:

1.In the constructor of the component that contains the modal, place:

`constructor(props){
        super(props);
        this.state = {
            show: false,
            closing: false
        }
    }`
2. Create two methods, one to show the modal and another to hide it,

[2019-01-02 17:05] LENGUYENMINH commented on #338
Totally agreed @stevenguh. I had the same problem.

Issue : ref in componentDidUpdate is ref of element of "render before", not the "updated render". It's a bug

[2019-01-06 12:27] shmekla opened #729 "Border appears when modal opens. Only when using className instead of inlineCss"
### Summary:
Hello, I ran into a problem using react-modal. Whenever I add a className, the weird border appears when modal open. Doesn't appear if I use inline, but I need responsiveness, that inline doesn't provide.
It disappears when you try to inspect or click on inspect panel.
Anyone else ran into this issue?
### Steps to reproduce:
 1. Using CSS classes for styling (Official demo)

### Expec

[2019-01-07 00:32] NathanielHill commented on #576
@catamphetamine

Fair point. For me the issue was just setting it to begin with. If what your saying is correct, that does sound like an accessibility issue, so if your React app has a container `<div>` as a child of `<body>` then that would be a better target.

[2019-01-09 19:13] nbozard commented on #688
I am using react-modal 3.8.1 on iOS 12.1.2 in Safari with VoiceOver. The example above does not focus correctly, but at this point in time it doesn't seem to be about the select, but about the modal containing anything other than the simplest content.

If I modify the example above and remove the h2, leaving behind just the select, it works fine. Same with a single button versus a button and other

[2019-01-15 16:33] smithmb-code commented on #497
I was having this issue and got it to work by using the `require` syntax instead of the `import...from`
i.e.  `import ReactModal = require('react-modal'); `

[2019-01-17 04:54] BlackSpade741 commented on #729
Are you talking about the border around the modal itself? It might be because the whole modal is in focus.

[2019-01-20 11:44] Butonix opened #730 "Console error"
Warning: Failed prop type: Invalid prop `className` supplied to `Modal`.
Warning: Failed prop type: Invalid prop `overlayClassName`

[2019-01-20 20:57] diasbruno commented on #730
Hi @Butonix, which version are you using?

[2019-01-20 23:39] Butonix commented on #730
Hi!
latest xcode version
and your last archive

[2019-01-21 01:39] diasbruno commented on #730
Can you post the stacktrace or logs about those errors, please?

[2019-01-24 06:15] sonimishra opened #731 "[D365 Shell & Portal][Screen reader – PowerAppsPlayer-Web – Filter Pane] Narrator reads 'Group' when focus moves to whole 'Failed to save preferences' pop up"
### Summary:
User who depends upon screen reader will not be able to get pop up Title name if narrator does not read the name of pop up appear on the screen.

### Steps to reproduce:

1. Navigate to https://home.dynamics.com/ and Login using valid Account
2. Traverse to the "Filter" Button.
3. Filters Section is opened.
4. Select/unselect any checkbox . observe that 'Failed to Save preferences' po

[2019-01-24 06:17] sonimishra commented on #731
there is actually another place where you can reproduce this issue:
Go to home.dynamics.com
Tab until "Get more apps", hit "Enter"

This will also open a react-modal dialog, the focus goes onto the dialog, and it's reading the "Group" as well.

demo: https://codepen.io/claydiffrient/pen/KNjVrG so looks like the issue on their side is still not fixed yet.

[2019-01-24 06:34] diasbruno commented on #731
Hi @sonimishra, for now, I can only recommend reading react-modal's documentation on [accessibility](http://reactcommunity.org/react-modal/accessibility/). If more information can be provided, we can further inspect what's going on. Thanks.

[2019-01-24 21:47] corysimmons commented on #102
@fredcorn It should be scrollable by default (since http://reactcommunity.org/react-modal/styles/classes.html#for-the-documentbody-and-html-tag `overflow` isn't set to `hidden` yet).

[2019-01-24 22:06] corysimmons commented on #102
This is more complicated than the above solutions.

You have to have a fixed overlay. Content needs to be scrollable. Content needs to be centered regardless of amount of content (1 word or 10,000 words).

I'm using https://css-tricks.com/centering-in-the-unknown/ (oldie but goodie... seems to work better than flexbox).

![image](https://user-images.githubusercontent.com/224636/51711336-c8effe80-1

[2019-01-27 13:10] pzhine opened #732 "Focus escapes modal when first or last element has style `display: none`"
### Summary:
The 3.8.1 release of `react-modal` allows the focus to escape when the first or last tabbable element has style `display: none`

### Steps to reproduce:

 1. Open a `react-modal` with a few tabbable elements where the first or last tabbable element style set to `display: none`.
 2. Press tab or shift-tab a few times.
 3. When it gets to the first/last tabbable item, the tab or shift-t

[2019-01-27 22:14] rocifier opened #733 "Can't click on anything behind a hidden modal"
### Summary:
I literally can't click a button due to a full-screen fixed div that is rendered on the dom even when the modal is not visible.

### Steps to reproduce:

 1. Add a button to the page
 2. Add a modal after the button, and set its visiblity evaluation to false.
 3. Observe that the modal is not visible, but the button also cannot be clicked.

### Expected behavior:
I should be able to c

[2019-01-27 22:44] rocifier commented on #733
I haven't been able to create a reproducible example, so feel free to close this issue. It must be something else to do with my project.

[2019-01-29 10:12] #730 closed

[2019-01-30 00:20] jcrben commented on #699
I think this is the upstream issue for the confusing bubbling: https://github.com/facebook/react/issues/11387

Seems like a bit of a dealbreaker, altho there's a proposed workaround or two such as sebmarkbage in https://github.com/facebook/react/issues/11387#issuecomment-366142349 involves pulling the modal up higher in the tree - which doesn't seem so great as the Portal might be way below the bu

[2019-02-01 01:06] konekoya commented on #733
I think you should be able to close the issue that was opened by you?

[2019-02-01 01:31] konekoya commented on #733
Hmm, didn't know that button can be disabled. Sorry 😅

[2019-02-02 01:10] diasbruno commented on #731
@sonimishra, I'll close this issue, because it's hard to say if this is an issue with react-modal or the application. In any case, please let me know if there is something we can do on our side.

Thanks.

[2019-02-04 10:11] yonahforst commented on #730
@Butonix - what was your solution? I'm getting the same error

[2019-02-05 19:32] SummerLi commented on #731
Hi @diasbruno, this is not an issue on the application side, but a bug on react-modal side, I can reproduce this issue with the react-modal official demo.

Repro steps:
1. Open the react-modal demo with Edge browser: https://codepen.io/claydiffrient/pen/KNjVrG
2. Open "Narrator" screen reader
3. Click on the "Trigger Modal" button
4. Narrator reads: "onRequestClose Example **Group**"

So can you p

[2019-02-06 21:30] cameracker opened #735 "Chrome: Window scrolls when returning focus to an element after modal closes"
### Summary:

In chrome, when the modal closes and focus is restored to an element that is scrolled to a non-default position, the window will scroll. In certain settings, such as an editor component like SlateJS or DraftJS, this jump is disorienting to users.

### Steps to reproduce:

 1. Have focus on an element scrolled near the top of a window
 2. Open the dialog
 3. Close the dialog
 4. Obser

[2019-02-07 08:55] diasbruno commented on #735
Hi @CameronAckermanSEL, thanks for reporting this issue. You can submit a PR with any necessary changes and we can further discuss about the correct behavior.

[2019-02-07 16:38] CameronAckermanSEL commented on #735
Thanks @diasbruno ! Just put one up. :)

[2019-02-14 11:24] diasbruno commented on #669
Moved to milestone `4.0`.

[2019-02-14 11:24] #669 closed

[2019-02-15 03:15] planetClaire commented on #729
:focus { outline: none; } removes it.

[2019-02-16 13:08] cmcaboy commented on #671
Did you find a solution to this? @devhyunjae

[2019-02-18 15:54] jariz commented on #603
And if you're like me and you want to compulsively turn everything into a HoC, here's the [recompose](https://github.com/acdlite/recompose) solution:

[code]

[2019-02-19 06:53] sonimishra commented on #731
As per above comment from @SummerLi , @diasbruno  Please reopen this issue for the fix.

[2019-02-19 12:42] diasbruno commented on #731
@sonimishra @SummerLi Can you please check if this sandbox has the correct behavior?

[codesandbox.io - n0vl89vr90](https://codesandbox.io/s/n0vl89vr90)

[2019-02-21 10:28] sonimishra commented on #731
Hi @diasbruno,

We have verified the sandbox(i.e. "codesandbox.io - n0vl89vr90") and the behavior seems fine to us since it is passing the correct information for the dialog box thus opened.

[2019-02-21 13:01] diasbruno commented on #731
Sorry, close by mistake.

That's great. So, this is something that should be fixed on the application-side, but do you think there is something we can do? Like improve the documentation...

[2019-02-22 14:44] joeswick999 opened #739 "Add custom html attributes to the portal div, overlay div and content div"
### Summary:
Good morning,

We should be able to add custom html attributes to each part of the modal. I am currently in a situation where I need to add an html "id" to the portal element (div) so I can grab it and do something with it, but I have no way of doing it...

[2019-02-22 14:53] joeswick999 opened #740 "overlayRef and contentRef are undefined on componentDidMount"
### Summary:
overlayRef and contentRef are undefined on componentDidMount, but have the correct value on componentDidUpdate.

### Steps to reproduce:

 1. Set the overlayRef and contentRef prop on ReactModal.
 2. console.log the value of overlayRef and contentRef inside componentDidMount.
 3.The values will be undefined.

### Expected behavior:
overlayRef and contentRef should hold the correct val

[2019-02-22 15:25] diasbruno commented on #740
Hi @joeswick999, this behavior is correct is case the modal is closed. The internal elements are not rendered in this case, and, when unmounting those elements are destroyed.

Apparently, it seems that there is an issue when creating the modal with `isOpen={true}`. Those references should be available in this case.

Here is the test for this behavior [Modal.spec.js#L698](https://github.com/reactjs

[2019-02-22 17:05] joeswick999 commented on #740
Hello @diasbruno
I am not too well versed on tests. But there is definitely an issue with overlayRef and contentRef being undefined regardless if isOpen is set to `true` or `false`.

Question is.. how do we fix it?

[2019-02-22 20:45] joeswick999 commented on #740
I came across another bug.. Any ref that is passed to Modal as a child will also be undefined on componentDidMount. I updated the codesandbox above to reflect the issue.

[2019-02-25 13:04] shahab65 commented on #627
how can we style overlay?

[2019-02-25 15:51] dndhm commented on #632
You can get around this issue by stubbing `document.querySelectorAll` in your tests:
[code]

[2019-02-28 10:37] baruchvlz commented on #739
This is a very specific use case and I think it will add more properties to a component that already has quite a few of them.

I think a better solution would be to pass the element reference after the dialog is open.

[code]

[2019-02-28 11:19] baruchvlz commented on #739
Changes are [here](https://github.com/baruchvlz/react-modal/commit/a4685617a56237e84fec94b828dd00ed357c4ad6). If the project managers are ok with this, I'll open the PR.

[2019-02-28 13:23] diasbruno commented on #739
@baruchvlz Contributions are always welcome.

There are a few changes I'm trying to add on version 4, like be able to use custom overlays and content. It seems the right way to go, because it would also help people that are using styled components.

Maybe, react-modal can work just like an "engine", if users want it to be more customizable and/or have more control over it.

Please, check out [reac

[2019-02-28 13:57] baruchvlz commented on #739
Added a PR for this issue.

This makes sense more for content than for overlay, though it wouldn't hurt to have both. I'll take a look and see if there's anything I can help with.

[2019-03-13 12:33] yuzhakovvv commented on #369
Didn't initially work for me. After some investigation I figured out that now you need to pass `{ passive: false }` as a third argument to `addEventListener`:
[code]

Check here for details:
https://stackoverflow.com/questions/49500339/cant-prevent-touchmove-from-scrolling-window-on-ios

[2019-03-14 03:46] danielnixon opened #742 "Modal doesn't trap focus when re-entering document"
### Summary:
react-modal doesn't trap focus when re-entering a document that contains an open modal.

### Steps to reproduce:

 1. Open a react-modal modal
 2. Move focus outside the document, for example by clicking the mouse in your browser's address bar or pressing ctrl+l
 3. Hit tab key a number of times until focus moves back into the document

### Expected behavior:
Focus is trapped inside t

[2019-03-14 03:49] danielnixon commented on #742
See https://github.com/davidtheclark/focus-trap/blob/master/index.js#L219-L220

[2019-03-14 04:24] janzenz commented on #740
Same exact problem as @joeswick999. Did you have any luck @diasbruno? :)

[2019-03-18 04:17] janzenz opened #744 "Local development cannot find module webpack-cli/bin/config-yargs"
I've tried setting up my local development, `npm install` went fine with some `npm audit` suggestions. However, when I run `npm start` I get the error below. I'm using `node@10.11.0` and `npm@6.4.1`.

[2019-03-19 13:52] theSupermacy commented on #106
@kvnsnchz This solution is just a hack. What if my animation is greater than **500** ms?

[2019-03-20 20:11] gdostie opened #745 "onAfterClose prop called on unmount even if modal is closed"
### Summary:
The `onAfterClose` prop is called when unmounting the ReactModal even if the modal is not opened while the unmount occurs.
### Steps to reproduce:

 1. Render a `ReactModal` with an `onAfterClose` callback.
 2. Unmount the ReactModal in some way (I my example I navigate elsewhere using [react-router-dom](https://www.npmjs.com/package/react-router-dom))
 3. Notice the function provided

[2019-03-24 19:56] arshabh-bizongo commented on #106
In my opinion - modal should be mounted only when opened. If the modal is mounted even when not rendered/opened - the developer is restricted to perform things like fetching of some data etc. outside the modal. Would love if the maintainers can share their thoughts on why do they keep the modal mounted even if it is not in use.

[2019-03-24 20:34] diasbruno commented on #106
Using conditional render on newest versions of react will cause the portal (its DOM tree) to be unconditionally destroyed (this will cause the fade out animation to not work). So I'd recommend, until we find a proper solution, to not use conditional render. I believe this has changed on react 16.3+.

For any other question, please open a new issue with a minimal reproducible example (if possible),

[2019-03-25 20:36] maksimgm opened #747 "Having difficulty testing modal with enzyme"
### Summary:
I have a modal that has an `isOpen` property set to false. I change it in my `beforeAll` method to be set to `true`, but I am still not seeing the contents on the modal. It's as if the mdoal is still closed.

### Steps to reproduce:
I logged an issue on the [enzyme GH page](https://github.com/airbnb/enzyme/issues/2063) describing my problem.

I also logged it on [SO](https://stackover

[2019-03-26 09:27] danbru-WittGruppe commented on #191
`no-scroll` helped us to solve this issue. :)

We did something like this:
[code]

[2019-03-27 15:18] bertho-zero commented on #191
[code]

works fine for me.

[2019-03-27 15:19] bertho-zero commented on #117
[code]

works fine for me.

[2019-03-28 16:36] kuantayevs commented on #181
You can use `disableEscapeKeyDown = {true}`

[2019-03-29 08:42] somename85 opened #748 "Animation from documentation doesn't work with `shouldFocusAfterRender={false}`."
### Summary:
Animation from documentation doesn't work on opening when `shouldFocusAfterRender={false}`.
It worked when I added timeout to `ModalPortal.open`. I guess in some cases React render too fast :)
Tested in Chrome  73.0.3683.86, Safari 12.0.3 (14606.4.5).
React 16.8.5
ReactDom 16.8.5
React Modal 3.8.1

[code]
### Steps to reproduce:

 1. add styles similar to these `http://reactcommunity.

[2019-04-04 16:41] rothwelljeff commented on #191
Does it?  This did not prevent the page behind the modal from scrolling for me...  As far as I can tell it did not change anything. Searching through the react-modal docs for "shouldFocusAfterRender" returned zero results.  Where did you find this prop name?

[2019-04-07 16:30] majid-amiri opened #749 ""ReactModalPortal" is added to body automatically"
### Summary:
The issue is that ReactModalPortal is added to `<body>` Automatically without any contents but it takes the whole screen space and makes all elements of page not to work.
Here's what is at the bottom of `<body>` when I inspect the page:

`<div class="ReactModalPortal"></div>
`

But if I trigger modal conditionally it would be ok and works nicely. So what am I doing wrong?

Here's my m

[2019-04-07 17:51] diasbruno commented on #749
Hi @majid-amiri, can you please check the css referenced by this class?

[2019-04-07 17:56] diasbruno commented on #749
This is the "portal" node. For every modal reference, on its contruction, it creates its own node and removed when you unmound the modal.

Normally, this class doesn't has any style.

[2019-04-08 21:32] Bartlebyy commented on #191
[no-scroll](https://github.com/davidtheclark/no-scroll) explicitly says that it does not work for iOS in their readme
![image](https://user-images.githubusercontent.com/6975256/55758041-9d3ebb00-5a23-11e9-9b34-1aa92ef37b71.png)
and references to use the solution at [body-scroll-lock](https://github.com/willmcpo/body-scroll-lock), which explains the cons to many of the approaches suggested above in

[2019-04-08 21:40] thedaviddias commented on #730
Same issue, any way to avoid Butonix to close the issue so soon? And get some feedbacks for whow was able to solve the issue?

[2019-04-09 05:16] danbru-WittGruppe commented on #191
I've read this too and `no-scroll` is working for us on iOS.

[2019-04-18 14:48] majid-amiri commented on #749
Hi, it was an issue with the css class provided for portal, it was fixed by removing css class.
Thank you

[2019-04-18 14:48] #749 closed

[2019-05-02 20:37] s-herbert commented on #251
https://medium.com/react-camp/how-to-fight-the-body-scroll-2b00267b37ac

I am implementing my own modal but, came across this while searching for solutions, may help others!

[2019-05-03 13:53] ramusus opened #751 "Nested forms strange behavior"
### Summary:

I have found, that If modal located inside form and there is another form in modal, they behavior intersects. If I click on submit button in inner form - outer is submitted, if there are errors in inner form, onInvalid event handler of outer form is invoked. This is strange behavior, given that **forms are not nested in a DOM**.

Here is example - https://codesandbox.io/s/1qjlzm6k87.

[2019-05-03 16:06] diasbruno commented on #751
Hi @ramusus. According to [W3 - The form element](https://www.w3.org/TR/html5/sec-forms.html#elementdef-form):

[code]

It's seems that it's not a good idea to nest form elements, not sure why.

[2019-05-04 13:37] ramusus commented on #751
@diasbruno, forms are not nested in a result DOM, they are nested only in React component hierarchy.

[2019-05-04 14:09] OliverJAsh commented on #580
Found myself asking the same question ("what is the SSR support"?), but unfortunately there still aren't docs to cover this, so I'll try to provide a summary of what I've inferred (for future me and others, in absence of docs):

The modal uses [React portals](https://reactjs.org/docs/portals.html). Portals only work on the client-side, because they need a DOM element.

If we wanted to enable rende

[2019-05-04 14:10] OliverJAsh commented on #112
IIUC, SSR of the modal does not work because the modal uses portals. This proposal offers a solution. Is that correct?

I for one would very much like a solution to enable SSR for the modal

Re. https://github.com/reactjs/react-modal/issues/580#issuecomment-489330313

[2019-05-04 14:12] OliverJAsh commented on #580
It would be good to add a warning when the modal is rendered in SSR, because right now it silently fails.

[2019-05-04 15:58] diasbruno commented on #751
Oh...Sorry about that. You are correct.

I think this is related to the propagation of synthetic events in react.

The form elements are on different nodes, but they have a direct path for the synthetic event propagation. I think this can explain why you are getting those logs.

[2019-05-06 20:42] ramusus commented on #751
@diasbruno you are right. I have added `e.stopPropagation()` to modal form handlers and behavior straightened up immediately. Here is updated example: https://codesandbox.io/s/9qmy6507vy

Thanks.

[2019-05-06 20:42] #751 closed

[2019-05-09 00:23] petevliet opened #752 "Setting AppElement as aria-hidden="true" when modal is opened fails accessibility rules"
### Summary:

When the modal is opened, the site fails serious-level accessibility checks from axe's developer tooling. One could programmatically disable focusable elements on simple examples, but on a more complex site this is unfeasible.

### Steps to reproduce:

 1. Add Axe's Accessibility Checker tool as an [extension for Chrome](https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmni

[2019-05-15 08:02] #660 closed

[2019-05-15 16:39] crswll commented on #752
This rule seems like it's meant to keep someone from accidentally doing this - not doing it on purpose. `react-modal` traps focus, so under normal circumstances you can't focus something inside the `AppElement` when the modal is open (essentially just like the screen reader would experience it), which I think is what they're worried about. I'm wondering if this is a false positive since it can't d

[2019-05-16 12:32] diasbruno commented on #752
I think @crswll is correct about the false positive. The behavior described is correct.

As long as react-modal don't let the focus escape the modal, this should be fine.

[2019-05-16 14:22] derekhamilton commented on #632
I got rid of the error in a dumb way.

[code]

[2019-05-19 19:35] quuack commented on #117
this worked for me:
`.ReactModal__Body--open {
  overflow: visible;
  position: relative;
}`

[2019-05-20 19:01] OliverJAsh commented on #117
Re. https://github.com/reactjs/react-modal/issues/117#issuecomment-346318027

More on this: https://webplatform.news/issues/2019-04-19#you-can-prevent-browsers-from-scrolling-dynamically-focused-elements-into-view

[2019-05-20 21:26] JadeHayes commented on #744
Any luck?  I've ran into this as well.

[2019-05-21 07:50] KingZee commented on #48
I would like a fix to this issue. I want to control css of the overlay independly from the modal content.

[2019-05-21 12:44] diasbruno commented on #744
It seems that [config-yargs](https://github.com/webpack/webpack-cli/blob/master/bin/config/config-yargs.js) has changed on newer version.

Can anyone try to add/replace `webpack` with `webpack-cli`?

[2019-05-24 18:57] colleenpurcell opened #753 "Can't type spaces in input or textarea form fields nested inside the Modal element"
## Describe the bug

When I nest a form inside the Modal element from the react-modal library, the user input into the input (or text area) field do not allow spaces to be typed. So you can only enter a single word. When you type spaces, they don't register. It's like whitespace is automatically trimmed.

## To Reproduce

Steps to reproduce the behavior:

1. Go to the form
2. Type "test this" and

[2019-05-27 14:34] #744 closed

[2019-05-28 13:19] iamaamir commented on #753
what about providing the fiddle of the code.
you can use codepen.io/jsfiddle.net etc

[2019-05-28 20:54] bsansouci commented on #699
After reading https://github.com/facebook/react/issues/11387 it seems to me like I cannot use react-modal since the event propagation will break my app. I don't want to register events handlers for every kind of event and call stopPropagation because it's clear that that will have side effects ([for example](https://github.com/facebook/react/issues/11387#issuecomment-366113321)).
One way to mitiga

[2019-05-29 12:57] ysz commented on #338
+1

@erin-doyle any update?

[2019-05-29 16:42] erin-doyle commented on #338
@ysz this is not my library so no update from me.  IIRC in the project where I was using this I ended up having to set:
`shouldFocusAfterRender={true}`
`shouldReturnFocusAfterClose={false}`

I gave up trying to set focus to anything specific within the modal when it opens and had to add code managing focus explicitly on `onRequestClose` to make sure the focus returns to the corrrect location when

[2019-05-30 16:59] petevliet commented on #752
Thanks all, makes sense. I'll close this.

[2019-05-30 16:59] #752 closed

[2019-05-30 23:05] hrag opened #756 "Possible to close modal from a child element?"
### Summary: I have a use case where I need to be able to close the modal, but it should be invoked using a function somewhere, or a click event from a button which is one of the child elements. I can't seem to figure out how to accomplish this after Googling around.

### Also, this modal is nested within another component, so there's no access to the state or props.

[2019-05-31 00:57] konekoya commented on #756
Did you try passing the close handler from the modal to the child component and involve that handler in child components?

[2019-05-31 18:44] colleenpurcell commented on #753
Never mind, turns out it was due to interference from the react-accessible-accordion library, not react-modal. Thanks!

[2019-05-31 18:44] #753 closed

[2019-06-03 11:19] jrdevforlife commented on #718
So what is the right way to do it then?

[2019-06-03 16:39] simonayzman commented on #125
Do people have suggestions on how to animate with direction? I have mine pinned to the bottom of the screen, and want it to animate up from the bottom, and animate down on close. Current content style:
[code]

[2019-06-04 10:56] corysimmons commented on #283
This fixes it:

[code]

[code]

tbh the maintainers could/should do a major bump and assign `.ReactModal__Overlay`'s styles to `.ReactModalPortal`, then assign `.ReactModal__Content`'s styles to `.ReactModal__Overlay`.

Then they could get rid of the `.ReactModal__Overlay` `<div>` all together while fixing this gross scrolling bug.

[2019-06-04 12:55] diasbruno commented on #283
Hey @corysimmons, thanks for having a look at this.
Can you try to make a PR to show how this would work?

[2019-06-04 15:03] corysimmons commented on #283
@diasbruno Yup sure can. Busy the next few days but might have some time over the weekend to prepare something. It's really not much more than what I posted above, but happy to PR. Adding this to my GH Todo. If I forget by this weekend, someone ping me.

[2019-06-06 16:40] Webbrother opened #757 "Question: Why doesn't react-modal use imperative style?"
### Summary:
Why doesn't react-modal use imperative style?

I mean, following:

[code]

[2019-06-06 16:42] diasbruno commented on #757
Hi @Webbrother, do you mean expose the open/close methods?

[2019-06-06 16:46] Webbrother commented on #757
@diasbruno correct.

[2019-06-06 16:57] diasbruno commented on #757
Can you provide a case where this can be helpful? (Of course there is, but just so we can see where `isOpen` attribute is not sufficient).

[2019-06-06 17:05] Webbrother commented on #757
@diasbruno I've provided some dummy example in the first message. Actually my question doesn't mean that current implementation bad or good. My question just "Why?". My question more about conception. IMO modal is global UI element, and it should not be a child of MyComponent.

So I just thought that

[code]
is a bit confusing. We declare `<Modal>` like child of my current component, but in fact i

[2019-06-06 17:43] diasbruno commented on #757
@Webbrother Sure. Just trying to figure it out how this can help.

`react-modal` doesn't works as a singleton instance, you can instantiate as many modals as you need and even nest than.

This gives cohesion, to instantiate where it is used.

Hope this explains how this library works.

Let me know if you have other questions.

Thanks.

[2019-06-06 18:52] Webbrother commented on #757
@diasbruno Thank you. But IMO imperative style can also process mentioned use cases (multiple instances (just call `this.modal.open()` twice...), nesting, etc...)
What problems imperative style can cause?

[2019-06-08 15:03] corysimmons commented on #283
Sorry, still working on work-work stuff... 😩

Here's what I've got:

<img src="https://user-images.githubusercontent.com/224636/59148839-9ad4ef00-89db-11e9-9169-62609da3f3ce.png" width="200px" />

<img src="https://user-images.githubusercontent.com/224636/59148841-a6281a80-89db-11e9-9980-b6e4c0ca3f58.png" width="200px" />

<img src="https://user-images.githubusercontent.com/224636/59148843-b2ac730

[2019-06-10 18:48] oneillsp96 opened #758 "ComponentWillUnmount called when component children update"
I have a bit of code, the gist of it is below.  The issue I'm running into is that conditional uodates inside the modal itself is causing componentWillUnmount to run, even when I don't modify isOpen or remove the modal from view.  I even tried hard-coding isOpen to true and still see the issue.  This causes the removal of "ReactModal__Body--open" which I need to style my root div.
What am I doing

[2019-06-10 18:56] diasbruno commented on #758
Hi @oneillsp96, thanks for reporting this issue.
Can you make a reproducible example on codepen or codesandobox?

[2019-06-10 20:03] oneillsp96 commented on #758
I could not repro with a small example, and moving the full example code over would take me longer to do than it would be worth.  Just wondering if anyone has had a similar issue (componentWillUnmount running before isOpen is set to false causing "ReactModal__Body--open" to be removed).  Is there any method that would let me tap into componentDidUpdate and manually reset "ReactModal__Body--open" b

[2019-06-10 20:24] diasbruno commented on #758
Not sure. It would be better to have a reproducible example, so anyone can help debugging this.

Is your modal inside a conditional render? Something like...

[code]

[2019-06-10 22:25] oneillsp96 commented on #758
Understandable.  No it’s not inside a conditional render. I just removed the style for now, if I get time I will try to get a working codesandbox up.

Just can’t figure out how the modal is staying open but componentWillUnmount is running.

[2019-06-10 22:25] #758 closed

[2019-06-12 12:44] sachinkreeti commented on #686
Can we do something like this `overlay: { position: static }`. This works for me since the overlay does not have any width and height.

Thanks!

[2019-06-12 13:37] srph commented on #757
It's just that the current API is what the author (and pretty much the community) prefers. If you prefer that API, you can wrap this component to do as you see fit.

If your modal is a global ui element (i.e., mounted on the root, and should be called anywhere in the tree), you can use context to expose the methods to interact with the modal.

I have a lot to say in this space (as I've done this a

[2019-06-15 05:55] firzx77 opened #759 "[BUG] ReactModal__Body--open not removed when using css animation, and "fast click" on modal trigger button"
### Summary:
When css animation and open modal with toggle button, and then I'm doing like "fast click" on the trigger button, `ReactModal__Body--open` will not removed from the body

![gif](https://user-images.githubusercontent.com/2428512/59547672-28cd4e80-8f75-11e9-8c0a-30b994e86e2f.gif)

### Expected behavior:
The `ReactModal__Body--open` class would removed from the body though "fast click" t

[2019-06-15 06:17] ytx21cn commented on #106
I tried it and it works:
https://codepen.io/ytxmobile/pen/pXgddN

[2019-06-17 09:53] tomsonpl opened #760 "Excessive amount of portals in dom"
### Summary:
Hi, it's rather a question (not sure if an issue but wanted to bring your attention to this case), if portals should be created even when Modal has isOpen state set to false. We are having quite a big app with many items opening modals.  Version used is:  "react-modal": "3.6.1". Whenever we use modal and leave mounting / showing logic to be handled there - we end up with having an out

[2019-06-17 11:05] adambartniak commented on #760
Same here

[2019-06-17 12:56] diasbruno commented on #760
Hi @tomsonpl @adambartniak, can you make a reproducible example, please?

[2019-06-17 20:39] jmm commented on #717
It's also included in the dev-mode warning message when you haven't set the app element, so it seems that it's probably something that should be documented.

[2019-06-17 21:23] cmoesel opened #761 "Launch modal from within modal"
### Summary:

Is it possible to launch a modal from within another modal and keep the state of each?

For example, Modal A has a form to fill out.  One of the fields requires complex input, so I want to click a button in the form and launch another modal (Modal B) to assist in creating the complex input.  After Modal B is closed, the first modal should still be active (and updated with the informa

[2019-06-18 13:17] diasbruno commented on #761
Hi @cmoesel, can you make a reproducible example of this issue, please?

[2019-06-19 20:06] cmoesel commented on #761
Hi @diasbruno.  Thanks for the prompt reply.  To be honest, I'm not sure how easily (or quickly) I can pull together a reproducible example. Our project is open source, but there's work to get it running and it requires an account on a 3rd party service to get to the part where I'm running into this problem.  And... I think I'm still too new to React to be able to easily extract the relevant parts

[2019-06-19 20:19] diasbruno commented on #761
No problem. You should be able to nest them. Maybe it's related to the event propagation in react.

Let me know if there is some code I can look at.

[2019-06-19 20:21] diasbruno commented on #761
Also, I think there is a test for this case.

[2019-07-03 18:15] paintedbicycle commented on #685
I just came across this because of a bug I was seeing possibly related to https://github.com/facebook/react/issues/15375

This was fixed for me personally by making my modal styles which I had just moved to an .scss file instead of in the component to global styles. I was using CSS Modules, so I needed to wrap my styles with :global()

This may not be the exact solution for all, but it was a direc

[2019-07-03 20:17] diasbruno commented on #685
@paintedbicycle, I think [this comment](https://github.com/facebook/react/issues/15375#issuecomment-487133508) is the correct answer for this issue.

Also, [this comment](https://github.com/facebook/react/issues/15375#issuecomment-490701560) has some guidelines about this issue.

Let me know if those references helps.

[2019-07-04 09:02] paintedbicycle commented on #685
Thanks @diasbruno - I'm sure that's true for most. As mentioned in my comment, for me, it was not the style declaration, but instead the classname itself causing the issue. Just wanted to post my comment above in case anyone else using CSS Modules came across this

[2019-07-04 09:39] soysandeep commented on #486
I have a scenario where this workaround might NOT work.
Let's say the modal has an `input` element, which has a value in it already. And the user selects the input and hit submit (could be a button or press enter to submit) without changing the value inside the input element. As far as I know, the `componentDidUpdate()` method will not be called and still, the modal will lose its focus.

Then what

[2019-07-07 15:53] YassienW commented on #191
@diasbruno Is there a reason as to why this behavior is not supported internally by react-modal? It seems to me that in most cases you would want to disable scroll when you open a modal, perhaps there should at least be a prop to enable/disable this behaviour.

[2019-07-07 16:44] YassienW opened #763 "Is it possible to pass an 'id' prop?"
Can we pass an id prop to the main modal component? If not is this something the developers would consider? I could submit a PR if so.

Thanks

[2019-07-10 14:59] vincenzo-antolini-os opened #764 "When multiple modals are open ReactModal__Body--open class is not present"
Very easy to reproduce.
When modals are nested, something fails in adding the class to the body.

[2019-07-11 13:29] diasbruno commented on #764
Hi @vincenzo-antolini-os, can you make a reproducible exaemple, please?