[2014-10-06 21:45] claydiffrient opened #3 "Shift+Tab scoping"
Shift+Tab doesn't seem to scope properly in Chrome or Firefox.  I made a little test app you can get here: https://github.com/claydiffrient/react-test

You'll notice that it will scope fine and be circular when pressing tab, but when you press shift+tab it takes you under the modal.

[2014-10-06 21:50] claydiffrient opened #4 "Tab isn't scoped properly in Firefox"
This may be more of a problem with my app, but tab never seems to scope right in Firefox.  It doesn't start in the modal.  I think that something might be happening that prevents the initial item from grabbing focus with Firefox.

[2014-10-29 01:05] leoasis opened #7 "Custom className for modal content"
It'd be nice to be able to provide a custom modificator className to the Modal content.

The use case is that we need modals that may vary in size on the screen, and we have a set of prefixed sizes we would like to set to the modal (small, medium, large). It'd be nice if we could pass a `className` prop that would get appended to the rest of the content classes.

I don't know if the same use case

[2014-11-10 18:42] ryanflorence opened #9 "form inputs lose focus on owner `setState`"

[2014-11-10 23:09] #9 closed, assigned to nobody

[2014-11-12 18:08] coderberry opened #11 "Non-actionable warning in console: You tried to return focus to null but it is not in the DOM anymore"
I am seeing a lot of messages in the console: `You tried to return focus to null but it is not in the DOM anymore`. I am unsure how to make this warning go away.

[2014-11-12 22:10] #11 closed, assigned to nobody

[2014-11-13 20:04] #7 closed, assigned to nobody

[2014-11-17 21:30] coderberry opened #14 "Apply class to ReactModal__Overlay and ReactModal__Content with `className` (BEM style)"
We need to be able to add a class to the overlay portion of the css.. for example:

`<Modal className="foo">...</Modal>`

should render as:

[code]

[2014-11-17 23:06] #14 closed, assigned to nobody

[2014-12-01 21:44] #4 closed, assigned to nobody

[2014-12-16 19:43] #3 closed, assigned to nobody

[2015-01-06 21:15] misuba opened #15 "Incompatible with server-side rendering"
A source tree with react-modal in it, running in Node, yields the following:

    /node_modules/react-modal/lib/components/Modal.js:18
        appElement: React.PropTypes.instanceOf(HTMLElement),
                                               ^
    ReferenceError: HTMLElement is not defined

...and halts entirely.

How would you feel about making this propType a little more lenient (`object`, perh

[2015-01-06 23:59] misuba commented on #15
I could do that (plus shim document.body.etc - HTMLElement is just the first choke point), but I'd have to run a hacked version of this package rather than just put that in my app, and I'd prefer not to do that.

I could also possibly just require react-modal on the client-side and pass either it or a server-side alternative element all the way down my app hierarchy, but... come on. Plenty of peop

[2015-01-15 22:21] asvsfs commented on #15
I'm not sure if that solution is actually useful in this case , any other solution?

[2015-01-19 00:11] nelix commented on #15
I had a little peek at wrapping the offending bits in ExecutionEnvironment.canUseDOM but I could not really think up a good way to do portals without the dom.

[2015-01-19 17:48] misuba commented on #15
Could you post a gist? I'm pretty sure I don't need the things to *work* on the server... I just need them to *not crash* the server.

[2015-01-20 12:52] nelix commented on #15
@misuba this is crude and untested, just designed to give you the idea, https://gist.github.com/nelix/24dd21b12d4b005880aa

you could also not mess with react-modal at all and just render null instead if the dom is not available, but I think we could come up with a server render alternative that mostly works instead of these hacks

[2015-01-27 00:29] misuba commented on #11
I notice the stuff in that commit doesn't seem to be in the code anymore... and I'm having this issue.

[2015-01-27 01:24] glifchits commented on #11
@misuba I'm with you there. I get the warning almost every time state most places in my app change, even when the modal is not open.

[2015-02-02 19:59] leoasis opened #17 "Unmounting and animation"
When the modal is unmounted, it will abruptly close, not waiting for any animations to finish. Sometimes it is desired for the modal to graciously close with animations instead.

What I'm not too sure yet is how this should be handled, should it be a prop that is sent to tell that the modal should be closed on unmount? Should that be the normal behavior?

What do you guys think? Have you ever need

[2015-02-06 14:20] jeffutter commented on #11
I am seeing this too. @mzabriskie can we reopen this issue?

[2015-02-10 02:36] glifchits commented on #14
could we support a `style` prop for inline CSS in JS? I'm talking about:

[code]

[2015-02-19 11:03] ncuillery commented on #15
With the @nelix 's gist augmented with the @ryanflorence 's workaround (`HTMLElement = typeof HTMLElement === 'undefined' ? function(){} : HTMLElement;`), it doesn't crash on server and work well in the browser.

Can we considered the issue as solved and make a new release ? :)

[2015-02-19 11:09] cmeiller commented on #15
:+1:

[2015-02-19 11:11] fdubost commented on #15
@ncuillery :+1:

[2015-02-19 13:34] oziks commented on #15
@ncuillery :+1:

[2015-02-27 04:37] atridgedcosta commented on #17
I got the close animation working by using the prop `closeTimeoutMS` and applying CSS to the class, `.ReactModal__Content--before-close`

It works for me, however, I get this warning in the console `Warning: You tried to return focus to null but it is not in the DOM anymore`

Everything behaves as I expect so i'm not sure what to do so that I can avoid this warning.

[2015-03-04 20:42] leoasis commented on #17
That works when you don't unmount the component. In some use cases, such as modals inside a component that belongs to a page component, when you have that modal opened and you switch pages, that will unmount the current page and mount the next one, thus unmounting all the page's components, including the modal, which won't wait until the timeout finishes, it will just be removed. Since the modal i

[2015-03-11 00:46] stereosteve opened #21 "Unable to run example"
[code]

when running example

[2015-03-11 01:19] stereosteve commented on #21
Ahh... related to React 0.13 release.

[2015-03-14 15:14] kyasu1 commented on #17
rfdsasfdafsd

[2015-03-18 15:20] snario commented on #21
Same issue here

[2015-03-18 18:52] claydiffrient opened #23 "Shift + Tab immediately after the modal opens causes focus to be lost."
Pressing `Shift+Tab` takes focus outside of the modal and underneath the overlay.

As far as I can tell this is because of https://github.com/rackt/react-modal/blob/master/lib/components/ModalPortal.js#L83 which focuses on the `ReactModal__Content` div which is great.

The problem is that the tab isn't scoped at that point by https://github.com/rackt/react-modal/blob/master/lib/helpers/focusManage

[2015-03-24 00:05] #23 closed

[2015-03-24 00:40] mzabriskie commented on #17
Wouldn't this work?

[code]

Just wait for the animation to complete, then once it's completed call `setState` so that the modal is closed.

[2015-03-25 12:20] leoasis commented on #17
That would work if I have all modals as direct children of the root component, but the problem is related to unmounting a component that is some levels above the modal, like a page component, and still having the modal unmount gracefully with an animation.

[2015-03-27 16:03] srph opened #25 "Deprecate `isOpen`"
I find this more convenient compared to the current approach.

[code]

However, I haven't tried this (whether is works), and I do not acknowledge any pros and cons of the approach besides a cleaner API.

[2015-04-02 15:33] XeeD commented on #15
I wonder if the work from M6Web/react-modal#1 could be merged into this repository? I've just tried it and it works fine when rendering React on server for me.

[2015-04-02 16:22] ncuillery commented on #15
Yes, something similar has already been done here by @misuba : #22

[2015-04-08 04:09] cameronsutter commented on #25
I've also found it to be more convenient this way

[2015-04-08 05:26] TomClarkson opened #26 "Why are overlay styles not being applied the second time I open a modal"
When I open and modal and close it and try to open it again the modal does not show because the overlay styles (position: fixed; left: 0px; right: 0px; top: 0px; bottom: 0px;) are not being added to then dom element the second time I open it.

Could you please advise how I can fix this

![screen shot 2015-04-08 at 5 23 56 pm](https://cloud.githubusercontent.com/assets/2054503/7039308/1869fdde-de14

[2015-04-16 18:02] astephenb opened #29 "[Feature Request] Add class to app element when modal open"
We would like to lock the app from scrolling when the modal is open. Currently we have a wrapper around `Modal` to set the class on our app element based on the `isOpen` prop.

[2015-04-23 19:24] pstoica opened #30 "closeTimeoutMS respected only when onRequestClose is implemented"
Requiring user interaction in a modal wouldn't allow for animations because of this:

[code]

For now I'm working around this by defaulting onRequestClose to a noop.

[2015-04-23 21:04] pstoica commented on #25
I think you'd lose out on being able to animate? I don't think you can wrap `<Modal>` in something like `ReactTransitionGroup` since it needs to open up through another portal.

[2015-05-04 18:43] DelvarWorld opened #32 "ReactMount: Two valid but unequal nodes with the same `data-reactid`: .0.0"
When my modal mounts, I get the error

    Invariant Violation: ReactMount: Two valid but unequal nodes with the same `data-reactid`: .0.0

The first conflicting element with `data-reactid` is the **modal element** that gets put in the DOM:

![modal-app](https://cloud.githubusercontent.com/assets/79215/7459610/0082fcd2-f252-11e4-9d9b-3d85f4c360c9.png)

The other is the **"root" of our application.

[2015-05-04 21:24] DelvarWorld opened #33 "Invalid require syntax in dist?"
When I try to [load react-modal in a jsfiddle](http://jsfiddle.net/69z2wepo/7616/), I get `Uncaught Error: Script error for: react-modal`. According to [the doc page linked by the error](http://requirejs.org/docs/errors.html#scripterror), "This usually means there is a JavaScript syntax error or other execution problem running the script." It's using require 2.1.7 from CDNJS.

If I copy and paste

[2015-05-04 22:26] DelvarWorld commented on #32
This was because we were requiring two different versions of react on the page.

[2015-05-04 22:28] #32 closed

[2015-05-05 18:58] DelvarWorld opened #34 "Replacement for HTMLElement in code?"
[This library uses the global `HTMLElement`](https://github.com/rackt/react-modal/blob/master/lib/components/Modal.js#L18) which only exists in DOM land. We mock our environment with JSDom, however this code is loaded at `require()` time before JSDom is instantiated, so the require fails and crashes execution. What about `React.PropTypes.object`, or `global.HTMLElement` (which wouldn't fail the `r

[2015-05-06 19:58] rafaelchiti opened #35 "Remove warning when using classSet"
On React 0.13 we are getting a warning.

`
Warning: React.addons.classSet will be deprecated in a future version. See http://fb.me/react-addons-classset
`

If you are ok with clearing out this warning by either using plain js or use the dependency (https://www.npmjs.com/package/classnames I'm in favor of just plain js), I would be more than happy to submit a PR.

Thanks!

[2015-05-08 21:41] mzabriskie commented on #15
Resolved with #22

[2015-05-08 21:41] #15 closed

[2015-05-08 21:42] mzabriskie commented on #34
Resolved with #22

[2015-05-08 21:42] #34 closed

[2015-05-08 21:43] mzabriskie commented on #35
Resolved with #28

[2015-05-08 21:43] #35 closed

[2015-05-11 09:20] minhtranite opened #37 "Warning: owner-based and parent-based contexts differ when use 'react-router' component inner modal"
Code example:

[code]

Console log:

[code]

[2015-05-23 17:32] Jmaharman commented on #37
Exactly the same problem here.

[2015-05-29 19:10] gabadi commented on #37
Me too

[2015-05-29 20:00] bartimaeus commented on #37
I've been getting this warning too.

[2015-05-30 17:04] KyleAMathews commented on #29
Ran into the same problem. Will work on a patch for this Monday.

[2015-06-01 17:46] KyleAMathews commented on #29
@astephenb created PR if you'd like to test.

[2015-06-12 07:15] Semigradsky opened #44 "Error when pressing TAB"
![image](https://cloud.githubusercontent.com/assets/1198848/8125088/2a320dd6-10eb-11e5-977c-1c6cedf4d18f.png)
`tabbable` array is empty.

My code:
[code]

[2015-06-12 12:55] slorber commented on #37
Hi,

This happens when you use React contexts. So this may happen if you try to use a library that relies on React contexts inside the modal, like many Flux implementations, but also React-Intl and things like that. When your modal content uses a Mixin of a framework, this is probably using contexts too.

If you are looking for a solution to this problem check this issue:
https://github.com/facebo

[2015-06-14 02:08] AndrewRayCode opened #45 "Thoughts on making the modal draggable?"
I'm looking at https://github.com/mzabriskie/react-draggable. However, you cannot do this:

[code]

nor can you do this:

[code]

because of the way modalportal works. Any suggestions?

[2015-06-22 19:16] Semigradsky opened #47 "Alive?"
@ryanflorence , @mzabriskie  Is this project still alive? You need contributors?
There is no activity for more than two months

[2015-06-23 23:19] AndrewRayCode opened #48 "Thoughts on hiding the overlay?"
There are some cases in my app where I'd like to not have the overlay behind the modal. Because the (`position: fixed`) styles are set as inline on the overlay, I cannot override them with `overlayClassName` to massage the overlay into being hidden.

[2015-06-25 10:15] yhjor1212 opened #49 "What if I render DOM using server side react?"
// And when using document to get the dom element, server side won't support "document" object for the following code:
Modal.setAppElement(el);
Modal.injectCSS();

// I have also tried the following but It will prompt me about I need to insert element in that area
let el = React.findDOMNode(this.refs.cdrExportModal)
console.info('el', el)
Modal.setAppElement(el);
Modal.injectCSS();

Please help!

[2015-06-25 23:13] Philmod commented on #47
:+1:

[2015-06-26 21:29] AndrewRayCode opened #50 "How to perform action on modal open?"
It seems that with the `isOpen` api, neither `componentDidMount` nor `componentDidUpdate` actually guarantee the modal is open, even when making sure props.isOpen is set. I'm not sure what causes the delay, but if I want to do something like focus an input on modal open, I can't do it because the modal isn't visible yet.

[2015-06-29 10:10] yhjor1212 commented on #50
set it 'true'

[2015-06-29 17:38] DelvarWorld commented on #50
@yhjor1212 what? set what to true?

[2015-06-29 20:40] kevhou opened #51 "How to focus on primary button when modal loads?"
I can't seem to use jquery .focus() inside componentdidmount.

Someone please help!

[2015-07-08 23:49] mammut commented on #49
They discuss about it here:

https://github.com/rackt/react-modal/issues/15

but the Modal.injectCSS() still gave me problems, so I ended up doing this:

[code]

The server stopped crashing and it works on the frontend.

[2015-07-11 03:58] olegshilov commented on #51
@kevhou try using [Refs](https://facebook.github.io/react/docs/more-about-refs.html#completing-the-example)

[2015-07-13 14:44] vinceprofeta commented on #29
@KyleAMathews Did this get merged?

[2015-07-13 14:54] KyleAMathews commented on #29
Nope. This is the PR https://github.com/rackt/react-modal/pull/41

[2015-07-13 14:56] bartimaeus commented on #29
@KyleAMathews I haven't seen any movement on this project in about 2 months. They must be really busy with the launch of the React training course.

[2015-07-13 23:50] KyleAMathews commented on #29
@bartimaeus oh hey Eric! :)

Yeah, something like that. Though @mzabriskie isn't working with Michael and Ryan.

@mzabriskie any chance you can add more maintainers here?

[2015-07-15 06:06] #21 closed

[2015-07-15 06:07] mzabriskie commented on #29
Sorry for the delay. Spent some time giving this project some much anticipated attention. Will be cutting a new release soon.

[2015-07-15 06:07] #29 closed

[2015-07-15 06:09] KyleAMathews commented on #29
Thanks!
On Tue, Jul 14, 2015 at 11:07 PM Matt Zabriskie <notifications@github.com>
wrote:

[2015-07-16 01:21] arasmussen commented on #51
I'm having a similar problem with not being able to .focus something inside componentDidMount. I'm using refs.

[code]

I've verified that this.refs[VIEWER_REF].getDOMNode().focus() is defined and being called. It worked before I put my PhotoViewer inside react-modal.

[2015-07-16 02:11] arasmussen commented on #51
Also worth noting that document.activeElement (currently focused element) after my PhotoViewer opens is the ReactModal__Content element, so it seems like it's stealing focus from me. Why does the modal need focus?

[2015-07-16 02:23] arasmussen commented on #51
Can we get a prop <Modal allowFocus={false} /> (default true) so that we can disable this functionality? I don't see why the Modal needs focus. I'm happy to manually pipe through ESC to changing isOpen to false.

[2015-07-16 02:25] arasmussen commented on #51
Also sorry for the quadruple post, but a temporary workaround is the following:

[code]

[2015-07-18 13:45] anatoliyarkhipov commented on #50
What did you mean by "delay"? From what moment it is delayed?

[2015-07-30 06:59] brandly commented on #51
In case anyone else comes across this, as of `v0.13`, [`getDOMNode()` is deprecated.](https://facebook.github.io/react/blog/2015/03/10/react-v0.13.html#new-features) The above example would be changed to this:

[code]

[2015-08-04 16:06] rlancer opened #59 "Does not work in strict mode"
opacity is repeated

./~/simple-react-modal/build/styles.js
Module parse failed:/node_modules/simple-react-modal/build/styles.js Line 17: Duplicate data property in object literal not allowed in strict mode
You may need an appropriate loader to handle this file type.
|   opacity: 0,
|   transition: 'opacity 400ms ease-in',
|   opacity: 1,
|   pointerEvents: 'auto'
| };
 @ ./~/simple-react-modal/bu

[2015-08-05 16:51] nateajohnson opened #60 "Block scrolling events behind the modal"
Is there some way to block scrolling events behind the modal while the modal is active? I have a long list of items and each one opens a modal. If you scroll while the modal is active, even if there isn't data to scroll in the modal, it scrolls the list behind the modal. This can be replicated by just adding a bunch of paragraph tags to the example project so that you page is large. What's worse i

[2015-08-06 19:16] zdfs commented on #60
The modal adds a class to the body element: `ReactModal__Body--open`. You can simply add `overflow-y: hidden;` to that class and I think it should solve your problem.

[2015-08-06 19:21] zdfs commented on #59
Is this something you added? I don't see `styles.js` in the repo, so not sure how to reproduce this.

[2015-08-06 19:25] rlancer commented on #59
Looks like it was another react modal repo ... Sorry for the confusion.

[2015-08-06 19:25] #59 closed

[2015-08-06 20:28] zdfs commented on #48
Would modifying the CSS work (to be transparent) or do you want a prop that controls the creation of the overlay?

[2015-08-06 20:34] zdfs commented on #33
Can you just update your config to this?

[code]

All I did was remove the `.js` file extension from the `paths` object. https://jsfiddle.net/p6n7hv3v/

[2015-08-06 20:38] DelvarWorld commented on #48
I want to be able to click on things behind the modal (think a dialog in an editor). might try transparent + pointer events

[2015-08-06 20:42] zdfs commented on #48
Ah. It might be better to have a prop then that dictates whether the overlay is made or not. Probably a cleaner solution.

[2015-08-13 05:44] Asgator opened #61 "Uncaught TypeError: Cannot read property 'makeHref' of undefined"
http://codepen.io/anon/pen/MwRmKd?editors=001

'React-router' Link on modal failed context router.

If generate Modal on the fly

[2015-08-18 03:29] martco commented on #60
@zdfs , thanks that worked for me

[2015-08-19 18:42] molson504x opened #62 "Dynamic sizing of the modal"
Does anyone know how to dynamically size the modal?  For example, if I hard-coded the width of some content to be 100px wide, and the app element that the modal is bound to is 200px wide, I want the modal to be centered in the window at 100px wide.  Any ideas?

[2015-08-28 19:20] thesunny commented on #50
Thanks for putting this React Modal together. Really nice.

I think this and the issue on focus can be handled by having an onAfterOpen callback passed in as a prop. This way, after the modal is open, we can perform an action on open which includes the ability to set the focus.

My feeling is that it may be beneficial to remove the auto-focus since it's not necessary in a lot of cases and in cases

[2015-08-29 14:13] TurBoss opened #64 "what are the requiriments if any?"
I'm trying to use React-Modal but I'm stuck with "ReferenceError: Modal is not defined"

So I ask if i need something else like a lib or so

thx

[2015-09-07 16:09] devmanhinton opened #66 "Pass inline styles?"
Awesome library thanks for building!

Is there a way to pass on inline styles to the modal overlay?

I am using Radium / trying to avoid using css etc...

ie., this:
[code]
would pass the styles onto the modal overlay. I think this makes sense in react speak

[2015-09-09 13:59] SebT commented on #51
I'm having a similar problem, but I just can't get my ref.

[code]

I also tried to add  `ref="modal"` on the Modal element and access the input with `this.refs.modal.refs.input` but it's undefined, yet `this.refs.modal` isn't.

If I can't get the ref to my input, it's even harder to focus it x)

Any idea? I'm using react 0.13.3 et react-modal 0.3.0

[2015-09-10 13:57] eriknyk commented on #49
Hi,

I tried something like this,

[code]

but still it doesn't works,..
Any other suggestion to make it works on a isomorphic app?

Regards.

[2015-09-10 20:48] brandly commented on #51
if you want to focus on an `input`, you should just be able to put `autoFocus` on it, unless you need more control over it

[2015-09-11 05:31] mzabriskie commented on #66
You can currently pass `style` prop, but it is applied to the modal content, not the overlay. Could add support for a `overlayStyle` prop, which would augment the `overlayClassName` prop.

[2015-09-11 05:32] mzabriskie commented on #64
Do you have any code that you can share?

[2015-09-11 05:36] mzabriskie commented on #60
@nateajohnson see solution provided by @zdfs above.

[2015-09-11 05:36] #60 closed

[2015-09-11 05:36] #47 closed

[2015-09-11 05:38] mzabriskie commented on #26
@TomClarkson it has been a while since you posed your question. Wondering if you are still seeing this behavior.

[2015-09-11 05:41] #33 closed

[2015-09-11 05:46] mzabriskie commented on #49
@eriknyk what is the error that you get with your code?

[2015-09-11 16:51] tazsoulis commented on #51
i have the same problem http://prntscr.com/8f6cve

[2015-09-12 03:58] eriknyk commented on #49
I have not errors, just it doesn't works

[2015-09-13 21:42] TomClarkson commented on #26
I stopped using react-modal as I couldn't stop this behaviour. There must have been some conflict with the rest of our app but I couldn't track down the issue. Thanks anyway.

[2015-09-13 21:42] #26 closed

[2015-09-14 09:02] SebT commented on #51
autoFocus={true} does not work and I still can't get a ref to my input (see 2 posts above), any help please?

[2015-09-14 16:59] brandly commented on #51
i think you just put `<input autoFocus />`. [source](http://stackoverflow.com/a/28891210/1614967)

[2015-09-16 18:40] devmanhinton commented on #66
Sorry for the long delay - made a work around and kept going (ie., just added some `scss` :grinning: )

That would solve my problem. Not sure how big of a use case that is for you. Feel free to close this issue. It was meant only to ask the above question and also let you know this might be a use case.

[2015-09-17 05:20] globexdesigns opened #67 "Support for React 0.14"
The library currently doesn't work with React 0.14 due to the use of `react/lib/ExecutionEnvironment` which no longer exists.

[2015-09-18 04:24] zjjott commented on #64
var ModalPortal = React.createFactory(require('./ModalPortal'));
raise:
`Uncaught TypeError: Cannot read property 'createFactory' of undefined`

[2015-09-18 20:36] #66 closed

[2015-09-20 20:56] arasmussen commented on #67
react-modal also needs to use renderSubtreeIntoContainer instead of render in order for context to work properly. This is the last thing blocking my upgrade to 0.14rc.

[2015-09-21 08:30] laran commented on #64
I'm getting a similar error.

My main app entry point is here:
https://github.com/laran/warehouse/blob/master/warehouse-application-starter/src/main/resources/static/index.html

These are the two files that fail to load properly:

- https://github.com/laran/warehouse/blob/master/warehouse-application-starter/src/main/resources/static/warehouse/js/components/flash-modal.jsx
- https://github.com/lar

[2015-09-21 08:44] laran commented on #64
If I add this before the code that loaded my application I get past that error:
[code]

But then I get a different error on this line:
https://github.com/rackt/react-modal/blob/master/lib/components/ModalPortal.js#L2

... because I'm using JSX, and according to [the docs](https://facebook.github.io/react/docs/top-level-api.html#react.dom) React.DOM should never be used when using JSX.

So, I tried

[2015-09-22 20:54] roine opened #69 "Pass the event through the onCloseRequest"
I want to allow close on ESC press but not on overlay click, can you pass the event through the `onRequestClose` prop.

[2015-09-22 23:46] pwmckenna commented on #49
this happens just trying to run webpacked code server side:

[code]

[2015-09-23 10:25] cbrwizard commented on #69
I + for this, or maybe provide an option to not close on overlay click as some modals need this behavior.

[2015-09-23 15:37] staminaloops commented on #49
Same error. Even with

var ExecutionEnvironment = require('react/lib/ExecutionEnvironment');

if (ExecutionEnvironment.canUseDOM) {
  Modal.injectCSS();
  Modal.setAppElement(document.getElementById('react-app'));
}
...

We are using server side rendering, so yes, document it's not defined on server.
I think it's a priority fixing this, since many of us are using server side rendering :)

[2015-09-24 06:20] baer commented on #69
+1 for this. I need to control how/when the modal is closed. Some modals need to be able to close on blur + escape + button, some should not be closable at all.

[2015-09-24 16:50] nhatquang238 commented on #49
+1 for the same error on server side rendering. Would really love a fix for this.

[2015-09-25 16:54] baer opened #71 "Modals cannot be tested with React's TestUtil"
react-modal is acting outside of the purview of any of React's test utilities.

[code]

I see there are some work arounds that were developed circa React 0.12 but I can't figure out why that is necessary. If I was guessing I would say that this has to do with how you mount to the DOM to properly apply the overlay. If this is true, maybe a small wrapper around those helpers as a part of the release

[2015-09-25 19:53] sprjr opened #72 "React peerDependency inquiry"
Folks -

Is there any reason that you peer-require `>=0.13.3` for this, and could `>=0.13.2` be used instead? I'm not sure what the react changes are from those versions. I unfortunately can't seem to get another dependency I have's latest version to work with our builds. Wondering if this is an option to update, or how much work would be involved?

I can do the legwork if you think there's a dece

[2015-09-25 21:24] shilpam commented on #49
+1. Running into same issue on server side rendering

[2015-09-27 01:06] TurBoss commented on #64
sry I didn't have time to post, will do soon thx

[2015-09-27 22:03] mbrookes opened #73 "MeteorJS compatibility: "ReferenceError: document is not defined""
Totally understand if this is out of scope, but I was hoping to use with Meteor (which now supports React).

As soon as react-modal is added to the project (before any other code changes) I get this error. Full stack trace below:

[code]

Any help appreciated!

[2015-09-28 15:28] ggarek commented on #67
I tried the PR and it does not work for me. =(

I get these errors in  the console:

[code]

Sadly, did not find a way to fix it yet.

And one more thing, may be it would be wiser to use [fbjs](https://github.com/facebook/fbjs) instead of exenv.

[2015-09-29 10:29] jonaswindey opened #74 "Bootstrap example has default style props"
If you run the current version and go to http://localhost:8080/bootstrap/ , the default styles are applied, together with the bootstrap styles.

<img width="1152" alt="screen shot 2015-09-29 at 12 27 30" src="https://cloud.githubusercontent.com/assets/3637300/10161622/b099a7e8-66a5-11e5-8065-0857765b171e.png">

[2015-09-29 11:25] shaharyakir commented on #49
+1 for same error with server side rendering.

[2015-10-01 09:41] kalasjocke commented on #49
+1 over here for supporting server side rendering.

If you need a short term solution you can downgrade to `0.3.0` which supports server side rendering.

[2015-10-01 12:57] eriknyk commented on #49
at the end I make it works, but without any styles,.. seems Modal.injectCSS(); is not working as expected or I need to add some stylesheets manually?

[2015-10-01 21:39] tomhirschfeld commented on #51
I'm also having the issue where the react-modal becomes the active element upon opening and I need a way to prevent this from happening.

[2015-10-02 09:25] wubotao commented on #73
The same issue.

[2015-10-02 09:35] ghislaindj commented on #73
You can try this solution : https://github.com/rackt/react-modal/pull/70

[2015-10-02 11:59] SebT commented on #51
`autoFocus` doesn't work because it focuses the input when the modal is mounted.

We need to focus the input when the modal opens:

[code]
`yourVar` is the variable you give to the modal as `isOpen`.

This works perfectly fine for me.

[2015-10-02 18:11] conorhastings commented on #67
@ggarek facebook reccomends against using fbjs

[2015-10-04 04:59] TurBoss commented on #64
well I notice that requirejs didn't work with django-pipeline :(
maybe i will switch to django-require
so is my fault

thx

[2015-10-04 04:59] #64 closed

[2015-10-07 12:22] MinThaMie commented on #66
I think it would be awesome to have also overlayStyle since React and inlineStyles are more and more common practice :)

[2015-10-08 12:56] pycbouh commented on #67
So, 0.14 was officially released yesterday. Is there an ETA on when react-modal will be compatible with it?

[2015-10-08 22:31] csteffen24 opened #75 "Using multiple react-modals on a page"
I have a grid with many items, and would like each item to open its own modal when clicked (i.e. a zoomed in photo). Is there a way to do this so that instead of rendering a bunch of modals, we only need to create a single one that renders the proper content?

![screen shot 2015-10-07 at 8 02 51 pm](https://cloud.githubusercontent.com/assets/8356272/10381630/58dd55b2-6dea-11e5-85f2-b6ce0f9f1be6.pn

[2015-10-09 00:02] eriklharper opened #76 "Support for higher-order components, like Radium"
I'm trying to use react-modal with [Radium](http://projects.formidablelabs.com/radium/), which requires you to wrap your root element inside a `Radium()` function call like so:

[code]

Doesn't look like react-modal supports this kind of thing.  My end goal is to be able to use Radium's inline media query styling support to style the modal portal at different breakpoints.  I tried doing this in re

[2015-10-09 17:01] YesaDyuss opened #77 "React 0.14.0"
There is error when import

ERROR in ./~/react-modal/lib/components/Modal.js
Module not found: Error: Cannot resolve module 'react/lib/ExecutionEnvironment' in /home/yesa/Projects/sporta/node_modules/react-modal/lib/components
 @ ./~/react-modal/lib/components/Modal.js 2:27-68

[2015-10-13 03:46] AmerShahnawazsc commented on #77
What's the ETA for this fix to be released ?

[2015-10-13 04:11] mzabriskie commented on #77
Working on getting #78, and #79 merged, which will resolve this issue.

[2015-10-13 04:11] #77 closed

[2015-10-13 04:21] mzabriskie commented on #72
`0.13.3` is just arbitrary. I think that was the latest version available at the time we updated React last. Would you be able to use `0.14.0` in the near future? Our goal is to keep up with the latest React release.

[2015-10-13 04:22] mzabriskie commented on #67
I believe that #78, and #79 will resolve this issue.

[2015-10-13 04:26] mzabriskie commented on #75
I would dynamically generate the content of a single modal based on the link that was clicked. As an example, you can see what I did for the [React Rally](http://www.reactrally.com/2015/#schedule) schedule on our website https://github.com/react-rally/www/blob/gh-pages/2015/app/screens/Schedule/index.js#L152-L180

[2015-10-13 05:31] miracle2k commented on #77
@mzabriskie Supposedly renderSubtreeIntoContainer should be used too, for context purposes. I am using this: https://github.com/miracle2k/react-modal/commit/acac059198afef3d8627d15dfe641d46e77c8442

[2015-10-13 19:40] dviramontes commented on #71
Having trouble testing this as well.
:+1: thanks for the pointer @baer !

[2015-10-16 02:27] jhabdas commented on #49
This has been open for quite some time. Given the amount of people struggling with isomorphic rendering it's perhaps worth mentioning this library works client-side only in the project `README.md`.

[2015-10-18 00:08] christopherdro opened #82 "Issues with 'exenv' module not being installed"
I just recently tried applying the recent commits that add support 0.14 but still ended up having problems with the module 'exenv'.

I noticed that this was recently added under `devDependencies` and am wondering if this should actually be applied to `dependencies`.

This is what I needed to get things working properly.

Thoughts?

Thanks in advance

[2015-10-18 01:28] staminaloops commented on #49
I didn't try it yet, but it seems that a PR was merged: https://github.com/rackt/react-modal/pull/70
:)

[2015-10-18 09:51] #82 closed

[2015-10-19 16:44] yashprit opened #86 "Release with 0.14 Support"
@mzabriskie @ryanflorence Guys could you please let's know when you can release react-modal with 0.14 support, required pull request is already merged https://github.com/rackt/react-modal/pull/81

[2015-10-19 18:08] pumpikano commented on #75
So it seems that @mzabriskie is suggesting making the parent component of your grid items the owner of the modal and having clicks on the grid items invoke a callback to the parent to render the appropriate content in the modal. This would work, but I find it less than ideal simply because it introduces a callback dependency that could be avoided.

It would be nice to be able to configure whether

[2015-10-20 09:58] roth1002 commented on #86
:+1:

[2015-10-20 14:22] mzabriskie commented on #86
Let me look through the issues to see if we can get anything else in the release. I will try and get something out by this afternoon.

[2015-10-20 18:25] tbaeg commented on #86
+1 @mzabriskie thanks for all the hard work!

[2015-10-20 19:53] morpheyesh commented on #61
I have this same issue. trying to figure it out

[2015-10-20 21:55] vonwao commented on #86
If you haven't done the release yet, may I suggest meteor support?

It looks like it already should be in master branch, there was a merge in #70, but I'm not certain this fixes it completely.  See #73 for meteor error.

I'd be happy to test it, as soon as I figure out how to install local npm module dependency in meteor.

[2015-10-20 22:45] #72 closed

[2015-10-20 22:45] #67 closed

[2015-10-20 22:46] mzabriskie commented on #69
Would be happy to accept a PR for this.

[2015-10-21 21:40] mzabriskie commented on #86
Just released 0.6.0, which includes support for react@0.14.0

[2015-10-21 21:40] #86 closed

[2015-10-21 21:42] mzabriskie commented on #49
Server side rendering should be working with react-modal@0.6.0. Let me know if you have any issues.

[2015-10-21 21:42] #49 closed

[2015-10-21 21:44] natorojr commented on #86
Sweet! Just confirmed the 0.6.0 release published to npm fixes my broken Webpack build. Testing functionality next.

[2015-10-22 10:07] flskif commented on #86
It seems like something went wrong with build process: `dist/react-modal.js` got `17,874 additions` this version (https://github.com/rackt/react-modal/commit/1ff6a02c689e9fdc03616c4ab82ec53317f14c69). Looks like whole React got embedded!

[2015-10-22 15:52] mzabriskie commented on #86
Yikes. I bet it's because I'm not setting `react-dom` as an external. I'll look into it.

[2015-10-22 17:19] jkimbo commented on #71
@baer I guess this is because the modal creates a "portal" by mounting the actual modal in a new div at the bottom of the page. You can see in the `Modal.js` component the render method is not actually returning anything: https://github.com/rackt/react-modal/blob/1ff6a02c689e9fdc03616c4ab82ec53317f14c69/lib/components/Modal.js#L74

To get around this you need to access the `.portal` property (http

[2015-10-23 13:26] flskif commented on #86
I've created a pull request that fixes build https://github.com/rackt/react-modal/pull/87

[2015-10-23 18:39] mzabriskie commented on #86
react-modal@0.6.1 fixes problem with ReactDOM being included in bundle.

[2015-10-23 19:14] flskif commented on #86
Thanks, Matt!

[2015-10-24 23:11] djbobbydrake opened #89 "Error: Invariant Violation: addComponentAsRefTo"
Seeing this error in the latest 0.6.1:

[code]

Anyone else having this issue?

[2015-10-25 08:42] yleclanche commented on #89
Same here.

[2015-10-26 08:21] NikitaKis commented on #89
+1

[2015-10-28 03:37] pwmckenna opened #92 "Migrate to rackt eslint config"
https://github.com/rackt/eslint-config-rackt contains a starting point that all org repos can build off of. This can be introduced by first using the config and overriding any rules that the repo doesn't comply with, without having to change any of the source. Then for non-controversial rules, PRs can be made to update the source to comply.

Here's the initial PR: https://github.com/rackt/react-mo

[2015-10-28 18:24] quicksnap opened #93 "Animations not triggered when `onRequestClose` prop absent"
Looks like these lines cause the timeout not to trigger when `onRequestClose` is missing: https://github.com/rackt/react-modal/blob/master/lib/components/ModalPortal.js#L113-L114

So, I am needing to put in an empty function:

[code]

Should we make a change? I could do a PR, but unsure on the best direction.

[2015-10-30 06:01] srph commented on #25
@pstoica Yea. I just realized this. Closing this because I just made myself look stupid :tada: haha

[2015-10-30 06:01] #25 closed

[2015-10-30 09:14] samidarko commented on #89
+1
https://gist.github.com/jimfb/4faa6cbfb1ef476bd105

[2015-10-30 12:03] antoinerey commented on #89
Same here.

[2015-11-02 22:00] thejameskyle opened #95 "classNames"
I see that `react-modal` used to have the ability to specify classes for styles but that was removed in favor of inline styles.

While some might argue that inline styles are better for react applications, not everyone has that option (including myself).

It would be nice if `react-modal` wasn't opinionated about this and supported both giving classNames and inline styles.

[2015-11-03 15:01] Will-Sommers opened #96 "Update changelog"
Hi ya'll,

It looks like the changelog hasn't been update from 0.5.0 to 0.6.1. I'm going to give it a crack and open a PR for it.

[2015-11-04 08:39] paazmaya commented on #95
:+1:

[2015-11-04 19:24] nbwar commented on #95
+1 please bring back classNames. Its a pain to do custom animations with inline-styles that can't be overwritten with css.

[2015-11-04 23:22] idmontie opened #97 "Disable Default Styles?"
Is there a way to completely disable the default styles?

I was hoping I could just use:

[code]

But, `_.assign` will just ignore the `false` value.

[2015-11-04 23:26] idmontie commented on #95
:+1:

[2015-11-05 06:20] phaedryx opened #98 "z-index value not handled correctly"
Consider:
[code]

This will produce a modal with a z-index of "10px", which is not a valid z-index value.

[2015-11-05 12:34] ghost opened #99 "CSS class .ReactModal__Body--open isn't added to body"
The CSS class .ReactModal__Body--open isn't added to body, so I can't add overflow: hidden to the body in order to prevent scrolling behind the modal.

I'm using version 0.5.0.

[2015-11-05 14:14] shinework commented on #99
+1

In my case

[code]

`props.isOpen` switch to `false` just after it was set to `true`, so the class is added then removed.

[2015-11-05 21:01] csteffen24 commented on #75
@pumpikano - great solution. It works :smile: Thank you

[2015-11-05 21:01] #75 closed

[2015-11-06 02:16] roth1002 commented on #99
I think it was the second modal issue.

[2015-11-07 20:37] thejameskyle commented on #95
For those that are interested I've started a separate project [`react-modal2`](https://github.com/thejameskyle/react-modal2) which is less opinionated, accessible, stateless (dumb component), and is built via a reusable collection of modules. It also allows you to use classNames instead of inline styles.

[2015-11-08 09:09] deiga commented on #98
As a workaround set `modalStyles.overlay["z-index"] = '10;';`

[2015-11-10 19:50] ArthurCid commented on #71
@jkimbo that sounded promising, unfortunately that didn't do the trick for me. I get an undefined on renderedModal.portal. Do you get the React tree on that ?

[2015-11-11 20:26] mcarlone commented on #89
Same error.

[2015-11-11 22:56] jkimbo commented on #71
@ArthurCid I've written up a passing test for you using mocha and jsdom: https://gist.github.com/jkimbo/872f42732e6c772bf8e1

[2015-11-12 00:24] marbemac commented on #98
It should follow react conventions:

[code]

[2015-11-12 03:42] mjyoung commented on #97
+1

[2015-11-12 05:05] weixing2014 commented on #48
@DelvarWorld Do you figure out how to implement it? I had the same question. Thanks!

[2015-11-12 17:08] gbrassey commented on #71
I'm still having trouble with this. I've tried `react-modal@0.6.1` w/ `react@0.14.2` and `react-modal@0.5.0` w/ `react@0.13.3`. Testing with karma, karma-chrome and mocha.

the `.portal` property exists and renders but it appears to have no children

[code]

[2015-11-12 17:22] jkimbo commented on #71
@gbrassey you need to set `isOpen={true}` on the modal component for it to render it's children.

[2015-11-12 17:29] gbrassey commented on #71
wow thanks @jkimbo :dizzy_face: :gun:

[2015-11-12 19:11] ericsoco commented on #97
I was about to create an issue for the same thing. Only, I was going to create the issue as a suggestion to add this to docs:

[2015-11-12 19:30] idmontie commented on #97
@ericsoco It would be useful to have that in the docs, but it is quite annoying to have to override every single property for the content and the background if I want to use classes.

[2015-11-12 19:31] Josh-a-e commented on #97
I'd love to see this, at the moment as a temp fix I have all the relevant styles set to null individually

[2015-11-12 19:43] mjyoung commented on #97
Yep, @ericsoco's workaround worked for me.

If anyone's interested, these are the styles I'm using to have flexbox position the modal::
https://gist.github.com/mjyoung/c10ed08eefcf2e1d5afc

[2015-11-12 21:32] ericsoco commented on #97
@idmontie agreed. I have this in my code now:

			modalStyle = {
				overlay : {
					backgroundColor: ''
				},
				content : {
					top: null,
					left: null,
					right: null,
					bottom: null,
					border: null,
					background: null,
					borderRadius: null,
					padding: null,
					position: null
				}
			};

And that's a little ridiculous.

[2015-11-13 04:42] andrewheppner opened #102 "Issues with Modal scrolling/overflow sizing."
Hi guys,

I'm having an issue with a simple modal that I am trying to implement in a react/flux project. Here is the code for the Modal component (for testing purposes).

[code]

Currently I have two Issues that I cannot solve:

The Modal is rendering but I am unable to see the full content of the modal. I am unable to scroll through the content. When I scroll it simply scrolls through the greyed

[2015-11-15 17:43] Ghosh commented on #102
@andrewheppner Hi Andrew, actually that is not an issue with react-modal or react for that matter. It's CSS positioning.

Since the modal is absolutely positioned, it is out of the document bounds, in other words the document, does not know how big the modal is and has no idea that it is bigger than the document itself and therefore doesn't scroll.

This can be fixed by giving the modal a fixed he

[2015-11-16 01:27] djbobbydrake commented on #89
Yup @antoinerey that worked for me. Closing this issue.

[2015-11-16 15:22] andrewheppner commented on #102
Thanks so much!
That did it.

Andrew

On Sun, Nov 15, 2015 at 12:43 PM, Indrashish Ghosh <notifications@github.com

[2015-11-16 15:22] #102 closed

[2015-11-17 17:06] coolReactDev opened #103 "Provide a closeOnEscape prop"
Specifies whether the dialog should close when it has focus and the user presses the escape (ESC) key.

[2015-11-17 20:31] TimCannady opened #104 "Simple question - integrating in Rails"
Apologies for the beginner question. How do I integrate this in Rails?

I've tried bundling both react-modal and react-dom, but it can't find the gem. I tried including it in the require tree of application.js, and it breaks.

Thanks for any beginner guidance.

[2015-11-18 03:06] kendagriff commented on #98
@marbemac Thanks for the tip!

[2015-11-18 04:17] phaedryx commented on #98
@marbemac I should have realized that. Thanks for the example.

[2015-11-18 04:17] #98 closed

[2015-11-19 01:17] kjs3 commented on #95
:+1:

[2015-11-21 19:35] OKNoah commented on #95
Seems like very little effort to support both. 👍

[2015-11-23 12:31] ArthurCid commented on #71
@jkimbo I figured out my issue. You example worked fine so it was indeed an issue on my side.
I was rendering from an external module like
[code]
and calling MyModule.portal, which was obviously wrong, I needed the Modal.portal
So for whoever is in trouble like I was: remember to get the Modal component !
[code]

[2015-11-23 15:18] jkimbo commented on #71
@ArthurCid glad you figured it out!

[2015-11-23 20:47] rfarine commented on #99
+1 Having this same issue when there is more than modal on the page.

[2015-11-24 15:52] vassyz opened #106 "Unmount modal on close?"
Is it possible to unmount the modal when clicking on the close button, instead of changing its state?
I want to initialize the modal with new data every time I click an element on a page, and unmounting it would solve some of the issues I'm having.

[2015-11-25 03:56] julenr commented on #60
Hi, This solution doesn't work when you use classes by some reason.
Thanks,

[2015-11-26 03:31] evoyy commented on #103
It already does this

https://github.com/rackt/react-modal/blob/master/lib/components/ModalPortal.js#L145

[2015-11-26 04:21] evoyy opened #107 "Modal.setAppElement() has no effect"
The modal is always mounted to document.body, whether setAppElement() is called or not:

[code]

https://github.com/rackt/react-modal/blob/master/lib/components/Modal.js#L43-L48

[2015-11-26 04:26] evoyy commented on #106
I think you can't unmount the modal unless you also unmount it's parent component. However, I suggest implementing the initialization you require within an onClick handler bound to the element that opens the modal. And then if you need to do any cleanup upon closing the modal, you can pass it a callback in the onRequestClose prop.

[2015-11-26 10:52] vassyz commented on #106
Thank you for your reply. I don't think it's that easy for my current project.
I'll try to explain it a little bit better.

I've got a couple of SVG elements on the page. Each element has data-attributes attached to it.
On click it displays the modal with the relevant content. There is an edit button that changes the modal to have a form where you can change the values. Because of that, I'm keepin

[2015-11-26 12:21] evoyy commented on #106
I just had a quick glance, and maybe this is your problem.

Change this:

[code]

to:

[code]

[2015-11-26 13:21] vassyz commented on #106
Thank you! This was actually it.
I also had another error: ```this.nextProps``` should be ```nextProps```.

I changed the code quite a lot to get to this stage, and I think I got a little bit lost.
I also wasn't sure if using ```componentWillReceiveProps``` after  ```getInitialState``` to change the modal content was the right way of doing things.

This issue can be closed as far as I'm concerned.

[2015-11-27 10:36] antoinerey commented on #95
:+1:

[2015-12-01 15:09] coolReactDev commented on #103
Thanks!!

[2015-12-01 15:09] #103 closed

[2015-12-07 19:51] shangsunset opened #110 "change z-index of the overlay?"
Because i have some component has z-index that is > 1, the overlay doesnt cover the whole window. is it possible to add an z-index to the overlay style? thanks.

[2015-12-08 20:23] #110 closed

[2015-12-09 20:06] davidmfoley commented on #62
Here is a *hack* I used to do a similar thing, vertically rather than horizontally.

* Add a ref name (ie: `ref='content'`) to your content container div.
* Grab the height of the content container element once it is in the DOM and put it in state:

[code]
Note that use requestAnimationFrame here - the ref was not yet defined otherwise. *Maybe* this has to do with the DOM magic react-modal does...

[2015-12-09 22:23] grahamb commented on #97
I just ran into this while updating a project from 0.2 to 0.6.1. @ericsoco's workaround works, but is pretty gross.

#100 looks like it'll fix it.

[2015-12-13 17:31] alopes commented on #62
Thanks @davidmfoley.
It works quite well.

[2015-12-15 13:11] molson504x commented on #62
Nice @davidmfoley

[2015-12-15 18:37] davidmfoley commented on #62
No problem.

We are now using pure CSS to size the modal, which works as long as you style the components in the modal so that they result in proper width/height, relieving the need for any requestAnimationFrame/manual coordinate math:
[code]

[2015-12-15 19:19] reywright opened #111 "Way to keep modal around even if the parent component is removed?"
I'm thinking that sometimes you might want to have a modal between routes. I'm currently trying to do this... the problem is that it forces me to put the modal on a component outside of the router. It would be nice if there were some tools that allowed me to unmount manually, either in a flux / redux sort of architecture, or on another component.

[2015-12-16 09:59] hnq90 commented on #97
We should write:
[code]

[2015-12-22 00:59] thejameskyle opened #112 "React Gateway"
In order to render modals at the end of the DOM rather than in place there is a concept of "Portals" which render React DOM into a new context.

Most implementations of this ([including the one in react-modal](https://github.com/rackt/react-modal/blob/master/lib/components/Modal.js#L7)) work by using:

[code]

and a [little extra magic](https://github.com/rackt/react-modal/blob/master/lib/componen

[2015-12-23 00:56] wader commented on #51
@SebT Thanks. Do you know why `setTimeout` is needed? if i log in a ref callback i see that `componentDidUpdate` is called before the ref callback... is that how it is suppose to work?

[2015-12-23 21:45] ekonstantinidis commented on #74
The same happened to me. Did you managed to fix this? Also there are 2 scrollbars when scrolling (one for the modal and one for the page). Any ideas?

![dec 23 2015 23 34](https://cloud.githubusercontent.com/assets/6333409/11985594/095319ca-a9cf-11e5-8d6c-9307d6655e8c.gif)

[2015-12-24 08:48] thellimist opened #113 "Modal overlay doesn't change the whole background's opacity"
As you can see there is a line(blue line) where the opacity is not set by the modal. The css of the dragbar is
[code]
Do you have any ideas what can be the problem?

![](http://i.imgur.com/YyfGnV3.png)

[2015-12-24 20:23] ryanflorence commented on #51
Let's say you are a screen reader user, when the modal opens, and you folks go and focus the primary button, how does the user know what the content of the modal says? They don't. They also don't know if they should move the virtual cursor up or down to find out.

I can't remember why it's in a setTimeout, but I guess it's nice that it keeps you from confusing blind folks :P

If there's a good acc

[2015-12-24 20:23] #51 closed

[2015-12-25 13:46] vvlevykin commented on #51
@ryanflorence can you please point to a guide that says this?

This article contradicts what you said: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_dialog_role#Focus_management

[2016-01-05 14:17] dziulius commented on #104
You need to build it using webpack (or browserify if you know how to write build recipe).

[2016-01-06 16:24] risonsimon commented on #74
anyone found a solution for this? I'm having this issue as well, having multiple scrollbars.

[2016-01-07 07:28] tairy-potter opened #114 "Double scroll-bar after open the modal with a long detail in body."
![image](https://cloud.githubusercontent.com/assets/15603495/12164744/96eaef48-b54a-11e5-9469-d6c2e4132553.png)

[2016-01-12 12:01] liwp commented on #113
@thellimist I think the cause is the `z-index: 1;` line in your CSS: the overlay has a `z-index` of `0`, so your CSS lifts the dragbar above the overlay.

You can fix this by specifying a higher `z-index` for the overlay either in CSS:

[code]

...or in the inline styles:

[code]

[2016-01-12 16:42] thellimist commented on #113
@liwp yes that was the problem. Forgot to close the issue.

[2016-01-12 16:42] #113 closed

[2016-01-13 15:52] ct-dali opened #115 "Avoid `stopPropagation`"
Suppose I have an event handler on `window` and I expect an event within a modal to propagate. Currently it doesn't work because this component uses `stopPropagation` and there's no way around it.

[2016-01-14 01:24] mjackson commented on #112
Thanks for bringing this up, @thejameskyle :)

ping @mzabriskie @ryanflorence

What do you guys think of the react-gateway approach? I'm not very knowledgeable about modals, but I figured you might have some opinions.

[2016-01-14 07:20] ewendel opened #117 "Prevent scroll to top upon opening"
I've tried looking at the docs but can't seem to find any options to control whether the app scrolls to top when opening the modal.

I've got a rather long page and would like to prevent scrolling the background when the modal is opened.

How can this be achieved?

[2016-01-18 14:41] sp00ne commented on #117
+1, I'm having a similar issue.

[2016-01-21 00:40] mgenev opened #118 "owner ref errors on open/close"
I implemented by copy/pasting the docs, but when I open I get this error and it does open.

[code]

and when I try to I get this error, and it fails to close:

[code]

[2016-01-21 00:41] mgenev commented on #89
Im having this problem too

[2016-01-21 01:03] sjungwirth commented on #97
agreed

[2016-01-21 14:14] haotangio opened #119 "Uncaught Error: Mismatched anonymous define() module"
I'm using Node.js + Browserify + React.js and they're working well.

But when I use `Modal = require('react-modal')`, the error is show on browser console: `Uncaught Error: Mismatched anonymous define() module` (although the modal is still working).

Do I need to add any configuration to resolve it?

[2016-01-22 04:58] JeffGuKang commented on #118
I have same errors in react v0.14.6.

[2016-01-23 04:59] jackyzhai commented on #60
I suggest a configuration be added to control this, in order to hide implementation details. I did spend some time figuring out a solution for this.

[2016-01-25 21:38] vinceprofeta commented on #93
+1

[2016-01-28 20:40] coolReactDev opened #124 "Background window responds however popup is still open"
I have a problem, eventhough the modal is open if I click on a background html control like button or text its responding keyboard event. Another way is to Click on URL and navigate to the control using keyboard.

I downloaded the basic demo modified the code to not close on outside clicks, added another text box beside the "Open Modal" button. I could type on the text box with modal active in the

[2016-02-01 18:14] simpixelated commented on #95
Looks like #100 would fix this, but it hasn't been reviewed/merged yet.

[2016-02-03 19:04] mjackson commented on #112
ping @ryanflorence Can you please take a look here?

[2016-02-09 18:00] Bloomca opened #125 "Animation"
Hi there!

I am wondering, what is the best approach to animate this modal?

The problem is – to create robust animation, which is easy to reuse across the whole application I have to create two wrappers to create actual animations and pass correct handlers to close modals.

So, what is the best way to deal with animations, is it possible with a single wrapper?
Maybe I just miss something obvious.

[2016-02-10 20:54] aaronshaf opened #126 "Update GitHub repo description"
"Accessible modal dialog component for React.JS"

[2016-02-11 23:38] mjackson opened #127 "Transfer to reactjs"
We're merging @rackt with the @reactjs GitHub org. Just wanted to let everyone know we'll be transferring this repo over there.

[2016-02-12 09:07] Gouthamve commented on #127
:+1: Nice. But this broke the demo links. It would be great if you could fix them as reactjs.github.io is redirecting to the official react website.

[2016-02-12 18:50] mjackson commented on #127
We're working on it.

[2016-02-17 01:41] kpdecker commented on #51
@ryanflorence It seems to me that @vvlevykin has a compelling a11y argument for at least allowing this behavior to be conditionally controlled. For use cases where we do need to have this behavior, i.e. a properly labeled and annotated form, we have to either have a focus+blur+focus cycle that causes validation issues under redux-forms, or we have to play the game of using setTimeout to avoid a ra

[2016-02-17 16:45] ConAntonakos commented on #127
Awesome! Thank you for all the hard work!

[2016-02-17 18:34] #127 closed

[2016-02-17 18:35] mjackson commented on #126
Done!

[2016-02-17 18:35] #126 closed

[2016-02-17 21:36] quicksnap commented on #93
Any thoughts on this? I would happily create a PR if that sounds good

[2016-02-19 15:10] megapctr commented on #97
@ericsoco :+1: I can't understand why defaults are enforced like this

[2016-02-20 11:47] dorsha opened #129 "The ability to decide whether the modal should be closed when clicking the overlay area is missing"
This is a common option for a modal. It is important when having a modal that you don't want the user to click outside by mistake and close the modal (like a decision modal).

[2016-02-22 09:16] megapctr commented on #125
Hi, you can try to start off by taking a look at this [example](https://reactcommunity.org/react-modal/bootstrap/)

Basically you add css for `.ReactModal__(Overlay/Content)--(after-open/before-close)` css classes

[2016-02-22 09:18] hustlzp commented on #74
Remove this line did the trick:

https://github.com/reactjs/react-modal/blob/master/lib/components/ModalPortal.js#L187

[2016-02-22 10:08] megapctr commented on #125
Here's a snippet I came up with:
[code]

You should also provide a `closeTimeoutMS` prop to the `<Modal />` components, otherwise the closing animation will not work

[2016-02-22 10:10] Bloomca commented on #125
@megapctr oh, thanks a lot, didn't notice this class changing.

It definitely solves my problem, so thanks a lot.
Though it could cause some troubles if need different type of animation.

But anyway, now it'll work. Thanks again!

[2016-02-22 10:10] #125 closed

[2016-02-23 17:28] pjnovas commented on #97
+1

[2016-02-23 23:01] Aweary opened #130 "Project maintenance and development"
@ryanflorence @mzabriskie it seems like this repo is all but abandoned. The last release was October 23rd 2015. There are 17 open pull requests, most with no acknowledgement.

Is there any intention to maintain this project? It's a very well built component, but there are a few things I'd like to see (and the community would like to see, I'd bet) fixed/implemented.

 I'd like to contribute, but I

[2016-02-27 23:08] zlwaterfield commented on #117
I had the same issue, since the modal is appended to the body, i just add `overflow:hidden;` to the root of the my app when a modal is open

[2016-03-01 13:24] hustlzp commented on #74
Or less hacky way:

@jonaswindey @risonsimon @ekonstantinidis

[code]

[2016-03-01 15:09] megapctr opened #131 "Dragging outside of the modal closes the modal"
I have a modal with some text in it. When I select the text and accidentally move my mouse outside the dialog, releasing the mouse button closes the dialog.

How to reproduce:
  1. Click inside the modal
  2. Drag outside the modal
  3. Release the mouse button

What happens:
  - The modal closes

[2016-03-02 17:31] vonwao opened #133 "Error: You must set an element with `Modal.setAppElement(el)` to make this accessible"
I get error, but CHANGELOG says:

v0.5.0 - Tue, 22 Sep 2015 19:19:44 GMT
[changed] setAppElement method is now optional.

So I'm confused.

Error: react-modal: You must set an element with `Modal.setAppElement(el)` to make this accessible
    at validateElement (index.js:224)
    at show (index.js:211)
    at Object.toggle (index.js:219)

[2016-03-02 21:44] evoyy commented on #130
The maintainers are avoiding like the plague. I don't blame them. There are issues that can't be resolved without a major re-design.

[2016-03-02 21:56] Aweary commented on #130
@evoyy it seems that way. @ryanflorence @mzabriskie just a small acknowledgement on the project status or your intentions to maintain it would be great. At the very least just explicitly say that you don't have any intentions to maintain it.

[2016-03-04 07:23] zires commented on #133
Same problem here

[2016-03-09 00:21] yachaka commented on #133
Hello,

Same problem here.
The whole problem is the scripts being loaded at the top of the page. `react-modal` was trying to set the app element to `document.body`, while it doesn't exist yet. If you did the same, within your code, it resulted as the same as your script was probably loaded before the DOM too.

I solved it by calling it in the lifecycle method `componentWillMount`:
[code]

I can cr

[2016-03-09 14:31] megapctr commented on #114
Isn't this a problem with how bootstrap styles modals?

[2016-03-10 06:06] ChrisZieba opened #135 "Can't get modal to open again after closing it"
I'm pretty new to react so this might be something trivial I'm missing. The modal opens, but after closing it it doesn't want to open again. Here is my main `App` component:

[code]

And here is the `Login` component

[code]

[2016-03-12 05:38] ChrisZieba commented on #135
Using the `componentWillReceiveProps` event resolved this for me.

[code]

[2016-03-12 05:38] #135 closed

[2016-03-13 07:19] ryanflorence commented on #114
A pull request with css that works better would be great, but please note the CSS has never been the primary feature here, that's why you have to inject, the idea is you add your own CSS to make it look like your app (and do whatever CSS you need).

[2016-03-13 07:19] #114 closed

[2016-03-13 07:28] ryanflorence commented on #133
woah, what? that should not be optional, that's the whole point of this library.

[2016-03-14 20:12] wavded opened #137 "Using a stylesheet rather than inline styles"
There doesn't appear to be away to turn off the defaultStyles, which makes it difficult if you are managing a project which styles are maintained in css files and not inside react components.  Can there be an option to turn inline styling off?

[2016-03-14 20:14] wavded commented on #97
Just opened another issue but then saw this one that is basically asking the same question.  Having to turn off every style seems a little ridiculous and can be breaking if new "default" styles are added.  Would prefer to just turn them off and work within CSS.

[2016-03-16 19:55] stkrzysiak commented on #133
Thank you @yachaka for that snippet, solved my issue.  I ran into this when running tests, fwiw.

[2016-03-16 22:59] cogell commented on #130
:+1: some info would be great

[2016-03-17 09:42] yachaka commented on #133
@ryanflorence The doc is precising that it's optional, and that by default react-modal is anchored to `document.body` (which isn't, as the DOM isn't existing yet):
[code]
I guess the doc/or the code has to change?

[2016-03-18 22:18] shangsunset opened #138 "showing two layers of modals when trying bootstrap styled modal"
Hi,

I added app.css from example/bootstrap/ and called the modal as the example showed. but i got this in result:
![screen shot 2016-03-18 at 6 12 24 pm](https://cloud.githubusercontent.com/assets/3700269/13893518/5566e8c4-ed35-11e5-8f62-415fea909010.png)

Anyone had similar issue?  How to get rid of the background layer?

[2016-03-20 18:01] shangsunset commented on #138
I guess modifying the styles of `content` solves the problem.

[2016-03-20 18:01] #138 closed

[2016-03-22 19:09] LPayyapilli commented on #117
Appending overflow:hidden to the styles of the body is not working for me. Is there a concrete resolution to this?

[2016-03-22 20:31] LPayyapilli commented on #60
@zdfs what if we need to keep the scroll working but have the body not scroll up when the modal opens?

[2016-03-23 01:18] Aweary commented on #130
@ryanflorence ping! :rocket:

[2016-03-23 11:50] davidwadge commented on #118
@mgenev Did you manage to resolve this in the end?

[2016-03-23 12:14] davidwadge commented on #89
Also experiencing the same issue.

[2016-03-23 16:19] claydiffrient commented on #137
@wavded https://github.com/reactjs/react-modal/pull/100 should fix that... unfortunately, it's been waiting to be merged **forever**

[2016-03-23 18:25] LPayyapilli opened #139 "Stop scroll on body behind modal"
I am trying to keep the position of the background behind the modal as when it opens and allow for scrolling once it opens. Right now, whenever the modal opens, it automatically scrolls to the top of the page. I have tried numerous solutions including adding overflow-y: hidden to the body.ReactModal__Body--open class but nothing is working. Is there a way to prevent this scroll?

[2016-03-24 02:45] claydiffrient commented on #130
@Aweary, I was made a collaborator on the project today.  The company I work for (Instructure) and myself personally have a vested interest in this project.  I'm working on sorting out the issues and the PRs now, but look forward to seeing some PRs be merged and some issues closed soon.  I'm going to go ahead and close this issue as the project will continue to be developed and maintained.

[2016-03-24 02:45] #130 closed

[2016-03-24 02:51] Aweary commented on #130
@claydiffrient great to hear, looking forward to seeing this project start growing again!

[2016-03-24 03:23] gertig commented on #51
Thanks @SebT for the hack around the setTimeout!

@ryanflorence can you explain why forcing the content to be focused is preferred over allowing autoFocus to work on inputs?

[2016-03-24 04:54] JeffGuKang commented on #118
@davidwadge I resolved through deleting modules and reinstalling.

[2016-03-25 13:31] LPayyapilli commented on #139
Figured this out. I had an <a> tag with an href="#". If you remove that, the page doesn't scroll. Leaving this here for anyone else.

[2016-03-25 13:31] #139 closed

[2016-03-25 16:55] #44 closed

[2016-03-26 21:35] dorsha commented on #129
Fixed in #128

[2016-03-26 21:35] #129 closed

[2016-03-26 22:40] #107 closed

[2016-03-27 00:49] claydiffrient commented on #137
#100 was merged now, so I'm going to go ahead and close this out.  The next release will include that feature.

[2016-03-27 00:49] #137 closed

[2016-03-27 00:56] #106 closed

[2016-04-01 22:54] guo0693 opened #146 "Invariant Violation: findComponentRoot"
`<Modal
                isOpen={isUserModalOpen}
                onRequestClose={closeUserModal}
                style={customStyles} className="user-modal">
                <UserForm formData = {userModalData} />
            </Modal>`

When I try to add a composite component inside the modal, i got below error. I think it's because the modal's render function returns null and insert elements into

[2016-04-02 17:27] sibeliusseraphini commented on #74
:+1:

[2016-04-02 17:31] sibeliusseraphini commented on #74
@hustlzp this do not work when you have a navbar, do you know how to fix this?

[2016-04-02 17:52] sibeliusseraphini commented on #117
:+1:

[2016-04-03 19:06] seanabrahams commented on #117
@sibeliusseraphini @LPayyapilli Setting `overflow: hidden` on the `body` should work unless there's a conflicting CSS property.

Two different ways you can achieve this:

1) When `react-modal` has a modal open it adds a CSS class named `.ReactModal__Body--open` to the `body` element. From your CSS you can:

[code]

2) Or, set the overflow style property from your React component:

[code]

[2016-04-06 12:20] dzmitry-kremez-itechart commented on #97
+1  Also as I see here https://github.com/reactjs/react-modal/blob/master/lib/components/ModalPortal.js#L183 you disable default styles if there are class names. But it doesn't work in latest(0.6.1) npm and bower lib version. Could you please publish latest master code to npm and bower?

[2016-04-06 12:22] claydiffrient commented on #97
@dzmitry-kremez-itechart I'm working on finalizing a few details with the new release.  It will happen soon, hopefully this week.

[2016-04-06 12:33] dzmitry-kremez-itechart commented on #97
@claydiffrient cool, thx

[2016-04-06 12:53] #115 closed

[2016-04-06 18:28] tyrsius opened #147 "Export defaultStyles"
This is a feature request. I would like to be able to globally alter the default styles for the modal without needing to wrap the component. Exporting the default styles, or exporting a function that modified the default styles, would facilitate this pretty easily.

[2016-04-06 19:00] claydiffrient commented on #147
@tyrsius In the next release #100 will be available allowing you to override the default styles by use of CSS classes.  Is this adequate for your use case?

[2016-04-06 19:52] tyrsius commented on #147
Its a nice step, but it doesn't fully solve this. I would still have to either provide those classes to every Modal instance, or wrap it with my own component to put the classes on.

Allowing the `defaultStyles` object to be modified would allow globally styling the modal without wrapping it.

These cases are definitely similar, but I think there is still value in exporting the default object.

[2016-04-06 19:53] claydiffrient commented on #147
Cool cool, I'll dig in and see what I can do.  It likely won't be in the next release, but I can probably get it in shortly after that.

[2016-04-06 20:01] tyrsius commented on #147
I can make a PR for this if you'd like. Since you are exporting `ModalPortal` as the default, moving the styles into their own module would probably make sense. Not sure where you want it, it doesn't really make sense in `components`

`lib/styles.js`
OR
`lib/styles/default.js`

Either of those look good?

[2016-04-06 20:03] claydiffrient commented on #147
A PR would be awesome.  I think `lib/styles.js` would be okay.  I don't think we want to support multiple themes so I don't think specifiying `lib/styles/default` is necessary.

[2016-04-06 20:06] tyrsius commented on #147
Will do

[2016-04-06 20:20] tyrsius commented on #147
Here you go #148

[2016-04-06 20:33] tyrsius commented on #147
I split it up, but I didn't consider that the built module doesn't surface everything, just the `Modal` component. I'm not sure what the best way to do that is. It feels weird to tack it on to the `Modal`...

[2016-04-06 20:51] tyrsius commented on #147
#148 should take care of this

[2016-04-07 04:38] claydiffrient commented on #147
Closed because of #148 being merged.

[2016-04-07 04:38] #147 closed

[2016-04-07 16:49] Diarsid opened #149 "shouldCloseOnOverlayClick attribute doesn't work."
Hi!

I have tried to use your modal window implementation, but encountered that

attribute actually does not work at all.

I've tried it several times, with values 'false' and with 'true' and in different browsers. In each case the modal dialog could be closed by clicking on the overlay area.
It seems that this attribute doesn't affect the Modal component behavior at all.

Please, fix it. Thanks.

[2016-04-07 18:15] ungoldman commented on #133
I only got this error when we switched to using webpack-dev-server. Very weird.

[2016-04-07 18:19] ungoldman commented on #133
Update: injecting the bundled application JS into `<body>` instead of `<head>` seems to have solved it for me for now, but I think ideally react-modal should wait until the DOM is loaded to try attaching to `document.body` (if that's what's going on).

[2016-04-07 19:02] claydiffrient commented on #149
@Diarsid Sorry for the trouble you are having.  That prop is currently on our master branch, but we haven't cut a new release to npm yet.  That will be happening shortly and then that prop will work to accomplish what you want.

[2016-04-07 19:03] Diarsid commented on #149
Thanks one more time!

[2016-04-07 19:18] Diarsid opened #150 "Buttons inside Modal ignore .selector:hover styles."
[code]

If apply styles to selector .in-dialog-button with an external stylesheet, the button itself becomes styled quite well, but becomes completely inactive instead. It is impossible to press on it and it does not respond on mouse hover over it.

Is it possible to appy custom style to buttons inside Modal?

[2016-04-07 19:45] Diarsid commented on #150
Sorry. I've investigated this issue and found out that buttons inside the Modal actually work properly.
They just completely ignore .selector:hover styles that's why it seems they become inactive.

But they ignore :hover styles.

[2016-04-08 01:30] leesiongchan opened #151 "React 15 compatibility?"
Is this safe to bump `react` to 15.0?

[2016-04-08 02:09] EvNaverniouk commented on #151
I've opened a PR. My preliminary testing didn't find anything broken after upgrading, so it should be an easy process to get the PR merged: https://github.com/reactjs/react-modal/pull/152

[2016-04-08 16:45] wikiwong commented on #151
I am currently seeing an error on Modal.js:79.

In:

`function sanitizeProps(props) {
  delete props.ref;
}`

Modal.js:79 Uncaught TypeError: Cannot delete property 'ref' of #<Object>

[2016-04-09 05:06] claydiffrient commented on #151
v1.0.0 was just published and adds support for React 15

[2016-04-09 05:06] #151 closed

[2016-04-09 05:07] claydiffrient commented on #149
Version 1.0.0 has this and is now released.

[2016-04-09 05:07] #149 closed

[2016-04-09 05:08] claydiffrient commented on #95
v1.0.0 is now released with supported added back for classNames

[2016-04-09 05:08] #95 closed

[2016-04-09 05:09] claydiffrient commented on #97
v1.0.0 was just published and classnames can override defaults now.

[2016-04-09 05:09] #97 closed

[2016-04-10 10:46] SylarRuby opened #155 "Cannot read property 'appendChild' of null"
### Summary:

Using this with react-rails component and Rails 5. Nothing fancy. Got the error.

Error is here:

[code]

[2016-04-10 13:33] claydiffrient commented on #155
@SylarRuby What is the actual error?

[2016-04-10 14:04] SylarRuby commented on #155
Hi @claydiffrient. This is the actual error:

Then when I click the modal button:

I have not used this package in a long time and I never used `var appElement = document.getElementById('your-app-element');` before. My old rails 4 project still works. Im on Rails 5.

[2016-04-10 18:49] claydiffrient commented on #155
Hey @SylarRuby, if you are using version 1.0.0 which was released Friday, you likely shouldn't see that issue.  If you do then we've got a problem happening somewhere.

The `AppElement` is a container for your app.  Generally it should be set prior to your modal being used. In theory it should default to `document.body`, but many times you may want to specify a particular container element by spec

[2016-04-10 18:51] SylarRuby commented on #155
@claydiffrient Yes, I'm using version 1.0.0. I'll have a dabble later tonight and report back. ,

[2016-04-11 18:18] Diarsid commented on #149
Такое. iSomething все равно дно, как ни крути :)
Ну только макбуки ок как железяки, токо еси макось снести к ебеням и
воткнуть бубунту.

Кста, слу, сколько там в Германии самый слабенький нетбук стоит? Дешевле,
чем у нас, или цена таже?

On 9 April 2016 at 08:07, Clay Diffrient <notifications@github.com> wrote:

[2016-04-12 12:56] claydiffrient commented on #99
See my comments here: https://github.com/reactjs/react-modal/pull/101#issuecomment-208891959

Two modals at once doesn't really make sense to me.  I could be missing something though.

[2016-04-12 16:04] anshumanf commented on #155
`document.body` [may be `null`](http://stackoverflow.com/questions/9916747/why-is-document-body-null-in-my-javascript) before the `DOMContentLoaded `event.

I can submit a pull request to set `AppElement` to `document.body` inside an event listener for `DOMContentLoaded` to fix:

In addition, currently there is no default value for the `appElement` prop - it will not default to `document.body` eve

[2016-04-12 16:05] SylarRuby commented on #155
Yea this is not working for me.

[2016-04-12 17:14] anshumanf commented on #155
@SylarRuby Could you try using [this fork](https://github.com/anshumanf/react-modal) I made to verify if your first problem is fixed by it?
You can put `git://github.com/anshumanf/react-modal.git#3db60232a77f4cf65b871095d56558f5c8d59014` as the version in your `package.json`.

[2016-04-12 18:33] ryanflorence opened #156 "Consider merging with/deprecating in favor of react-overlays"
We don't need two libs for this: https://github.com/react-bootstrap/react-overlays

[2016-04-12 19:02] claydiffrient commented on #156
That looks like a cool project.  Just looking at the examples page, the modal doesn't seem to maintain focus within the modal itself.  There is a prop that defaults to true to do it, but in my quick test it doesn't seem to behave properly.

It works fine for shift+tab, but doesn't seem to work the other way.  I'm all for merging/deprecating, but I want to make sure the accessibility story is compl

[2016-04-12 20:09] DaveStein opened #157 "Can't get height of content"
I'd love to get the height of dynamic content. I am passing in the text as a prop:

[code]

Setting styles like:

[code]

I want to be able to measure the height so I can apply similar rules for vertical centering.

[2016-04-12 20:31] DaveStein opened #158 "How can I close Modal by clicking overlay?"
Just a question :)

[2016-04-12 22:59] Diarsid commented on #158
Hi!
You should set **shouldCloseOnOverlayClick** attribute of your Modal to **true**.
[code]

[2016-04-13 03:50] SylarRuby commented on #155
@anshumanf Im puzzled about this `appElement`. My component is like this:

[code]

**In a rails html.erb:**

    <%= react_component("Foo") %>

How do I go about doing: `ReactDOM.render(<App/>, appElement);` in a rails situation?

[2016-04-13 04:34] SylarRuby commented on #155
Guess I can close this. For I had to make few adjustments:

For my react comonent:

    <%= react_component("Foo"), html_options={id: 'foo'} %> # the id must set here

In the add:

[code]

The you call the modal in your component's render:

[code]

[2016-04-13 15:25] DaveStein commented on #158
Heh it mentions this in the testing section for some reason (I wasn't looking there cause I'm not running tests) but it says `By default the modal is closed when clicking outside of it (the overlay area). If you want to prevent this behavior you can pass the 'shouldCloseOnOverlayClick' prop with 'false' value.` so isn't this a bug then? I'm certainly not setting it to false.

[2016-04-13 15:27] DaveStein commented on #158
nm `onRequestClose` needs to be defined as well!

[2016-04-13 15:27] #158 closed

[2016-04-13 15:28] DaveStein commented on #158
PS: Obviously my brain was fried yesterday and I didn't RTFM well - sorry!

[2016-04-13 15:43] halt-hammerzeit commented on #114
+1, having the same issue.

The solution is to set:
[code]

And also add and remove this class to the body
[code]

[2016-04-14 20:25] suprsidr opened #160 "sanitizeProps causes error"
### Summary:
Uncaught TypeError: Cannot delete property 'ref' of #&lt;Object>
### Steps to reproduce:

 1. open modal
 2. Uncaught TypeError: Cannot delete property 'ref' of #&lt;Object>
Modal.js line 78 sanitizeProps(props) -> line 115 delete props.ref;

### Additional notes:
if I comment out the call to sanitizeProps all is good.

just upgraded to react 15.0.1 and react-dom 15.0.1
Worked fine pr

[2016-04-15 01:43] jonathanong opened #161 "adding class names do not disable default styles as described in the readme"
### Summary:

this statement is false

### Steps to reproduce:

 1. supply both `className` and `overlayClassName` as props

### Expected behavior:

no inline styles are set

### Additional notes:

![screen shot 2016-04-14 at 6 43 35 pm](https://cloud.githubusercontent.com/assets/643505/14549004/d649eba8-0270-11e6-86eb-8167f29f3951.png)
![screen shot 2016-04-14 at 6 43 42 pm](https://cloud.githubu

[2016-04-15 01:53] jonathanong commented on #161
oh shit i'm on 0.6.1. should add a version thing to your contributing guide :)

[2016-04-15 01:53] #161 closed

[2016-04-15 12:44] diasbruno commented on #160
@suprsidr awesome! i'll check it.

[2016-04-16 02:22] kilianc commented on #49
@mzabriskie can you be more specific, I am still experiencing this, what changed and is there an example somewhere I can look at?

[2016-04-16 02:32] kilianc commented on #49
Just be clear, it doesn't throw any error, it just doesn't render the modal and I can't find any examples that show how to change the mount-point in a server-side compatible manner.

[2016-04-16 19:17] crisu83 commented on #62
+1 Thanks for the pure CSS solution!

[2016-04-17 14:18] halt-hammerzeit commented on #117
For me it scrolls to top after I close the modal.
`overflow: hidden` is not an option because the page width would change

[2016-04-17 14:24] halt-hammerzeit commented on #117
If I clicked a button and the button was half-shown then after the modal is closed it will return the focus
[code]
https://github.com/reactjs/react-modal/blob/6c03d17e45486d26ec219966af55264b4bcfadf4/lib/components/ModalPortal.js#L112-L115

Then the scroll position will jump to the top of the button.
If the button was fully visible

[2016-04-17 14:25] halt-hammerzeit commented on #117
The question is:
How can I opt-out of `react-modal` restoring focus?

[2016-04-17 14:43] halt-hammerzeit commented on #117
The overflow issue should not be resolved with adding this hack:

[code]

It should be properly resolved by not propagating `scroll` events below the overlay.
That would be the correct solution.

[2016-04-17 14:46] halt-hammerzeit commented on #117
Or maybe one can't stop `scroll` propagation.
http://stackoverflow.com/questions/5802467/prevent-scrolling-of-parent-element
If that's still the case then there's no correct solution.

My way (without page width alteration):

[code]

[2016-04-18 11:58] rmertens commented on #160
Getting the same error (also react 15.0.1)!

[2016-04-18 13:23] diasbruno commented on #160
@rmertens can you make a simple example were you can reproduce it?

[2016-04-18 15:09] rmertens commented on #160
@diasbruno uploaded here: https://github.com/rmertens/react-modal-bug-example

[2016-04-18 17:30] wikiwong commented on #160
No mean to clutter, but I am getting the same error as well.  Feel free to tag me for any additional info I can provide.

Thanks for looking into this guys!

[2016-04-19 01:01] diasbruno commented on #160
If `sanitizeProps(props)` is moved to `Modal::componentWillReceiveProps()`, it works fine.

`react: 15.0.1, react-dom: 15.0.1, react-modal: 1.1.1`

Is there a reason to `sanitizeProps()` is called in `Modal::renderPortal()`. @claydiffrient

Some info from react docs:

[react/docs - Ref to Components](http://facebook.github.io/react/docs/more-about-refs.html)

[2016-04-19 01:03] diasbruno commented on #160
Also tested with `react: 15.0.0, react-dom: 15.0.0, react-modal: 1.1.1` and works fine.

[2016-04-19 02:06] diasbruno commented on #157
Hi @DaveStein. Now we have a `onAfterOpen()` callback. Maybe it can helps with this.

[2016-04-19 02:24] diasbruno commented on #111
@reywright Interesting use case. yeah, you'll need to put the Modal in some place where you can reference it (state), because it is not owned by the any of the other components - they just use it.
(Hope I got it right.)

Hope you have found a solution.

[2016-04-19 02:29] #160 closed

[2016-04-19 02:39] claydiffrient commented on #160
Fixed released as v1.1.2

[2016-04-19 02:55] claydiffrient opened #163 "Non-minified build not present"
### Summary:

All of the files in the `dist` directory are minified including `react-modal.js` instead of just `react-modal.min.js`

### Steps to reproduce:

 1. Run `./scripts/build`

### Expected behavior:

The `react-modal.js` should be transpiled, but not minified.  The `react-modal.min.js` should be both transpiled and minified.

[2016-04-19 14:08] rmertens opened #165 "sanitizeProps still causes error"
### Summary:

The `Uncaught TypeError: Cannot delete property 'ref' of #<Object>` of issue #160 does not seem to have been solved completely. I encountered it again when using react-modal in combination with redux-form.

### Steps to reproduce:

I isolated the example here:
https://github.com/rmertens/react-modal-bug-example/tree/redux-form

1. npm install
2. ./node_modules/webpack/bin/webpack.js

[2016-04-19 14:24] DaveStein commented on #157
@diasbruno is there a strong reason to, or not to, have an option to allow auto centering? Seems like a common thing people would want and is usually default in other implementations. I can look into using the callback in the meantime

[2016-04-19 14:44] diasbruno commented on #157
@DaveStein I think css is the best option, but maybe we can have some 'presets' for animations and positions.

`import { Style1, ... } from react-modal-presets;`

[2016-04-19 17:41] diasbruno commented on #165
@rmertens thanks! i'll have a look on it.

[2016-04-20 09:03] bl-nero commented on #51
This bites me heavily on iOS/Safari. The Safari developers decided to be smarter than everyone, and decided that you can't focus() an input anytime else than when consuming a click event. This means that the setTimeout() hack won't work there. :(

[2016-04-20 09:04] bl-nero commented on #51
@ryanflorence Would you consider reopening this bug because of what I wrote above?

[2016-04-21 01:32] diasbruno commented on #165
Maybe we should just deprecate `sanitizeProps()`. Any thoughts?

https://gist.github.com/jimfb/fb2a04fe3fa4637d7d62

[2016-04-21 01:39] diasbruno commented on #146
@guo0693 Can you provide more info on this (react, react-dom and react-modal versions)? If possible, can you make a simple example?

You can use @rmertens' [react-modal-bug-example](https://github.com/rmertens/react-modal-bug-example) as a bootstrap.

[2016-04-21 01:50] diasbruno commented on #93
@quicksnap Yes, sir. It seems right to make it optional. +1

Maybe (?) [ModalPortal.js#L87-L88](https://github.com/reactjs/react-modal/blob/master/lib/components/ModalPortal.js#L87-L88)

[2016-04-21 01:57] diasbruno opened #166 "create wiki."
create a simple wiki for documentation.

[2016-04-21 02:43] ryanflorence commented on #156
I tested it out and it did.

[2016-04-21 02:45] #163 closed

[2016-04-21 02:46] claydiffrient commented on #156
@diasbruno You've been really active on this project recently?  What are your thoughts.  I'm thinking it might be the way to go.

[2016-04-21 03:22] diasbruno commented on #156
I don't really know what to say about this, but It seems a good lib.

[2016-04-21 05:21] wikiwong commented on #165
Forgive me if this is an ignorant question, but what is deleting the `ref` passed into the <Modal> intended to do?  Maybe this sanitization would save some memory, but if the <Modal> never references the ref property inside it's component logic, wouldn't it be benign to simply ignore it's existence?

[2016-04-21 06:13] quicksnap commented on #93
I'd happily whip up a PR if a maintainer would give the OK.

[2016-04-21 13:45] taion commented on #156
I can't personally claim that a11y has been an explicit requirement for us. @monastic.panic has done most of the work on react-overlays in general, though.

That said, if there's anything missing/broken/wrong, we would want to fix it. The library just should do the right thing.

[2016-04-21 13:48] UngaWunga opened #167 "Moving location of parenthesis causes Invariant Violation error"
This code below works fine:

[code]

This causes an error:
"Uncaught Invariant Violation: ExportConfigGrid.render(): A valid ReactComponent must be returned. You may have returned undefined, an array or some other invalid object.invariant @ app.js:1126ReactCompositeComponentMixin._renderValidatedComponent @ app.js:7719ReactCompositeComponent__renderValidatedComponent @ app.js:1444ReactCompositeCom

[2016-04-21 14:21] claydiffrient commented on #167
It doesn't appear that this issue is with react-modal at all.  So I'm closing it.  That being said, the reason this fails is because of automatic semicolon insertion in JavaScript.  Essentially in the second case  your return statement is being automatically converted to `return ;` and is therefore returning `undefined` rather than your React component.  You shouldn't have a return statement on a

[2016-04-21 14:21] #167 closed

[2016-04-21 17:17] diasbruno commented on #165
Just trying to figure it out too. In a few tests, I didn't see it got defined in the Modal.js. I'll try to find a good reason to, maybe, deprecate it or find a correct fix.

[2016-04-21 17:17] claydiffrient commented on #93
+1 to that @quicksnap go right ahead and I'll get it in the next release.

[2016-04-21 17:21] claydiffrient commented on #165
I think that back in previous versions of react, `renderSubtreeIntoContainer` needed the props to be removed or something like that or it would cause issues.  That being said, it could have just been an extra safety measure when first implemented.

In any case, if you can remove it completely and the tests still pass, I'm happy to merge it and just be done with `sanitizeProps`.

[2016-04-21 17:35] diasbruno commented on #165
Awesome, @claydiffrient. Thanks for pointing this out! I'll check it out.

[2016-04-21 18:38] guo0693 commented on #146
"react": "0.14.2",
 "react-dom": "0.14.2",
 "react-modal": "^0.6.1"

Will draft an example once I get time.

Thx :)

[2016-04-21 20:17] quicksnap commented on #93
Oh cool! I'll try and get a PR today or in the next few. If I forget for some reason, someone just ping me. Or make the PR themselves =P

[2016-04-21 20:19] quicksnap commented on #93
Also, it's odd that you don't have some sort of a collaborator badge, @claydiffrient! **shrug**

[2016-04-21 20:30] claydiffrient commented on #93
Indeed @quicksnap... I don't know why I don't have one... but oh well... I am one :)

[2016-04-22 00:34] nathanmarks commented on #156
@taion We have a number of issues with our dialog/overlay system in https://github.com/callemall/material-ui. I'm going to give `react-overlays` a whirl to see what it can do for us. If it's a fit i'm sure you'll see some contributions coming back upstream to help with any fixes or issues!

[2016-04-22 20:05] wikiwong commented on #165
This didn't make it in to 1.2.0 ?

:(

[2016-04-22 20:13] diasbruno commented on #165
@wikiwong Yesterday I spend sometime on this, kinda long debug session...without success :/
Tested with react `0.14.8, 15.0.0 and 15.0.1`.
I got no problem running the modal without this function, but maybe I'm missing something.

[2016-04-22 20:15] claydiffrient commented on #165
Worry @wikiwong, this didn't.  I just released a version with the latest changes that had been merged.  I didn't do any concrete work to make it happen.  If someone gets a PR in, I'll release another version with it as soon as I can. Otherwise, it might be a couple days until I can make and test the changes myself.

[2016-04-22 20:28] danbovey commented on #146
I got this error on `react-modal@1.2.0` but not on `react-modal@0.6.1`, so I knew it would be something with dependencies.

I fixed it by upgrading React and ReactDOM to `15.0.1` with `react-modal@1.2.0`

[2016-04-22 20:33] danbovey commented on #118
https://github.com/reactjs/react-modal/issues/146 is a duplicate of this but I commented on there about a potential fix (upgrading to `react@15.0.1` and `react-modal@1.2.0` seemed to solve it for me)

[2016-04-23 04:48] wikiwong commented on #165
Thanks @diasbruno and @claydiffrient !

I just upgraded my Redux and react-redux packages to the latest and the problem seems to have disappeared.  Specifically, I updated these two packages in my package.json:

[code]

@rmertens @diasbruno does that resolve the issue for you as well?

[2016-04-23 08:01] rmertens commented on #165
@wikiwong it doesn't seem to resolve it for me [(example)](https://github.com/rmertens/react-modal-bug-example/tree/redux-form)

[2016-04-23 19:07] #165 closed

[2016-04-27 22:16] felixmc commented on #155
I found that moving my `<script>` tags from `<head>` to right before `</body>` fixed the issue for me without having to touch an js.

[2016-04-28 02:33] asyncanup commented on #146
react and react-dom should really have been peerDependencies
Fails for us otherwise because we have a dependency repo that uses react-modal, linked into main application via `npm link`. So webpack gets a duplicate React in the bundle.

[2016-04-28 06:34] jccode commented on #11
Still seeing this warning too.  :(

Reproduce steps:

1. Construct 2 modals, named it modal_A and modal_B.
2. Open modal_A (with one button).
3. In modal_A 's click handler, try to close modal_A and open modal_B.
4. When you try to close modal_B, you can see the warning messages in console window.

[2016-04-29 16:47] muffs opened #170 "react-modal dependent on existence of document.body"
Hey,

I just want to preface this issue by saying that `react-modal` is awesome and I appreciate the work y'all have done for the JS community. 😍

### Summary:

I'm working with a legacy code base who's bundle in included in the `<head>` tag. At runtime, `react-modal` runs the following line:
[code]

`document.body` is null since the document hasn't completed rendered yet.

### Steps to reproduce:

[2016-04-29 18:10] reywright commented on #111
I did. Basically I have react-modal above where I put my routes at, and use a data store (in my case redux) to notify the modal when to trigger... then I have a timeout (again redux) when it hits the next route to hide it.. so now it works.

[2016-04-30 04:15] rdsteg commented on #170
Wait, what good does this do besides fix an unsupported feature?

[2016-04-30 20:16] claydiffrient commented on #170
@muffs Thanks for opening this issue.  I'm afraid however that this is something we aren't going to try and fix at the library level.  Loading scripts at the bottom of the body is a current best practice.  If we were to try and hack around this and implement a fix for this at the library level we'd be going against that best practice.  The time, effort, and maintenance cost of having this in the l

[2016-04-30 20:16] #170 closed

[2016-04-30 22:37] rdsteg opened #172 "[Add] Create animation styles"
### Summary:
Create animation style templates like data-animation of [AngularStrap](http://mgcrea.github.io/angular-strap/#/modals)
### Reason:
Easier implementation of common animation types

### Additional notes:
Animation templates like` *-from-$`, where `*` can be fade, scale, dither, and `$` can be top, left, right, bottom, center

[2016-05-01 14:40] czbaker opened #173 "Multiple Modals"
When working on my current project, I discovered that it doesn't seem like `react-modal` appreciates the use of multiple `<Modal />` components in one app.

I googled around and then realized that I should use **one** `<Modal />` component and then determine through state/whatever what to display inside the modal.

I really think this should be documented, or at least mentioned in some way in the

[2016-05-02 15:55] richardadrian opened #174 "set an element with `Modal.setAppElement(el) to element in virtual dom"
I don't want to attach this to an element that exists on in the html.  I want to attach it to a div that is being created in a render (we are using react grid layout).  The message is saying that the element does not exist and when I look at the console it is true, it does not.

How do I make this wait until the component is actually rendered?

[2016-05-03 15:02] muffs commented on #170
@claydiffrient thanks for the response :) I totally understand. I was unaware that this was an explicitly unsupported feature rather than an oversight.

For anyone else who stumbles on this issue, I ended up finding a solution by wrapping `react-modal`, key here is the `Modal.setAppElement(document.body)` :
[code]

[2016-05-06 21:25] RobinClowers commented on #133
The `appElement` is only used in one place: https://github.com/reactjs/react-modal/blob/master/lib/components/Modal.js#L75, and isn't documented at all. I think that line should be using the closed over `appElement` variable instead.

[2016-05-11 10:27] emolr commented on #150
I have the same issue, i vote this up, it's a quite strange behaviour i haven't seen before

[2016-05-11 11:40] emolr commented on #150
I figured out what tricked my issue which was 100% similar to @Diarsid.
So you might have the same issue?

I was doing feature detection and adding classes to the app in react.
So for example: `no-touch` on non touch devises, and i don't style hover interactions when this class is not available.

The react app seemed like the root of the application, but this modal plugin renders the modal in the

[2016-05-11 13:11] Diarsid commented on #150
If I remember correctly, react does not recommend to add its components nor in `<html>` neither in `<body>` directly, it recomends to introduce something like
[code]
and have the 'container' as an app root. I'm not an expert in JavaScript and React also, that's why I'm not sure if @emolr solution satisfy all "best practices" requirements.

As for my issue, I've solved it by using inline styles and

[2016-05-15 07:10] biznickman commented on #155
I'm running into this exact issue as well with the following code:

[code]

And the error is: `Cannot read property 'appendChild' of null`

[2016-05-23 15:20] maxmatthews opened #177 "React Select Incompatible with React Modal"
### Summary:
When using react-select (https://github.com/JedWatson/react-select) the modal crops the menu that appears.
### Steps to reproduce:
[code]

### Expected behavior:
Modal should allow overflow

### Additional notes:
Not sure if this is something that needs to be fixed in this package or the react-select one. Both are extremely popular so I'm surprised they aren't' compatible. The issue h

[2016-05-24 13:27] everdimension commented on #177
Looks like a simple `overflow: hidden` rule at work. React-modal allows you to easily override default styles.

But if you wish to keep `overflow: hidden` rule and still have `react-select`'s dropdown to show properly, then it's not a problem with `react-modal`.

[2016-05-24 15:37] maxmatthews commented on #177
@everdimension Thank you so much! You were right. Just had to add `overflow: visible` to the modal's CSS and that solved my issue.

[2016-05-24 15:37] #177 closed

[2016-05-25 11:42] dferber90 commented on #112
Can anyone give an update on the status of this? Was there a specific reason not to go with it?

`react-hot-loader` v3 will use [react-deep-force-update](https://github.com/gaearon/react-deep-force-update). I think hot-loading anything in modals will not work with `react-hot-loader` v3 since the portal used here does not obey the react component lifecycle, so the contents can not be force-updated

[2016-05-25 11:46] gaearon commented on #112
I don't see why it wouldn't work. It renders in componentWillReceiveProps which should be enough. Can you please file an issue with RHL and a minimal reproducing case?

[2016-05-25 11:50] dferber90 commented on #112
Thanks for the fast response! :)

As I said I'm not 100% certain I identified the problem correctly. I'll take another look and try to set up a reproduction repo. Wanted to confirm before I go through the trouble of setting it up. If I can reproduce, I'll file an issue in RHL.

[2016-05-25 11:51] gaearon commented on #112
Thanks!

[2016-05-25 13:30] dferber90 commented on #112
To my surprise I was not able to reproduce. Seems like the issue is somewhere else. Sorry for the noise everybody 🙄

[2016-05-25 19:07] radziksh opened #178 "PR react-modal.d.ts for DefinitelyTyped project"
I create definition for react-modal and sent PR to DefinitelyTyped. Could you, please, check my PR? https://github.com/DefinitelyTyped/DefinitelyTyped/pull/9457

[2016-05-26 14:35] goldensunliu commented on #173
@czbaker you can always control when to actually render the `Modal` in its container/parent's state so that it doesn't get rendered at all

[2016-05-26 14:37] goldensunliu commented on #99
https://github.com/reactjs/react-modal/issues/173 related issue.

[2016-05-26 14:55] antipath opened #179 "modal doesn't not open correctly on Blackberry z10"
Hi guys,

The modal doesn't seem to open/render properly under BlackBerry Z10 device.. it is halfcut off.

Any help is appreciated!

Thanks,
Vince

[2016-05-26 15:12] antipath commented on #179
i figured out the issue.. blackberry is failing on the transform css3 attribute..

transform:translate(-50%, -50%);

we need to add the following

-webkit-transform: translate(-50%, -50%);

can we get this added?

Thanks,
Vince

[2016-05-26 15:24] #179 closed

[2016-05-27 17:35] ggongon opened #180 "Modal gets cut off when rendered near edge of page"
### Summary:
If i set place="top", it renders the toolitp in the top position.  if the tooltip will not fit above, it automatically renders at the bottom.  Likewise, if i use place="right", it will position to the left if it is out of the current window dimensions.

But, if i choose place="top" but the content is too wide to fully display in the window, the left side will be rendered off-screen an

[2016-05-27 17:55] claydiffrient commented on #180
@ggongon Are you sure you filed this issue against the right project?  All the details seem to be about a tooltip rather than a modal.

[2016-05-27 19:13] craigcosmo opened #181 "disable esc key close the modal"
esc key press will close modal. Anyway to prevent this? can there be an option?

[2016-05-27 19:37] ggongon commented on #180
@claydiffrient good eye.  sorry about that, you're right.  moving this story over to react-tooltip.  thanks

[2016-05-27 19:37] #180 closed

[2016-05-29 04:56] Mr-Antivirus opened #182 "Request to update gh_pages"
Hello,

While trying to follow the example and also reference the gh_pages sites, I've realized that they are running two entirely different code bases. The gh_pages are severely out of date, so it was a little hard to figure out why copying the example code gave me a white background, while the gh_pages example gave me the typical black background.

Can someone update this for other newcomers?

[2016-05-30 05:10] claydiffrient commented on #182
@Mr-Antivirus Thanks for your request.  I'm working on a new gh-pages site.  I'll see about getting my WIP pushed up so people can at least see some of the updated material soon.

[2016-05-31 04:11] claydiffrient commented on #182
@Mr-Antivirus I spent a good portion of the day today working on this... hopefully this meets your needs.  It's incomplete, but should be much more up-to-date and have better examples.

https://reactcommunity.org/react-modal/

[2016-05-31 04:11] #182 closed

[2016-06-01 07:24] john-osullivan commented on #99
@claydiffrient My usecase for multiple modals on one page is a number of similar components which each have a detail view which should be opened within a modal.  Think of something similar to how the Pinterest interface gives you a detail modal for each item.  Is there an implementation detail that makes supporting this extra difficult?

@goldensunliu pointed out a good work-around in #173 , simpl

[2016-06-02 07:00] vshesh opened #184 "Cannot respond to keypress events on the modal content"
### Summary:

After the modal is open, focus is given to the modal content element, which is an element that is created by react-modal. When any key press is made on this element, it is not propagated to the child, so there is no way for anyone to define keypress events on the modal.
### Steps to reproduce:
1. Use demo modal, with content wrapped in parent div with onKeyPress handler.
2. Render, a

[2016-06-04 00:28] john-osullivan commented on #118
Hey, I'm running on `react@15.0.2` and `react-modal@1.3.0` and still getting this bug on some modals.  It's particularly weird because it doesn't happen everywhere, only on one particular modal.  Based on how other people resolved this, any ideas on how I can fix it?

[2016-06-08 10:11] bl-nero commented on #51
@ryanflorence Ping. This is still a problem, and I still haven't found a compelling solution (other than not using react-modal in the first place).

[2016-06-10 09:33] bf commented on #173
I also have the issue that modal is used deep down in some business logic, and I was a bit shocked that I ended up with 50 modal instances in my app. Is there any example how to wrap modal in it's own class or could we make it re-use the already existing HTML elements?

[2016-06-12 19:17] claydiffrient commented on #181
@craigcosmo What's your use case for this?  From an accessibility standpoint, pressing the escape key is a fundamental expected behavior for keyboard only users (http://webaim.org/resources/evalquickref/#keyboard)

[2016-06-12 19:54] claydiffrient commented on #99
@john-osullivan I see the issue now.  It's not multiple modals opened at once, but rather multiple modal components rendered (with only one open at a time).  I think I see the issue with that now.

What I've done in the past in situations like this is to render one modal component and let state (or props) control what is displayed in it.  I'll look into a way we could possibly make this more effic

[2016-06-13 06:03] craigcosmo commented on #181
We dont want users mistakenly press esc close the form when filling it out. That would a terrible experinece. 

Craig

On Mon, Jun 13, 2016 at 2:17 AM +0700, "Clay Diffrient" <notifications@github.com> wrote:

@craigcosmo What's your use case for this?  From an accessibility standpoint, pressing the escape key is a fundamental expected behavior for keyboard only users (http://webaim.org/resources/

[2016-06-14 18:06] Xurma2 opened #185 "onRequestClose doesnt work"
### Summary:

When I am trying to close the changing state in Modal
It works if you click on the overlay
### Steps to reproduce:
1. Send props from component to `inOpen`
2. onRequestClose does not respond
### Expected behavior:

Called onRequestClose
### Additional notes:

[2016-06-15 14:55] jurgob commented on #184
+1

[2016-06-20 07:13] antonhalim opened #186 "Pressing `esc` key won't close the modal if the `shouldCloseOnOverlayClick` is set to `false`"
### Summary:

It potentially might be a bug or just a question, I have a modal that the `shouldCloseOnOverlayClick={false}`, obviously clicking on overlay will not close the modal, but pressing on an `esc` key after that will not close the modal as well. But, opening a modal and pressing the `esc` key alone without clicking on overlay will close the modal as expected.
### Steps to reproduce:
1. Cr

[2016-06-20 08:43] flqw opened #187 "Modal not updating with React Intl"
### Summary:

I can't figure out a way to have React-Intl Translations `<FormattedMessage />` to update within the Modal if the language changes.
### Additional notes:

I tried overriding the componentDidMount/componentDidUnmount by subclassing the Modal and attaching the modal node within the IntlProvider that comes with React-Intl, but that didn't help. I also tried to pass some arbitrary proper

[2016-06-22 03:36] jasan-s opened #188 "getting blurry text in chrome browser"
### Summary:

In the latest chrome browser the content text in modal is blurry. it is fine in firefox.
### Steps to reproduce:

[code]

 1.
 2.
 3.
### Expected behavior:

clear sharp text
### Additional notes:

If I change the following line:
`transform: 'translate(-50%, -50%)'`
to
`transform: 'translate3d(-50%, -50%)'`

the text in modal is clear in the chrome browser but the modal is no longer

[2016-06-22 12:52] dcaillibaud commented on #118
Same here with react 15.1.0 and react-modal 1.3.0, if I put in modal one of my own Component (statefull) I have this error (Only a ReactOwner can have refs…), not found any workaround…

[2016-06-23 01:23] twelch commented on #187
@flqw  Do you mean it won't translate if the modal is rendered before you change the locale?  If so, same issue I had. See the comments in this issue on use of injectIntl so that rerender is triggered - https://github.com/yahoo/react-intl/issues/371

[2016-06-23 17:13] flqw commented on #187
Passing the intl to the Modal/Modal contents was my first attempt, but didn't work out as the Contents of the Modal did not re-render. The steps to reproduce the issue are:

1. Use ``<FormattedMessage />`` within a Modal.
2. Render the page
3. Switch the language
4. Open the modal

The translations in the modal are still in the language in which the page was first rendered (even if it wasn't opene

[2016-06-24 05:25] ChristopherVH opened #190 "Modal has overlay but doesnt appear in project, although it previously did"
### Summary:
I hadn't worked on a project for about two months then when returning and altering the text of one modal and clearing and re-installing the most recent versions of my npm packages the modals would not show up at all.

### Steps to reproduce:

 1. Resintall npm pakages because getting following error
[code]
etc...
2. Change text of modal

### Expected behavior:
Updated modal with behav

[2016-06-24 08:26] stephenkingsley commented on #190
@ChristopherVH I think u do not install react-modal, u can `npm i --save react-modal`

[2016-06-24 09:48] rahulthewall opened #191 "Don't scroll parent component when Modal is opened"
**Summary**: Don't scroll parent component when Modal is opened

**Steps to reproduce:**
1. Implement a Modal
2. Open the Modal
3. The parent component of the Modal is still scrollable while the Modal is open

**Expected behavior**: The Component that calls the Modal should not be scrollable when the Modal is opened.

Is there any way I can change this?

[2016-06-24 12:44] SylarRuby commented on #155
Why I have closed this? Still not working.

[2016-06-24 13:02] artemT82 opened #192 "Cannot read property 'focus' of undefined (after update)"
Hello everyone. A problem with react-modal occurred in my project after update from v(^0.6.1) to v(^1.3.0). After Modal open when I click on any element inside of it or even on a white space of it, first of all onRequestClose() is called and after that wherever I click, I get this error.

Here is code of my component https://jsfiddle.net/g3fqncf1/

![screenshot from 2016-06-24 15 40 46](https://cl

[2016-06-24 15:25] diasbruno commented on #190
@stephenkingsley seems to be the case.

@ChristopherVH after the npm command it worked?

[2016-06-24 17:24] diasbruno commented on #173
@czbaker @bf You can make a component to a wrapped modal class. Something like this...

[code]

[2016-06-24 17:27] diasbruno commented on #173
[code]

or without the wrapper...

[code]

[2016-06-25 03:09] ChristopherVH commented on #190
Totally right, all fixed now!

[2016-06-25 03:09] #190 closed

[2016-06-28 04:41] danielsiwiec opened #193 "npm test envify error"
### Summary:
Running ```npm test``` gives an error:

[code]
### Steps to reproduce:

 1. Clone the react-modal repo
 2. npm install
 3. npm test

### Expected behavior:
Tests should run and succeed.

### Additional notes:
[code]

[code]

[2016-06-28 07:12] #193 closed

[2016-06-30 09:26] #192 closed

[2016-07-01 00:59] agepath commented on #191
+1

[2016-07-01 06:45] ccqgithub commented on #30
👍

[2016-07-01 07:07] ccqgithub opened #196 "better animation solution than timeout"
### Summary:
better animation solution than timeout ……

### Steps to reproduce:

now many borwser can listen animateEnd event。

AnimationEnd(webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend)

1.
 2.
 3.

### Expected behavior:

### Additional notes:

[2016-07-01 18:35] diasbruno commented on #191
@rahulthewall there is an event `onAfterOpen`. you can install a callback to disable the desired element.

[2016-07-05 12:00] emmerich commented on #191
@rahulthewall Or in CSS, something like:

[code]

Which will prevent overflow-y on the body whilst the modal is open.

[2016-07-06 17:02] maxmatthews commented on #180
@ggongon Did you ever resolve this issue or have a link to the new story? I think I'm having the same issue and just opened this: https://github.com/wwayne/react-tooltip/issues/130

[2016-07-07 04:39] heltonvalentini commented on #99
Until this bug is fixed the easiest workaround I found is to use `onAfterOpen` callback.
[code]

[2016-07-08 00:29] djbobbydrake commented on #76
Any updates on this one?

[2016-07-08 16:39] eriklharper commented on #76
Sorry, no, and in fact I no longer use Radium anymore, I've since learned that its overkill to use an inline js styling library.  Its better to leverage CSS for the features it already offers and just use inline where necessary.

[2016-07-08 16:39] #76 closed

[2016-07-12 20:16] FuzzySockets commented on #99
+1

[2016-07-13 07:23] FuzzySockets opened #198 "Unable to tab through form elements"
The content container is given a tabindex of -1 and it's not allowing me to tab through form elements. I've tried removing the attribute with jquery and readding the tabindexes to the inputs with jQuery, both to no avail.

[code]

[2016-07-13 07:25] FuzzySockets commented on #184
Possible related to the issue I just reported: https://github.com/reactjs/react-modal/issues/198

[2016-07-13 12:25] #198 closed

[2016-07-15 01:06] radixhound commented on #133
This happened for me when moving to webpack. It was working fine before. I don't understand it but adding the `componentWillMount` snippet fixed it for me as well.

[2016-07-21 09:37] fritz-c commented on #51
`componentDidMount`/`componentDidUpdate` weren't working for me, but then I used the `onAfterOpen` prop as described in [this PR's](https://github.com/reactjs/react-modal/pull/154) code (using the ref callback rather than the deprecated string notation they used), and I was able to focus on a text input.

[2016-07-26 10:38] istok20 opened #203 "any way to show an image in a modal window???"
things like this does not show any image:

[code]

[2016-07-26 14:40] claydiffrient commented on #203
@istok20 Thanks for the issue.  It appears however that you need to change `scr` in your image tag to be `src`.  That should fix the issue for you.

[2016-07-26 14:40] #203 closed

[2016-07-26 18:11] istok20 opened #204 "how to use modal with redux?"
may someone give any example on how to use react-modal with redux in a proper way?

[2016-07-28 06:04] fritz-c commented on #184
@vshesh
I was faced with the same issue and implemented my own solution: https://github.com/fritz-c/react-image-lightbox/blob/3f602ca51447938622c2b1f033c23e1343f83c17/src/react-image-lightbox.js#L955-L979
Boiled down, the fix is as follows:
[code]

[2016-07-30 09:15] amangeot commented on #191
Hello @diasbruno @emmerich ,are your solutions work arounds or best / common practices ?

[2016-07-30 14:53] diasbruno commented on #191
@amangeot sometimes you need to change the behaviour of your application because of an event X. so it's an ok solution.

@emmerich's css class, `.ReactModal__Body--open`, is defined by the `react-modal`, but it has no effect because this rule is not defined by `react-modal`. It's not defined because if you want the oppose behaviour you would need to be more hacky overriding the `.ReactModal__Body-

[2016-07-30 15:00] diasbruno commented on #191
...if it's a cross-browser solution, you always need to test. A good place to check which browsers implements this feature is [Mozilla's MDN CSS](https://developer.mozilla.org/en-US/docs/Web/CSS)
[MDN overflow-y](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-y)

[2016-07-31 20:11] emmerich commented on #191
@amangeot overflow-y works with all browsers and I assume React Modal works with the same browser set as React.

@diasbruno I didn't understand this: `.ReactModal__Body--open, is defined by the react-modal, but it has no effect because this rule is not defined by react-modal.`. Could you clarify? Not sure what the problem is with using a class defined by React Modal for React Modal-specific behavi

[2016-07-31 21:14] diasbruno commented on #191
gee, that was a very bad explanation...sorry.

[2016-08-03 11:33] ClaudeTheCazur commented on #185
I'm also having this issue. Has anyone figured anything out?

[2016-08-04 12:06] Kanchan-Sharma opened #206 "Modal Pop Up"
I am creating a website using ASP.NET and it consists a master page, I have a login link on this master page so that it is available for all the content pages. Now I want the login page to be opened as a modal popup, so I wrote the code for modal popup in login page's aspx file. But I don't know how to access that modal popup placed on login content page from that login link that is present on mas

[2016-08-04 15:26] vincenzo-antolini-os commented on #206
I think you should change lib. This specific modal lib is not the "correct" one.

[2016-08-04 15:33] vincenzo-antolini-os opened #207 "z-index of overlay div"
Is there a way to pass a css class to the Overlay?
I can set class of the Modal but is not clear how to do it for Overlay.

I can use overlay property I prefer to use CSS only styling.
I think a high-value z-index is preferred as default.

Thanks in advance

[2016-08-04 15:49] vincenzo-antolini-os commented on #207
Found,
overlayClassName

[2016-08-04 15:49] #207 closed

[2016-08-06 10:14] suciuvlad commented on #204
@istok20 https://github.com/suciuvlad/redux-dialog

[2016-08-09 17:48] icdevin opened #209 "Webpack externals are incorrect when looking up on the root"
### Summary:

The webpack dist config references 'react' and 'react-dom' which works for commonJS/2 and AMD, but not for root.

### Steps to reproduce:

1. Load React, ReactDOM, and one of this project's dist files directly onto a blank page via a script tag with no module loader
3. You'll see an error in the console, `Cannot call createFactory of undefined` (a reference to React)

### Expected be

[2016-08-10 05:14] #209 closed

[2016-08-12 14:09] jurgob opened #211 "I can't navigate trough form elements using tab button"
### Summary:
### Steps to reproduce:
1. add some form elements inside a popup
2. try to navigate with tab button
### Expected behavior:

focus should move trought the form elements

[2016-08-18 10:55] gavmck opened #212 "Use dialog element"
Could this make use of the dialog element for greater accessibility?

http://www.w3schools.com/tags/tag_dialog.asp

[2016-08-18 15:53] emwee opened #213 "Closing the modal when overlay is clicked not working"
Hi, I am using the react-modal component but noticed the modal itself does not close when I click outside the modal (i.e. on the overlay)

Some example code:

[code]

SASS code:

[code]

[2016-08-18 17:48] diasbruno commented on #213
@emwee You can try to add `onRequestClose={() => {}}` to the modal.

Reference: https://github.com/reactjs/react-modal/blob/master/lib/components/ModalPortal.js#L139

[2016-08-19 23:31] halt-hammerzeit opened #214 "Add `onAfterClose` property"
A proper modal window resets itself upon closing.
It can be reset immediately when `isOpen` is set to `false` but that introduces glitches due to resetting and repainting the modal window before closing animation is played.
An `onAfterClose` handler run in `componentWillUnmount` would resolve this issue.
I can make a PR if you are willing to accept this feature.

[2016-08-21 11:33] jovinbm commented on #118
In my case, I had loaded multiple versions of `react` without knowing. I had separated `react` into a vendor bundle and using `browserify-shim` to resolve the requires. `react-modal` also requires `react` and so it was loading it's own react since `browserify` does not execute transforms for required modules.

Simply put, I changed `transform('browserify-shim')` to `transform({global: true}, 'brow

[2016-08-22 02:28] psimyn commented on #188
There is a current [bug in Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=521364), and fix has been started.

translate3d takes 3 arguments - setting to `translate3d(-50%, -50%, 0)` I think will have the same effect

[2016-08-22 15:30] emwee commented on #213
Hi Bruno, I tried that, but it makes no difference unfortunately.

[2016-08-22 17:22] diasbruno commented on #213
If you are handling the state of the modal on your component, maybe you need to update that callback (`onRequestClose`) to something like...

[code]

[2016-08-23 07:19] emwee commented on #213
Ah, of course! That makes sense _and_ works! Thank you!

[2016-08-23 07:19] #213 closed

[2016-08-24 10:40] kaushikbarodiya commented on #172
Hey rdsteg, did you find anything for custom animation?

[2016-08-26 20:57] diasbruno commented on #212
@gavmck It would be nice, but it seems to be implemented in a few browsers...
There is an attribute `role=dialog`, maybe it can be useful for now.

Sources:
[MDN - Dialog](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_dialog_role)
 [caniuse.com/dialog](http://caniuse.com/#feat=dialog)

[2016-08-27 12:15] michaelimstepf opened #215 "Bootstrap styles"
Thanks a lot for creating this plugin.

I saw that there's a demo with Bootstrap styles but I couldn't find any instructions on how to get the Bootstrap styles applied. Would you mind sharing what needs to be done (can be very high level) to get it look like in the demo?

[2016-08-27 18:26] Carlows commented on #191
Is there another workaround for this? I would like the parent component not to be scrollable while preserving the page scroll

[2016-08-27 18:38] Carlows commented on #191
nevermind, you just have to use `position: absolute` for the element instead of `position: fixed`

[2016-08-27 21:48] michaelimstepf commented on #215
Found the examples in the repo and closing this

[2016-08-27 21:48] #215 closed

[2016-08-29 05:47] deviantony commented on #181
You can prevent the modal from closing with the Esc key using something like that:

[code]

You just need to set the variable `canClose` to true when you want to give the user the ability to close the modal.

[2016-09-02 15:12] cristian-sima opened #218 "Open two modals. Hit ESC then hit ECS but nothing happens"
I am using this great idea http://stackoverflow.com/questions/35623656/how-can-i-display-a-modal-dialog-in-redux-that-performs-asynchronous-actions/35641680 in order to display modals.

In order to display them, I have this code:

[code]

The `getComponent` is like this:

[code]

So, essentially, for 2 modals, these pieces of code generates this view:

![image](https://cloud.githubusercontent.com/

[2016-09-03 17:09] craigcosmo commented on #173
@diasbruno Hi can show how to solve this problem

I have many items on a page. I want when I click an item, a modal will show up, and that modal contains specific detail of that item

[code]

modal content should be like this when opened
[code]

[2016-09-03 17:48] diasbruno commented on #173
@craigcosmo inside the modal add this `{props.children}`.

[code]

...in your app...

[code]

[2016-09-03 17:53] craigcosmo commented on #173
How do you connect the content with the modal?

[2016-09-03 18:06] diasbruno commented on #173
When you add `props.children` to a component, whatever goes in between the component tag is rendered inside of it. Probably there are better ways to make the component you want.

[code]

[code]

[code]

[2016-09-03 18:08] diasbruno commented on #173
The `...` are other properties you may want to pass to component.

Hope it make sense.

[2016-09-03 18:22] craigcosmo commented on #173
ah I think you misunderstood me. Grid is a container which has many items in it. what I want is when I click one of the item, a modal will pop up, the content of the pop up modal is the content of the clicked item.

[2016-09-03 21:21] diasbruno commented on #173
hmmmmm, you can bind `showmodal()` with the current `id` of the rendered item, when you click on it, you can keep the `index` in the state of the component (`currentItem`).

[code]

Hope I got it right this time. :)

[2016-09-04 04:10] craigcosmo commented on #173
What understand from your code, you put the `<Grid>` in `<Modal>` that will make the whole grid show up in the <Modal> when it pops up. I just want one item of the grid show up in the <Modal>

[2016-09-04 04:17] craigcosmo commented on #75
How would do this in my case

This is my Grid.js

[code]

What I want is, when an item is clicked, the modal will display the content as below:

[code]

[2016-09-06 15:00] boucher opened #219 "react-dom should probably be a peerDependency"
### Summary:

React is being declared as a peerDependency, but react-dom is not (but both are dev dependencies).

### Steps to reproduce:

 1. Visit https://tonicdev.com/npm/react-modal and try to run the example

### Expected behavior:

The package should be required. It will fail because of the missing peer dependency. If you add a require("react-dom") before hand, it will work.

[2016-09-07 07:52] uragecz opened #220 "focus/select text in input"
I have problem with focusing and then selecting text in input in modal. Normal out of modal this work -
[code]
But in modal don't. Why?

[2016-09-07 11:00] rogeriopvl opened #221 "`setAppElement()` not working as documented"
When using `.setAppElement('#some_node')` the modal element still gets appended to `document.body`.

I see that this functionality was removed in `v1.3.0` but the docs are still mentioning that it's available.

I was counting on this feature because my React app lives inside a backbone view, so I need to make sure that the modal element is appended to the app container and not `document.body` (whi

[2016-09-07 13:19] claydiffrient commented on #221
@rogeriopvl I'm sorry you're experiencing problems.

What you want will likely come to be once #183 gets merged in.  That being said, the appElement isn't where it gets appended, it's the element that is aria hidden.  It's important that this happen so that when the modal is open everything behind it gets hidden from screenreaders.

You shouldn't have any problem appending the element outside of t

[2016-09-08 10:28] rogeriopvl commented on #221
Kind of. It's just that this change should have been a major bump (2.0.0) and not minor because it breaks expected behaviour.

[2016-09-08 14:22] claydiffrient commented on #221
Apologies about that.  I guess that I didn't see it that way when I cut the release.  The change to make appending the element elsewhere should have never happened.  It was a mistake at the time because the solution that was committed broke accessibility.  Reverting back to the fully accessible behavior seemed to me to be more of a bugfix/minor change.  That being said I can totally see how it wou

[2016-09-08 14:43] damonbauer commented on #99
I solved this by adding the following CSS:

[code]

[2016-09-08 17:37] brentluna commented on #214
This would be awesome.

[2016-09-09 16:58] NickHeiner commented on #212
Yes, you should be putting `role="dialog"` on the modal element. That will assist screen readers by letting them understand the semantic role of the element in the app.

[2016-09-12 16:41] damonbauer commented on #220
@uragecz see https://github.com/reactjs/react-modal/pull/216

[2016-09-13 23:56] evanhobbs commented on #211
I'm having the same issue as well. Does anyone know of a workaround in the meantime?

[2016-09-14 01:36] claydiffrient commented on #211
I can't reproduce what you are describing.  I used the example implementation at https://reactcommunity.org/react-modal/ and the following was my experience with no issues.

https://cl.ly/1P0f1I1Y2Y1t

Can you provide a sample implementation of this not working properly?

[2016-09-14 04:33] claydiffrient commented on #131
This was closed by #217

[2016-09-14 04:33] #131 closed

[2016-09-14 04:40] #219 closed

[2016-09-14 05:43] #220 closed

[2016-09-14 15:39] francisgwhitesell commented on #64
I am also having this issue. I'm importing react and react-modal without module loading.
`		import Modal from 'react-modal';
`
and I get:
![image](https://cloud.githubusercontent.com/assets/2829262/18518876/b70985d8-7a6f-11e6-927a-85fa2d8ba7f6.png)
and:
![image](https://cloud.githubusercontent.com/assets/2829262/18518904/d08431de-7a6f-11e6-9684-7909424802f7.png)
similar to @laran .

[2016-09-14 18:59] evanhobbs commented on #211
It's part of an unreleased feature for an app I'm working on so it might be tricky. We have a form that we show in the page and also in a modal. When it's in a modal for some reason the tabs stop working. I'll see if I can come up with a reproducible example...

[2016-09-14 19:33] nickb1080 commented on #211
I'm seeing the same issue as well. Tracing it through, it comes at https://github.com/reactjs/react-modal/blob/master/lib/components/ModalPortal.js#L128 and then into the `scopeTab` and `tabbable` helpers. I'm unclear on the need for this special tab handling -- can anyone elaborate as to what this is trying to solve?

[2016-09-14 21:22] nickb1080 commented on #211
I've identified the issue I'm having, it is not solved by https://github.com/reactjs/react-modal/pull/216

In short, there is a check to see if an element is "tabbable", which includes various other checks, including "visible". This visible check traverses up the DOM looking for elements with `display: none` OR -- crucially -- offsetHeight of 0 or offsetWidth of 0. These values do not mean the chi

[2016-09-15 04:15] carloshpds opened #225 "Demo is not working"
### Summary:
Demo is not working

### Steps to reproduce:

 1.https://reactcommunity.org/react-modal/

### Expected behavior:
See a real basic example of react-modal

### Additional notes:

[2016-09-15 05:11] claydiffrient commented on #225
@carloshpds Thanks for the issue.  I think I've fixed it but with some caching going on, it might not work until the cache is refreshed.

[2016-09-15 06:07] claydiffrient commented on #225
Okay I confirmed that it's working now.  This was closed by 8895edfbbc2a3a0442e45946b934505a1f013ee8 plus a few more parent commits.

[2016-09-15 06:07] #225 closed

[2016-09-15 14:19] jmurinello commented on #75
This 'issue' is old but one year later I have to thanks @mzabriskie for sharing that repository. Because of it I was able to implement a similar dynamic modal to my project. Your code was really clear and I was able to understand what you were doing. Had some troubleshooting in my project but it was because of my javascript limitations but it was like looking at a tutorial without an order or expl

[2016-09-19 14:51] abutterf opened #226 "Focus escapes modal when the last element in the modal is an iframe"
### Summary:

When an iframe is the last element in the modal, focus escapes the modal when using keyboard navigation. This is problematic particularly for screen reader users since the rest of the DOM has aria-hidden set to true. Screen readers are no longer able to access the modal once focus has escaped from it. I used Chrome Version 53.0.2785.116 (64-bit).

### Steps to reproduce:

 1. Unzip t

[2016-09-21 16:54] #212 closed

[2016-09-21 22:12] NickHeiner commented on #212
Nice!

[2016-09-22 18:23] nikolajevp opened #229 "When will be next release?"
### Summary:
Last release was on Jun 30(v1.4.0). When will be next release?

[2016-09-22 18:33] claydiffrient commented on #229
@nikolajevp I'm hoping that #183 can be merged first.  Hoping to release v2.0.0 after that.

[2016-09-22 18:33] #229 closed

[2016-09-23 19:02] ameyms opened #231 "If 2 or more modals are open and one is closed, `ReactModal__Body--open` class is erroneously removed"
### Summary:

If two or more modals are open and one is closed, `ReactModal__Body--open` class is erroneously removed from body element
### Steps to reproduce:
1. Open a modal M1
2. Open a second modal M2
3. Close M2. The class `ReactModal__Body--open` will no longer exist on `body` element.
### Expected behavior:

The class `ReactModal__Body--open` should be active on the `body` element as long a

[2016-09-24 13:41] radziksh commented on #178
well, it's added: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/react-modal

[2016-09-24 13:41] #178 closed

[2016-09-26 18:55] parlop opened #232 "draggable feature"
will you support draggable feature in the near future, trying to use react-draggable with this component but dont get any joy, thanks

[2016-09-26 22:54] davidmfoley opened #233 ""Flying cursor" on Mobile Safari"
### Summary:
Tapping an input to focus on it in mobile safari results in the cursor and scroll position jumping to a point some distance below the input, then "flying" up to the input by scrolling.

### Steps to reproduce:

 1. Visit, in mobile safari: https://reactcommunity.org/react-modal/#examples
 2. Select "Use inline styles to style" (or, probably, any other example)
 3. Tap in either input

[2016-09-28 15:53] devnidhinraj opened #234 "Issue with Redux and Immutable js"
### Summary:

I get the following message after i implemented immutable types (immutable.js) for my state.
Warning: setState(...): You passed an undefined or null state object; instead, use forceUpdate().
### Steps to reproduce:

The following is how i trigger the action.

[code]

EditorToolBar = connect()(EditorToolBar);
export default EditorToolBar;`

The dialog component. [react-modal - https:/

[2016-09-29 02:05] sandzone opened #235 "Bundling the entire React despite using a CDN"
I use a cdn for React. But, the entire React library is being bundled into my production file due to react modal.

I use browserify and gulp to create the bundle. I also use react-slider.  I am not facing such an issue over there.

Is there any dependency on a particular React version that is leading to this?  I am on React  v15.3.2

My gulpfile.js has the following config
browserify-shim {
"react

[2016-09-29 15:45] tkh44 commented on #234
This looks like you are not setting your state correctly in your constructor (es6) or getInitialState (es5).  If you call `setState` somewhere in your component you need to ensure you set one of those first.  Also, out of curiosity why are you not using react-redux's connect HoC?

[2016-09-29 17:19] tkh44 commented on #233
This is just a behavior that is going to happen on iOS when using fixed position elements. iOS safari will not re-render fixed position elements on scroll so you get some jank when focusing an input because the page is scrolling around.

You can somewhat get around this by adding `transform: translate3d(0px, 0px, 0px)` onto the modals styles, but it doesn't always work.

You can see the difference

[2016-09-29 18:33] devnidhinraj commented on #234
@tkh44 I tried using connect. But no change.

http://stackoverflow.com/questions/39777405/having-issues-with-dispatch-method-after-implementing-immutable-js-for-state-tre

[2016-09-29 19:03] dspnorman commented on #51
Please consider re-opening. This is still a major issue with this library. Per @vvlevykin a11y best practice is to focus the primary interactive element in the modal upon open. Stealing focus to the modal container actually breaks the experience for users of assistive technology.

[2016-09-29 20:56] dspnorman commented on #51
This appears to be fixed in #222

[2016-10-03 08:52] fenos commented on #185
Hello, any idea on this?

[2016-10-03 15:39] afercia opened #236 "The dialog must be properly labeled"
Hello, first of all thanks very much for the excellent work done so far, especially the focus manager.

I'd recommend to consider that one very important thing for accessibility is currently missing, and it's a proper label on the dialog main `<div>` element. It's especially important now, with the introduction of the dialog role in #223.

Please consider implementations across screen readers diff

[2016-10-03 16:05] afercia opened #237 "Consider to make the new role dialog optional"
The new role dialog merged in #223 is a nice addiction but worth noting it's not just about semantics. A `role="dialog"` directly impacts the way screen readers behave, making them enter in a sort-of application mode.

It's a TL;DR and bit difficult to explain :) but basically, with the exception of VoiceOver that uses a different interaction model, screen readers will enter in a mode where they r

[2016-10-04 01:39] mic159 opened #238 "deprecated lodash.assign@4.2.0: This package is deprecated. Use Object.assign."
### Summary:

When installing `react-modal` with NPM, i get this warning:

[code]
### Steps to reproduce:

Using NodeJS 6.x:  `npm install react-modal`
### Expected behavior:

I would expect no deprecated dependencies on the latest version.

I assume you want it for a pollyfill. I think there are smaller ones out there that are not deprecated, eg: https://www.npmjs.com/package/object-assign
### Ad

[2016-10-06 00:16] dwick opened #241 "Release new version"
There are quite a few commits that haven't been published to npm going back to June: 9686635abe418ffd510dafefe4cd59c9e8a87217...c8106f2c9ee6fa251e2da2998ad1d26e2bee827e

Any chance you could cut a new version?

[2016-10-06 22:15] thesbros opened #242 "ReactModal__Body--open class does not work with multiple modals"
### Summary:
The body open class does not work if you have multiple modals on the page.

### Steps to reproduce:

 1. Put multiple modals in your "main" component.
 2. Have one closed, and the other open.
 3. `body` will not have `ReactModal__Body--open` class.

### Expected behavior:
The `ReactModal__Body--open` class would stay on the body while a modal is open.

[2016-10-06 22:17] thesbros commented on #242
Looks like this was already reported in #99 over a year ago..

[2016-10-06 22:17] #242 closed

[2016-10-06 23:07] thesbros commented on #231
I made a (bad) decorator to fix this, if it helps anyone: https://gist.github.com/thesbros/b9ff804902d5ecc53d92caf8e81dea9b

[2016-10-07 07:49] dzek69 commented on #241
you can attach npm to github instead of npm repo for single package by specifing that package as `githubauthor/packagename`

source: https://docs.npmjs.com/cli/install

[2016-10-07 22:27] dwick commented on #241
sure, that's a workaround, but there are probably lots of people using this without recent bug fixes because the package hasn't been published in months

[2016-10-08 01:23] claydiffrient commented on #237
@afercia Thanks so much for the very insightful issue.  I'm going to send a commit in now that will just allow you to pass in the dialog prop and let that be used.  So it won't do it by default, but will instead allow you to specify it if you want.

It's been a while since this library was created, but I do recall the issues with dialog back then.  We purposefully didn't use it.  Curse my human me

[2016-10-08 02:08] #237 closed

[2016-10-08 04:14] claydiffrient commented on #241
@dwick @dzek69 Version 1.5.1 was just released.

[2016-10-08 04:14] #241 closed

[2016-10-09 18:17] diasbruno commented on #238
@rfreitas can you look at this one?

[2016-10-10 10:27] rfreitas commented on #238
yes, PR been added

[2016-10-10 10:29] megapctr opened #246 "Not passing `portalClassName` prop results in `<div class="undefined">`"
### Summary:
I noticed there's a bunch of silly `<div class="undefined">` after upgrading my `react-portal` version.

### Steps to reproduce:

 1. Render a Modal without passing `portalClassName` prop
 2. Observe that the portal div has a className of `"undefined"`
 3. there's no 3

### Expected behavior:
No class is given on the portal div.
### Additional notes:

[2016-10-11 09:40] megapctr commented on #246
Hmm, this is a more specific case. I'm not yet sure what causes it. Here's how I render the modal:

[code]

[2016-10-11 10:20] megapctr commented on #214
While this prop would be very helpful, my case was simple enough to implement it manually:
[code]

[2016-10-11 10:25] halt-hammerzeit commented on #214
@megapctr oh, yeah, didn't think about this kind of workaround, that will do (though that's just a workaround and doesn't fix the issue)

[2016-10-11 10:33] halt-hammerzeit commented on #214
@megapctr And also this workaround won't work for programmatically closing the modal since it will either have to call `this.refs.modal.close()` (which is non-React way) or have to be upgraded to duplicate [`ModalPortal`](https://github.com/reactjs/react-modal/blob/master/lib/components/ModalPortal.js#L54) functionality:

[code]

[2016-10-11 22:07] Zensavona opened #249 "Modal appears behind some react-bootstrap elements"
### Summary:

![screenshot 2016-10-12 09 03 27](https://cloud.githubusercontent.com/assets/425801/19290324/d884b81c-905a-11e6-9dfd-8c632a83e9a1.png)

The modal appears to sit behind certain kinds of elements, the most obvious being input addons.

I'm not totally sure if this is an issue with `react-modal`, `react-bootstrap` or both, so I've created [a ticket on react-bootstrap](https://github.com/

[2016-10-12 03:13] c0debreaker opened #250 "Modal behind hovered image"
Hi,

I'm using a basic css. I don't use any framework like bootstrap. This is the css I use when I hover over a thumbnail
[code]

Then this is my react-modal customStyles

[code]

You'll notice that zIndex is higher than my hover zIndex value. However, when the modal appears, it's still behind the thumbnail. See screenshot - http://i.imgur.com/kdAEhm5.jpg

[2016-10-12 03:16] c0debreaker commented on #250
I fixed it, lol

[code]

[2016-10-12 03:16] #250 closed

[2016-10-12 03:18] c0debreaker opened #251 "Prevent background scrolling when modal is displayed"
I couldn't find the proper solution to prevent scrolling of the backdrop when modal is displayed. I found a few but it was confusing and long text too. How is it done?

[2016-10-12 03:25] c0debreaker commented on #117
@seanabrahams This worked very well for me! Thanks a lot!

[code]

[2016-10-12 03:31] c0debreaker commented on #251
This css code worked very well for me.

[code]

[2016-10-12 03:31] #251 closed

[2016-10-12 03:57] c0debreaker opened #252 "Scrolling inside modal is working but"
I have this css customStyle which allows me to scroll inside the modal. However, is it possible to prevent other parts inside the modal to not scroll? Please take a look at this image. I want the area with the black border to be fixed but the area in red should be scrollable - http://i.imgur.com/1vVXUHe.jpg

I'm thinking that maybe I can just add className for each section then remove the overflow

[2016-10-12 04:04] c0debreaker commented on #252
Yup! It worked! :D

[2016-10-12 04:04] #252 closed

[2016-10-12 04:10] c0debreaker commented on #252
In case someone is interested, you can see what I did from this screenshot - http://i.imgur.com/6QdBZ8s.png

[2016-10-15 14:39] #236 closed

[2016-10-17 16:28] dbertella commented on #204
I found this topic on SO that explain how to use modals in general with redux architecture, it may help

[2016-10-19 11:59] bsr203 commented on #250
or with css
[code]

thanks for this qn.

[2016-10-19 16:13] dbertella opened #254 "Jest snapshot test: TypeError: Cannot read property 'monitorScrollValue' of null"
### Summary:
I'm trying to make a snapshot test with jest and I got this error: TypeError: Cannot read property 'monitorScrollValue' of null and the test fail without making any snapshot
### Steps to reproduce:

 1. make a snapshot test following jest tutorial, on a component with a modal in it

### Expected behavior:
Snapshot is created
### Additional notes:
I'm using create react app.

[2016-10-20 18:21] MarkMurphy opened #255 "I suspect this might be causing problems..."
I'm guessing this is probably an issue that's causing people problems...

There's a line of code in ModalPortal that has this:

[code]

No where in `ModalPortal.js` do I see a place were this.node is actually set to something.

See https://github.com/reactjs/react-modal/blob/master/lib/components/ModalPortal.js#L80

[2016-10-21 22:59] kukikiloke opened #256 "iOS - Clicking on overlay does not dismiss the modal"
### Summary: iOS - Clicking on overlay does not dismiss the modal
### Steps to reproduce:
1. Open the react modal with Safari or Chrome on an iOS device (was testing on iPod Touch 6th Gen/iOS 10)
2. Click on the overlay. Modal is not closed and there is no error in the console.
### Expected behavior: Clicking on the overlay should close the modal
### Additional notes: Works fine on desktop and And

[2016-10-25 17:54] kukikiloke commented on #256
In the end the workaround above is not good enough as it will also close the modal when clicking on the content, eventually reverted the version back to 1.4.0

Affected version: 1.5.2
It was working fine in 1.4.0

[2016-10-27 01:28] psimyn commented on #256
@kukikiloke I modified your solution a bit to check only for clicks outside of the container which is working ok.

I suspect this is due to mouseDown/mouseUp not being triggered by touch; 1.4 used an onClick.

I'll have shot at fixing it in ReactModal later this week.

[code]

[2016-10-27 02:43] matthewhartman opened #258 "shouldCloseOnOverlayClick Demo"
Hi There,

Just want to start off by saying how awesome React-Modal is! Thank you for your hard work! :+1:

I was hoping you could add an example to the demo page which shows the onRequestClose working but also has `shouldCloseOnOverlayClick` set to false.

Would love to see a demo where you can close the modal with the escape key, but you can't close it by clicking the overlay area.

Thanks in ad

[2016-10-27 10:21] craigcosmo commented on #256
I encounter this problem as well. Looking forward for the fix.

[2016-10-27 10:23] craigcosmo opened #259 "how to disable overlay"
I need the modal without overlay. I checked the document, it seems there is no api for for that yet?

[2016-10-27 18:44] taion commented on #156
@nathanmarks Did anything ever come of that?

[2016-10-28 17:10] DimaRGB opened #260 "[v1.5.2] Is it possible to use `Modal.setAppElement` with SSR ?"
When i try to use `Modal.setAppElement` just before declare some ContainerComponent:

[code]

i have next error:

[code]

[2016-10-28 18:39] megapctr commented on #246
Dunno, it's probably something on my side. Closing.

[2016-10-28 18:39] #246 closed

[2016-10-31 02:59] bsdo64 opened #261 "How to set onClick event with modal?"
### Summary:
I need to stopPropagation onClick modal on dropdown menu.
But I set Modal component with onClick event handler, event didn't fire. So behind dropdown menu is closed.
How to set onClick handler?

### Steps to reproduce:

 1. Set modal with onClick
[code]

### Expected behavior:
Behind menu is closed.

[2016-11-10 05:48] geetotes commented on #64
@francisgwhitesell that probably means that `React` is undefined. Are you loading React before you load react-modal?

[2016-11-10 22:13] aray12 opened #262 "portalModalClassName does not update after mount"
### Summary:
ModalPortal does not update props after being mounted

### Steps to reproduce:

 1. Create a wrapper component that passes a `className` to `portalClassName`
 2. Change that `className` on button click
 3. Watch it not update

### Expected behavior:
I have significantly customized the css for my modals to make them appear and behave closer to bootstrap when on tablet or desktop. The p

[2016-11-10 22:51] artf commented on #262
Same here.

I think moving `this.node.className = this.props.portalClassName;` from `componentDidMount` to `renderPortal` will fix the issue

[2016-11-12 19:55] Jiia commented on #125
Avoid using wildcard * selector with these changes.

`.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 500ms;

  &--after-open {
    opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}`

[2016-11-14 21:40] CodeJjang opened #263 "Bootstrap demo does not work"
Hi,

It seems that [the server of the bootstrap demo](https://reactcommunity.org/react-modal/bootstrap/) is not up.

Can the author please lift it up again? Or is it on purpose?

[2016-11-16 15:15] albertolive commented on #254
I'm having the same issue with this code:

`const component = ReactTestUtils.renderIntoDocument(<InscriptionMultiChatPopup
        show={true}
        inscriptions={inscriptionsMock}
        selectedInscriptions={selectedInscriptionsMock} />),
      node = ReactTestUtils.findRenderedDOMComponentWithClass(component, 'modal');

    onClickMock = props => {
      console.log(props);
    };

    React

[2016-11-21 03:27] fedeoo commented on #256
I has encounter this issues too.
My context:
react-modal version 1.5.2
react version 15.3.0 or 15.4.0
iOS simulator 10.1

I remove `fastclick.js` to avoid interference.
I try to debug react-modal, I found onMouseUp and onMouseDown callback never been called.   And then I add onClick handler which only have a console statement like this:
[code]
It works! but I couldn't find ...click on the console.

[2016-11-21 03:40] fedeoo commented on #231
Even the [demo](https://reactcommunity.org/react-modal/) still has this bug!

[2016-11-21 23:16] robinspark commented on #263
GET https://reactcommunity.org/react-modal/__build__/bootstrap.js 404 (Not Found)

[2016-11-23 19:51] damonbauer commented on #259
@craigcosmo - Could providing styles to the overlay to hide it be sufficient?

If so, you could just provide `display: none` to the `overlay` styles object: https://github.com/reactjs/react-modal#styles

[2016-11-24 12:00] petrdamborsky opened #267 "Uncaught Error: react-modal: You must set an element with `Modal.setAppElement(el)`"
### Summary:
Just wanted to try this modal solution. Docs mention the setAppElement as an optional thing to do, but I am getting this error in console when I do not call it. I Have tried to call the Modal.setAppElement from the component itself and then also from the root app component. No place does help to get rid of this error.

### Steps to reproduce:

 1. Create new component using Modal insi

[2016-11-25 06:02] mattfysh commented on #256
@fedeoo @psimyn - do either of you mind submitting a pull request with your fix? ta!

[2016-11-26 01:35] #259 closed

[2016-12-06 16:22] pluddy opened #268 "Unexpected token: punc ()) on builds with 1.6.0"
### Summary:
Getting build failures when pointing at `1.6.0` due to `SyntaxError: Unexpected token: punc ()) [.../react-modal/lib/components/Modal.js:56,0]`

[2016-12-06 16:47] ssilve1989 commented on #268
Also seeing this

[2016-12-06 16:58] claydiffrient commented on #268
@pluddy / @ssilve1989 Please try using #269 and see if that works for you.

[2016-12-06 17:14] pluddy commented on #268
LGTM

[2016-12-06 17:15] #268 closed

[2016-12-06 17:50] foxhound87 commented on #268
Same here

[2016-12-07 09:17] pranjalk opened #270 "Update react modal demo page"
### Summary:
[React Community Modal Page](https://reactcommunity.org/react-modal/) doesn't have the updated details about `closeTimeoutMS={n}` and `contentLabel="Modal"`

### Additional notes:
Please update the page to show the latest features

[2016-12-07 09:47] charleschenster commented on #99
I got around this issue by setting and unsetting another class on body. This has the property that it'll work for multiple opened modals as long as you're using different class names for each modal.
[code]

[code]

[2016-12-07 12:57] halt-hammerzeit commented on #133
**yachaka**'s advice worked for me too on fixing this bug

[2016-12-07 21:32] conlanpatrek commented on #211
Opened a separate PR for this, as the `getBoundingClientRect` method was still failing for us. There is a potential workaround in the PR #271

[2016-12-08 09:57] halt-hammerzeit opened #272 "ReferenceError: document is not defined"
When rendering on server side it gives:

[code]

Is fixed by https://github.com/reactjs/react-modal/pull/273

[2016-12-09 11:47] neekibo commented on #181
I also vote for an option. My use case is a color-picker (react-color) inside a modal (react-modal). On first escape I want to close the color-picker, not the modal. I am using react-keydown already, so all shortcuts would be handled consistently by react-keydown.

[2016-12-09 11:58] Kolyasya commented on #149
Have the same issue now

react: 15.3.2
react-modal: 1.6.1

When I click on overlay, nothing happens

[2016-12-09 22:11] pretentiousgit commented on #149
Same issue here. Neither escape key nor overlay click closures work.
react: 15.3.2
react-modal: 1.6.1

[2016-12-10 16:02] claydiffrient commented on #181
@neekibo @craigcosmo After reviewing this carefully, I don't want to build this behavior into the modal itself.  It's another thing to maintain that in many (if not most) modal uses lowers the accessibility of the component.

I understand your concern for the use cases you have outlined, and I have not taken them lightly.  I would suggest you do something similar to what @deviantony suggested to p

[2016-12-10 16:02] #181 closed

[2016-12-10 16:32] claydiffrient commented on #249
@Zensavona Sorry for the delay on getting to this.

It appears that you have some styles that are making those inputs show up with a higher z-index.

Specifically I was looking at `.input-group .form-control`.  It sets `z-index: 2` which brings it higher than the modal (that doesn't default to anything).

You can fix this specific case by sending in `style={{overlay: {zIndex: 3}}}` or any other z-

[2016-12-10 16:32] #249 closed

[2016-12-10 19:51] claydiffrient commented on #96
Closing this issue because it's old.  The changelog should be up to date for most recent things.

[2016-12-10 19:51] #96 closed

[2016-12-11 06:33] craigcosmo commented on #181
I found out you can actaually have this featureby omit the `onRequestClose` property

by that, you call the component like this
[code]

[2016-12-12 12:37] DimitryDushkin opened #275 "~100mb package with 1.6.2 version"
### Summary:
Prior 1.6.2 react-modal size in `node_modules` was 423 Kb, **now it is ~100Mb**. For some reason it installs every devDependency to `old/node_modules` even with `npm i --production`.

It broke CI checking for absence of ssl keys (there are now in `/node_modules/react-modal/old/node_modules/webpack-dev-server/ssl/server.key` in production build).

### Steps to reproduce:

 1. `npm init

[2016-12-12 14:07] claydiffrient commented on #275
@DimitryDushkin Thanks for catching that!  I didn't have a clean directory when publishing apparently.  v.1.6.3 has the reduced file size again.

[2016-12-12 14:07] #275 closed

[2016-12-12 15:54] #272 closed

[2016-12-14 06:41] #238 closed

[2016-12-15 01:26] benknight opened #279 "Focus should be restored to original position after closing modal"
### Summary:

For good keyboard a11y, when the user closes the modal, focus should be restored to whatever element was focused before they triggered the modal.

### Steps to reproduce:

 1. Using keyboard, navigate to "open modal" button on demo page
 2. Hit enter to activate the button and open a modal
 3. Use keyboard focus to close modal

### Expected behavior:

Focus should be restored to the

[2016-12-15 06:14] claydiffrient commented on #279
@benknight Thanks for filling this issue!

In my use of the modal, I've generally made opening the modal set a variable at the modal parent's level that contained the button node (or id) that triggered opening the modal.  Then when closing the modal I use the `onRequestClose` callback to reset focus back to the calling node.

Would doing something like that meet your use case?  If I added that to

[2016-12-15 06:15] #93 closed

[2016-12-15 19:32] benknight commented on #279
I was thinking there might be a solution that required no callbacks or manual focus management on the author's part.  Off the top of my head, it seems we could cache `document.activeElement` in the modal's componentWillMount function, and then restore focus to that node in the modal's componentWillUnmount function.

[2016-12-15 22:35] claydiffrient commented on #279
It would seem like that would be a good solution, but in practice it falls apart a bit.  One particular thing that would fail there would be if the focus needs to go somewhere else because of an action in the modal.

For instance, creating a new item inside a modal.  After creation of the item, you should generally focus on the newly created item.  But if you cancel the modal, you should go back t

[2016-12-16 00:47] benknight commented on #279
@claydiffrient I'm not seeing where it falls apart in your example, could you be more specific?  If a new DOM node is created inside of Modal while it is mounted and focused, it would still be considered expected behavior for the original modal trigger (a DOM node that has been cached on the Modal instance as something like `this.previousActiveElement`) to be refocused when Modal is unmounted.

[2016-12-16 06:16] rishabh09 opened #280 "Not Working with React Router"
Its working Properly if its is mounted on index page but if we mount modal on any other page it closes immediately and redirect to index route.

[2016-12-16 08:24] #280 closed

[2016-12-17 13:56] claydiffrient commented on #279
Sure, so let's imagine a list of students.  Upon clicking on a "new student" button, a modal appears asking for information on the student to be added.  Once the student is added, the modal closes.  Focus would go to the newly created student on the list, but an alternative would be to send focus back to the "new student" button.  I've seen this done both ways in different circumstances.  But in e

[2016-12-17 16:33] claydiffrient opened #282 "Confusing props? Should we rethink them?"
Perhaps we should consider standardizing on a set of "lifecycle" callbacks.  We have some of these such as `onAfterOpen` and `onRequestClose`.

I'm thinking we should deprecate/remove them in favor of a standardized set such as:

- `onBeforeOpen`
- `onAfterOpen`
- `onReady`
- `onBeforeClose`
- `onAfterClose`

[2016-12-17 19:48] diasbruno commented on #282
That's really great. Also, I guess we can drop `before` and `after` from the names.

- onOpen
- onOpened
- onReady
- onClose
- onClosed

[2016-12-18 00:31] benknight commented on #279
I do see how in your example that focusing the new student could be helpful.  However what I am suggesting is changing the _default behavior_.  The current default is to do nothing, thus leaving it 100% up to authors to decide how to do it.  That means most authors will just do nothing.  If the end goal however is to have this component be as accessible as possible by default, then restoring focus

[2016-12-18 02:20] claydiffrient commented on #279
@benknight Totally understand your request.  We'll hash out an API for handling this.  I'm putting it on our v2 roadmap.

[2016-12-19 14:58] diasbruno commented on #166
Relates to #276.

[2016-12-19 15:02] diasbruno commented on #267
@petrdamborsky yeah, you can't call `setAppElement` within the modal itself. It should be appended to `document.body` as default, if I'm correct. I'll check it.

[2016-12-19 15:03] diasbruno commented on #267
@petrdamborsky since this issue is a bit old (sorry), did you found a way to make it work?

[2016-12-22 00:37] johnwiseheart opened #283 "How to allow scrolling on modal if window is too small"
### Summary:

Hey, I'm having trouble with some styling of this library. I know its not a bug per-se, but figured it might be good to explore if anyone else has had or solved this issue. By default, the styling of the modal is not responsive, in that if you make the window height less than the modal height, you're not able to scroll the modal. This can be fixed by using a fixed height modal, but u

[2016-12-22 09:49] petrdamborsky commented on #267
@diasbruno Hey, sorry I missed the notification. I have actually moved on and found different package with modals.

Oh and I was trying the setAppElement from the root component, not the modal itself.. still didn't work. Not sure what was wrong, but I won't be able to get back to that state now :)

[2016-12-22 11:33] diasbruno commented on #267
that's ok.
thanks, @petrdamborsky.

[2016-12-22 13:45] #267 closed

[2016-12-22 22:58] itditp commented on #173
@craigcosmo for Example:
ListStaff.js:
`import React, { Component, PropTypes } from 'react';
import Paper from 'material-ui/Paper';
import DialogueBox from './DialogueBox';

class ListStaff extends Component {

  constructor(props){

    super(props);

    this.renderRecipeList = this.renderRecipeList.bind(this);
  }

  renderRecipeList(man, index){

    const currentMan = man;
    const styleForM

[2016-12-22 23:02] itditp commented on #173
`import React, { Component, PropTypes } from 'react';
import Paper from 'material-ui/Paper';
import DialogueBox from './DialogueBox';

class ListStaff extends Component {

  constructor(props){

    super(props);

    this.renderRecipeList = this.renderRecipeList.bind(this);
  }

  renderRecipeList(man, index){

    const currentMan = man;
    const styleForMan = {
      margin: 10,
      padding:

[2016-12-26 06:54] claydiffrient commented on #37
There hasn't been much traction on this issue in over a year.  I'm assuming that this is no longer an issue.  If it is, please feel free to re-open.

[2016-12-26 06:54] #37 closed

[2016-12-26 06:56] claydiffrient commented on #45
There hasn't been much traction on this issue in over a year.  I'm assuming that this is no longer an issue.  If it is, please feel free to re-open.

[2016-12-26 06:56] #45 closed

[2016-12-26 06:57] claydiffrient commented on #50
Closing because #154 was released.

[2016-12-26 06:57] #50 closed

[2016-12-26 06:59] claydiffrient commented on #73
There hasn't been much traction on this issue in over a year.  I'm assuming that this is no longer an issue, especially considering #70 was merged.  If it is, please feel free to re-open.

[2016-12-26 06:59] #73 closed

[2016-12-26 06:59] claydiffrient commented on #61
There hasn't been much traction on this issue in over a year.  I'm assuming that this is no longer an issue.  If it is, please feel free to re-open.

[2016-12-26 06:59] #61 closed

[2016-12-26 07:00] claydiffrient commented on #69
Closing because #91 was merged.

[2016-12-26 07:00] #69 closed

[2016-12-26 07:01] claydiffrient commented on #92
I'm going to go ahead and close this, creating a new issue that requests a eslint-config that doesn't appear to be deprecated.

[2016-12-26 07:01] #92 closed

[2016-12-26 07:04] claydiffrient opened #284 "Linting"
Previously #90 was requested, but relied on what seems to be a deprecated config file.

I've had success using the [AirBnB config](https://www.npmjs.com/package/eslint-config-airbnb) in the past.

Thoughts?

[2016-12-26 07:05] claydiffrient commented on #48
There hasn't been much traction on this issue in over a year. I'm assuming that this is no longer an issue. If it is, please feel free to re-open.

[2016-12-26 07:05] #48 closed

[2016-12-26 07:06] claydiffrient commented on #71
There hasn't been much traction on this issue in over a year. I'm assuming that this is no longer an issue, especially given that #136 was merged. If it is, please feel free to re-open.

[2016-12-26 07:06] #71 closed

[2016-12-26 07:06] claydiffrient commented on #104
There hasn't been much traction on this issue in over a year. I'm assuming that this is no longer an issue. If it is, please feel free to re-open.

[2016-12-26 07:06] #104 closed

[2016-12-26 07:07] claydiffrient commented on #119
There hasn't been much traction on this issue in almost a year. I'm assuming that this is no longer an issue. If it is, please feel free to re-open.

[2016-12-26 07:07] #119 closed

[2016-12-26 07:12] claydiffrient commented on #124
There hasn't been much traction on this issue in almost a year. I'm assuming that this is no longer an issue. If it is, please feel free to re-open.

[2016-12-26 07:12] #124 closed

[2016-12-26 07:13] claydiffrient commented on #74
There hasn't been much traction on this issue in almost a year. I'm assuming that this is no longer an issue. If it is, please feel free to re-open.

[2016-12-26 07:13] #74 closed

[2016-12-26 12:46] diasbruno commented on #284
That's awesome. We can also write a hook to check lint before commit.

[2016-12-26 13:02] diasbruno commented on #283
@johnwiseheart there is PR #281 which I think It will allow the content of overlay to scroll (modal is inside the overlay).

[2016-12-26 16:29] claydiffrient opened #285 "Convert tests to use ES2015+"
We should start using modern javascript for the tests.  This would be a great starting point to converting the whole codebase, and provide a much better developer experience.

[2016-12-26 16:30] claydiffrient opened #286 "Convert library code to ES2015+"
This would provide a much better developer experience going forward.

[2016-12-26 16:32] claydiffrient commented on #62
It's been a while since there was any discussion on this issue.  I'm assuming that it isn't a problem anymore.  If it is, feel free to re-open the issue.

[2016-12-26 16:32] #62 closed

[2016-12-26 16:33] claydiffrient commented on #157
It's been a while since there was any discussion on this issue.  I'm assuming that it isn't a problem anymore.  If it is, feel free to re-open the issue.

[2016-12-26 16:33] #157 closed

[2016-12-26 16:34] claydiffrient commented on #146
It's been a while since there was any discussion on this issue.  I'm assuming that it isn't a problem anymore.  If it is, feel free to re-open the issue.

[2016-12-26 16:34] #146 closed

[2016-12-26 16:35] claydiffrient commented on #111
It's been a while since there was any discussion on this issue.  From the comments, it seems a way of doing this was found. I'm assuming that it isn't a problem anymore.  If it is, feel free to re-open the issue.

[2016-12-26 16:35] #111 closed

[2016-12-26 16:41] claydiffrient opened #287 "Remove Modal.setAppElement?"
I'm thinking perhaps we should get rid of `Modal.setAppElement`.  It's slightly odd and trips many people up when trying to use the library.  There's also been the odd `appElement` prop that has been around.

I think we should remove the `appElement` prop replacing it with a `getAppElement` function prop similar to what was done for the `parentElement` stuff in 1.6.x.  I'm almost certain this woul

[2016-12-26 16:42] claydiffrient commented on #174
It's been a while since there was any traction on this issue.  I'm going to close it assuming it's no longer an issue.  If it is feel free to re-open.  I'm hoping the changes we are discussin gin #287 might be of use here.

[2016-12-26 16:42] #174 closed

[2016-12-26 16:45] claydiffrient commented on #150
It's been a while since there was any traction on this issue.  I'm going to close it assuming it's no longer an issue.  If it is feel free to re-open.

[2016-12-26 16:45] #150 closed

[2016-12-27 01:56] byondrealdev commented on #146
@claydiffrient we moved on to use something else. not sure if the problem got solved or not.

[2016-12-27 04:25] claydiffrient commented on #186
@antonhalim I'm sorry for the delay on this.  The reason this behaves this way is that the keydown handler is associated with the content of the modal rather than the overlay.  Thus if focus isn't on the content, then this handler doesn't fire.

I think we can rethink this, but probably not until version 2.  Moving it to the overlay instead seems to be a better option.  I'll put it on our roadmap

[2016-12-27 04:43] claydiffrient commented on #263
I don't see much reason for the bootstrap styles specific example.  It will be removed from the README.md.

[2016-12-27 05:10] #258 closed

[2016-12-27 05:10] #263 closed

[2016-12-27 05:10] #270 closed

[2016-12-27 05:17] claydiffrient commented on #206
Closing as this appears to be unrelated to react-modal at all.

[2016-12-27 05:17] #206 closed

[2016-12-27 05:19] claydiffrient commented on #172
I'm not sure providing animation capabilities as part of the core library is within the scope of what the library is trying to accomplish.  Perhaps these things would be better provided by a Higher Order Component or in some other way.

cc/ @diasbruno

[2016-12-27 05:21] claydiffrient commented on #188
Sorry for the delay in getting to this.  I hope that you've been able to find a working solution.  I'm going to close this for now though as it seems the issue was with Chrome, rather than with the modal itself.

[2016-12-27 05:21] #188 closed

[2016-12-27 05:25] claydiffrient commented on #235
As far as I can tell we have the package.json setup appropriately to make sure that `react` and `react-dom` are both external to the library.

I'm hoping that you've been able to figure this out by now.  Because I can't see anything we can do differently at this point, I'm going to close the issue.  If it turns out there is something that we can do, then I'd love to reopen it.

[2016-12-27 05:25] #235 closed

[2016-12-27 05:27] claydiffrient commented on #185
I haven't been able to reproduce this behavior.  Is there anything more specific that you can provide that would help me reproduce it?

[2016-12-27 05:31] claydiffrient commented on #221
I believe that all documentation is currently up to date with the current behavior.  I'm closing this issue for now.  If it turns out to be not the case, let's reopen it.

[2016-12-27 05:31] #221 closed

[2016-12-28 02:59] begincalendar commented on #71
I know this issue is about React test utils, but is it possible to make testing work with Enzyme.js?

Enzyme.js provides a simpler/cleaner API over React test utils (in my opinion) and it would be handy to be able to utilise that when testing code regarding react-modal.

[2016-12-28 03:04] claydiffrient commented on #71
@begincalendar Is there a specific issue with using Enzyme? In theory it should "just work" assuming the notes about testing from the read me are followed. If there's a specific issue where it fails, please file an issue for it

[2016-12-28 04:28] jr69 opened #288 "How to make it so that the modal appears with padding above, and not without padding?"
### Summary:
I have a modal and its size exceeds the screen. I also have some padding around all edges, so that it doesn't take up the whole screen.

### Steps to reproduce:

 1. Create modal with large height that exceeds screen
 2. Give it some padding at the top, like 64px
 3. Put overflow in the container (where the white background overlay is) to 'scroll'
 4. Click on a button to have it pop

[2016-12-28 05:09] pranjalk commented on #270
👍

[2016-12-28 05:24] abouthiroppy commented on #286
@claydiffrient Already progressing?

[2016-12-28 05:26] claydiffrient commented on #286
@abouthiroppy I haven't started on the library code at this point.  I'm working on getting the tests completed first as that *should* be easier.

[2016-12-28 05:31] abouthiroppy commented on #286
I see. Thanks. I would like to cooperate if you like 🙃

[2016-12-28 05:39] begincalendar commented on #71
There is no issue per se, it's more of that the React test utils give you DOM elements, whereas Enzyme gives you wrappers and pseudo elements.

I.e. The whole library is designed to work with these wrappers/pseudoelements, e.g. for making `simulate()` calls.
So getting back DOM elements from React test utils, means that Enzyme can't really be utilised completely.

[2016-12-28 06:05] claydiffrient commented on #71
Right. I actually really like Enzyme and have used it frequently in other projects.  I don't see any reason that you couldn't use Enzyme when testing a component that uses react-modal.

[2016-12-28 06:29] claydiffrient opened #289 "Replace string refs with callback refs"
There are several places we use string refs in ModalPortal.  These should be replaced with callback refs.

[2016-12-28 06:39] begincalendar commented on #71
But you need to extract the `portal` property to get access to child elements, right?

As far as I'm aware, with Enzyme, once you take out the reference to the `portal` property, you can't then go do things such as: render the child elements, render the text of the child elements, find sub-child elements, etc.

Am I missing something?

[2016-12-28 06:41] claydiffrient commented on #71
Hmmm... I'd have to put together an example of this to be sure.  I don't have time at the moment, but I'll see if I can't put something together soon.

[2016-12-28 14:48] claydiffrient opened #291 "Create testing examples"
Because testing seems to be less understood than many other things we should create a few examples of testing for people to see.

I think the biggest thing people want to test is opening the modal and asserting various facts about the contents of the modal.

We should create examples for the following:

- [ ] Mocha
   - [ ] Enzyme
   - [ ] React TestUtils
- [ ] Jest

[2016-12-28 18:17] cool-acid commented on #71
I'm also interested on how to test with Enzyme. I've been struggling with this for a while.

[2016-12-29 04:47] begincalendar opened #292 "Refactor to use React component life-cycle methods as they were intended to be used"
Are there any compelling reasons as to why the Modal component does not utilise the React component life-cycle methods (e.g. `componentWillReceiveProps`), as the React design intends them to be used?

The implementation obviously works, but because it is unorthodox (in at least my opinion), issues such as these have arisen (and wouldn't have existed if this approach had not been taken):
#71 #291

[2016-12-29 05:22] claydiffrient commented on #292
The modal was created when react was still very young.  When Ryan created it, he was still getting started doing a lot of react stuff and it was built to meet a need we had at Instructure.

Based on what the component lifecycle methods the modal utilizes do, I don't see much that seems unorthodox.  I mean, sure there's some rendering and stuff that goes on, but at least when the modal was created

[2016-12-29 05:44] begincalendar commented on #292
That's fair enough.

The fact that the `Modal.render()` method doesn't return anything useful and that the actual rendering is done in other life-cycle methods (e.g. `componentWillReceiveProps`, which is supposed to return a boolean), that doesn't seem unorthodox (or in need of refactoring) to you?

As I said, the implementation works great, but it falls down with regard to testing in my opinion a

[2016-12-29 06:06] claydiffrient commented on #292
Since the modal uses the "portal" approach, this is fully acceptable, even expected. See [this](https://joecritchley.svbtle.com/portals-in-reactjs) and [this](https://github.com/ryanflorence/react-training/blob/gh-pages/lessons/05-wrapping-dom-libs.md#portals).

I believe the difficulty in testing is because of the setup required to properly test it.  We have the `.portal` property that allows you

[2016-12-29 09:50] begincalendar commented on #292
Personally, I'd say that's up for debate.

I'm aware that it's possible to do testing with react-modal, but yes it is unnecessarily painful, in my opinion.

I don't see why it's even necessary to render using any kind of portal at all.

I think I'm just going to implement my own base Modal component, with only the limited set of features I require.

If you'd like to close this issue, be my guest,

[2016-12-30 12:49] diasbruno commented on #292
@begincalendar can you get an experimental branch implementing this?
@claydiffrient I think If we can benefit from this, we should go for it.

Checklist:
- react < 15.x.y?
- can it help to improve testing?
- improves the render?

[2016-12-30 14:40] claydiffrient commented on #292
@diasbruno I'm all for doing anything that helps the library.  I would add to your checklist that it maintains/improves the accessibility story for the modal.  That is the strongest point of the portal approach in my opinion at least.

To note, almost all other major React modal libraries use portals:
- [Pivotal UI](http://styleguide.cfapps.io/react_components_modals.html)
- [react-overlays](https

[2016-12-30 15:30] diasbruno commented on #292
...i mean, if we get this implementation working and it proves to be better than the current implementation, i think, there is no reason to miss this improve.

[2016-12-30 23:22] begincalendar commented on #292
I can see now that the portal approach is justified for the feature-set that this library provides, thank you @claydiffrient for the enlightenment.
For anyone else seeking some more info on why portals can be helpful, try reading the answers in [this question](http://stackoverflow.com/questions/35623656/how-can-i-display-a-modal-dialog-in-redux-that-performs-asynchronous-actions/).
The main takeaw

[2016-12-31 03:49] #285 closed

[2016-12-31 07:05] claydiffrient commented on #286
@abouthiroppy I ended up accidentally getting things converted over as part of another issue I was working on. If you'd like to review 0b4ab7d5a7ac42f804bb69678a620920cf309607 that'd be awesome though :)  It's PR #293

[2016-12-31 21:36] claydiffrient commented on #288
@jr69 Would something like this: http://codepen.io/claydiffrient/pen/jyNBXG work for you?

I think it's a matter of padding not working because the modal contents default to being `position:absolute`  Give `top: 64px` and lets see what happens.

[2016-12-31 21:49] #284 closed

[2016-12-31 21:49] #286 closed

[2016-12-31 21:49] #289 closed

[2017-01-01 10:13] abouthiroppy commented on #286
@claydiffrient Thank you for telling me :) Great work!!!

[2017-01-02 22:36] jonahfang opened #300 "Is It Possible To Show Full Screen Modal?"

[2017-01-02 23:42] claydiffrient commented on #300
@jonahfang Indeed it is possible.  The easiest way would be to do something like this:

[code]

[2017-01-02 23:42] #300 closed

[2017-01-04 21:26] soniapatel commented on #117
In case of mobile overflow: hidden does not seem to work. Adding position:relative works but jumps to top.

[2017-01-05 03:09] littlee opened #301 "onRequestClose doesn't work on iOS"
### Summary:
I pass `onRequestClose` prop to `<Modal/>`, but when I click the overlay, the modal doesn't close (iPhone 5s latest iOS), but it does on desktop browser.

[2017-01-05 14:46] anandrikka opened #302 "Not getting closed when clicked outside"
When clicked outside modal i.e on overlay modal is not getting closed

[code]

[code]
### Expected behavior: Should close when clicked outside modal

### Additional Information: I have another overlay with zIndex '3' on a background image. With more z-index I'm able to see the  modal on top of everything, but not getting closed

[2017-01-05 15:26] claydiffrient commented on #302
You need to have a `onRequestClose` prop on the modal.  That will let the modal know what to do in order to close.  Something as simple as `onRequestClose={() => this.setState({openDialog: false})` should do it for you.

I'll make sure to note this down and make sure it's documented more clearly.  We're changing things around the props for v2 see #282 for more details.

[2017-01-05 15:26] #302 closed

[2017-01-05 15:35] anandrikka commented on #302
@claydiffrient Thanks man !!!

[2017-01-07 15:34] claydiffrient commented on #301
I don't have an iOS device to debug this on.  This would be a great PR opportunity if anyone is interested.

[2017-01-08 10:38] yatharthk commented on #301
@claydiffrient I tried to debug this one and it seems like some react issue. The `onMouseDown` and `onMouseUp` events don't work with `<div>` element. However it seems to work fine with more semantic elements like `<button>`. Let me know if you have a workaround for this. Would love to pick this up for a PR.

[2017-01-08 10:45] yatharthk commented on #301
@claydiffrient Seems to be somewhat related to [#1169] (https://github.com/facebook/react/issues/1169)

[2017-01-10 18:57] sgentile opened #305 "shouldCloseOnOverlayClick"
### Summary:
I have the shouldCloseOnOverlayClick set to true - yet it's not closing the overlay

[code]

[2017-01-11 02:56] claydiffrient commented on #305
You need to have a `onRequestClose` prop on the modal. That will let the modal know what to do in order to close. Something as simple as `onRequestClose={() => this.setState({show: false})` should do it for you.

I'll make sure to note this down and make sure it's documented more clearly. We're changing things around the props for v2 see #282 for more details.

[2017-01-11 02:56] #305 closed

[2017-01-11 05:06] jordanmack opened #306 "Ability to disable/delay automatic focus"
### Summary:
It would be beneficial to have another prop on <Modal> to disable or delay the automatic focus.

Specifically on iOS Safari, the page is automatically scrolled to the focused object. There does not appear to be any way to suppress this functionality, and workarounds are quirky. If movement transitions are applied to the modal, the screen scrolls to undesired locations. Being able to d

[2017-01-11 09:31] jordanmack opened #307 "Clicking on overlay does not close modal on iOS touch devices"
### Summary:
When shouldCloseOnOverlayClick is set to true, clicking the overlay on iOS does not close the modal.

### Steps to reproduce:
 1. Create a modal with shouldCloseOnOverlayClick={true}
 2. Verify that clicking the overlay closes the modal on a desktop browser.
 3. Observe that clicking the overlay does not close the modal on an iOS touch device.

### Expected behavior:
The modal should

[2017-01-11 13:02] diasbruno commented on #307
Hi @jordanmack, this issue is duplicated. You can follow in #301.
Also, there is PR #304 which offers a solution for this.

[2017-01-11 15:03] jordanmack commented on #307
Thanks for the heads up!

[2017-01-11 15:03] #307 closed

[2017-01-11 17:26] diasbruno commented on #307
@jordanmack sorry, i mean, you can help testing PR #304, if you have some time to work on this. :)

[2017-01-11 21:12] jordanmack commented on #307
@diasbruno I tried to test it out, but I'm having trouble getting it working in my project. It looks like tag v1.6.5 was the last one that worked properly for me.

[2017-01-11 21:38] diasbruno commented on #307
@jordanmack awesome. thank you so much for this info.

[2017-01-12 23:36] rowdyroad opened #308 "2+ modals on same page make an issue"
### Summary:
I what to use < body > class 'ReactModal__Body--open' to freeze background page (overflow:hidden).
But there is some issue if we have 2+ <ReactModal> on same page (component)

### Steps to reproduce:
 1. Create component
 2. Add 2+ < ReactModal > components on page
 3. Set for some of them isOpen attribute to true

### Expected behavior:
There is class name of < body > as 'ReactModal_

[2017-01-15 00:30] radziksh opened #309 "usage with webpack 2.2.0-rc.3 + typescript 2.1.4 + babel-core 6.21.0"
### Summary:
I try to import react-modal in es6 way: `import Modal from 'react-modal'` but I have error:
`Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in.`

if I try to do:  `let Modal = require("react-modal");' then modal

[2017-01-17 09:17] aziz commented on #291
Please provide some examples on how to access the portal using enzyme

[2017-01-17 14:23] dschu-lab opened #310 "Having trouble with creating a wrapper class"
### Summary:
I would like to extend the `Modal` class to create my own `Modal` component using custom CSS classes and to implement some default behavior, like adding a close button by default, and overwriting the body overflow to prevent users from scrolling in the background, when trying to scroll inside the modal, etc..

### Steps to reproduce:

 1. I created a DefaultModel.jsx with the followin

[2017-01-17 15:38] dschu-lab commented on #310
Oooooh, I'm so sorry!

My mistake was this line in my `DefaultModal.jsx`

This line `export default class DefaultModal extends Modal` needs to be replaced with
`export default class DefaultModal extends React.Component`

[2017-01-17 15:38] #310 closed

[2017-01-19 03:08] mwq27 commented on #234
It looks like this issue was solved in StackOverflow.  This could probably be closed now.

[2017-01-19 03:12] mwq27 commented on #261
Do you have a repo with this still happening?

[2017-01-19 16:20] arvsr1988 opened #311 "Chrome on Mac - Object loading from disk cache doesn't load always"
### Summary:
In the modal i have this child of <object  src="http://myurl.com/file" type="application/pdf" />  . Now i'm trying to add a cache to this request so that the file is not sent from the server all the time. But on Chrome  55.0.2883.95 (64-bit) on Mac when the file loads from cache it doesn't always render on the modal. I'm closing and reopening the modal for the file to reload.

The sam

[2017-01-19 23:01] josh-advizr opened #312 "Failing UglifyJS due to ES6 in Modal.js"
### Summary:
Getting error:
`SyntaxError: Unexpected token: punc ()) [./~/react-modal/lib/components/Modal.js:56,0]`

In the method:
[code]
### Steps to reproduce:

 1. Include react-modal node module
 2. run UglifyJS

### Expected behavior:
Doesn't die in UglifyJS

### Additional notes:
Second time this has crept in within the past month or two.

[2017-01-19 23:03] josh-advizr commented on #312
Obviously, the simple fix here is to change the line
[code]
to
[code]

[2017-01-19 23:09] claydiffrient commented on #312
What version are you running?

[2017-01-19 23:11] claydiffrient commented on #312
In 1.6.5 (our latest release) that line doesn't look like what you have reported.

https://github.com/reactjs/react-modal/blob/3ada4fba8133db5750decb72cede1992c5d8a40a/lib/components/Modal.js#L56

[2017-01-19 23:31] josh-advizr commented on #312
Deleting my node modules folder and running a fresh install seemed to fix the issue.  My package defn is `"^1.4.0"`

[2017-01-19 23:31] #312 closed

[2017-01-23 17:05] radziksh commented on #309
I learned something new today :) You just need to use:

    import Modal = require ( "react-modal");

And typing will work :)

[2017-01-23 17:05] #309 closed

[2017-01-24 16:04] monsieurnebo commented on #301
iOS doesn't detect an element as clickable without the `cursor: pointer;` CSS property.

Applying `cursor: pointer;` to the overlay is a workaround, but it would be nice to get a real fix.

See https://github.com/facebook/react/issues/1169

[2017-01-25 19:51] machineghost opened #314 "Close On Escape"
### Summary:

Just the standard "modal closes when user hits the escape key".

### Steps to reproduce:

 1. Make a modal
 2. Open it
 3. Hit Escape

### Expected behavior:

The modal closes

### Additional notes:

I've been reading through the issues here and this functionality seems to have gone from "always on", to "dependent on the presence of onRequestClose" to non-existent.

It'd be *really*

[2017-01-25 19:55] claydiffrient commented on #314
@machineghost It should work as long as you have an `onRequestClose`.  The reason for this is that the modal doesn't track it's own open state.  Your application should control that via the `isOpen` prop.

Pressing ESC triggers the modal to know that it needs to close, but it doesn't know how to do that unless you've given it the `onRequestClose` prop.  The prop will likely change in v2 and make t

[2017-01-25 19:55] #314 closed

[2017-01-25 19:59] machineghost commented on #314
While I understand closing my issue, I don't understand how it relates to the one you linked.  There is nothing about escape closing in it.

[2017-01-25 20:01] machineghost commented on #314
I mean absolutely no disrespect (as an OSS author myself I completely understand that you owe your users absolutely nothing), but for what it's worth, as an outsider looking in it *appears* like you're against the functionality of modal component being controllable via explicit properties.  Again, as an outsider looking in, this *appears* to be very un-React-like.

I'll go back to being the lowly

[2017-01-25 20:05] machineghost commented on #314
P.S. With:

    <ReactModal
        onRequestClose={() => {}}

I do *not* get close on escape functionality.

[2017-01-25 20:20] claydiffrient commented on #314
I'm sorry you feel that way.

Please see the example at
https://reactcommunity.org/react-modal/examples/on_request_close.html
demonstrating proper use.

The reason I closed the issue is because it's something that comes up
frequently, I explained why it works the way it does, and I have a
reference to the other issue because I believe that clearer prop names
might make this a non issue or at least

[2017-01-28 02:29] saradacp opened #315 "Undefined error in contentHasFocus method"
### Summary:
Got the following error in the browser console when using react modal
Uncaught TypeError: Cannot read property 'contains' of undefined
    at Object.contentHasFocus (ModalPortal.js:171)
    at Object.focusContent (ModalPortal.js:101)
    at Object.componentDidUpdate (ModalPortal.js:66)
    at measureLifeCyclePerf (ReactCompositeComponent.js:75)
    at ReactCompositeComponent.js:729

[2017-01-28 02:43] saradacp opened #317 "npm test is broken"
### Summary:
27 01 2017 18:42:14.064:ERROR [config]: Invalid config file!
  SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:414:25)
    at Object.Module._extensions..js (module.js:442:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (modul

[2017-01-28 05:10] claydiffrient commented on #317
@saradacp You'll need to use a newer version of Node.  You shouldn't have any problems with `npm test` when running on Node v6 or v7.

[2017-01-28 05:10] #317 closed

[2017-01-28 05:11] claydiffrient commented on #315
What version of react-modal did you experience this with?

[2017-01-30 17:27] merlinpatt opened #320 "Have Default Close Button"
### Summary

All the examples for react-modal have a close button that has to be added whenever you create a modal with this package.

It would be great to see a close button built into this package, which could also be overridden.

### Expected behavior

You could pass in arguments like so

[code]

Internally this could be handled with

[code]

[2017-01-30 17:27] saradacp commented on #315
1.6.5

[2017-01-31 15:11] GarrettHartley commented on #320
I understand there is the option to set the modal to close if someone has clicked on the backdrop area. But is there no default close button implemented yet?

[2017-01-31 15:31] merlinpatt commented on #320
The backdrop close is a nice option, but I've found that most users will click an X or a button that says close instead of clicking the backdrop. The backdrop close feels like it is more for techy people than for general users

[2017-01-31 15:34] GarrettHartley commented on #320
I agree. Any plans to build a close button or X into the package?

[2017-01-31 16:01] merlinpatt commented on #320
I'd be willing to write the code and make the PR for this. I would just like to get an OK before I do

[2017-01-31 17:04] diasbruno commented on #320
@merlinpatt @GarrettHartley It would be great (and maybe it can be disabled passing `closeButton={null}` or use a custom button).

[2017-01-31 17:09] diasbruno commented on #320
ping @claydiffrient...to see if we can add this to `v2.0` and thoughts about this feature.

[2017-01-31 19:52] GBarthos commented on #118
Hi, I'm using react 15.4.0 and react-modal 1.6.5, same thing here.

What is causing this ? Isn't there any fix ?

[2017-01-31 20:04] GBarthos commented on #89
Hi, I'm using react 15.4.0 and react-modal 1.6.5, same thing here.
Removing and installing it anew doesn't change anything...

What is causing this ? Isn't there any fix ?

[2017-01-31 21:39] merlinpatt commented on #320
@diasbruno do you have an idea of `v2.0` might come out?

I'd like to see the option for this sooner, and I think that could be done by having there be no close button as default, but allow it to be enabled with a boolean `useDefaultCloseButton`.

And yes, my thoughts exactly on the ability to disable it or replace it with a custom button

[2017-01-31 22:54] sgilligan commented on #320
In my usage I apply a close button as a UI element/behaviour of the end-component. Makes sense for an alert dialog to have a close, but a login modal might not (this is the behaviour of my login). So yes, disabling is something I'd need to be able to do.

[2017-01-31 23:29] diasbruno commented on #166
Gitbook is way better!! #276.

[2017-01-31 23:29] #166 closed

[2017-01-31 23:49] diasbruno commented on #320
@merlinpatt there is a milestone [v2.0](https://github.com/reactjs/react-modal/milestone/1), but that comment was just for 'scheduling' purpose, if this feature can get early into master, that would be great.

[2017-02-01 00:00] diasbruno commented on #232
@parlop did you found a way to solve this issue with `react-draggable`? this is seems a nice combination.

[2017-02-01 08:08] andrewoh531 opened #321 "Could I get help centering the contents of the modal?"
I'm not very good at CSS. I'm trying to center a loader in the modal both vertically and horizontally but having quite a difficult time doing so. I'm using [halogen](https://github.com/yuanyan/halogen) as my modal and the code is below. I've tried various different combinations of CSS but failing to get both the vertical and  horizontal centering correct.

I'm not using flex, just bootstrap grids.

[2017-02-01 08:18] andrewoh531 commented on #321
Figured it out by using the following CSS styling.

[code]

[2017-02-01 08:18] #321 closed

[2017-02-01 18:10] parlop commented on #232
yes, I solved this issue with the library react-draggable(https://github.com/mzabriskie/react-draggable), it works like a charm, thanks!

[2017-02-01 18:20] #232 closed

[2017-02-01 18:24] diasbruno commented on #232
Awesome! Thanks!

[2017-02-01 20:46] claydiffrient commented on #320
I've got mixed feelings on this.

On one hand, I can see the benefit of having something like this as an out of the box awesome thing.  This would encourage people to have a close button, and be nice. On the other hand, I do like having the library be as general use as possible.  I think that @sgilligan's comment about a login box is definitely applicable.

I've seen the modal used as a popover co

[2017-02-02 20:53] merlinpatt commented on #320
@claydiffrient Regarding a11y, I think that can be handled with either an aria-label like Foundation uses (see code below), or just have the X be stylized with the word close next to or below it (like Slack has with the word `esc`).

For i18n, I think that could be handled with a property like `closeAriaLabel` or `closeContentLabel`, similar to how you already have it for content.

In regards to y

[2017-02-03 19:51] saradacp commented on #315
@claydiffrient : This fix is critical for us. The exception above might be a peculiar case but the code should work fine if this.content is undefined. Would you be able to fix it? Even if you run the test some of the tests are skipped because of this error. Please let me know if you want to  talk over phone for more details. Thanks!

[2017-02-03 22:52] diasbruno commented on #315
@saradacp I cannot reproduce this behavior.

If you can provide more details about what's happening it would helpful.

Some ideas:

* What happens when this `content` is empty/clean?
* Are this `content` elements of a form?

[2017-02-04 00:07] claydiffrient commented on #320
Thanks for the input, @merlinpatt. Coming back to look at this again, react-modal is really a general use modal component that can be used in whatever way the consumer would like to use it in.  It does however have some emphasis on a11y so we do a few things that make it so that is the number one priority.  react-modal isn't really a dialog box or anything like that out of the box.  It leaves crea

[2017-02-04 17:02] diasbruno commented on #315
@saradacp Another option for a temporary fix for this issue is to fork the project and make a branch with the fix. Then you can include your fork (and branch) in you `package.json`, until we find out what's going on.

[2017-02-04 17:08] diasbruno commented on #320
@merlinpatt @claydiffrient @sgilligan @GarrettHartley what if `react-modal` provides a `BasicModal` which support common functionalities? It could have:

- Close button on the top (or positioned with css)
- Header section (optional)
- Content section
- Fotter section (optional)

[2017-02-04 17:10] diasbruno commented on #320
Reopened just for visibility.

[2017-02-04 19:05] claydiffrient commented on #320
@diasbruno I'd rather have that be a separate project that consumes `react-modal` instead.

This allows us to keep `react-modal` as a good base layer.  It also reduces the number of things that we have to maintain within the library, allowing us to focus on the core.

[2017-02-04 19:08] diasbruno commented on #320
@claydiffrient yeah, good point.

[2017-02-04 19:08] #320 closed

[2017-02-08 16:17] edorivai commented on #125
Would it be possible to integrate animating the modal with rc-animate?

[2017-02-08 22:50] saradacp commented on #315
@diasbruno : Thanks for the advice. Will do that temporarily. The error is happening because the content is undefined
It's failing in (ModalPortal.js Line ~189)
contentHasFocus () {
    return document.activeElement === this.content || this.content.contains(document.activeElement);
 }
In the above code when setting the active element this.content is undefined hence failing at this point.
In my cas

[2017-02-08 23:26] diasbruno commented on #315
If it don't drive the focus management crazy, it's the fix. :)

I believe that this line is suspicious [ModalPortal.js#L216](https://github.com/reactjs/react-modal/blob/master/lib/components/ModalPortal.js#L216). A good place to see what's happening to `this.content`.

I'll try to make a test scenario for this case.

[2017-02-10 02:44] MarkMurphy commented on #308
I think one potential solution here would be to implement a `ModalManager` that keeps track of open modals. Each modal instance would have the responsibility of registering itself and it's state with the `ModalManager`.

Here's a quick and dirty example:

[code]

[2017-02-14 17:54] jaredmharris opened #322 "Unable to add backgroundImage to content styling"
### Summary:
Unable to add backgroundImage to content styling

### Steps to reproduce:

 1. added
          backgroundImage: 'url(\\'../path/myimage.jpg\\')',
    to the content section of the modal styling
 2. inspecting the rendered html shows that it gets converted to simply 'background'

### Expected behavior:
Instead of backgroundColor I should be able to use backgroundImage to set the backgr